<div class="container">
  <div class="row">
    <div class="col-12">
      
      <nb-card *ngIf="false">
        <nb-card-body>
          <nb-stepper orientation="horizontal">
            <nb-step [label]="labelOne">
              <ng-template #labelOne>First step</ng-template>
              <h3>Step content #1</h3>
              <button nbButton disabled nbStepperNext>prev</button>
              <button nbButton nbStepperNext>next</button>
            </nb-step>
            <nb-step [label]="labelTwo">
              <ng-template #labelTwo>Second step</ng-template>
              <h3>Step content #2</h3>
              <button nbButton nbStepperPrevious>prev</button>
              <button nbButton nbStepperNext>next</button>
            </nb-step>
            <nb-step label="Third step">
              <h3>Step content #3</h3>
              <button nbButton nbStepperPrevious>prev</button>
              <button nbButton nbStepperNext>next</button>
            </nb-step>
          </nb-stepper>
        </nb-card-body>
      </nb-card>

      <nb-card class="font_family_roboto pgp-card_content">
        <nb-card-header class="font_family_roboto">{{ DATA_LANG?.prInMClbTittle.text }}</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0" style="width: 500px;">
              <form (ngSubmit)="fnCreateNewProduct(product_data)" #addNewRatingPerceivedValueForm="ngForm" aria-labelledby="title" style="width: 100% !important;">
                <nb-stepper orientation="horizontal">
                  <nb-step [label]="labelOne">
                    <ng-template #labelOne>{{ DATA_LANG?.prInMClbStepF.text }}</ng-template>
                    <div class="col-12 pl-0 pr-0" id="pgp-section_step_one">
                      <div class="form-group">
                        <!-- <label for="pgp-input_category_name">Product: </label>  -->
                        <input 
                          id="pgp-code_product"
                          [(ngModel)]="product_data.tProductCode"
                          [ngModelOptions]="{standalone: true}"
                          nbInput 
                          fullWidth 
                          placeholder="{{ DATA_LANG?.prInMCtbCodeProd.text }}" 
                          style="height: 45px;" />
                        <div>{{ DATA_LANG?.prInMClbCodeProdDesc.text }}</div>
                      </div>
                      <div class="form-group">
                        <!-- <label for="pgp-input_category_name">Product: </label>  -->
                        <input 
                          id="pgp-product_name"
                          [(ngModel)]="product_data.tProductName"
                          [ngModelOptions]="{standalone: true}"
                          nbInput 
                          fullWidth 
                          placeholder="{{ DATA_LANG?.prInMCtbProdName.text }}" 
                          style="height: 45px;" />
                        <div style="width: 465px;">{{ DATA_LANG?.prInMClbProdNameDesc.text }}</div>
                      </div>
                      <div class="form-group">
                        <!-- <label for="pgp-input_category_name">Competitor weight (min=1 - max=5): </label>   -->
                        <ng-select 
                          id="pgp-product_prices_list"
                          [clearable]="false"
                          [(ngModel)]="product_data.priceList" 
                          [ngModelOptions]="{standalone: true}" 
                          placeholder="{{ DATA_LANG?.prInMCtbPricesList.text }}">
                          <!-- <ng-option *ngFor="let competitor of list_competitors" [value]="competitor" [disabled]="competitor.disabled">{{competitor.tCompetitorName}}</ng-option> -->
                          <ng-option *ngFor="let item_price_list of list_prices_lists_collection" [value]="item_price_list" [disabled]="item_price_list.disabled">{{item_price_list.tPriceListName}}</ng-option>
                        </ng-select>
                        <div style="width: 465px;">{{ DATA_LANG?.prInMClbPricesListDesc.text }}</div>
                      </div>
                      <div class="form-group">
                        <!-- <label for="pgp-input_category_name">Competitor weight (min=1 - max=5): </label>   -->
                        <ng-select 
                          id="pgp-product_category"
                          [clearable]="false"
                          [(ngModel)]="product_data.category" 
                          [ngModelOptions]="{standalone: true}" 
                          placeholder="{{ DATA_LANG?.prInMCtbCat.text }}">
                            <ng-option *ngFor="let item_category of list_categories_collection" [value]="item_category" [disabled]="item_category.disabled">{{item_category.tCategoryName}}</ng-option>
                        </ng-select>
                        <div style="width: 465px;">{{ DATA_LANG?.prInMClbCatDesc.text }}</div>
                      </div>
                    </div>
                    <div class="text-center">
                      <button class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto pgp-btn_text_transform" nbButton disabled nbStepperPrevious>{{ DATA_LANG?.prInMCButtonPrev.text }}</button>&nbsp;&nbsp;
                      <button class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto pgp-btn_text_transform" nbButton nbStepperNext>{{ DATA_LANG?.prInMCButtonNext.text }}</button>
                    </div>
                    
                  </nb-step>
                  <nb-step [label]="labelTwo">
                    <ng-template #labelTwo>{{ DATA_LANG?.prInMClbStepS.text }}</ng-template>
                    <div class="col-12 pl-0 pr-0" id="pgp-section_step_two">
                      <div class="form-group">
                        <!-- <label for="pgp-input_category_name">Product: </label>  -->
                        <input 
                          id="pgp-vat"
                          [(ngModel)]="product_data.dVAT"
                          [ngModelOptions]="{standalone: true}"
                          (keypress)="numberOnly($event)"
                          nbInput 
                          fullWidth 
                          placeholder="{{ DATA_LANG?.prInMCtbVAT.text }}" 
                          style="height: 45px;" />
                        <div style="width: 465px;">{{ DATA_LANG?.prInMClbVATDesc.text }}</div>
                      </div>
                      <div class="form-group">
                        <!-- <label for="pgp-input_category_name">Product: </label>  -->
                        <input 
                          id="pgp-current_units"
                          [(ngModel)]="product_data.dCurrentUnits"
                          [ngModelOptions]="{standalone: true}"
                          (keypress)="numberOnly($event)"                         
                          nbInput 
                          fullWidth 
                          placeholder="{{ DATA_LANG?.prInMCtbCurrentUni.text }}" 
                          style="height: 45px;" />
                        <div style="width: 465px;">{{ DATA_LANG?.prInMClbVATCurrentUniDesc.text }}</div>
                      </div>
                      <div class="form-group">
                        <!-- <label for="pgp-input_category_name">Product: </label>  -->
                        <input 
                          id="pgp-variable_cost"
                          [(ngModel)]="product_data.dVariableCost "
                          [ngModelOptions]="{standalone: true}"
                          (keypress)="numberOnly($event)"
                          (ngModelChange)="product_data.dVariableCost=currencyInputChanged(product_data.dVariableCost)"
                          nbInput 
                          fullWidth 
                          placeholder="{{ DATA_LANG?.prInMCtbVarCost.text }}" 
                          style="height: 45px;" />

                        <div style="width: 465px;">{{ DATA_LANG?.prInMClbVarCostDesc.text }}</div>
                      </div>
                    </div>
                    <div class="text-center">
                      <button nbButton class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto pgp-btn_text_transform" nbStepperPrevious>{{ DATA_LANG?.prInMCButtonPrev.text }}</button>&nbsp;&nbsp;
                      <button nbButton class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto pgp-btn_text_transform" nbStepperNext>{{ DATA_LANG?.prInMCButtonNext.text }}</button>
                    </div>
                  </nb-step>
                  <nb-step [label]="labelThird">
                    <ng-template #labelThird>{{ DATA_LANG?.prInMClbStepT.text }}</ng-template>
                    <div class="col-12 pl-0 pr-0" id="pgp-section_step_three">
                      
                      <div class="form-group">
                        <!-- <label for="pgp-input_category_name">Product: </label>  -->
                        <input 
                          id="pgp-current_price"
                          [(ngModel)]="product_data.dCurrentPrice"
                          [ngModelOptions]="{standalone: true}"
                          (keypress)="numberOnly($event)"
                          (ngModelChange)="product_data.dCurrentPrice=currencyInputChanged(product_data.dCurrentPrice)"
                          nbInput 
                          fullWidth 
                          placeholder="{{ DATA_LANG?.prInMEtbCurrentPrice.text }}" 
                          style="height: 45px;" />
                        <div style="width: 465px;">{{ DATA_LANG?.prInMClbCurrentPriceDesc.text }}</div>
                      </div>
                      <div class="form-group">
                        <!-- <label for="pgp-input_category_name">Product: </label>  -->
                        <input 
                          id="pgp-average_discount"
                          [(ngModel)]="product_data.dAverageDiscount"
                          [ngModelOptions]="{standalone: true}"
                          (keypress)="numberOnly($event)"
                          nbInput 
                          fullWidth 
                          placeholder="{{ DATA_LANG?.prInMCtbAverage.text }}" 
                          style="height: 45px;" />
                        <div style="width: 465px;">{{ DATA_LANG?.prInMClbAverageDesc.text }}</div>
                      </div>
                      <div class="form-group" *ngIf="bHideTrendOfVolumeInstalledCapacity">
                        <!-- <label for="pgp-input_category_name">Product: </label>  -->
                        <input 
                          id="pgp-comment_rating_perceived"
                          [(ngModel)]="product_data.dAnnualVolumeTrend"
                          [ngModelOptions]="{standalone: true}"
                          nbInput 
                          fullWidth 
                          placeholder="{{ DATA_LANG?.prInMCtbVolTrend.text }}" 
                          style="border-radius: 5px;" />
                        <div style="width: 465px;">{{ DATA_LANG?.prInMClbVolTrendDesc.text }}</div>
                      </div>
                      <div class="form-group" *ngIf="bHideTrendOfVolumeInstalledCapacity">
                        <!-- <label for="pgp-input_category_name">Product: </label>  -->
                        <input 
                          id="pgp-comment_rating_perceived"
                          [(ngModel)]="product_data.dInstalledCapacity"
                          [ngModelOptions]="{standalone: true}"
                          nbInput 
                          fullWidth 
                          placeholder="{{ DATA_LANG?.prInMCtbInstalled.text }}" 
                          style="border-radius: 5px;" />
                        <div style="width: 465px;">{{ DATA_LANG?.prInMClbInstalledDesc.text }}</div>
                      </div>
                      
                    </div>
                    <div class="text-center" *ngIf="false">
                      <button nbButton class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto pgp-btn_text_transform" nbStepperPrevious>Previous</button>&nbsp;&nbsp;
                      <button nbButton class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto pgp-btn_text_transform" disabled nbStepperNext>Next</button>
                    </div>
                    <div class="text-center">
                      <button 
                        type="submit" 
                        class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" 
                        id="pgp-btn_save_new_category" 
                        nbButton 
                        [disabled]="!product_data.tProductCode ||
                        !product_data.tProductName ||
                        !product_data.priceList ||
                        !product_data.category ||
                        !product_data.dCurrentPrice ||
                        product_data.dAverageDiscount > 100"
                        [class.btn-pulse]="submitted"
                        status="info">{{ DATA_LANG?.prInMCButtonSave.text }}</button>
                      <!-- <button 
                        type="submit" 
                        class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" 
                        id="pgp-btn_save_new_category" 
                        nbButton 
                        [disabled]="!product_data.tProductCode ||
                        !product_data.tProductName ||
                        !product_data.priceList ||
                        !product_data.category ||
                        !product_data.dVAT ||
                        !product_data.dCurrentUnits ||
                        !product_data.dVariableCost ||
                        !product_data.dCurrentPrice ||
                        !product_data.dAverageDiscount"
                        [class.btn-pulse]="submitted"
                        status="info">Save</button> -->
                      &nbsp;&nbsp;&nbsp;
                      <button class="pgp-pointer font_family_roboto" 
                        type="button" 
                        id="pgp-btn_cancel_save_new_category"
                        nbButton
                        [class.btn-pulse]="submitted"
                        (click)="fnCancelCreateNewRatingPerceivedValue()"
                        status="danger">{{ DATA_LANG?.prInMCButtonCancel.text }}</button>  
                    </div>
                  </nb-step>
                </nb-stepper>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>  
    </div>  
  </div>
</div>
  