<div class="container">
    <div class="row">
      <div class="col-12">
        <nb-card class="font_family_roboto pgp-card_content">
          <nb-card-header class="font_family_roboto">{{ DATA_LANG?.priceLMELbTitle.text }}</nb-card-header>
          <nb-card-body>
            <div class="container">
              <div class="row ml-0 mr-0">
                <!-- <div class="mt-2 mb-2">
                  Agregue la categoria y la relación de complementariedad de sus productos.
                </div> -->
                <form (ngSubmit)="fnUpdatePricesList(pricelist_data)" #addNewpricelistForm="ngForm" aria-labelledby="title">
                  <div class="col-12 pl-0 pr-0">
                    <div class="form-group">
                      <label for="pgp-input_pricelist_name">{{ DATA_LANG?.priceLMELbCreate.text }}: </label> 
                      <input 
                          nbInput 
                          [(ngModel)]="pricelist_data.tPriceListName" 
                          #groupName="ngModel" 
                          id="pgp-input_pricelist_name" 
                          name="pricelist_name" 
                          autofocus  
                          type="text" 
                          class="form-control"
                          placeholder="{{ DATA_LANG?.priceLMETBPriceLName.text }}"
                          style="height: 45px;">
                      <br>
                      <p style="width: 685px;">{{ DATA_LANG?.priceLMELbPriceLDesc.text }}</p>
                    </div>
                  </div>
                  <button 
                    type="submit" 
                    class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" 
                    id="pgp-btn_save_new_pricelist" 
                    nbButton 
                    [disabled]="!pricelist_data.tPriceListName"
                    [class.btn-pulse]="submitted"
                    status="info">{{ DATA_LANG?.priceLMEButtonSave.text }}</button>
                  &nbsp;&nbsp;&nbsp;
                  <button class="pgp-pointer font_family_roboto" 
                    type="button" 
                    id="pgp-btn_cancel_save_new_pricelist"
                    nbButton
                    [class.btn-pulse]="submitted"
                    (click)="fnCancelEditpricelist()"
                    status="danger">{{ DATA_LANG?.priceLMEButtonCancel.text }}</button>
                </form>
              </div>
            </div>
          </nb-card-body>
        </nb-card>  
      </div>  
    </div>
  </div>
      