<div class="container-fliud">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto pgp-card_content" size="large" [nbSpinner]="state_loading" nbSpinnerStatus="info">
        <nb-card-header class="font_family_roboto">{{ DATA_LANG?.prCompMSlbTittle.text }}</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <form (ngSubmit)="fnAdvancedSearchValue(price_comparison_results_data)" #addNewRatingPerceivedValueForm="ngForm" aria-labelledby="title"
                style="min-width: 400px; max-width: 400px;">
                <div class="col-12 pl-0 pr-0">
                  <div class="form-group">
                    <label class="d-inline-block text-truncate" for="pgp-product_information_products">{{ DATA_LANG?.prCompMSlbProdCode.text }}: </label>
                    <ng-select [items]="list_products_collection" bindLabel="tProductCode" [multiple]="true" name="products" id="pgp-product_information_products_code"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.prCompMSDDLProdCode.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_products">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label class="d-inline-block text-truncate" for="pgp-product_information_products">{{ DATA_LANG?.prCompMSlbProdName.text }}: </label>
                    <ng-select [items]="list_products_collection" bindLabel="tProductName" [multiple]="true" name="products" id="pgp-product_information_products_name"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.prCompMSDDLProdName.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_products">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label class="d-inline-block text-truncate" for="pgp-product_information_price_list">{{ DATA_LANG?.prCompMSlbPriceL.text }}: </label>
                    <ng-select [items]="list_prices_lists_collection" bindLabel="tPriceListName" [multiple]="true" name="price_list" id="pgp-product_information_price_list"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.prCompMSDDLPriceL.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_price_list">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label class="d-inline-block text-truncate" for="pgp-product_information_category">{{ DATA_LANG?.prCompMSlbCat.text }}: </label>
                    <ng-select [items]="list_categories_collection" bindLabel="tCategoryName" [multiple]="true" name="categories" id="pgp-product_information_categories"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.prCompMSDDLCat.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_categories">
                    </ng-select>
                  </div>             
                  <div class="form-group">
                    <label for="pgp-market_prices_competitor">{{ DATA_LANG?.prCompMSlbCompetitor.text }}: </label>
                    <ng-select [items]="list_competitors" bindLabel="tCompetitorName" [multiple]="true" name="competitors" id="pgp-product_information_competitors"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.prCompMSDDLCompetitor.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_competitors">
                    </ng-select>
                  </div>
                  <div *ngIf="!State" class="form-group">
                    <label for="pgp-input_market_prices_name">{{ DATA_LANG?.prCompMSlbPrice.text }}: </label>
                    <div class="row">
                      <div class="col-6 text-left">
                        <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prCompMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="min_value_price" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="col-6 text-right">
                        <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prCompMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="max_value_price" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                  </div>
                  <div *ngIf="State && iIDOpc=='1' && suggestedStage " class="form-group">
                    <label for="pgp-input_market_prices_name">{{ DATA_LANG?.prCompMSlbIndex.text }}: </label>
                    <div class="row">
                      <div class="col-6 text-left">
                        <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prCompMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="min_value_index_suggested" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="col-6 text-right">
                        <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prCompMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="max_value_index_suggested" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                  </div>
                  <div *ngIf="State && iIDOpc=='1' && !suggestedStage" class="form-group">
                    <label for="pgp-input_market_prices_name">{{ DATA_LANG?.prCompMSlbIndex.text }}: </label>
                    <div class="row">
                      <div class="col-6 text-left">
                        <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prCompMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="min_value_index_user" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="col-6 text-right">
                        <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prCompMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="max_value_index_user" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                  </div>
                  <div *ngIf="State && iIDOpc!='1'" class="form-group">
                    <label for="pgp-input_market_prices_name">{{ DATA_LANG?.prCompMSlbIndex.text }}: </label>
                    <div class="row">
                      <div class="col-6 text-left">
                        <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prCompMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="min_value_index" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="col-6 text-right">
                        <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prCompMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="max_value_index" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!State" class="form-group">
                    <label for="pgp-input_market_prices_name">{{ DATA_LANG?.prCompMSlbCurrentPri.text }}: </label>
                    <div class="row">
                      <div class="col-6 text-left">
                        <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prCompMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="min_value_current_price" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="col-6 text-right">
                        <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prCompMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="max_value_current_price" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                  </div>
                  <div *ngIf="State" class="form-group">
                    <label for="pgp-input_market_prices_name">{{ DATA_LANG?.prCompMSlbCurrentIndex.text }}: </label>
                    <div class="row">
                      <div class="col-6 text-left">
                        <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prCompMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="min_value_current_index" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="col-6 text-right">
                        <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prCompMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="max_value_current_index" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                  </div>
                  <div *ngIf="suggestedStage && !State" class="form-group">
                    <label for="pgp-input_market_prices_name">{{ DATA_LANG?.prCompMSlbSuggestedPri.text }}: </label>
                    <div class="row">
                      <div class="col-6 text-left">
                        <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prCompMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="min_value_suggested_price" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="col-6 text-right">
                        <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prCompMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="max_value_suggested_price" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!suggestedStage && !State" class="form-group">
                    <label for="pgp-input_market_prices_name">User price (Select range): </label>
                    <div class="row">
                      <div class="col-6 text-left">
                        <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prCompMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="min_value_user_price" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="col-6 text-right">
                        <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prCompMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="max_value_user_price" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                  </div>
                  <div *ngIf="suggestedStage && State" class="form-group">
                    <label for="pgp-input_market_prices_name">{{ DATA_LANG?.prCompMSlbSuggestedIndex.text }}: </label>
                    <div class="row">
                      <div class="col-6 text-left">
                        <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prCompMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="min_value_suggested_index" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="col-6 text-right">
                        <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prCompMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="max_value_suggested_index" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!suggestedStage && State" class="form-group">
                    <label for="pgp-input_market_prices_name">User index (Select range): </label>
                    <div class="row">
                      <div class="col-6 text-left">
                        <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prCompMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="min_value_user_index" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="col-6 text-right">
                        <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prCompMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="max_value_user_index" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 pl-0 pr-0 text-center">
                  <button type="submit" class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" id="pgp-btn_save_new_category"
                    nbButton [class.btn-pulse]="submitted" status="info">{{ DATA_LANG?.prCompMSButtonApply.text }}</button>
                  &nbsp;&nbsp;&nbsp;
                  <button class="pgp-pointer font_family_roboto" type="button" id="pgp-btn_cancel_save_new_category" nbButton [class.btn-pulse]="submitted"
                    (click)="fnCancelFilter()" status="danger">{{ DATA_LANG?.prCompMSButtonCancel.text }}</button>
                </div>

              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>