<div class="container-fliud">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto pgp-card_content" size="large" [nbSpinner]="state_loading" nbSpinnerStatus="info">
        <nb-card-header class="font_family_roboto">{{ DATA_LANG?.forResMSlbTittle.text }}</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <form (ngSubmit)="fnAdvancedSearchValue(forecast_results_data)" #addNewRatingPerceivedValueForm="ngForm" aria-labelledby="title"
                style="min-width: 500px; max-width: 500px;">
                <div class="col-12 pl-0 pr-0">
                  <div class="form-group">
                    <label class="d-inline-block text-truncate" for="pgp-product_information_products">{{ DATA_LANG?.forResMSlbProdCode.text }}: </label>
                    <ng-select [items]="list_products_collection" bindLabel="tProductCode" [multiple]="true" name="products_code" id="pgp-product_information_products_code"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.forResMSDDLProdCode.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_products">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label class="d-inline-block text-truncate" for="pgp-product_information_products">{{ DATA_LANG?.forResMSlbProdName.text }}: </label>
                    <ng-select [items]="list_products_collection" bindLabel="tProductName" [multiple]="true" name="products_name" id="pgp-product_information_products_name"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.forResMSDDLProdName.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_products">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label class="d-inline-block text-truncate" for="pgp-product_information_price_list">{{ DATA_LANG?.forResMSlbPriceL.text }}: </label>
                    <ng-select [items]="list_prices_lists_collection" bindLabel="tPriceListName" [multiple]="true" name="price_list" id="pgp-product_information_price_list"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.forResMSDDLPriceL.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_price_list">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label class="d-inline-block text-truncate" for="pgp-product_information_category">{{ DATA_LANG?.forResMSlbCat.text }}: </label>
                    <ng-select [items]="list_categories_collection" bindLabel="tCategoryName" [multiple]="true" name="categories" id="pgp-product_information_categories"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.forResMSDDLCat.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_categories">
                    </ng-select>
                  </div>
                  <!-- ********** START - Row ngslider - (CurrentPriceWithVAT - SuggestedPriceWithVAT) ********** -->
                  <div class="row" *ngIf="true">
                    <div class="col-6">
                      <!-- ********** START - Ng slider - CurrentPriceWithVAT ********** -->
                      <div class="form-group">
                        <label for="pgp-input_current_price">{{ DATA_LANG?.forResMSlbCurrentPri.text }}: </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_CurrentPriceWithVAT" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_CurrentPriceWithVAT" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <!-- *********** END - Ng slider - CurrentPriceWithVAT *********** -->
                    </div>
                    <div class="col-6">
                      <!-- ********** START - Ng slider - SuggestedPriceWithVAT ********** -->
                      <div *ngIf="!userStage" class="form-group">
                        <label class="d-inline-block text-truncate" for="pgp-input_suggested">{{ DATA_LANG?.forResMSlbPriceSug.text }}: </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_SuggestedPriceWithVAT" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_SuggestedPriceWithVAT" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <div *ngIf="userStage" class="form-group">
                        <label class="d-inline-block text-truncate" for="pgp-input_user">Price user (range): </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="Since" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_SuggestedPriceWithVAT_User" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="Until" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_SuggestedPriceWithVAT_User" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <!-- *********** END - Ng slider - SuggestedPriceWithVAT *********** -->
                    </div>
                  </div>
                  <!-- *********** END - Row ngslider - (CurrentPriceWithVAT - SuggestedPriceWithVAT) *********** -->
                  <!-- ********** START - Row ngslider - (PriceWithVATVar - UnitsCurrentYear) ********** -->
                  <div class="row" *ngIf="state_view != 'chard'">
                    <div class="col-6">
                      <!-- ********** START - Ng slider - PriceWithVATVar ********** -->
                      <div *ngIf="!userStage" class="form-group">
                        <label class="d-inline-block text-truncate" for="pgp-input_suggested">{{ DATA_LANG?.forResMSlbPriceVar.text }}: </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_PriceWithVATVar" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_PriceWithVATVar" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <div *ngIf="userStage" class="form-group">
                        <label class="d-inline-block text-truncate" for="pgp-input_user">Price variation (range): </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="Since" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_PriceWithVATVar_User" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="Until" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_PriceWithVATVar_User" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <!-- *********** END - Ng slider - PriceWithVATVar *********** -->
                    </div>
                    <div class="col-6">
                      <!-- ********** START - Ng slider - UnitsCurrentYear ********** -->
                      <div class="form-group">
                        <label for="pgp-input_current_price">{{ DATA_LANG?.forResMSlbCurrentU.text }}: </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_UnitsCurrentYear" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_UnitsCurrentYear" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <!-- *********** END - Ng slider - UnitsCurrentYear *********** -->
                    </div>
                  </div>
                  <!-- *********** END - Row ngslider - (PriceWithVATVar - UnitsCurrentYear) *********** -->
                  <!-- ********** START - Row ngslider - (UnitsYearSuggested - UnitsYearVar) ********** -->
                  <div class="row" *ngIf="state_view != 'chard'">
                    <div class="col-6">
                      <!-- ********** START - Ng slider - UnitsYearSuggested ********** -->
                      <div *ngIf="!userStage" class="form-group">
                        <label class="d-inline-block text-truncate" for="pgp-input_suggested">{{ DATA_LANG?.forResMSlbProjected.text }}: </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_UnitsYearSuggested" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_UnitsYearSuggested" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <div *ngIf="userStage" class="form-group">
                        <label class="d-inline-block text-truncate" for="pgp-input_user">Projected units (range): </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="Since" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_UnitsYearSuggested_User" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="Until" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_UnitsYearSuggested_User" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <!-- *********** END - Ng slider - UnitsYearSuggested *********** -->
                    </div>
                    <div class="col-6">
                      <!-- ********** START - Ng slider - UnitsYearVar ********** -->
                      <div *ngIf="!userStage" class="form-group">
                        <label class="d-inline-block text-truncate" for="pgp-input_suggested">{{ DATA_LANG?.forResMSlbUnitsVar.text }}: </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_UnitsYearVar" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_UnitsYearVar" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <div *ngIf="userStage" class="form-group">
                        <label class="d-inline-block text-truncate" for="pgp-input_user">Units variation (range): </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="Since" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_UnitsYearVar_User" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="Until" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_UnitsYearVar_User" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <!-- *********** END - Ng slider - UnitsYearVar *********** -->
                    </div>
                  </div>
                  <!-- *********** END - Row ngslider - (UnitsYearSuggested - UnitsYearVar) *********** -->
                  <!-- ********** START - Row ngslider - (IncomeYearWithVATCurrent - IncomeYearWithVATSuggested) ********** -->
                  <div class="row" *ngIf="state_view != 'chard'">
                    <div class="col-6">
                      <!-- ********** START - Ng slider - IncomeYearWithVATCurrent ********** -->
                      <div class="form-group">
                        <label for="pgp-input_current_price">{{ DATA_LANG?.forResMSlbCurrentNet.text }}: </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_IncomeYearWithVATCurrent" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_IncomeYearWithVATCurrent" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <!-- *********** END - Ng slider - IncomeYearWithVATCurrent *********** -->
                    </div>
                    <div class="col-6">
                      <!-- ********** START - Ng slider - IncomeYearWithVATSuggested ********** -->
                      <div *ngIf="!userStage" class="form-group">
                        <label class="d-inline-block text-truncate" for="pgp-input_suggested">{{ DATA_LANG?.forResMSlbProjectedNet.text }}: </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_IncomeYearWithVATSuggested" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_IncomeYearWithVATSuggested" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <div *ngIf="userStage" class="form-group">
                        <label class="d-inline-block text-truncate" for="pgp-input_user">Projected net income (range): </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="Since" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_IncomeYearWithVATSuggested_User" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="Until" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_IncomeYearWithVATSuggested_User" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <!-- *********** END - Ng slider - IncomeYearWithVATSuggested *********** -->
                    </div>
                  </div>
                  <!-- *********** END - Row ngslider - (IncomeYearWithVATCurrent - IncomeYearWithVATSuggested) *********** -->
                  <!-- ********** START - Row ngslider - (IncomeYearVar - GrossContributionCurrentYear) ********** -->
                  <div class="row" *ngIf="state_view != 'chard'">
                    <div class="col-6">
                      <!-- ********** START - Ng slider - IncomeYearVar ********** -->
                      <div *ngIf="!userStage" class="form-group">
                        <label class="d-inline-block text-truncate" for="pgp-input_suggested">{{ DATA_LANG?.forResMSlbIncomeVar.text }}: </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_IncomeYearVar" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_IncomeYearVar" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <div *ngIf="userStage" class="form-group">
                        <label class="d-inline-block text-truncate" for="pgp-input_user">Income variation (range): </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="Since" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_IncomeYearVar_User" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="Until" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_IncomeYearVar_User" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <!-- *********** END - Ng slider - IncomeYearVar *********** -->
                    </div>
                    <div class="col-6">
                      <!-- ********** START - Ng slider - GrossContributionCurrentYear ********** -->
                      <div class="form-group">
                        <label for="pgp-input_current_price">{{ DATA_LANG?.forResMSlbCurrentGross.text }}: </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_GrossContributionCurrentYear" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_GrossContributionCurrentYear" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <!-- *********** END - Ng slider - GrossContributionCurrentYear *********** -->
                    </div>
                  </div>
                  <!-- *********** END - Row ngslider - (IncomeYearVar - GrossContributionCurrentYear) *********** -->
                  <!-- ********** START - Row ngslider - (GrossContributionYearSuggested - GrossContributionYearVar) ********** -->
                  <div class="row" *ngIf="state_view != 'chard'">
                    <div class="col-6">
                      <!-- ********** START - Ng slider - GrossContributionYearSuggested ********** -->
                      <div *ngIf="!userStage" class="form-group">
                        <label class="d-inline-block text-truncate" for="pgp-input_suggested">{{ DATA_LANG?.forResMSlbProjectedGross.text }}: </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_GrossContributionYearSuggested" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_GrossContributionYearSuggested" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <div *ngIf="userStage" class="form-group">
                        <label class="d-inline-block text-truncate" for="pgp-input_user">Projected gross contribution (range): </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="Since" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_GrossContributionYearSuggested_User" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="Until" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_GrossContributionYearSuggested_User" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <!-- *********** END - Ng slider - GrossContributionYearSuggested *********** -->
                    </div>
                    <div class="col-6">
                      <!-- ********** START - Ng slider - GrossContributionYearVar ********** -->
                      <div *ngIf="!userStage" class="form-group">
                        <label class="d-inline-block text-truncate" for="pgp-input_suggested">{{ DATA_LANG?.forResMSlbVarGross.text }}: </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_GrossContributionYearVar" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_GrossContributionYearVar" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <div *ngIf="userStage" class="form-group">
                        <label class="d-inline-block text-truncate" for="pgp-input_user">Variation of gross contribution (range): </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="Since" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_GrossContributionYearVar_User" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="Until" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_GrossContributionYearVar_User" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <!-- *********** END - Ng slider - GrossContributionYearVar *********** -->
                    </div>
                  </div>
                  <!-- *********** END - Row ngslider - (GrossContributionYearSuggested - GrossContributionYearVar) *********** -->
                  <!-- ********** START - Row ngslider - (Gross Margin) ********** -->
                  <div class="row" *ngIf="state_view != 'chard'">
                    <div class="col-6">
                      <!-- ********** START - Ng slider - Current Gross Margin ********** -->
                      <div class="form-group">
                        <label for="pgp-input_current_price">{{ DATA_LANG?.forResMSlbCurrentGrossMar.text }}: </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_CurrentGrossGrossMargin" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_CurrentGrossGrossMargin" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <!-- *********** END - Ng slider - Current Gross Margin *********** -->
                    </div>
                    <div class="col-6">
                      <!-- ********** START - Ng slider - Suggested Gross Margin ********** -->
                      <div *ngIf="!userStage" class="form-group">
                        <label class="d-inline-block text-truncate" for="pgp-input_suggested">{{ DATA_LANG?.forResMSlbSuggestedGrossMar.text }}: </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_GrossGrossMargin" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.forResMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_GrossGrossMargin" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <div *ngIf="userStage" class="form-group">
                        <label class="d-inline-block text-truncate" for="pgp-input_user">User gross margin (range): </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="Since" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_GrossGrossMargin_User" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="Until" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_GrossGrossMargin_User" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <!-- *********** END - Ng slider -  Suggested Gross Margin *********** -->
                    </div>
                  </div>
                  <!-- *********** END - Row ngslider - (Gross Margin) *********** -->
                </div>
                <div class="col-12 pl-0 pr-0 text-center">
                  <button type="submit" class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" id="pgp-btn_save_new_category"
                    nbButton [class.btn-pulse]="submitted" status="info">{{ DATA_LANG?.forResMSButtonApply.text }}</button>
                  &nbsp;&nbsp;&nbsp;
                  <button class="pgp-pointer font_family_roboto" type="button" id="pgp-btn_cancel_save_new_category" nbButton [class.btn-pulse]="submitted"
                    (click)="fnCancelFilter()" status="danger">{{ DATA_LANG?.forResMSButtonCancel.text }}</button>
                </div>

              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>