@import '../../../@theme/styles/themes';
// @import '~bootstrap/scss/mixins/breakpoints';
// @import '~@nebular/theme/styles/global/breakpoints';

/* @include nb-install-component() {

    #pgp-content_head_card{
        vertical-align: middle;
    }

    .pgp-margin_none{
        margin: 0rem;
    }
    
    .pgp-margin_1rem{
        margin: 1rem;
    }
    
    .pgp-margin_2rem{
        margin: 2rem;
    }
    
    .pgp-margin_3rem{
        margin: 3rem;
    }
    
    .pgp-margin_tb_1rem{
        margin: 1rem 0rem;
    }
    
    .pgp-margin_tb_2rem{
        margin: 2rem 0rem;
    }
    
    .pgp-margin_tb_3rem{
        margin: 3rem 0rem;
    }

    .card-header {
        padding: 0.1rem 1.5rem;
    }

    .pgp-btn_color_3{
        background-color: nb-theme(pgp-color-3);
    }

    .pgp-btn_add_product{
        background-color: nb-theme(pgp-color-3);
        cursor: pointer;
    }

    .pgp-btn_import_file{
        color: nb-theme(pgp-color-3);
        cursor: pointer;
    }
    
    .pgp-btn_export_file{
        color: nb-theme(pgp-color-3);
        cursor: pointer;
    }
    
    .pgp-card_title{
        padding: 0rem !important;
        margin: 0rem !important;
        vertical-align: middle;
    }

    .title-header{
        display: inline-block;
        padding: 0rem !important;
        margin-top: 1rem !important;
        vertical-align: middle;
    }

    .icons {
        // position: absolute;
        top: 0.1rem;
        font-size: 2.5em;
        display: inline-block;
    }

    .name{
        color: nb-theme(pgp-color-1);
    }
} */
