<div class="container-fluid">
  <!-- **************** BEGIN - Head content => Title, text **************** -->
  <div class="col-12">
    <div class="row pgp-margin_none">
      <div class="font-row font-secondary">
        <!-- **************** BEGIN - Head content => TITLE **************** -->
        <div class="header">
          <div class="name bold">Productos</div>
        </div>
        <!-- ***************** END - Head content => TITLE ***************** -->
        <!-- **************** BEGIN - Head content => PARAGRAPH TEXT MODULE **************** -->
        <p>
          On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.
        </p>
        <!-- ***************** END - Head content => PARAGRAPH TEXT MODULE ***************** -->
      </div>
    </div>
  </div>
  <!-- ***************** END - Head content => Title, text ***************** -->

  <!-- **************** BEGIN - Actions content => Buttons(Add, import file, export file) **************** -->
  <div class="col-12">
    <div class="row">
      <div class="col">
        <div class="pgp-margin_tb_1rem">
          <!-- **************** BEGIN - Actions content => Buttons (Add product, Import file) **************** -->
          <button type="button" class="btn pgp-btn_add_product">Agregar producto</button>
          &nbsp;
          <button type="button" class="btn btn-light pgp-btn_import_file">
            Importar
            <i class="fa fa-upload"></i>
          </button>
          <!-- ***************** END - Actions content => Buttons (Add product, Import file) ***************** -->
        </div>
      </div>
      <div class="col">
        <div class="pgp-margin_tb_1rem float-right">
          <!-- **************** BEGIN - Actions content => Button (Export file to excel) **************** -->
          <button type="button" class="btn btn-light pgp-btn_export_file">
            Exportar a excel
            <i class="fa fa-download"></i>
          </button>
          <!-- ***************** END - Actions content => Button (Export file to excel) ***************** -->
        </div>
      </div>
    </div>
  </div>
  <!-- ***************** END - Actions content => Buttons(Add, import file, export file) ***************** -->

  <div class="col-12">
    <div class="row">
      <div class="col">
        
      </div>
    </div>
  </div>

  <!-- **************** BEGIN - Head content => Title, text **************** -->
  <div class="col-12">
    <div class="row">
      <div class="col-auto">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">
            <div class="row">
              <div class="col-8">
                  <div class="title-header text-left">
                      <h6 class="pgp-card_title">Primary card title</h6>
                  </div>
              </div>    
              <div class="col-4">
                  <div class="icons text-right">
                    <i class="nb-edit"></i>
                    <i class="nb-trash"></i>
                  </div>
              </div>  
            </div>
            
          </div>
          <div class="card-body text-primary">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">
            <div class="row">
              <div class="col-8">
                  <div class="title-header text-left">
                      <h6 class="pgp-card_title">Primary card title</h6>
                  </div>
              </div>    
              <div class="col-4">
                  <div class="icons text-right">
                    <i class="nb-edit"></i>
                    <i class="nb-trash"></i>
                  </div>
              </div>  
            </div>
            
          </div>
          <div class="card-body text-primary">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">
            <div class="row">
              <div class="col-8">
                  <div class="title-header text-left">
                      <h6 class="pgp-card_title">Primary card title</h6>
                  </div>
              </div>    
              <div class="col-4">
                  <div class="icons text-right">
                    <i class="nb-edit"></i>
                    <i class="nb-trash"></i>
                  </div>
              </div>  
            </div>
            
          </div>
          <div class="card-body text-primary">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">
            <div class="row">
              <div class="col-8">
                  <div class="title-header text-left">
                      <h6 class="pgp-card_title">Primary card title</h6>
                  </div>
              </div>    
              <div class="col-4">
                  <div class="icons text-right">
                    <i class="nb-edit"></i>
                    <i class="nb-trash"></i>
                  </div>
              </div>  
            </div>
            
          </div>
          <div class="card-body text-primary">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">
            <div class="row">
              <div class="col-8">
                  <div class="title-header text-left">
                      <h6 class="pgp-card_title">Primary card title</h6>
                  </div>
              </div>    
              <div class="col-4">
                  <div class="icons text-right">
                    <i class="nb-edit"></i>
                    <i class="nb-trash"></i>
                  </div>
              </div>  
            </div>
            
          </div>
          <div class="card-body text-primary">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">
            <div class="row">
              <div class="col-8">
                  <div class="title-header text-left">
                      <h6 class="pgp-card_title">Primary card title</h6>
                  </div>
              </div>    
              <div class="col-4">
                  <div class="icons text-right">
                    <i class="nb-edit"></i>
                    <i class="nb-trash"></i>
                  </div>
              </div>  
            </div>
            
          </div>
          <div class="card-body text-primary">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">
            <div class="row">
              <div class="col-8">
                  <div class="title-header text-left">
                      <h6 class="pgp-card_title">Primary card title</h6>
                  </div>
              </div>    
              <div class="col-4">
                  <div class="icons text-right">
                    <i class="nb-edit"></i>
                    <i class="nb-trash"></i>
                  </div>
              </div>  
            </div>
            
          </div>
          <div class="card-body text-primary">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">
            <div class="row">
              <div class="col-8">
                  <div class="title-header text-left">
                      <h6 class="pgp-card_title">Primary card title</h6>
                  </div>
              </div>    
              <div class="col-4">
                  <div class="icons text-right">
                    <i class="nb-edit"></i>
                    <i class="nb-trash"></i>
                  </div>
              </div>  
            </div>
            
          </div>
          <div class="card-body text-primary">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">
            <div class="row">
              <div class="col-8">
                  <div class="title-header text-left">
                      <h6 class="pgp-card_title">Primary card title</h6>
                  </div>
              </div>    
              <div class="col-4">
                  <div class="icons text-right">
                    <i class="nb-edit"></i>
                    <i class="nb-trash"></i>
                  </div>
              </div>  
            </div>
            
          </div>
          <div class="card-body text-primary">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">
            <div class="row">
              <div class="col-8">
                  <div class="title-header text-left">
                      <h6 class="pgp-card_title">Primary card title</h6>
                  </div>
              </div>    
              <div class="col-4">
                  <div class="icons text-right">
                    <i class="nb-edit"></i>
                    <i class="nb-trash"></i>
                  </div>
              </div>  
            </div>
            
          </div>
          <div class="card-body text-primary">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">
            <div class="row">
              <div class="col-8">
                  <div class="title-header text-left">
                      <h6 class="pgp-card_title">Primary card title</h6>
                  </div>
              </div>    
              <div class="col-4">
                  <div class="icons text-right">
                    <i class="nb-edit"></i>
                    <i class="nb-trash"></i>
                  </div>
              </div>  
            </div>
            
          </div>
          <div class="card-body text-primary">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">
            <div class="row">
              <div class="col-8">
                  <div class="title-header text-left">
                      <h6 class="pgp-card_title">Primary card title</h6>
                  </div>
              </div>    
              <div class="col-4">
                  <div class="icons text-right">
                    <i class="nb-edit"></i>
                    <i class="nb-trash"></i>
                  </div>
              </div>  
            </div>
            
          </div>
          <div class="card-body text-primary">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***************** END - Head content => Title, text ***************** -->
</div>