<div class="row pgp-backgroud_layout font_family_roboto">
  <div class="col-12">

    <div class="row" *ngIf="true">
      <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb" style="background-color: transparent; margin-bottom: 0rem;">        
          <li class="breadcrumb-item">
            <a (click)="fnRedirectListProjects();" class="pgp-text_color_1 pgp-pointer">{{ project_name }}</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{ DATA_LANG?.breadCProfiles.text }}</li>
        </ol>
      </nav>
    </div>

    <div class="row">
      <div class="col-6">
        <h1 class="font_family_roboto">{{ DATA_LANG?.lbProfiles.text }}</h1>
      </div>
      <div class="col-6 m-auto text-right">
        <button nbButton (click)="openCreateGroup(id_project, false)"
          id="pgp-btn_show_modal_inivite_member"
          class="pgp-btn_success font_family_roboto">
          {{ DATA_LANG?.buttonCreate.text }}
        </button>
        &nbsp;&nbsp;
        <button nbButton (click)="openInviteUser(id_project)"
          id="pgp-btn_show_modal_inivite_member"
          class="pgp-btn_success font_family_roboto">
          {{ DATA_LANG?.buttonInvite.text }} 
        </button>
      </div>
    </div>
    <br><br>
    <div class="row mt-4 mb-4" *ngIf="false">
      <div class="col-12 justify-content-right text-right">
          <input class="pgp-search-border-color" type="text" nbInput status="info" placeholder="Search">
      </div>
    </div>

    <nb-card *ngFor="let group_data of groups; let i = index;">
      <div class="row m-3">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
            <div class="mt-3 mb-3 ml-0 mr-0">
              <span class="badge badge-pill pgp-back_color_badge pgp-badge_config">
                  <i class="fas fa-star fa-xs pgp-icon_star_owner mt-0" style="font-size: 13px;"></i>
                  &nbsp;&nbsp;&nbsp;<h6 class="mb-0 mt-1 pgp-pointer pgp-font_color_white d-inline-block" (click)="openEditGroup(group_data)">{{ group_data.tProjectGroupName }}</h6>
                  <i class="far fa-trash-alt pgp-pointer pgp-icon_delete_group" nbTooltip="{{ DATA_LANG?.toolTDeleteProfile.text }}" nbTooltipPlacement="top" (click)="fnShowModalDeleteProjectGroup(group_data)" ></i>
              </span>  
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-3 mt-2 mb-2" *ngFor="let users_group_data of group_data.projectGroupUsers; let i = index;">
                <div class="card pgp-card_radius">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-3">
                          <nb-user class="font_family_roboto" [name]="users_group_data.tFirstName" [showName]="false"></nb-user>
                          <!-- <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-fluid img-thumbnail pgp-image_member m-0" alt="avatar"> -->
                      </div>

                      <div class="col-9">
                        <div class="row pgp-top_row">
                          <div class="col-9 p-0">                             
                            <h5 class="card-title font_family_roboto pgp-card_title d-inline-block text-truncate">
                              {{ users_group_data.tFirstName + ' ' + users_group_data.tLastName }}
                            </h5>
                          </div>
                          <div class="text-center">
                            <i class="far fa-trash-alt pgp-pointer pgp-icon_delete_member" nbTooltip="{{ DATA_LANG?.toolTDeleteUser.text }}" nbTooltipPlacement="top" (click)="fnShowModalDeleteProjectGroupUser(users_group_data.iIDProjectGroupUser)"></i>
                            <!-- <i class="fas fa-star pgp-icon_star_owner"></i> -->
                          </div>
                          <div class="col-12 p-0">
                            <p class="card-title pgp-card_title d-inline-block text-truncate">
                                {{ users_group_data.tEmail }}
                            </p>
                          </div>
                        </div>
                      </div>  

                    </div>
                  </div>
                </div>
              </div>     
            </div>
          </div>

      </div>  
    </nb-card>

  </div>
</div>
