@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes';

@include nb-install-component() {
    /deep/ .nb-theme-default nb-card-header {
        display: none !important;
    }

    .font_family_roboto {
        font-family: 'Roboto';
    }
    
    .font_family_exo {
        font-family: 'roboto';
    }

    .pgp-button_go_to_login {
        background-color: nb-theme(pgp-color-1);
        text-transform: none;
        margin: 3rem 0rem;
        .close:focus {
            outline:0;
        }
    }

    .pgp-image_logo {
        // width: nb-theme(pgp-width-50-percent);
        width: 40%;
    }

    .customClass {
        background-color: #ff4c6a !important;
        color: #fff !important;
    }

    #tooltip-0 .tooltip-inner {
        background-color: #009688 !important;
        color: #fff;
    }

    ::ng-deep {
        .tooltip-inner {
            width: 12rem;
            background-color: #ff4c6a;
            color: #fff;
            text-align: left;
        }

        .tooltip-arrow {
            border-right-color: #ff4c6a !important;
        }
        
        .tooltip-arrow::before {
            border-right-color: #ff4c6a !important;
        }
    }

    // ::ng-deep  .tooltip-arrow {
    //     border-top-color: #ff4c6a !important;
    // }

    .pgp-icon_alert {
        position: absolute;
        padding: 0.7rem;
        cursor: pointer;
        color: #ff4c6a;
    }
    
    .pgp-icon_alert_success {
        position: absolute;
        padding: 0.7rem;
        cursor: pointer;
        color: #40dc7e;
    }

    ::ng-deep nb-layout-column {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    button {
        margin: 0.5rem;
    }

    .btn-success.disabled, .btn-success:disabled {
        border-color: nb-theme(pgp-color-1);
    }

    .btn-success:active:focus {
        background-color: nb-theme(pgp-color-1);
    }

    .forgot-password {
        color: nb-theme(pgp-color-1) !important;
    }

    #input-new-password:focus {
        border-color: nb-theme(pgp-color-1);
    }
    
    #input-confirm-new-password:focus {
        border-color: nb-theme(pgp-color-1);
    }

    #input-password:focus {
        border-color: nb-theme(pgp-color-1);
    }

    #pgp-checkbox_remember_me {
        display: block;

        .customised-control {
            .customised-control-input input[type="checkbox"]:checked {
                border-color: nb-theme(pgp-color-1);
            }
        }
        
    }

    .pace-progress {
        background: nb-theme(pgp-color-1);
    }

    .pgp-label_remember_me {
        font-size: 1rem;
        color: #4b4b4b;
        vertical-align: text-top;
    }

    



    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
      
    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
      
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
    }
      
    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }
      
    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: nb-theme(pgp-color-1);
        border-radius: 50%;
    }

    .container input > .checkmark {
        background-color: nb-theme(pgp-color-1);
        border-radius: 50%;
    }
    
    .checkmark {
        // background-color: nb-theme(pgp-color-1);
        border-radius: 50%;
    }
      
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }
    
    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 8px;
        top: 4px;
        width: 6px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .pgp-icon_view_password {
        position: absolute;
        margin: 1rem 0rem 1rem -2rem;
        cursor: pointer;
        z-index: 2;
        color: nb-theme(pgp-color-1);
    }
    
}
