<div class="mb-3 text-center">
  <img class="pgp-image_logo" src="../../../../assets/images/imgs/pgp-prexus-logo01.png" alt="PGP Prexus Logo">
</div>
<!-- <button nbButton (click)="showToast('top-right', 'success')">Top Right</button> -->
<h1 id="title" class="title font_family_roboto">{{ DATA_LANG?.lbTitle.text }}</h1>
<p class="sub-title mb-0">{{ DATA_LANG?.lbDesc.text }}</p>
<!-- {{ state_active_account?.color }}
<nb-alert status="{{ state_active_account?.color }}" role="alert" closable (close)="onClose()">
  <p class="alert-title"><b>Hooray!</b></p>
</nb-alert> -->

<br>
<div *ngIf="messages_error.length && submitted" class="alert alert-danger alert-dismissible fade show" role="alert">
  <div *ngFor="let error of messages_error; let i = index;">
      <strong>{{ error.state }}!</strong> {{ error.description }}.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>  
  </div>
</div>

<div *ngIf="messages_success.length && submitted" class="alert alert-success alert-dismissible fade show" role="alert">
  <div *ngFor="let message of messages_success; let y = index;">
    <strong>{{ message.state }}!</strong> {{ message.description }}.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>  
  </div>
</div>

<form (ngSubmit)="updatePass(user.new_password, user.confirm_new_password)" #updatePassForm="ngForm" aria-labelledby="title" class="mt-3">
  <!-- <input type="hidden" name="language" [(ngModel)]="user.tlanguage" value="en"> -->
  <div class="form-control-group">
    <label class="label" for="input-email">{{ DATA_LANG?.lbNewPassword.text }}</label>

    <input 
      nbInput 
      [(ngModel)]="user.new_password" 
      #new_password="ngModel" 
      id="input-new-password" 
      name="new_password" 
      autofocus 
      fullWidth 
      type="password" 
      [status]="new_password.dirty ? (new_password.invalid  ? 'danger' : 'info') : ''" 
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
      placeholder="{{ DATA_LANG?.tbNewPassword.text }}">
    <!-- <i class="far fa-eye pgp-icon_view_password"></i>
    <i class="far fa-eye-slash pgp-icon_view_password"></i> -->
    <i *ngIf="new_password.invalid" class="fas fa-exclamation-triangle pgp-icon_alert info" isOpen="true" [tooltip]="popTemplate" placement="right" triggers="mouseenter:click"></i>
    <ng-template #popTemplate id="tooltip-content">
      <strong>{{ DATA_LANG?.alertPassOne.text }} </strong><br />
      <strong><i class="far fa-check-circle"></i></strong> {{ DATA_LANG?.alertPassTwo.text }}<br />
      <strong><i class="far fa-check-circle"></i></strong> {{ DATA_LANG?.alertPassThree.text }}<br />
      <strong><i class="far fa-check-circle"></i></strong> {{ DATA_LANG?.alertPassFour.text }}<br />
      <strong><i class="far fa-check-circle"></i></strong> {{ DATA_LANG?.alertPassFive.text }}<br />
    </ng-template>
    <i *ngIf="false" class="fas fa-check-circle pgp-icon_alert_success success" nbTooltip="This is a tooltip" nbTooltipPlacement="top" nbTooltipStatus="success"></i>
    <ng-container *ngIf="false && new_password.invalid && new_password.touched">
      <p class="error-message" *ngIf="new_password.errors?.required">
        {{ DATA_LANG?.alertRequiredPass.text }}
      </p>         
      <p class="error-message" *ngIf="new_password.errors?.pattern">
        {{ DATA_LANG?.alertPassOne.text }}<br />
        {{ DATA_LANG?.alertPassTwo.text }}<br />
        {{ DATA_LANG?.alertPassThree.text }}<br />
        {{ DATA_LANG?.alertPassFour.text }}<br />
        {{ DATA_LANG?.alertPassFive.text }}
      </p>
    </ng-container> 
  </div>
  
  <div class="form-control-group">
    <label class="label" for="input-email">{{ DATA_LANG?.lbConfirmPassword.text }}</label>
    <input 
      nbInput 
      [(ngModel)]="user.confirm_new_password" 
      #confirm_new_password="ngModel" 
      id="input-confirm-new-password" 
      name="confirm_new_password" 
      autofocus 
      fullWidth 
      [status]="user.new_password != user.confirm_new_password ? 'danger' : (user.new_password  ? 'info' : '')" 
      type="password" 
      status="info" 
      placeholder="{{ DATA_LANG?.tbConfirmPassword.text }}">
    <i *ngIf="user.new_password != user.confirm_new_password" class="fas fa-exclamation-triangle pgp-icon_alert info" isOpen="true" [tooltip]="pop_temp_confirm_password" placement="right" triggers="mouseenter:click"></i>
    <ng-template #pop_temp_confirm_password id="tooltip-content">
      <strong>{{ DATA_LANG?.alertPassCoincide.text }}</strong><br />
    </ng-template>
    <ng-container *ngIf="false">
      <p class="error-message" *ngIf="false">
        {{ DATA_LANG?.alertRequiredPassConfirm.text }}
      </p>
      <p class="error-message" *ngIf="false">
        {{ DATA_LANG?.alertEmailReal.text }}
      </p>
    </ng-container>
  </div>

  <button nbButton
        fullWidth
        status="success"
        class="pgp-button_go_to_login font_family_roboto"
        [disabled]="submitted || !user.new_password || !user.confirm_new_password || user.new_password != user.confirm_new_password"
        [class.btn-pulse]="submitted">{{ DATA_LANG?.buttonResetPass.text }}</button>
</form>


<!-- <section class="another-action" aria-label="Register">
Don't have an account? <a class="text-link" routerLink="../sign-up">Register</a>
</section> -->

<div class="mt-0 text-center" style="position: absolute;width: 100%; left: 0%; bottom: 0%; z-index: -1;">
  <img alt="PGP Prexus footer" src="../../../../assets/images/imgs/pgp-footer-login-02.png" style="
  position: absolute;
  /*top: 0%;*/
  margin: auto;
  /*width: 100%;*/
  width: 56%;
  z-index: 0;
  bottom: 0%;
  /*left: 0%;*/
  left: 21%;
  ">
</div>