<div class="row pgp-backgroud_layout font_family_roboto">
    <div class="col-12">

        <div class="row" *ngIf="true">
          <nav aria-label="breadcrumb" class="mt-3">
            <ol class="breadcrumb" style="background-color: transparent; margin-bottom: 0rem;">        
              <li class="breadcrumb-item">
                <a (click)="fnRedirectListProjects();" class="pgp-text_color_1 pgp-pointer">{{ project_name }}</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">{{ DATA_LANG?.editProjectBreadCProject.text }}</li>
            </ol>
          </nav>
        </div>

      <div class="row">
        <div class="col-6">
          <h1 class="font_family_roboto">{{ DATA_LANG?.editProjectlbTittle.text }}</h1>
        </div>
      </div>  
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 m-auto mt-5">
          <div class="text-center">
              <nb-card>
                  <nb-card-body>
                    <form (ngSubmit)="fnUpdateProject(project)" #updateCompanyForm="ngForm" aria-labelledby="title" class="mt-3 col-12" id="name_company">
                      <div class="form-control-group">
                          <label class="label" for="project_name">{{ DATA_LANG?.editProjectlbProjectName.text }}:</label>
                          <input 
                          [(ngModel)]="project.tProjectName" 
                          #projectName="ngModel" 
                          type="text" 
                          class="form-control disabled" 
                          name="project_name" 
                          id="pgp-project_name"
                          placeholder="{{ DATA_LANG?.editProjecttbProjectName.text }}"
                          style="height: 45px;" 
                          [disabled]="state"
                          title="Enter your first name if any.">
                      </div>
                      <button class="mt-3 pgp-pointer font_family_roboto" 
                        type="submit" 
                        id="pgp-btn_save_company"
                        nbButton
                        [class.btn-pulse]="submitted" 
                        [disabled]="!project.tProjectName"
                        status="info">{{ DATA_LANG?.editProjectButtonSave.text }}</button>
                      &nbsp;&nbsp;&nbsp;
                      <button class="mt-3 pgp-pointer font_family_roboto" 
                        type="button" 
                        id="pgp-btn_cancel_company"
                        nbButton
                        [class.btn-pulse]="submitted" 
                        (click)="fnCancelSaveCompany()"
                        status="danger">{{ DATA_LANG?.editProjectButtonCancel.text }}</button>
                  </form>  
                  </nb-card-body>
                </nb-card>
          </div>
      </div>
      
      
    </div>
  </div>