@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  button:focus {
    outline: 0;
    cursor: pointer;
  }

  .flex-centered {
    margin: auto;
  }
  nb-card-body {
    display: flex;
  }

  .pgp-font_color_required {
    color: #dc3545;
    font-size: 10px;
  }
  
  .title {
    text-align: center;
  }
  
  .pgp-backgroud_layout {
    background-color: #FFF;
    min-height: 83vh;
  }

  .font_family_roboto {
    font-family: 'Roboto';
  }

  .font_family_exo {
    font-family: 'exo';
  }

  #pgp-btn_save_company {
    text-transform: none;
    width: nb-theme(pgp-width-btn-crud);    
  }
  
  #pgp-btn_cancel_company {
    text-transform: none;
    background-color: nb-theme(pgp-color-11);   
    width: nb-theme(pgp-width-btn-crud);   
  }
  
  .pgp-button_dots_table {
      border-radius: 50px;
      padding: 0.5rem 0.9rem;
      outline: none !important;
  }
  
  .sub-title {
    text-align: center;
    display: block;
    margin-bottom: 3rem;
  }
  
  // .btn {
  //   margin-bottom: 2rem;
  // }

  .pgp-pointer {
    cursor: pointer;
  }
  
  .pgp-btn_success {
    background-color: nb-theme(pgp-color-1);
    cursor: pointer;
  }

  .pgp-table {
    color: nb-theme(pgp-color-black);
  }

  td {
    vertical-align: middle;
  }

  #pgp-project_name {
    border-color: none;
  }
  
  #pgp-project_name:focus {
    border-color: nb-theme(pgp-color-1);
  }

  .pgp-text_color_1{
    color: nb-theme(pgp-color-1);
    font-weight: bold;
  }
  
  .pgp-text_color_1:hover{
    color: nb-theme(pgp-color-3);
  }

}

