<div class="row pgp-backgroud_layout font_family_roboto pr-4" [nbSpinner]="loadingChart">
  <div class="col-12">
    <div class="row">
      <div class="col-12 m-3">
        <img class="d-inline" src="../../../assets/images/imgs/information.png" height="15">
        <p class="d-inline pl-2 mb-3 mt-3 pgp-description-color">{{ DATA_LANG?.priceLlbDesc.text }}</p>
      </div>
      <br>
      <div class="col-12 ml-3 mr-3">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="row m-1" style="margin-left: 0 !important">
              <div class="col-6 pl-0">
                <input (input)="fnFilterPrices_list(obj_prices_list, search_input);" fullWidth nbInput [(ngModel)]="search_input" #search_prices_list="ngModel"
                class="pgp-text_input_search form-control d-inline-block" id="pgp-input_prices_list_name" name="prices_list_name"
                type="text" placeholder="{{ DATA_LANG_GENERAL?.tbSearch.text }}">
                <i class="fas fa-search pgp-icon_input_search"></i>
              </div>
              <div class="col-auto p-0">
                <div style="display: inline-block; margin: 0px 10px;" *ngIf="search_input.length > 0">
                  <label class="p-0 pgp-label_clear_all" (click)="search_input = ''; fnFilterPrices_list(list_categories, search_input);">{{ DATA_LANG_GENERAL?.lbClearAll.text }}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-lg-right text-xl-right text-md-center text-sm-center">
            <button class="btn btn-primary m-1 pgp-btns_actions font_family_roboto" (click)="showModalAddprices_list()">{{ DATA_LANG_GENERAL?.buttonCreate.text }}</button>
            <div class="btn btn-primary m-1 pgp-btns_actions font_family_roboto" style="position: relative">
              <label for="file" class="pgp-pointer">{{ DATA_LANG_GENERAL?.buttonImport.text }}</label>
              <input [(ngModel)]="file_import_input" type="file"  class="pgp-input_import"  id="file" (change)="handleFileInput($event.target.files)">
            </div>
            <button class="btn btn-primary m-1 pgp-btns_actions font_family_roboto" (click)="fnExportprices_list()">{{ DATA_LANG_GENERAL?.buttonExport.text }}</button>
            <button class="btn btn-primary m-1 pgp-btns_actions font_family_roboto" (click)="fnDeleteAllprices_list()">{{ DATA_LANG_GENERAL?.buttonDelete.text }}</button>
          </div>

        </div>
      </div>
      <br>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-3">
        <table class="table table-bordered pgp-table">
          <thead>
            <tr>
              <th colspan="2"></th>
              <th scope="col" class="text-left" id="thead_jobTitle" style="width: 94% !important;cursor: pointer;">{{ DATA_LANG?.priceLColNPriceList.text }}
                <span>
                  <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.priceLToolTipPriceLLbTile.text,DATA_LANG?.priceLToolTipPriceLLbDesc.text)"></i>
                </span>
                <span id="pgp-icon_complementary_relation_name_column" (click)="sortColumn('prices_list_name')" class="float-right">
                  <i class="fas fa-long-arrow-alt-up"></i>
                  <i class="fas fa-long-arrow-alt-down"></i>
                </span>
              </th>
              <!-- <th scope="col">Competitors
                  <i class="fas fa-arrows-alt-v pgp-icon-sort"></i>
                </th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data_prices_list of obj_prices_list  | paginate: { itemsPerPage: numItemsPage, currentPage: currentPage }; let i = index;">
              <td class="pgp-table-actions text-center">
                <i class="fas fa-edit pgp-pointer" nbTooltip="{{ DATA_LANG?.toolTEdit.text }}" nbTooltipPlacement="top" (click)="fnUpdateprices_list(data_prices_list)" ></i>
              </td>
              <td class="pgp-table-actions text-center">
                <i class="far fa-trash-alt pgp-pointer" nbTooltip="{{ DATA_LANG?.toolTDelete.text }}" nbTooltipPlacement="top" (click)="fnDeleteprices_list(data_prices_list)" ></i>
              </td>
              <td>{{ data_prices_list.tPriceListName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
      <div class="col-12" style="margin-right: -15px; margin-left: -35px;">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
              <div class="text-center" *ngIf="obj_prices_list?.length > numItemsPage">
                <pagination-controls (pageChange)="currentPage = $event" previousLabel="{{ DATA_LANG_GENERAL?.previousPage.text }}" nextLabel="{{ DATA_LANG_GENERAL?.nextPage.text }}"></pagination-controls>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <div class="text-center pgp-font_paginator" *ngIf="obj_prices_list?.length > 0">
                <div class="text-right pgp-font_paginator">
                  {{ DATA_LANG_GENERAL?.lbItemsShowed.text }}
                  {{ (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) + 1 ) }} - {{ (obj_prices_list.length < (currentPage * numItemsPage)) ? obj_prices_list.length : (currentPage * numItemsPage) }} {{ DATA_LANG_GENERAL?.lbItemsOf.text }} {{ obj_prices_list.length }}
                </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-3"> -->
      </div>
      <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-3">
        <div class="text-center" *ngIf="prices_list?.length > 1">
          <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
      </div> -->

    </div>
  </div>
</div>