<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto pgp-card_content">
        <nb-card-header class="font_family_roboto">{{ DATA_LANG?.mCLbTitle.text }}</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <form (ngSubmit)="fnCreateNewCompetitor(competitor_data)" #addNewCategoryForm="ngForm" aria-labelledby="title">
                <div class="col-12 pl-0 pr-0">
                  <div class="form-group">                    
                    <label for="pgp-input_competitor_name">{{ DATA_LANG?.mCLbCreate.text }}: </label>
                    <input nbInput [(ngModel)]="competitor_data.tCompetitorName" #groupName="ngModel" id="pgp-input_competitor_name" name="competitor_name" autofocus type="text" class="form-control" placeholder="{{ DATA_LANG?.mCTBCatName.text }}" style="height: 45px;">
                    <br>
                    <p style="width: 536px">{{ DATA_LANG?.mCLbCatDesc.text }}</p>
                  </div>
                </div>
                <button type="submit" class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" id="pgp-btn_save_new_competitor"
                  nbButton [disabled]="!competitor_data.tCompetitorName" [class.btn-pulse]="submitted" status="info">{{ DATA_LANG?.mCButtonSave.text }}</button>
                &nbsp;&nbsp;&nbsp;
                <button class="pgp-pointer font_family_roboto" type="button" id="pgp-btn_cancel_save_new_competitor" nbButton [class.btn-pulse]="submitted"
                  (click)="fnCancelCreateNewCompetitor()" status="danger">{{ DATA_LANG?.mCButtonCancel.text }}</button>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>