@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  button:focus {
    outline: 0;
    cursor: pointer;
  }
  
  .title {
    text-align: center;
  }

  .font_family_roboto {
    font-family: 'Roboto';
  }

  .font_family_exo {
    font-family: 'exo';
  }

  #pgp-btn_save_new_competitor{
    text-transform: none;
    width: nb-theme(pgp-width-btn-crud);      
  }
  
  #pgp-btn_cancel_save_new_competitor {
    text-transform: none;
    background-color: nb-theme(pgp-color-11);   
    width: nb-theme(pgp-width-btn-crud);  
  }
  
  .pgp-backgroud_layout {
    background-color: #FFF;
  }
  
  .sub-title {
    text-align: center;
    display: block;
    margin-bottom: 3rem;
  }
  
  .pgp-btn_success {
    background-color: nb-theme(pgp-color-1);
    cursor: pointer;
  }

  #pgp-input_competitor_name:focus {
    border-color: nb-theme(pgp-color-1);
  }

  .pgp-fs_icon_list {
    font-size: 1.5rem;
    vertical-align: sub;
    color: nb-theme(pgp-color-3);
  }

  .pgp-fs_icon_right_list {
    position: absolute;
    right: 1rem;
    color: nb-theme(pgp-color-6);
  }

  .pgp-pointer {
    cursor: pointer;
  }

  ::ng-deep nb-dialog-container {
    height: 80vw;
    max-width: 95vw;
    max-height: 81vh;
  }

  .pgp-title_item_list {
    display: inline-block;
  }

  ::ng-deep nb-card-header {
    display: block !important;
  }

  ::ng-deep {
    .tooltip-inner {
        width: 12rem;
        background-color: #ff4c6a;
        color: #fff;
        text-align: left;
    }

    .tooltip-arrow {
        border-right-color: #ff4c6a !important;
    }
    
    .tooltip-arrow::before {
        border-right-color: #ff4c6a !important;
    }
  }

  .pgp-icon_alert {
    position: absolute;
    padding: 0.7rem;
    cursor: pointer;
    color: #ff4c6a;
  }

  ::ng-deep .ng-select.ng-select-single .ng-select-container {
    height: 45px;
  }

  ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input {
      line-height: 1.8;
  }

}
