<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto pgp-card_content" size="large" nbSpinnerStatus="info">
        <nb-card-header class="font_family_roboto">{{ DATA_LANG?.mPrMElbTittle.text }}</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <form (ngSubmit)="fnUpdateDataMarketPrices()" #editmarketpriceValueForm="ngForm" aria-labelledby="title" style="min-width: 500px; max-width: 500px;">
                <div class="col-12 pl-0 pr-0">
                  <div class="form-group">
                    <label style="font-weight: bold;">{{ DATA_LANG?.mPrMElbProCode.text }}: {{obj_form_market.tProductCode}}</label>
                    <br>
                    <label style="font-weight: bold;">{{ DATA_LANG?.mPrMElbProName.text }}: {{obj_form_market.tProductName}}</label>
                    <br>
                    <label style="font-weight: bold;">{{ DATA_LANG?.mPrMElbPList.text }}: {{obj_form_market.tPriceListName}}</label>
                  </div>
                  <div class="form-group">
                    <label for="">{{ DATA_LANG?.mPrMElbDesc.text }}</label>
                    <div class="row" style="margin-left: 0rem;">
                      <div class="btn btn-primary m-1 pgp-btns_actions pgp-height_3_rem" id="btn-1" (click)="fnDataCompetitor(1)">
                        <label class="pgp-pointer">1</label>
                      </div>
                      <div class="btn btn-primary m-1 pgp-btns_actions pgp-height_3_rem" id="btn-2" (click)="fnDataCompetitor(2)">
                        <label class="pgp-pointer">2</label>
                      </div>
                      <div class="btn btn-primary m-1 pgp-btns_actions pgp-height_3_rem" id="btn-3" (click)="fnDataCompetitor(3)">
                        <label class="pgp-pointer">3</label>
                      </div>
                      <div class="btn btn-primary m-1 pgp-btns_actions pgp-height_3_rem" id="btn-4" (click)="fnDataCompetitor(4)">
                        <label class="pgp-pointer">4</label>
                      </div>
                      <div class="btn btn-primary m-1 pgp-btns_actions pgp-height_3_rem" id="btn-5" (click)="fnDataCompetitor(5)">
                        <label class="pgp-pointer">5</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="pgp-market_prices_competitor">{{ DATA_LANG?.mPrMElbComp.text }}: </label>
                    <!--
                      <pre>
                        {{ select_competitor | json }}
                      </pre>
                    <pre>
                      {{ input_product | json }}
                    </pre>
                    <pre>
                      {{ input_prices | json }}
                    </pre> -->
                    <ng-select [items]="list_competitors" bindLabel="tCompetitorName" [(ngModel)]="select_competitor" [clearable]="false" [ngModelOptions]="{standalone: true}" (change)="fnStateUpdate()"></ng-select>
                  <div style="text-align:justify;">{{ DATA_LANG?.mPrMElbCompDesc.text }}</div>
                  </div>
                  <div class="form-group">
                    <label for="pgp-input_product_competitor_name">{{ DATA_LANG?.mPrMElbProd.text }}: </label>
                    <input nbInput [(ngModel)]="input_product" id="pgp-input_product_competitor_name" name="product_competitor_name" autofocus type="text" class="form-control" style="height: 45px;" (blur)="fnStateUpdate();">
                  <div style="text-align:justify; width: 500px;">{{ DATA_LANG?.mPrMElbProdDesc.text }}</div>
                  </div>
                  <div class="form-group">
                    <label for="pgp-input_price_competitor_name_name">{{ DATA_LANG?.mPrMElbPrice.text }}: </label>
                    <input class="text-left" (keypress)="numberOnly($event)" nbInput [(ngModel)]="input_prices" type="number" id="pgp-input_competitor_name" name="price_competitor_name" autofocus type="text" class="form-control" style="height: 45px;" (blur)="fnStateUpdate();">
                  <div style="text-align:justify; width: 500px;">{{ DATA_LANG?.mPrMElbPriceDesc.text }}</div>
                  </div>
                  <button class="pgp-pointer font_family_roboto" type="button" id="pgp-btn_preview_market_prices" nbButton [class.btn-pulse]="submitted"
                    [disabled]="state_btn_preview" (click)="fnPreviewMarketPrices()">{{ DATA_LANG?.mPrMEButtonPrev.text }}</button>
                  &nbsp;
                  <button class="pgp-pointer font_family_roboto" type="button" id="pgp-btn_next_market_prices" nbButton [class.btn-pulse]="submitted"
                    [disabled]="state_btn_next" (click)="fnNextMarketPrices()">{{ DATA_LANG?.mPrMEButtonNext.text }}</button>
                  &nbsp;
                  <button 
                    type="submit" 
                    class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" 
                    id="pgp-btn_save_new_market_prices"
                    [class.btn-pulse]="submitted" 
                    status="info">{{ DATA_LANG?.mPrMEButtonSave.text }}</button>
                  &nbsp;
                  <button class="pgp-pointer font_family_roboto" type="button" id="pgp-btn_cancel_save_new_market_prices_data" nbButton [class.btn-pulse]="submitted"
                    (click)="fnCancelEditMarketPrices()" status="danger">{{ DATA_LANG?.mPrMEButtonCancel.text }}</button>
                </div>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>