<div class="row pgp-backgroud_layout font_family_roboto pr-4" [nbSpinner]="loadingChart">
  <div class="col-12">

    <div class="row">
      <div class="col-12 m-3">
        <img class="d-inline" src="../../../assets/images/imgs/information.png" height="15">
        <p class="d-inline mb-3 mt-3 pl-2 pgp-description-color">{{ DATA_LANG?.prInflbDesc.text }}</p>
      </div>
      <div class="col-12 ml-3 mr-3">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="row m-1" style="margin-left: 0 !important">
              <div class="col-3" *ngIf="false">
                <ng-select (change)="fnGetDataListProductInformation(data_category_select)"
                  [(ngModel)]="data_category_select" [ngModelOptions]="{standalone: true}"
                  placeholder="{{ DATA_LANG?.prIntbSearch.text }}">
                  <ng-option *ngFor="let item_category of list_categories_collection" [value]="item_category"
                    [disabled]="item_category.disabled">{{item_category.tCategoryName}}</ng-option>
                </ng-select>
              </div>
              <div class="col-6 pl-0">
                <input (input)="fnFilterProducts(list_products_information, search_input);"
                  (keyup)="fnFilterProducts(list_products_information, search_input);" fullWidth nbInput
                  [(ngModel)]="search_input" #search_category="ngModel"
                  class="pgp-text_input_search form-control d-inline-block" id="pgp-input_category_name"
                  name="category_name" type="text" placeholder="{{ DATA_LANG_GENERAL?.tbSearch.text }}">
                <i class="fas fa-search pgp-icon_input_search"></i>
              </div>
              <div class="col-auto p-0">
                <button *ngIf="true" class="btn btn-primary pgp-btn_advance_search font_family_roboto w-100"
                  [disabled]="list_products_information?.products.length < 1 && items_filtered_advance_search.length < 1"
                  (click)="showModalAdvancedSearchProducInformation(obj_category)"
                  style="display: inline-block; width: 180px !important;">{{ DATA_LANG_GENERAL?.buttonAdvanceSearch.text }}</button>
                <div style="display: inline-block; margin: 0px 10px;" *ngIf="items_filtered_advance_search.products?.length > 0 ||
                    items_filtered_advance_search.priceList?.length > 0 ||
                    items_filtered_advance_search.category?.length > 0 ||
                    items_filtered_advance_search.dAverageDiscount?.dMin ||
                    items_filtered_advance_search.dAverageDiscount?.dMax ||
                    items_filtered_advance_search.dCurrentPrice?.dMin ||
                    items_filtered_advance_search.dCurrentPrice?.dMax ||
                    items_filtered_advance_search.dCurrentUnits?.dMin ||
                    items_filtered_advance_search.dCurrentUnits?.dMax ||
                    items_filtered_advance_search.dVAT?.dMin ||
                    items_filtered_advance_search.dVAT?.dMax ||
                    items_filtered_advance_search.dVariableCost?.dMin ||
                    items_filtered_advance_search.dVariableCost?.dMax ||
                    search_input?.length > 0">
                  <label class="p-0 pgp-label_clear_all"
                    (click)="fnClearAllFiltersSearch(); fnFilterProducts(list_products_information, search_input);">{{ DATA_LANG_GENERAL?.lbClearAll.text }}</label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-lg-right text-xl-right text-md-center text-sm-center">
            <button class="btn btn-primary m-1 pgp-btns_actions"
              (click)="showModalAddCategory(obj_category)">{{ DATA_LANG_GENERAL?.buttonCreate.text }}</button>
            <div class="btn btn-primary m-1 pgp-btns_actions font_family_roboto" style="position: relative">
              <label for="file" class="pgp-pointer">{{ DATA_LANG_GENERAL?.buttonImport.text }}</label>
              <input [(ngModel)]="file_import_input" type="file" class="pgp-input_import" id="file"
                (change)="handleFileInput($event.target.files)">
            </div>
            <button class="btn btn-primary m-1 pgp-btns_actions"
              (click)="fnExportProductsInformation()">{{ DATA_LANG_GENERAL?.buttonExport.text }}</button>
            <button class="btn btn-primary m-1 pgp-btns_actions"
              (click)="fnDeleteProductsInformation(obj_category)">{{ DATA_LANG_GENERAL?.buttonDelete.text }}</button>
          </div>
        </div>

      </div>
      <br>
      <div class="col-12 ml-3 mr-3" *ngIf="true">
        <div class="row">
          <div class="col-11">
            <small class="pgp-pointer" *ngIf="false">
              <a>Clear all</a>&nbsp;&nbsp;
            </small>
            <div class="d-inline-block">
              <span *ngIf="items_filtered_advance_search.products?.length > 0">
                <span *ngFor="let item_product of items_filtered_advance_search.products; let ind_pro = index;">
                  <a class="badge pgp-badge-color">
                    {{ item_product.tProductCode + ' - ' + item_product.tProductName}}
                    <i class="fas fa-times-circle pgp-badge-icon pgp-pointer"
                      (click)="fnSetRemoveItemSearchFilteredAdvanced(ind_pro, items_filtered_advance_search.products);"></i>
                  </a>&nbsp;&nbsp;
                </span>
              </span>
              <span *ngIf="items_filtered_advance_search.priceList?.length > 0">
                <span *ngFor="let item_price_list of items_filtered_advance_search.priceList; let ind_pl = index;">
                  <a class="badge pgp-badge-color">
                    {{ DATA_LANG_GENERAL?.colnPricesList.text }}: {{ item_price_list.tPriceListName }}
                    <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveItemSearchFilteredAdvanced(ind_pl, items_filtered_advance_search.priceList);"></i>
                  </a>&nbsp;&nbsp;
                </span>
              </span>
              <span *ngIf="items_filtered_advance_search.category?.length > 0">
                <span *ngFor="let item_category of items_filtered_advance_search.category; let ind_cat = index;">
                  <a class="badge pgp-badge-color">
                    {{ DATA_LANG_GENERAL?.colnCategory.text }}: {{ item_category.tCategoryName }}
                    <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveItemSearchFilteredAdvanced(ind_cat, items_filtered_advance_search.category);"></i>
                  </a>&nbsp;&nbsp;
                </span>
              </span>
              <a class="badge pgp-badge-color"
                *ngIf="items_filtered_advance_search.dAverageDiscount?.dMin || items_filtered_advance_search.dAverageDiscount?.dMax">
                {{ DATA_LANG?.prInBadgeAverageDis.text }}: min =
                {{ items_filtered_advance_search.dAverageDiscount?.dMin | percent:'1.2-2' }} - max = {{ items_filtered_advance_search.dAverageDiscount?.dMax
                | percent:'1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer"
                  (click)="fnSetRemoveBadgeAverageDiscount();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color"
                *ngIf="items_filtered_advance_search.dCurrentPrice?.dMin || items_filtered_advance_search.dCurrentPrice?.dMax">
                {{ DATA_LANG?.prInBadgeCurrentP.text }}: min =
                {{ items_filtered_advance_search.dCurrentPrice?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dCurrentPrice?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgeCurrentPrice();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color"
                *ngIf="items_filtered_advance_search.dCurrentUnits?.dMin || items_filtered_advance_search.dCurrentUnits?.dMax">
                {{ DATA_LANG?.prInBadgeCurrentU.text }}: min =
                {{ items_filtered_advance_search.dCurrentUnits?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dCurrentUnits?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgeCurrentUnits();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color"
                *ngIf="items_filtered_advance_search.dVAT?.dMin || items_filtered_advance_search.dVAT?.dMax">
                {{ DATA_LANG?.prInBadgeVAT.text }}: min =
                {{ items_filtered_advance_search.dVAT?.dMin | percent:'1.1-1' }} - max = {{ items_filtered_advance_search.dVAT?.dMax
                | percent:'1.1-1' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgeVat();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color"
                *ngIf="items_filtered_advance_search.dVariableCost?.dMin || items_filtered_advance_search.dVariableCost?.dMax">
                {{ DATA_LANG?.prInBadgeVarCost.text }}: min =
                {{ items_filtered_advance_search.dVariableCost?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dVariableCost?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgeVariableCost();"></i>
              </a>
            </div>
          </div>
          <div class="col-1 text-right pr-4">
            <i class="fas fa-th-large pgp-pointer"
              [ngClass]="{'pgp-icon_state_view_data_active': (layout_component_display == 'cards'), 'pgp-icon_state_view_data_inactive': (layout_component_display == 'grid')}"
              (click)="fnSwitchViewData('cards')"></i>&nbsp;
            <i class="fas fa-th-list pgp-pointer"
              [ngClass]="{'pgp-icon_state_view_data_active': (layout_component_display == 'grid'), 'pgp-icon_state_view_data_inactive': (layout_component_display == 'cards')}"
              (click)="fnSwitchViewData('grid')"></i>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-3 pgp-Margin_top">
        <div style="width: 100%; overflow-x: auto;">
          <div class="font_family_roboto pgp-card_content">
            <table *ngIf="layout_component_display == 'grid'" class="table table-bordered pgp-table">
              <thead>
                <tr>
                  <th colspan="2">&nbsp;</th>
                  <th scope="col" class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                    <div style="width: 160px;">
                      {{ DATA_LANG_GENERAL?.colnProductCode.text }}
                      <span>
                        <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}"
                          nbTooltipPlacement="top"
                          (click)="open(DATA_LANG?.prInColnProductCodeTooltipTittle.text,DATA_LANG?.prInColnProductCodeTooltipDesc.text)"></i>
                      </span>
                      <span id="pgp-icon_complementary_relation_name_column" (click)="sortColumn('tProductCode')"
                        class="float-right">
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                      </span>
                    </div>
                  </th>
                  <th scope="col" class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                    <div>
                      {{ DATA_LANG_GENERAL?.colnProductName.text }}
                      <span>
                        <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}"
                          nbTooltipPlacement="top"
                          (click)="open(DATA_LANG?.prInColnProductNameTooltipTittle.text,DATA_LANG?.prInColnProductNameTooltipDesc.text)"></i>
                      </span>
                      <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tProductName')"
                        class="float-right">
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                      </span>
                    </div>
                  </th>
                  <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                    <div style="width: 150px;">
                      {{ DATA_LANG_GENERAL?.colnPricesList.text }}
                      <span>
                        <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}"
                          nbTooltipPlacement="top"
                          (click)="open(DATA_LANG?.prInColnPricesListTooltipTittle.text,DATA_LANG?.prInColnPricesListTooltipDesc.text)"></i>
                      </span>
                      <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tPriceListName')"
                        class="float-right">
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                      </span>
                    </div>
                  </th>
                  <th scope="col" class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                    <div class="w-150" style="max-width: 144px; width: 178px;">
                      {{ DATA_LANG_GENERAL?.colnCategory.text }}
                      <span>
                        <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}"
                          nbTooltipPlacement="top"
                          (click)="open(DATA_LANG?.prInColnCatTooltipTittle.text,DATA_LANG?.prInColnCatTooltipDesc.text)"></i>
                      </span>
                      <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tCategoryName')"
                        class="float-right">
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                      </span>
                    </div>
                  </th>
                  <th scope="col" class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                    <div style="width: 105px !important;">
                      {{ DATA_LANG?.prInColnVAT.text }}
                      <span>
                        <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}"
                          nbTooltipPlacement="top"
                          (click)="open(DATA_LANG?.prInColnVATTooltipTittle.text,DATA_LANG?.prInColnVATTooltipDesc.text)"></i>
                      </span>
                      <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dVAT')"
                        class="float-right">
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                      </span>
                    </div>
                  </th>
                  <th scope="col" class="text-left pgp-th_lines" id="thead_jobTitle" style="cursor: pointer;">
                    <div class="pgp-div_lines">
                      {{ DATA_LANG?.prInColnCurrentUni.text }}
                      <span>
                        <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}"
                          nbTooltipPlacement="top"
                          (click)="open(DATA_LANG?.prInColnCurrentUniTooltipTittle.text,DATA_LANG?.prInColnVarCostTooltipDesc.text)"></i>
                      </span>
                      <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dCurrentUnits')"
                        class="float-right">
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                      </span>
                    </div>
                  </th>
                  <th scope="col" class="text-left pgp-th_lines" id="thead_jobTitle" style="cursor: pointer;">
                    <div class="pgp-div_lines">
                      {{ DATA_LANG?.prInColnVarCost.text }} {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                      <span>
                        <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}"
                          nbTooltipPlacement="top"
                          (click)="open(DATA_LANG?.prInColnVarCostTooltipTittle.text,DATA_LANG?.prInColnVarCostTooltipDesc.text)"></i>
                      </span>
                      <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dVariableCost')"
                        class="float-right">
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                      </span>
                    </div>
                  </th>
                  <th scope="col" class="text-left pgp-th_lines" id="thead_jobTitle" style="cursor: pointer;">
                    <div style="width: 115px;">
                      {{ DATA_LANG?.prInColnCurrentPrice.text }}
                      {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                      <span>
                        <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}"
                          nbTooltipPlacement="top"
                          (click)="open(DATA_LANG?.prInColnCurrentPriceTooltipTittle.text,DATA_LANG?.prInColnCurrentPriceTooltipDesc.text)"></i>
                      </span>
                      <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dCurrentPrice')"
                        class="float-right">
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                      </span>
                    </div>
                  </th>
                  <th scope="col" class="text-left pgp-th_lines" id="thead_jobTitle" style="cursor: pointer;">
                    <div style="width: 109px;">
                      {{ DATA_LANG?.prInColnAverageDisc.text }}
                      <span>
                        <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}"
                          nbTooltipPlacement="top"
                          (click)="open(DATA_LANG?.prInColnAverageDiscTooltipTittle.text,DATA_LANG?.prInColnAverageDiscTooltipDesc.text)"></i>
                      </span>
                      <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dAverageDiscount')"
                        class="float-right">
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                      </span>
                    </div>
                  </th>

                  <th scope="col" class="text-left" id="thead_jobTitle" style="cursor: pointer;"
                    *ngIf="bHideTrendOfVolumeInstalledCapacity">
                    <div style="width: 111px;">
                      {{ DATA_LANG?.prInColnVolTrend.text }}
                      <span>
                        <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}"
                          nbTooltipPlacement="top"
                          (click)="open(DATA_LANG?.prInColnVolTrendTooltipTittle.text,DATA_LANG?.prInColnCurrentPriceTooltipDesc.text)"></i>
                      </span>
                      <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dAnnualVolumeTrend')"
                        class="float-right">
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                      </span>
                    </div>
                  </th>
                  <th scope="col" class="text-left" id="thead_jobTitle" style="cursor: pointer;"
                    *ngIf="bHideTrendOfVolumeInstalledCapacity">
                    <div style="width: 103px;">
                      {{ DATA_LANG?.prInColnInstalled.text }}
                      <span>
                        <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}"
                          nbTooltipPlacement="top"
                          (click)="open(DATA_LANG?.prInColnInstalledTooltipTittle.text,DATA_LANG?.prInColnInstalledTooltipDesc.text)"></i>
                      </span>
                      <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dInstalledCapacity')"
                        class="float-right">
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                      </span>
                    </div>
                  </th>
                  <th scope="col" class="text-left" id="thead_jobTitle" style="cursor: pointer;" *ngIf="false">
                    <div style="width: 200px;">
                      Currency volume
                      <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('currency_volume')"
                        class="float-right">
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                      </span>
                    </div>
                  </th>
                  <th scope="col" class="text-left" id="thead_jobTitle" style="cursor: pointer;" *ngIf="false">
                    <div style="width: 200px;">
                      Marketing margin
                      <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('marketing_margin')"
                        class="float-right">
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                      </span>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let data_info_product of list_products_information?.products | paginate: { id: 'server', itemsPerPage: numItemsPage, currentPage: currentPage, totalItems: totalItems }; let i = index;">
                  <td class="pgp-table-actions">
                    <i class="fas fa-edit pgp-pointer" nbTooltip="{{ DATA_LANG?.toolEdit.text }}"
                      nbTooltipPlacement="top"
                      (click)="showModalEditCategory(data_info_product, data_info_product.iIDProduct)"></i>
                  </td>
                  <td class="pgp-table-actions">
                    <i class="far fa-trash-alt pgp-pointer" nbTooltip="{{ DATA_LANG?.toolDelete.text }}"
                      nbTooltipPlacement="top" (click)="fnDeleteCategories(data_info_product)"></i>
                  </td>
                  <td class="text-left" style="width: 150px;">
                    <div class="d-inline-block text-truncate">
                      {{ data_info_product.tProductCode }}
                    </div>
                  </td>
                  <td class="text-left" style="width: 200px;">
                    <div class="d-inline-block text-truncate">
                      {{ data_info_product.tProductName }}
                    </div>
                  </td>
                  <td class="text-left" style="width: 150px;">
                    <div class="d-inline-block text-truncate">
                      {{ data_info_product.priceList.tPriceListName }}
                    </div>
                  </td>
                  <td style="width: 153px;" class="text-truncate">{{ data_info_product.category.tCategoryName }}</td>
                  <td class="text-right">{{ (data_info_product.dVAT * 100) | number:'1.1-1' }}%</td>
                  <td class="text-right">{{ data_info_product.dCurrentUnits | number : '1.0-0' }}</td>
                  <td class="text-right">
                    {{ data_info_product.dVariableCost | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</td>
                  <td class="text-right">
                    {{ data_info_product.dCurrentPrice | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</td>
                  <td class="text-right">{{ (data_info_product.dAverageDiscount * 100) | number:'1.1-1' }}%</td>
                  <td *ngIf="bHideTrendOfVolumeInstalledCapacity" class="text-right">
                    {{ (data_info_product.dAnnualVolumeTrend * 100) | number : '1.1-1' }}%</td>
                  <td *ngIf="bHideTrendOfVolumeInstalledCapacity" class="text-right">
                    {{ data_info_product.dInstalledCapacity | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row pr-3 pl-3" *ngIf="layout_component_display == 'cards'">
          <div
            *ngFor="let data_info_product of list_products_information?.products | paginate: { id: 'server', itemsPerPage: numItemsPage, currentPage: currentPage, totalItems: totalItems }; let i = index;"
            class="mb-2 mt-2 p-0 col-xl-3 col-lg-4 col-md-4 col-sm-12 col-xs-12" id="pgp-card_list_{{i}}">
            <div style="background-color: transparent; padding: 10px;">
              <div class="m-0 pgp-card_head">
                <div class="d-inline-block pgp-content_title_card mt-1 mb-1 ml-2 mr-0">
                  <div class="row">
                    <div class="col-9">
                      <label
                        class="pgp-label-header-card text-left text-truncate pgp-card_label_title"><strong>{{ data_info_product.tProductName }}</strong></label>
                    </div>
                    <div class="col 3 text-right" style="padding-left: 8px; padding-right: 0px;">
                      <i class="fas fa-edit pgp-icon_card" nbTooltip="{{ DATA_LANG?.toolEdit.text }}"
                        nbTooltipPlacement="top"
                        (click)="showModalEditCategory(data_info_product, data_info_product.iIDProduct)"></i>&nbsp;&nbsp;
                      <i class="far fa-trash-alt pgp-icon_card" nbTooltip="{{ DATA_LANG?.toolDelete.text }}"
                        nbTooltipPlacement="top" (click)="fnDeleteCategories(data_info_product)"></i>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5 text-truncate">
                      <label class="pgp-label-header-card"><strong>{{ DATA_LANG_GENERAL?.colnProductCode.text }}:
                        </strong></label>
                    </div>
                    <div class="col-6 text-left">
                      <label class="pgp-label-header-card">{{ data_info_product.tProductCode }}</label>
                    </div>
                    <div class="col-5 text-truncate">
                      <label class="pgp-label-header-card"><strong>{{ DATA_LANG_GENERAL?.colnPricesList.text }}:
                        </strong></label>
                    </div>
                    <div class="col-6 text-left">
                      <label class="pgp-label-header-card">{{ data_info_product.priceList.tPriceListName }}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="m-0 pgp-card_body">
                <!-- <div class="row" style="line-height: 0.25rem !important;">
                  <div class="col-7">
                    <label class="p-2 m-0">Product code</label>
                  </div>
                  <div class="col-5 text-right text-truncate">
                    <label class="p-2 m-0">{{ data_info_product.tProductCode }}</label>
                  </div>
                </div> -->
                <!-- <div class="row" style="line-height: 0.25rem !important;">
                  <div class="col-7">
                    <label class="p-2 m-0">Prices list</label>
                  </div>
                  <div class="col-5 text-right text-truncate">
                    <label class="p-2 m-0">{{ data_info_product.priceList.tPriceListName }}</label>
                  </div>
                </div> -->
                <div class="row" style="line-height: 0.25rem !important;">
                  <div class="col-4">
                    <label class="p-2 m-0">{{ DATA_LANG_GENERAL?.colnCategory.text }}</label>
                  </div>
                  <div class="col-8 text-right text-truncate">
                    <label class="p-2 m-0">{{ data_info_product.category.tCategoryName }}</label>
                  </div>
                </div>
                <div class="row" style="line-height: 0.25rem !important;">
                  <div class="col-7">
                    <label class="p-2 m-0">{{ DATA_LANG?.prInColnVAT.text }}</label>
                  </div>
                  <div class="col-5 text-right">
                    <label class="p-2 m-0">{{ (data_info_product.dVAT * 100) | number : '1.1-1' }}%</label>
                  </div>
                </div>
                <div class="row" style="line-height: 0.25rem !important;">
                  <div class="col-7">
                    <label class="p-2 m-0">{{ DATA_LANG?.prInColnCurrentUni.text }}</label>
                  </div>
                  <div class="col-5 text-right">
                    <label class="p-2 m-0">{{ data_info_product.dCurrentUnits | number : '1.0-0' }}</label>
                  </div>
                </div>
                <div class="row" style="line-height: 0.25rem !important;">
                  <div class="col-7">
                    <label class="p-2 m-0">{{ DATA_LANG?.prInColnVarCost.text }}</label>
                  </div>
                  <div class="col-5 text-right">
                    <label
                      class="p-2 m-0">{{ data_info_product.dVariableCost | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                  </div>
                </div>
                <div class="row" style="line-height: 0.25rem !important;">
                  <div class="col-7">
                    <label class="p-2 m-0">{{ DATA_LANG?.prInColnCurrentPrice.text }}</label>
                  </div>
                  <div class="col-5 text-right">
                    <label
                      class="p-2 m-0">{{ data_info_product.dCurrentPrice | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                  </div>
                </div>
                <div class="row" style="line-height: 0.25rem !important;">
                  <div class="col-7">
                    <label class="p-2 m-0">{{ DATA_LANG?.prInColnAverageDisc.text }}</label>
                  </div>
                  <div class="col-5 text-right">
                    <label class="p-2 m-0">{{ (data_info_product.dAverageDiscount * 100) | number : '1.1-1' }}%</label>
                  </div>
                </div>
                <div class="row" *ngIf="bHideTrendOfVolumeInstalledCapacity" style="line-height: 0.25rem !important;">
                  <div class="col-7">
                    <label class="p-2 m-0" style="width: 194px;">{{ DATA_LANG?.prInColnVolTrend.text }}</label>
                  </div>
                  <div class="col-5 text-right">
                    <label
                      class="p-2 m-0">{{ (data_info_product.dAnnualVolumeTrend * 100) | number : '1.1-1' }}%</label>
                  </div>
                </div>
                <div class="row" *ngIf="bHideTrendOfVolumeInstalledCapacity" style="line-height: 0.25rem !important;">
                  <div class="col-7">
                    <label class="p-2 m-0" style="width: 194px;">{{ DATA_LANG?.prInColnInstalled.text }}</label>
                  </div>
                  <div class="col-5 text-right">
                    <label
                      class="p-2 m-0">{{ data_info_product.dInstalledCapacity | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="col-12" style="margin-right: -15px; margin-left: -35px;">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <div class="text-center" *ngIf="list_products_information?.products.length > 0">
              <pagination-controls (pageChange)="getPage($event)" id="server"
                previousLabel="{{ DATA_LANG_GENERAL?.previousPage.text }}"
                nextLabel="{{ DATA_LANG_GENERAL?.nextPage.text }}"></pagination-controls>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <div class="text-center pgp-font_paginator" *ngIf="list_products_information?.products.length > 0">
              <div class="text-right pgp-font_paginator">
                {{ DATA_LANG_GENERAL?.lbItemsShowed.text }}
                {{ (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) + 1 ) }} -
                {{ (list_products_information?.products.length
                  <= (currentPage * numItemsPage)) ? (list_products_information?.products.length) + (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) ) : (currentPage * numItemsPage) }}
                {{ DATA_LANG_GENERAL?.lbItemsOf.text }} {{ totalItems
                  }}
                <!-- Items showed {{ (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) + 1 ) }} - {{ (list_products_information?.products.length
                < (currentPage * numItemsPage)) ? list_products_information?.products.length : (currentPage * numItemsPage) }} of {{ totalItems
                  }} </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>