<div class="container">
    <div class="row">
      <div class="col-12">
        <nb-card class="font_family_roboto pgp-card_content">
          <nb-card-header class="font_family_roboto">{{ DATA_LANG?.lbTitleDelete.text }}</nb-card-header>
          <nb-card-body>
            <div class="container">
              <div class="row ml-0 mr-0">
                <form (submit)="fnSetDeleteGroup(id_group)" #deleteGroupForm="ngForm" aria-labelledby="title" style="width: 18rem;">
                  <div class="col-12 pl-0 pr-0" *ngIf="state_group">
                    <p class="mb-3 mt-1">{{ DATA_LANG?.lbConfirm.text }} <strong>"{{ name_group }}"</strong>? </p>
                  </div>
                  <div class="col-12 pl-0 pr-0" *ngIf="!state_group">
                    <p class="mb-3 mt-1">{{ DATA_LANG?.lbWarning.text }} <strong>"{{ name_group }}"</strong></p>
                  </div>
                  <button type="submit" class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" id="pgp-btn_delete_category"
                    nbButton [disabled]="!id_group || !state_group" [class.btn-pulse]="submitted" status="info">{{ DATA_LANG?.buttonDelete.text }}</button>
                  &nbsp;&nbsp;&nbsp;
                  <button class="pgp-pointer font_family_roboto" type="button" id="pgp-btn_cancel_delete_category" nbButton [class.btn-pulse]="submitted"
                    (click)="fnCancelDeleteGroup()" status="danger">{{ DATA_LANG?.buttonCancel.text }}</button>
                </form>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>