<div class="row pgp-backgroud_layout font_family_roboto pr-4">
  <div class="col-12">
    <div class="row">
      <div class="col-12 m-3">
        <div class="row">
          <div class="col-12">
            <img class="d-inline float-left" src="../../../assets/images/imgs/information.png" height="20">
            <p class="d-inline pl-2 mb-3 mt-3 pgp-description-color">{{ DATA_LANG?.pivotTlbDesc.text }}</p>
          </div>
        </div>
      </div>
      <div class="col-12 ml-3 mr-3" *ngIf="true">
        <div class="row">        
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-lg-right text-xl-right text-md-center text-sm-center">
            <button class="btn btn-primary m-1 pgp-btns_actions" (click)="fieldsData()">{{ DATA_LANG?.buttonFields.text }}</button>
            <button class="btn btn-primary m-1 pgp-btns_actions" (click)="exportData('excel')">{{ DATA_LANG_GENERAL?.buttonExport.text }}</button>
            <button class="btn btn-primary m-1 pgp-btns_actions" (click)="saveData()">{{ DATA_LANG_GENERAL?.buttonSave.text }}</button>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-3">
        <div style="width: 100%;overflow: auto; z-index: 1;" [nbSpinner]="loading">
          <wbr-pivot #pivot1 [toolbar]="true" [width]="'100%'" [height]="500" [customizeCell]="onCustomizeCell" (ready)="onPivotReady($event)"
            (reportcomplete)="onReportComplete()" (beforetoolbarcreated)="onCustomizeToolbar($event)">
          </wbr-pivot>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>