<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto pgp-card_content">
        <nb-card-header class="font_family_roboto">{{ DATA_LANG?.rProdTMElbTittle.text }}</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <form (ngSubmit)="fnUpdateDataMarketPrices(obj_form_market)" #editmarketpriceValueForm="ngForm" aria-labelledby="title" style="min-width: 500px; max-width: 500px;">
                <div class="col-12 pl-0 pr-0">
                  <div class="form-group">
                    <label style="font-weight: bold;">{{ DATA_LANG?.rProdTMElbProCode.text }}: {{obj_form_market.tProductCode}}</label>
                    <br>
                    <label style="font-weight: bold;">{{ DATA_LANG?.rProdTMElbProName.text }}: {{obj_form_market.tProductName}}</label>
                    <br>
                    <label style="font-weight: bold;">{{ DATA_LANG?.rProdTMElbPList.text }}: {{obj_form_market.tPriceListName}}</label>
                  </div>
                  <div class="form-group">
                    <label for="pgp-market_prices_Disbursement">{{ DATA_LANG?.rProdTMElbFrequency.text }}: </label>
                    <ng-select [items]="list_rating_produc_type_collection" bindLabel="tProductTypeName" [(ngModel)]="obj_form_market.ptRoleCategory"
                      [clearable]="false" [ngModelOptions]="{standalone: true}"></ng-select>
                  <div style="text-align:justify; width: 500px;">{{ DATA_LANG?.rProdTMElbFrequencyDesc.text }}</div>
                  </div>
                  <div class="form-group">
                    <label for="pgp-market_prices_Category">{{ DATA_LANG?.rProdTMElbDist.text }}: </label>
                    <ng-select [items]="list_rating_produc_type_collection" bindLabel="tProductTypeName" [(ngModel)]="obj_form_market.ptDisbursement"
                      [clearable]="false" [ngModelOptions]="{standalone: true}"></ng-select>
                  <div style="text-align:justify; width: 500px;">{{ DATA_LANG?.rProdTMElbDistDesc.text }}</div>
                  </div>
                  <button type="submit" class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" id="pgp-btn_save_new_market_prices"
                    [class.btn-pulse]="submitted" status="info">{{ DATA_LANG?.rProdTMEButtonSave.text }}</button>
                  &nbsp;&nbsp;&nbsp;
                  <button class="pgp-pointer font_family_roboto" type="button" id="pgp-btn_cancel_save_new_market_prices_data" nbButton [class.btn-pulse]="submitted"
                    (click)="fnCancelEditMarketPrices()" status="danger">{{ DATA_LANG?.rProdTMEButtonCancel.text }}</button>
                </div>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>