<div class="row pgp-backgroud_layout font_family_roboto pr-4" [nbSpinner]="loadingChart">
  <div class="col-12">
    <div class="row">
      <div class="col-12 m-3">
        <img class="d-inline float-left" src="../../../assets/images/imgs/information.png" height="20">
        <p class="d-inline pl-2 mb-3 mt-3 pgp-description-color">{{ DATA_LANG?.eProdDesc.text }}</p>
      </div>
      <div class="col-12 ml-3 mr-3">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="row m-1" style="margin-left: 0 !important">
              <div class="col-6 pl-0">
                <input (input)="fnFilterElasticityProduct(list_elasticity_product, search_input);" fullWidth nbInput [(ngModel)]="search_input"
                  #search_Market_prices="ngModel" class="pgp-text_input_search form-control d-inline-block" id="pgp-input_Market_prices"
                  name="Market_prices" type="text" placeholder="{{ DATA_LANG_GENERAL?.tbSearch.text }}">
                <i class="fas fa-search pgp-icon_input_search"></i>
              </div>
              <div class="col-auto p-0">
                <button *ngIf="true" class="btn btn-primary pgp-btn_advance_search font_family_roboto" 
                (click)="showModalAdvancedSearchElasticityProduct(obj_elasticity_product)"
                style="display: inline-block; width: 180px !important;">{{ DATA_LANG_GENERAL?.buttonAdvanceSearch.text }}</button>
                <div style="display: inline-block; margin: 0px 10px;" *ngIf="items_filtered_advance_search.category?.length > 0 || 
                    items_filtered_advance_search.products?.length > 0 ||
                    items_filtered_advance_search.priceList?.length > 0 || 
                    items_filtered_advance_search.tProductsType?.length > 0 || 
                    items_filtered_advance_search.dMarkElasticity?.dMin ||
                    items_filtered_advance_search.dMarkElasticity?.dMax ||
                    search_input?.length > 0">
                  <label class="p-0 pgp-label_clear_all" (click)="fnClearAllFiltersSearch(); fnFilterElasticityProduct(list_elasticity_product, search_input);">{{ DATA_LANG_GENERAL?.lbClearAll.text }}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-lg-right text-xl-right text-md-center text-sm-center">
            <div class="btn btn-primary m-1 pgp-btns_actions pgp-height_3_rem" style="position: relative">
              <label for="file" class="pgp-pointer">{{ DATA_LANG_GENERAL?.buttonImport.text }}</label>
              <input [(ngModel)]="file_import_input" type="file"  class="pgp-input_import"  id="file" (change)="handleFileInput($event.target.files)">
            </div>
            <button class="btn btn-primary m-1 pgp-btns_actions" (click)="fnExportElasticityProduct()">{{ DATA_LANG_GENERAL?.buttonExport.text }}</button>
            <button class="btn btn-primary m-1 pgp-btns_actions" (click)="fnDeleteAllElasticityProduct(obj_elasticity_product)">{{ DATA_LANG?.eProdButtonRestore.text }}</button>
          </div>
        </div>
      </div>
      <br>
      <div class="col-12 ml-3 mr-3" *ngIf="true">
        <div class="row">
          <div class="col-10">
            <div class="d-inline-block">
              <span *ngIf="items_filtered_advance_search.products?.length > 0">
                <span *ngFor="let item_product of items_filtered_advance_search.products; let i = index;">
                  <a class="badge pgp-badge-color">
                    {{ item_product.tProductCode + ' - ' + item_product.tProductName}}
                    <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveItemSearchFilteredAdvanced(i, items_filtered_advance_search.products);"></i>
                  </a>&nbsp;&nbsp;
                </span>
              </span>
              <span *ngIf="items_filtered_advance_search.priceList?.length > 0">
                <span *ngFor="let item_categories of items_filtered_advance_search.priceList; let ind_pl = index;">
                  <a class="badge pgp-badge-color">
                    {{ item_categories.tPriceListName }}
                    <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveItemSearchFilteredAdvanced(ind_pl, items_filtered_advance_search.priceList);"></i>
                  </a>&nbsp;&nbsp;
                </span>
              </span>
              <span *ngIf="items_filtered_advance_search.category?.length > 0">
                <span *ngFor="let item_categories of items_filtered_advance_search.category; let ind_pl = index;">
                  <a class="badge pgp-badge-color">
                    {{ item_categories.tCategoryName }}
                    <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveItemSearchFilteredAdvanced(ind_pl, items_filtered_advance_search.category);"></i>
                  </a>&nbsp;&nbsp;
                </span>
              </span>
              <span *ngIf="items_filtered_advance_search.tProductsType?.length > 0">
                <a class="badge pgp-badge-color">
                  {{ DATA_LANG?.eProdBadgeProdType.text }}: {{ items_filtered_advance_search.tProductsType }}
                  <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveProductsType();"></i>
                </a>&nbsp;&nbsp;
              </span>
              <a class="badge pgp-badge-color" *ngIf="items_filtered_advance_search.dMarkElasticity?.dMin || items_filtered_advance_search.dMarkElasticity?.dMax">
                {{ DATA_LANG?.eProdBadgeMarkElast.text }}: min = {{ items_filtered_advance_search.dMarkElasticity?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dMarkElasticity?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgeMarkElasticity();"></i>
              </a>&nbsp;&nbsp;
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-3">
        <div style="width: 100%; overflow-y: auto;" *ngIf="layoud_component_display == 'grid'">
          <table class="table table-bordered pgp-table">
            <thead>
              <tr>
                <th colspan="2"></th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 160px;">
                    {{ DATA_LANG_GENERAL?.colnProductCode.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.eProdColnProductCodeTooltipTittle.text,DATA_LANG?.eProdColnProductCodeTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_name_column" (click)="sortColumn('tProductCode')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div>
                    {{ DATA_LANG_GENERAL?.colnProductName.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.eProdColnProductNameTooltipTittle.text,DATA_LANG?.eProdColnProductNameTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tProductName')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 150px;">
                    {{ DATA_LANG_GENERAL?.colnPricesList.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.eProdColnPricesListTooltipTittle.text,DATA_LANG?.eProdColnPricesListTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tPriceListName')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div class="w-100">
                    {{ DATA_LANG?.eProdColnProductType.text }}
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tProductTypeName')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div class="w-100">
                    {{ DATA_LANG?.eProdColnMarkElast.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.eProdColnMarkElastTooltipTittle.text,DATA_LANG?.eProdColnMarkElastTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dMarkElasticity')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data_elasticity_product of list_elasticity_product | paginate: { id: 'server', itemsPerPage: numItemsPage, currentPage: currentPage, totalItems: totalItems }; let i = index;">
                <td class="pgp-table-actions">
                  <i class="fas fa-edit pgp-pointer" nbTooltip="{{ DATA_LANG?.eProdtoolEdit.text }}" nbTooltipPlacement="top" (click)="showModalEditElasticityProduct(data_elasticity_product)"></i>
                </td>
                <td class="pgp-table-actions">
                  <i class="fas fa-undo pgp-pointer" nbTooltip="{{ DATA_LANG?.eProdtoolDelete.text }}" nbTooltipPlacement="top" (click)="fnDeleteElasticityProduct(data_elasticity_product)"></i>
                </td>
                <td class="text-left" style="width: 150px;">
                  <div class="d-inline-block text-truncate">
                    {{ data_elasticity_product.tProductCode }}
                  </div>
                </td>
                <td class="text-left" style="width: 200px;">
                  <div class="d-inline-block text-truncate">
                    {{ data_elasticity_product.tProductName }}
                  </div>
                </td>
                <td class="text-left" style="width: 150px;">
                  <div class="d-inline-block text-truncate">
                    {{ data_elasticity_product.tPriceListName }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 110px;">
                    {{ data_elasticity_product.tProductType}}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 110px;">
                    {{ data_elasticity_product.dMarkElasticity | number:'1.2-2' }}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <div class="col-12" style="margin-right: -15px; margin-left: -35px;">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <div class="text-center" *ngIf="list_elasticity_product.length > 0">
              <pagination-controls (pageChange)="getPage($event)" id="server" previousLabel="{{ DATA_LANG_GENERAL?.previousPage.text }}" nextLabel="{{ DATA_LANG_GENERAL?.nextPage.text }}"></pagination-controls>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <div class="text-center pgp-font_paginator" *ngIf="list_elasticity_product.length > 0">
              <div class="text-right pgp-font_paginator" *ngIf="list_elasticity_product.length > 0">
                {{ DATA_LANG_GENERAL?.lbItemsShowed.text }} {{ (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) + 1 ) }} - {{ (list_elasticity_product.length
                    <= (currentPage * numItemsPage)) ? (list_elasticity_product.length) + (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) ) : (currentPage * numItemsPage) }} {{ DATA_LANG_GENERAL?.lbItemsOf.text }} {{ totalItems }}
                <!-- Items showed {{ (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) + 1 ) }} - {{ (list_elasticity_product.length
                < (currentPage * numItemsPage)) ? list_elasticity_product.length : (currentPage * numItemsPage) }} of {{ totalItems }}  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>