@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

    .flex-centered {
      margin: auto;
    }
    
    nb-card-body {
      display: flex;
      max-height: 80vh;
      min-height: 78vh;
    }
  
    button:focus { outline:0; }
    
    .title {
      text-align: center;
    }
  
    .font_family_roboto {
      font-family: 'Roboto';
    }
  
    .font_family_exo {
      font-family: 'roboto';
    }
    
    .pgp-backgroud_layout {
      background-color: #FFF;
      min-height: 83vh;
      z-index: 1
    }
  
    ::ng-deep .pgp-pointer {
      cursor: pointer;
    }
    
    .pgp-pointer {
      cursor: pointer;
    }

    .pgp-badge-color{
      color: #fff !important;
      background-color: nb-theme(pgp-color-11);
      font-size: smaller !important;
      text-transform: none;
    }
   
    .pgp-badge-icon{
      font-size: 10px;
    }
   
    .pgp-table {
      color: nb-theme(pgp-color-black);
    }
   
    .pgp-table-actions{
      width: 35px;
    }
   
    ::ng-deep .pgp-icon-sort{
      float: right !important;
    }
   
    ::ng-deep .pgp-pagin{
      width: 20%;
      margin: auto;
    }
   
    ::ng-deep .pgp-pagin-color{
      color: nb-theme(pgp-color-black);
    }

  /* ********** - ********** */
  .pgp-btns_actions {
    background-color: nb-theme(pgp-color-1);
    text-transform: none;
    cursor: pointer;
    height: 41px;
    font-family: 'Roboto';
    width: nb-theme(pgp-width-btn-crud); 
  }
  
  .pgp-btn_advance_search {
    background-color: nb-theme(pgp-color-11);
    text-transform: none;
    cursor: pointer;
  }

  .pgp-btn_advance_search:active:focus {
    background-color: nb-theme(pgp-color-3);
  }
  
  .pgp-btns_actions:active:focus {
    background-color: nb-theme(pgp-color-3);
  }

  .pgp-text_input_search {
    height: 3rem;
    margin: auto;
    outline: none;
    background-color: #ffffff;
  }

  .pgp-text_input_search:focus {
    border-color: nb-theme(pgp-color-1);
  }

  .pgp-icon_input_search {
    position: absolute;
    margin-top: 1rem;
    margin-left: -2rem;
  }

  .pgp-height_3_rem {
    height: 3rem !important;
  }

  .pgp-font_paginator {
    font-size: 1rem;
  }

  /deep/ a:hover {
    color: nb-theme(pgp-color-1);
  }
  
  /deep/ a:focus {
    color: nb-theme(pgp-color-1);
  }


  ::ng-deep .ng-select.ng-select-single .ng-select-container {
    height: 41px;
  }

  ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input {
      line-height: 1.8;
  }


  .pgp-label_select_categories{
    margin: 11px 0px !important;
  }

  .pgp-description-color{
    color: #5e5d5d;
  }
  
  .pgp-label_clear_all{
    margin: 11px 0px !important;
    color: nb-theme(pgp-color-2);
    cursor: pointer;
  }

  /* ********** START - css content layout pulse and empty data ********** */
  .pgp-empty_data_layout{
    text-align: center;
    margin: 5rem !important;
    color: nb-theme(pgp-color-11);
  }

  .pgp-label_not_found_data{
    font-size: 7rem;
  }

  .pgp-pulse_layout_loading {
    // height: 100px;
    height: 50vh;
    background-color: #f1efef;
    width: 100%;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
  }

  .pgp-pulse_animation {
    animation: pulse 1s infinite ease-in-out;
  }

  @keyframes pulse {
    0% {
        background-color: rgba(165, 165, 165, 0.1);
    }
    50% {
        background-color: rgba(165, 165, 165, 0.3);
    }
    100% {
        background-color: rgba(165, 165, 165, 0.1);
    }
  }
  /* *********** END - css content layout pulse and empty data *********** */
  /* ********** - ********** */

  .pgp-card_first_content {
    min-height: 3rem;
    max-height: 3rem;
    background-color: #fff;
    text-align: center;
    color: black;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #dfdfdf;
  }
  
  .pgp-card_second_content {
    min-height: 3rem;
    max-height: 3rem;
    background-color: #fff;
    border-radius: 0px;
    border: 1px solid #dfdfdf;
  }
  
  .pgp-card_third_content {
    min-height: 3rem;
    max-height: 3rem;
    background-color: #fff;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #dfdfdf;
  }

  .pgp-Scoring{
    color: black;
  }

  .pgp-input_import{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

}