<div class="row pgp-backgroud_layout font_family_roboto pr-4" [nbSpinner]="loadingChart">
  <div class="col-12">
    <div class="row">
      <div class="col-12 m-3">
        <img class="d-inline" src="../../../assets/images/imgs/information.png" height="15">
        <p class="d-inline pl-2 mb-3 mt-3 pgp-description-color">{{ DATA_LANG?.PerVSLbDesc.text }}</p>
      </div>
      <br>
      <div class="col-12 ml-3 mr-3">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="row m-1" style="margin-left: 0 !important">
              <div class="col-3" *ngIf="false">
                <ng-select (change)="fnGetDataListPerceivedValueQualifications(data_category_select)" [clearable]="false" [(ngModel)]="data_category_select"
                  [ngModelOptions]="{standalone: true}" placeholder="Select category">
                  <ng-option *ngFor="let item_category of list_categories_collection" [value]="item_category" [disabled]="item_category.disabled">{{item_category.tCategoryName}}</ng-option>
                </ng-select>
              </div>
              <div class="col-6 pl-0">
                <input (input)="fnFilterRatingPersivedValue(list_perceived_value_qualifications, search_input);" fullWidth nbInput [(ngModel)]="search_input"
                  #search_category="ngModel" class="pgp-text_input_search form-control d-inline-block" id="pgp-input_category_name"
                  name="category_name" type="text" placeholder="{{ DATA_LANG_GENERAL?.tbSearch.text }}">
                <i class="fas fa-search pgp-icon_input_search"></i>
              </div>
              <div class="col-auto p-0">
                <button *ngIf="true" 
                [disabled]="(layout_state == 'show_loading_layout' || layout_state == 'show_empty_data_layout') ? true : false"
                class="btn btn-primary pgp-btn_advance_search font_family_roboto w-100" 
                (click)="showModalAdvancedSearchRatingPerceived(obj_category)"
                style="display: inline-block; width: 180px !important;">{{ DATA_LANG_GENERAL?.buttonAdvanceSearch.text }}</button>
                  <div style="display: inline-block; margin: 0px 10px;" 
                  *ngIf="object_filter.competitors.length > 0 ||
                    object_filter.iMinWeightCompetitor != null ||
                    object_filter.iMinCompetitorQualification != null ||
                    search_input?.length > 0">
                    <label class="p-0 pgp-label_clear_all" (click)="fnClearAllFiltersSearch(); fnFilterRatingPersivedValue(list_perceived_value_qualifications, search_input);">{{ DATA_LANG_GENERAL?.lbClearAll.text }}</label>
                  </div>
                </div>   
            </div>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-lg-right text-xl-right text-md-center text-sm-center">
            <button class="btn btn-primary m-1 pgp-btns_actions" (click)="showModalAddCategory(obj_category)">{{ DATA_LANG_GENERAL?.buttonCreate.text }}</button>
            <div class="btn btn-primary m-1 pgp-btns_actions pgp-height_3_rem" style="position: relative">
              <label for="file" class="pgp-pointer">{{ DATA_LANG_GENERAL?.buttonImport.text }}</label>
              <input [(ngModel)]="file_import_input" type="file"  class="pgp-input_import"  id="file" (change)="handleFileInput($event.target.files)">
            </div>
            <button class="btn btn-primary m-1 pgp-btns_actions" (click)="fnExportCategories()">{{ DATA_LANG_GENERAL?.buttonExport.text }}</button>
            <button class="btn btn-primary m-1 pgp-btns_actions" (click)="fnDeleteAllCategories(obj_category)">{{ DATA_LANG_GENERAL?.buttonDelete.text }}</button>
          </div>
        </div>
      </div>
      <br>
      <!-- ********** START - Div content badges filter advance search ********** -->
      <div class="col-12 ml-3 mr-3" *ngIf="true">
        <div class="row ml-1">
          <div class="d-inline-block">
            <span *ngIf="object_filter.competitors.length > 0">
              <span *ngFor="let item_competitor of object_filter.competitors; let i = index;">
                <a class="badge pgp-badge-color">
                  {{ item_competitor.tCompetitorName }}
                  <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveItemSearchFilteredAdvanced(i, object_filter.competitors);"></i>
                </a>&nbsp;&nbsp;
              </span>
            </span>
            <a class="badge pgp-badge-color" *ngIf="object_filter.iMinWeightCompetitor || object_filter.iMaxWeightCompetitor">
              {{ DATA_LANG?.perVSBadgeWeight.text }}: min = {{ object_filter.iMinWeightCompetitor }} - max = {{ object_filter.iMaxWeightCompetitor }}
              <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveWightSearchFilteredAdvanced();"></i>
            </a>&nbsp;&nbsp;
            <a class="badge pgp-badge-color" *ngIf="object_filter.iMinCompetitorQualification || object_filter.iMaxCompetitorQualification">
              {{ DATA_LANG?.perVSBadgeQualification.text }}: min = {{ object_filter.iMinCompetitorQualification }} - max = {{ object_filter.iMaxCompetitorQualification
              }}
              <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveQualificationSearchFilteredAdvanced();"></i>
            </a>

          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="row">
              <div class="col-5 ml-3">
                <div class="row">
                  <div class="col-3 p-0 pgp-card_first_content">
                    <i class="fas fa-edit pgp-pointer m-3" nbTooltip="Edit" nbTooltipPlacement="top" (click)="showModalEditQualification(obj_scoring)"></i>
                  </div>
                  <div class="col-6 p-0 pgp-card_second_content">
                    <div class="text-center">
                      <h6 class="d-inline-block m-3 font_family_roboto"> {{ DATA_LANG?.perVSMyScore.text }}</h6>
                    </div>
                  </div>
                  <div class="col-3 p-0 pgp-card_third_content">
                    <div class="text-center m-3 pgp-Scoring">
                      {{categoryScoring}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="row">
              <div class="d-inline-block col text-right">
                <label class="p-0 m-0 pgp-label_select_categories" for="pgp-select_categories">{{ DATA_LANG?.perVSLbSelectCategory.text }}: </label>
              </div>
              <div class="d-inline-block col">
                <ng-select id="pgp-select_categories" (change)="fnGetDataListPerceivedValueQualifications(data_category_select)" [clearable]="false"
                  [(ngModel)]="data_category_select" [ngModelOptions]="{standalone: true}" placeholder="{{ DATA_LANG?.perVSLbSelectCategory.text }}">
                  <ng-option *ngFor="let item_category of list_categories_collection" [value]="item_category" [disabled]="item_category.disabled">{{item_category.tCategoryName}}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- *********** END - Div content badges filter advance search *********** -->
      <br>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-3">

        <!-- ********** START - Div content layout table loadgin ********** -->
        <div class="pgp-pulse_layout_loading pgp-pulse_animation" *ngIf="false">
          <table class="table table-bordered pgp-table">
            <thead>
              <tr>
                <th colspan="2"></th>

                <th scope="col" class="text-left" id="thead_jobTitle" style="width: 40% !important;cursor: pointer;">
                  <div style="height: 20px; background-color: #f9f8f8; display: inline-block; width: 100%; text-align: center;">
                    <span style="color: #ccc; text-align: center;"></span>
                  </div>
                </th>
                <th scope="col" class="text-left" id="thead_jobTitle" style="width: 60% !important;cursor: pointer;">
                  <div style="height: 20px; background-color: #f9f8f8; display: inline-block; width: 100%; text-align: center;">
                    <span style="color: #ccc; text-align: center;"></span>
                  </div>
                </th>
              </tr>
            </thead>
          </table>
          <div class="m-3">
            <div style="margin: 10px 0px; height: 20px; background-color: #f9f8f8; display: inline-block; width: 100%; text-align: center;">
              <span style="color: #ccc; text-align: center;"></span>
            </div>
            <div style="margin: 10px 0px; height: 20px; background-color: #f9f8f8; display: inline-block; width: 100%; text-align: center;">
              <span style="color: #ccc; text-align: center;"></span>
            </div>
            <div style="margin: 10px 0px; height: 20px; background-color: #f9f8f8; display: inline-block; width: 100%; text-align: center;">
              <span style="color: #ccc; text-align: center;"></span>
            </div>
            <div style="margin: 10px 0px; height: 20px; background-color: #f9f8f8; display: inline-block; width: 100%; text-align: center;">
              <span style="color: #ccc; text-align: center;"></span>
            </div>
            <div style="margin: 10px 0px; height: 20px; background-color: #f9f8f8; display: inline-block; width: 100%; text-align: center;">
              <span style="color: #ccc; text-align: center;"></span>
            </div>
            <div style="margin: 10px 0px; height: 20px; background-color: #f9f8f8; display: inline-block; width: 100%; text-align: center;">
              <span style="color: #ccc; text-align: center;"></span>
            </div>
            <div style="margin: 10px 0px; height: 20px; background-color: #f9f8f8; display: inline-block; width: 100%; text-align: center;">
              <span style="color: #ccc; text-align: center;"></span>
            </div>
            <div style="margin: 10px 0px; height: 20px; background-color: #f9f8f8; display: inline-block; width: 100%; text-align: center;">
              <span style="color: #ccc; text-align: center;"></span>
            </div>
          </div>
        </div>
        <!-- *********** END - Div content layout table loadgin *********** -->
        <!-- ********** START - Div main content data table - Categories ********** -->
        <table class="table table-bordered pgp-table" *ngIf="layout_state == 'show_table_layout'">
          <thead>
            <tr>
              <th colspan="2"></th>

              <th scope="col" class="text-left" id="thead_jobTitle" style="width: 20% !important;cursor: pointer;">{{ DATA_LANG?.perVSColNCompetitor.text }}
                <span>
                  <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.perVSToolTipCompetitorLbTile.text, DATA_LANG?.perVSToolTipCompetitorLbDesc.text)"></i>
                </span>
                <span id="pgp-icon_complementary_relation_name_column" (click)="sortColumn('tCompetitorName')" class="float-right">
                  <i class="fas fa-long-arrow-alt-up"></i>
                  <i class="fas fa-long-arrow-alt-down"></i>
                </span>
              </th>
              <th scope="col" class="text-left" id="thead_jobTitle" style="width: 30% !important;cursor: pointer;">{{ DATA_LANG?.perVSColNComment.text }}
                <span>
                  <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.perVSToolTipCommentLbTile.text,DATA_LANG?.perVSToolTipCommentLbDesc.text)"></i>
                </span>
                <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tComment')" class="float-right">
                  <i class="fas fa-long-arrow-alt-up"></i>
                  <i class="fas fa-long-arrow-alt-down"></i>
                </span>
              </th>
              <th scope="col" class="text-left" id="thead_jobTitle" style="width: 25% !important;cursor: pointer;">{{ DATA_LANG?.perVSColNWeightComp.text }} (min=1 - max=5)
                <span>
                  <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.perVSToolTipWeightCompLbTile.text,DATA_LANG?.perVSToolTipWeightCompLbDesc.text)"></i>
                </span>
                <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('iWeightCompetitor')" class="float-right">
                  <i class="fas fa-long-arrow-alt-up"></i>
                  <i class="fas fa-long-arrow-alt-down"></i>
                </span>
              </th>
              <th scope="col" class="text-left" id="thead_jobTitle" style="width: 25% !important;cursor: pointer;">{{ DATA_LANG?.perVSColNScore.text }} (min=1 - max=9)
                <span>
                  <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open( DATA_LANG?.perVSToolTipScoreLbTile.text,DATA_LANG?.perVSToolTipScoreLbDesc.text)"></i>
                </span>
                <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('iCompetitorQualification')" class="float-right">
                  <i class="fas fa-long-arrow-alt-up"></i>
                  <i class="fas fa-long-arrow-alt-down"></i>
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data_rating_perceived of list_perceived_value_qualifications | paginate: { itemsPerPage: numItemsPage, currentPage: currentPage }; let i = index;">
              <td class="pgp-table-actions">
                <i class="fas fa-edit pgp-pointer" nbTooltip="{{ DATA_LANG?.toolTEdit.text }}" nbTooltipPlacement="top" (click)="showModalEditCategory(data_rating_perceived, data_rating_perceived.iIDCategory)"></i>
              </td>
              <td class="pgp-table-actions">
                <i class="far fa-trash-alt pgp-pointer" nbTooltip="{{ DATA_LANG?.toolTDelete.text }}" nbTooltipPlacement="top" (click)="fnDeleteRatingsValuePerceived(data_rating_perceived)"></i>
              </td>
              <td>{{ data_rating_perceived.competitor.tCompetitorName }}</td>
              <td>{{ data_rating_perceived.tComment }}</td>
              <td>{{ data_rating_perceived.iWeightCompetitor }}</td>
              <td>{{ data_rating_perceived.iCompetitorQualification }}</td>
            </tr>
          </tbody>
        </table>
        <!-- *********** END - Div main content data table - Categories *********** -->
        <!-- ********** START - Div content layout table loadgin ********** -->
        <div class="pgp-empty_data_layout" *ngIf="false">
          <div class="m-3">
            <i class="fas fa-exclamation-triangle pgp-label_not_found_data"></i>
            <br>
            <small>Not found data</small>
          </div>
        </div>
        <!-- *********** END - Div content layout table loadgin *********** -->
      </div>
      <br>
      <div class="col-12" style="margin-right: -15px; margin-left: -35px;">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <div class="text-center" *ngIf="list_perceived_value_qualifications?.length > numItemsPage">
              <pagination-controls (pageChange)="currentPage = $event" previousLabel="{{ DATA_LANG_GENERAL?.previousPage.text }}" nextLabel="{{ DATA_LANG_GENERAL?.nextPage.text }}"></pagination-controls>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <div class="text-center pgp-font_paginator" *ngIf="list_perceived_value_qualifications?.length > 0">
              <div class="text-right pgp-font_paginator">
                {{ DATA_LANG_GENERAL?.lbItemsShowed.text }} {{ (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) + 1 ) }} - {{ (list_perceived_value_qualifications.length
                < (currentPage * numItemsPage)) ? list_perceived_value_qualifications.length : (currentPage * numItemsPage) }} {{ DATA_LANG_GENERAL?.lbItemsOf.text }} {{ list_perceived_value_qualifications.length
                  }} </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>