<nb-card class="font_family_roboto">
  <nb-card-header class="font_family_roboto">{{ DATA_LANG?.lbAddProject.text }}</nb-card-header>
  <nb-card-body>
    <div class="container">
      <div class="row ml-0 mr-0">
        <form (ngSubmit)="fnAddProject(project)" #addProjectForm="ngForm" aria-labelledby="title" >
          <div class="col-12 pl-0 pr-0">
            <div class="form-group">
              <label for="pgp-input_project_name">{{ DATA_LANG?.lbProjectName.text }}</label> 
              <input 
                  nbInput 
                  [(ngModel)]="project.tProjectName" 
                  #projectName="ngModel" 
                  id="pgp-input_project_name" 
                  name="project_name" 
                  autofocus 
                  fullWidth 
                  type="text" 
                  status="info" 
                  class="form-control"
                  placeholder="{{ DATA_LANG?.tbProjectName.text }}"
                  style="height: 45px;">
            </div>
          </div>
          <button 
            type="submit" 
            class="btn btn-primary pgp-btn_success pgp-pointer font_family_roboto" 
            id="pgp-btn_save_project" 
            nbButton 
            [disabled]="!project.tProjectName"
            [class.btn-pulse]="submitted"
            status="info">{{ DATA_LANG?.buttonSave.text }}</button>
          &nbsp;&nbsp;&nbsp;
          <button class="pgp-pointer font_family_roboto" 
            type="button" 
            id="pgp-btn_cancel_save_project"
            nbButton
            [class.btn-pulse]="submitted"
            (click)="fnCancelSaveProject()"
            status="danger">{{ DATA_LANG?.buttonCancel.text }}</button>
        </form>
      </div>
    </div>
  </nb-card-body>
</nb-card>
