<!-- <p>
  base works!
</p> -->
<div class="container-fliud pgp-backgroud_layout font_family_roboto mt-2 pr-4">
  <div class="col-12 m-3 pl-3 pt-3">
    <div class="row mt-2 mb-4" style="margin-left: 7% !important;">
      <div class="col-6">
        <h2 class="font_family_exo" style="color: #06A7E2;">Notifications</h2>
      </div>
      <div class="col-3 pl-0"  style="margin-left: 15% !important;">
        <input (input)="fnFilterNotifications(notifications_collection, search_input);" fullWidth nbInput [(ngModel)]="search_input"
          #search_category="ngModel" class="pgp-text_input_search form-control d-inline-block"
          id="pgp-input_category_name" name="category_name" type="text" placeholder="Search">
        <i class="fas fa-search pgp-icon_input_search"></i>
      </div>
    </div>
    <div class="row"
      *ngFor="let notifications_list of notifications_collection | paginate: { itemsPerPage: numItemsPage, currentPage: currentPage }; let i = index">
      <div class="col-10" style="margin-left: 8%;">
        <div class="col col-lg-12 col-md-12 mt-1 p-0">
          <div class="card"
            [ngClass]="{ 'pgp-card_border_ok': notifications_list.iIDStateMachine == 12, 'pgp-card_border_warning': notifications_list.iIDStateMachine == 14, 'pgp-card_border_error': notifications_list.iIDStateMachine == 13, 'pgp-card_border_runing': notifications_list.iIDStateMachine == 15 }">
            <div class="row p-0 m-0">
              <div class="col-6 p-0">
                <i class="pgp-conten-icon fas "
                  [ngClass]="{ 'fa-check-circle pgp-icon_blue': notifications_list.iIDStateMachine == 12, 'fa-exclamation-triangle pgp-icon_warning': notifications_list.iIDStateMachine == 14, 'fa-times-circle pgp-icon_red' : notifications_list.iIDStateMachine == 13, 'fa-sync-alt pgp-icon_runing': notifications_list.iIDStateMachine == 15}"></i>
                <h5 class="pgp-card_title d-inline text-truncate font_family_roboto">
                  {{ notifications_list.tNotificationDesc }}</h5>
              </div>
              <div class="col-6 p-0">
                <h6 class="pgp-card_title d-inline-block text-right font_family_roboto pr-3" style="margin-top: 29px;">
                  {{ notifications_list.dtCreatedDate | date: 'MM/dd/yy h:mm a' }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <pre *ngIf="false">
            {{ notifications_collection.length }}
        </pre>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        <div class="text-center pgp-font_paginator" *ngIf="notifications_collection?.length > numItemsPage">
          <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>