@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

    .pgp-title_item_list {
        display: inline-block;
    }

    .flex-centered {
        margin: auto;
      }
      nb-card-body {
        display: flex;
        max-height: 80vh;
        min-height: 78vh;
      }
    
      .pgp-table {
        color: black;
      }

      button:focus {outline:0;}
      
      .title {
        text-align: center;
      }
    
      .font_family_roboto {
        font-family: 'Roboto';
      }

      .font_family_exo {
        font-family: 'exo';
      }

      .pgp-backgroud_layout {
        background-color: #FFF;
        min-height: 83vh;
      }

    .pgp-active_item_list {
        background-color: #F9F9F9;
        border-right: 3px solid #156282 !important;
      }

      .pgp-pointer {
        cursor: pointer;
      }

      .pgp-icon_input_search {
        position: absolute;
        margin-top: 1rem;
        margin-left: -2rem;
      }

      .pgp-text_input_search {
        height: 3rem;
        margin: auto;
        outline: none;
        background-color: #ffffff;
      }
    
      .pgp-text_input_search:focus {
        border-color: nb-theme(pgp-color-1);
      }

      .cardsMenus {
        height: 5rem;
        width: 100%;
        border-radius: 5px;
       }

       .pgp-card_border_ok{
        border-left: 13px solid !important;
        border-left-color: #06a7e2 !important;
       }

       .pgp-card_border_warning{
        border-left: 13px solid !important;
        border-left-color: #F79420 !important;
       }

       .pgp-card_border_error{
        border-left: 13px solid !important;
        border-left-color: firebrick !important;
       }


       .pgp-card_border_runing{
        border-left: 13px solid !important;
        border-left-color: #828282!important;
       }

       .pgp-content_start{
        text-align: center;
        min-height: 3.7rem;
        max-height: 3.5rem;
        background-color: #06a7e2;
       // border-radius: 5px 0 0 5px;
        border-bottom: 1px solid #06a7e2;
        border-right: 1px solid #06a7e2;
        color: #fff;
      }

      .pgp-conten-icon{
        margin: 1.1rem !important;
      }
    
      .pgp-card_second_content{
        margin: 1rem; 
        text-align: right;
      } 

      .pgp-card_first_content{
        margin: 21px; 
        text-align: left;
      } 

      .pgp-card_title {
        width: 100%;
        color:nb-theme(pgp-color-11);
        margin-bottom: -5px;
      }

      .pgp-card_shadow{
        -webkit-box-shadow: 0px 0px 28px -6px rgba(0,0,0,0.36);
        -moz-box-shadow: 0px 0px 28px -6px rgba(0,0,0,0.36);
        box-shadow: 0px 0px 28px -6px rgba(0,0,0,0.36);
      }

      .pgp-icon_red{
        color: firebrick !important;
        font-size: 2rem !important;
      }
    
      .pgp-icon_blue{
        color: #06a7e2;
        font-size: 2rem !important;
      }

      .pgp-icon_runing{
        color: #828282;
        font-size: 2rem !important;
      }

      .pgp-icon_warning{
        color: #F79420 !important;
        font-size: 2rem !important;
      }