@import '../../styles/themes';

@include nb-install-component() {
  h6 {
    margin-bottom: 0.875rem;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  }

  .font_family_roboto {
    font-family: 'Roboto';
  }

  .font_family_exo {
    font-family: 'exo';
  }

  .pgp-list_active {
    background-color: #F9F9F9;
    border-left: 3px solid #156282 !important;
  }
  
  .pgp-list_inactive {
    background-color: #ffffff;
    border-left: none !important;
  }

  #pgp-btn_send_form_add_company{
    text-transform: none;
  }

  .pgp-pointer{
    cursor: pointer;
  }

  ::ng-deep .toggle-settings {
    &.expanded {
      @include nb-ltr(transform, translate(-19rem, -50%));
      @include nb-rtl(transform, translate(19rem, -50%));

      &.sidebar-end {
        @include nb-rtl(transform, translate(-19rem, -50%));
        @include nb-ltr(transform, translate(19rem, -50%));
      }
    }
  }

  ::ng-deep nb-list {
    max-height: 74vh;
    min-height: 74vh;
  }

  .settings-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 2.575rem;

    a {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 4.15rem;
      height: 4.15rem;
      border-radius: nb-theme(radius);
      background-color: nb-theme(color-white);
      border: 2px solid transparent;
      margin: 0.875rem;
      text-decoration: none;
      font-size: 2.25rem;
      color: nb-theme(color-fg);

      &.selected {
        color: nb-theme(color-success);
        border-color: nb-theme(color-success);
      }

      @include nb-for-theme(cosmic) {
        box-shadow: 0 4px 14px 0 rgba(19, 19, 94, 0.4);
        background-color: #3e367e;
        border: 2px solid #3e367e;
        &.selected {
          color: nb-theme(link-color);
        }
      }
    }
  }

  .settings {
    margin-bottom: 1em;
  }

  .switcher {
    margin-bottom: 1rem;
    font-size: 1.524rem;
    width: 12rem;

    /deep/ ngx-switcher {
      .switch-label span {
        font-size: 1em;
        font-weight: normal;
        &.first, &.second {
          font-size: 1rem;
        }
      }

      .switch {
        height: 1.5em;
        width: 3em;

        .slider::before {
          height: 1.5em;
          width: 1.5em;
        }        

        input:checked + .slider::before {
          @include nb-ltr(transform, translateX(1.5em)!important);
          @include nb-rtl(transform, translateX(-1.5em)!important);
        }
      }

      @include nb-for-theme(cosmic) {
        .switch .slider {
          background-color: nb-theme(color-bg);
        }
      }
    }
  }
}
