<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto pgp-card_content" size="large" [nbSpinner]="state_loading" nbSpinnerStatus="info">
        <nb-card-header class="font_family_roboto">{{ DATA_LANG?.mPrMSlbTittle.text }}</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <form (ngSubmit)="fnAdvancedSearchMarketPrice(market_prices_data)" #addNewRatingPerceivedValueForm="ngForm" aria-labelledby="title"
                style="min-width: 400px; max-width: 400px;">
                <div class="col-12 pl-0 pr-0">
                  <div class="form-group">
                    <label for="pgp-market_prices_product_code">{{ DATA_LANG?.mPrMSlbProductCode.text }}: </label>
                    <ng-select [items]="list_products_collection" bindLabel="tProductCode" [multiple]="true" name="products_code" id="pgp-product_information_products_code"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.mPrMSDDLProductCode.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_products">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label for="pgp-market_prices_product_code">{{ DATA_LANG?.mPrMSlbProductName.text }}: </label>
                    <ng-select [items]="list_products_collection" bindLabel="tProductName" [multiple]="true" name="products" id="pgp-product_information_products"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.mPrMSDDLProductName.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_products">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label for="pgp-market_prices_priceList">{{ DATA_LANG?.mPrMSlbPricesList.text }}: </label>
                    <ng-select [items]="list_prices_lists_collection" bindLabel="tPriceListName" [multiple]="true" name="price_list" id="pgp-product_information_price_list"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.mPrMSDDLPricesList.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_price_list">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label for="pgp-market_prices_categories">{{ DATA_LANG?.mPrMSlbCategory.text }}: </label>
                    <ng-select [items]="list_categories_collection" bindLabel="tCategoryName" [multiple]="true" name="categories" id="pgp-market_price_categories"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.mPrMSDDLCategory.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_categories">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label for="pgp-market_prices_competitor">{{ DATA_LANG?.mPrMSlbCompetitor.text }}: </label>
                    <ng-select [items]="list_competitors" bindLabel="tCompetitorName" [multiple]="true" name="competitors" id="pgp-product_information_competitors"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.mPrMSDDLCompetitor.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_competitors">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label for="pgp-market_prices_product_code">{{ DATA_LANG?.mPrMSlbProducts.text }}: </label>
                    <div class="row">
                      <div class="col text-left">
                        <input class="text-left" placeholder="{{ DATA_LANG?.mPrMSDDLProducts.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                          type="text" [(ngModel)]="data_filter_products_competitor" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="pgp-input_market_prices_name">{{ DATA_LANG?.mPrMSlbPrice.text }}: </label>
                    <div class="row">
                      <div class="col-6 text-left">
                        <input class="text-left" placeholder="{{ DATA_LANG?.mPrMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;" fieldSize="small"
                          type="number" [(ngModel)]="data_filter_price_min" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="col-6 text-right">
                        <input class="text-left" placeholder="{{ DATA_LANG?.mPrMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="data_filter_price_max" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                  </div>
                </div>
                <button type="submit" class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" id="pgp-btn_save_new_category"
                  nbButton [class.btn-pulse]="submitted" status="info">{{ DATA_LANG?.mPrMSButtonApply.text }}</button>
                &nbsp;&nbsp;&nbsp;
                <button class="pgp-pointer font_family_roboto" type="button" id="pgp-btn_cancel_save_new_category" nbButton [class.btn-pulse]="submitted"
                  (click)="fnCancelCreateNewMarketPrice()" status="danger">{{ DATA_LANG?.mPrMSButtonCancel.text }}</button>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>