<div class="row pgp-backgroud_layout font_family_roboto">
  <div class="col-12">

    <div class="row">
      <div class="col-6">
        <h1 class="font_family_roboto">Members</h1>
      </div>
      <div class="col-6 m-auto text-right">
        <button nbButton (click)="open(id_company)"
          id="pgp-btn_show_modal_inivite_member"
          class="pgp-btn_success font_family_roboto">
          Invite
        </button>
      </div>
    </div>
    <br><br>
    <div class="row mt-4 mb-4" *ngIf="false">
      <div class="col-12 justify-content-right text-right">
          <input class="pgp-search-border-color" type="text" nbInput status="info" placeholder="Search">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mt-3" *ngFor="let member_data of members; let i = index;">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                  <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-fluid img-thumbnail pgp-image_member m-0" alt="avatar">
              </div>

              <div class="col-9">
                <div class="row pgp-top_row">
                  <div class="col-9 p-0">
                    <h5 class="card-title pgp-card_title d-inline-block text-truncate">
                      {{ member_data.tFirstName + ' ' + member_data.tLastName }}
                    </h5>
                  </div>
                  <div class="col-auto text-center">
                    <i class="fas fa-trash pgp-icon_delete_member" *ngIf="!member_data.bOwner" (click)="fnRevokeInvitationMember(member_data.iIDUserCompany, i)"></i>
                    <i class="fas fa-star pgp-icon_star_owner" *ngIf="member_data.bOwner"></i>
                  </div>
                  <div class="col-12 p-0">
                    <p class="card-text">
                        {{ member_data.tEmail }}
                    </p>
                  </div>
                </div>
              </div>  

              <div class="col-9" *ngIf="false">
                <div class="row">
                  <div class="col-12 mb-2">
                    <h5 class="card-title pgp-card_title d-inline-block text-truncate">
                      {{ member_data.tFirstName + ' ' + member_data.tLastName }}
                    </h5>
                    <i class="fas fa-trash pgp-icon_delete_member" *ngIf="!member_data.bOwner" (click)="fnRevokeInvitationMember(member_data.iIDUserCompany, i)"></i>
                    <i class="fas fa-star pgp-icon_star_owner" *ngIf="member_data.bOwner"></i>
                  </div>
                  <div class="col-12">
                    <p class="card-text">
                        {{ member_data.tEmail }}
                    </p>
                  </div>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <hr class="pgp-line_divide_content"> -->
  
  <div class="col-12">

    <div class="row">
      <div class="col-12">
        <h1 class="font_family_roboto">Members invite</h1>
      </div>
    </div>
    <br><br>
    <!-- <button type="button" class="btn btn-primary" (click)="openModalWithComponent()">Create modal with component</button> -->
    <div class="row" *ngIf="false">
      <div class="col-12 justify-content-right text-right">
          <input class="pgp-search-border-color" type="text" nbInput status="info" placeholder="Search">
      </div>
    </div>

    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mt-3" *ngFor="let guest_member of guest_members; let i = index;">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                  <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-fluid img-thumbnail pgp-image_member m-0" alt="avatar">
              </div>

              <div class="col-9">
                <div class="row pgp-top_row">
                  <div class="col-9 mb-2 p-0">
                    <h5 class="card-title pgp-card_title d-inline-block text-truncate">
                      {{ guest_member.tEmail }}
                    </h5>
                    <!-- <i class="fas fa-trash" (click)="fnRevokeInvitationMember(member_data.iIDUserCompany, i)"></i>
                    &nbsp;
                    <i class="fas fa-star" ></i> -->
                  </div>
                  <div class="col-1 text-center">
                    <i class="fas fa-share pgp-icon_send_inivitation_user" (click)="fnReSendInvitationUser(guest_member.iIDGuestCompany, i)"></i>
                  </div>
                  <div class="col-1 text-center">
                    <i class="fas fa-trash pgp-icon_delete_guest_member" (click)="fnRevokeInvitationMemberGuest(guest_member.iIDGuestCompany, i)"></i>
                  </div>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-3 mt-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                  <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-fluid img-thumbnail pgp-image_member m-0" alt="avatar">
              </div>

              <div class="col-9">
                  <div class="row">
                    <div class="col-12 mb-2">
                      <h5 class="card-title pgp-card_title d-inline-block text-truncate">
                        Alfredo de Jesus del Perpetuo Socorro Rodriguez Hincapie
                      </h5>
                      <button type="button" class="btn btn-outline-secondary pgp-button_dots_table">
                        <i class="fas fa-ellipsis-v"></i>
                      </button>
                    </div>
                    <div class="col-12">
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                  
              </div>  
            </div>
          </div>
        </div>
      </div>

      <div class="col-3 mt-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                  <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-fluid img-thumbnail pgp-image_member m-0" alt="avatar">
              </div>

              <div class="col-9">
                  <div class="row">
                    <div class="col-12 mb-2">
                      <h5 class="card-title pgp-card_title d-inline-block text-truncate">
                        Alfredo de Jesus del Perpetuo Socorro Rodriguez Hincapie
                      </h5>
                      <button type="button" class="btn btn-outline-secondary pgp-button_dots_table">
                        <i class="fas fa-ellipsis-v"></i>
                      </button>
                    </div>
                    <div class="col-12">
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                  
              </div>  
            </div>
          </div>
        </div>
      </div>

      <div class="col-3 mt-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                  <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-fluid img-thumbnail pgp-image_member m-0" alt="avatar">
              </div>

              <div class="col-9">
                  <div class="row">
                    <div class="col-12 mb-2">
                      <h5 class="card-title pgp-card_title d-inline-block text-truncate">
                        Alfredo de Jesus del Perpetuo Socorro Rodriguez Hincapie
                      </h5>
                      <button type="button" class="btn btn-outline-secondary pgp-button_dots_table">
                        <i class="fas fa-ellipsis-v"></i>
                      </button>
                    </div>
                    <div class="col-12">
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                  
              </div>  
            </div>
          </div>
        </div>
      </div>

      <div class="col-3 mt-3">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-3">
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-fluid img-thumbnail pgp-image_member m-0" alt="avatar">
                </div>
  
                <div class="col-9">
                    <div class="row">
                      <div class="col-12 mb-2">
                        <h5 class="card-title pgp-card_title d-inline-block text-truncate">
                          Alfredo de Jesus del Perpetuo Socorro Rodriguez Hincapie
                        </h5>
                        <button type="button" class="btn btn-outline-secondary pgp-button_dots_table">
                          <i class="fas fa-ellipsis-v"></i>
                        </button>
                      </div>
                      <div class="col-12">
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      </div>
                    </div>
                    
                </div>  
              </div>
            </div>
          </div>
      </div>

      <div class="col-3 mt-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                  <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-fluid img-thumbnail pgp-image_member m-0" alt="avatar">
              </div>

              <div class="col-9">
                  <div class="row">
                    <div class="col-12 mb-2">
                      <h5 class="card-title pgp-card_title d-inline-block text-truncate">
                        Alfredo de Jesus del Perpetuo Socorro Rodriguez Hincapie
                      </h5>
                      <button type="button" class="btn btn-outline-secondary pgp-button_dots_table">
                        <i class="fas fa-ellipsis-v"></i>
                      </button>
                    </div>
                    <div class="col-12">
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                  
              </div>  
            </div>
          </div>
        </div>
      </div>

      <div class="col-3 mt-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                  <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-fluid img-thumbnail pgp-image_member m-0" alt="avatar">
              </div>

              <div class="col-9">
                  <div class="row">
                    <div class="col-12 mb-2">
                      <h5 class="card-title pgp-card_title d-inline-block text-truncate">
                        Alfredo de Jesus del Perpetuo Socorro Rodriguez Hincapie
                      </h5>
                      <button type="button" class="btn btn-outline-secondary pgp-button_dots_table">
                        <i class="fas fa-ellipsis-v"></i>
                      </button>
                    </div>
                    <div class="col-12">
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                  
              </div>  
            </div>
          </div>
        </div>
      </div>

      <div class="col-3 mt-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                  <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-fluid img-thumbnail pgp-image_member m-0" alt="avatar">
              </div>

              <div class="col-9">
                  <div class="row">
                    <div class="col-12 mb-2">
                      <h5 class="card-title pgp-card_title d-inline-block text-truncate">
                        Alfredo de Jesus del Perpetuo Socorro Rodriguez Hincapie
                      </h5>
                      <button type="button" class="btn btn-outline-secondary pgp-button_dots_table">
                        <i class="fas fa-ellipsis-v"></i>
                      </button>
                    </div>
                    <div class="col-12">
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                  
              </div>  
            </div>
          </div>
        </div>
      </div> -->


    </div>

  </div>
</div>
