@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .flex-centered {
    margin: auto;
  }
  nb-card-body {
    display: flex;
  }

  button:focus {outline:0;}
  
  .title {
    text-align: center;
  }

  .font_family_roboto {
    font-family: 'Roboto';
  }

  .font_family_exo {
    font-family: 'exo';
  }
  
  .pgp-backgroud_layout {
    background-color: #FFF;
    min-height: 83vh;
  }

  #pgp-btn_show_modal_inivite_member {
    text-transform: none;
    width: nb-theme(pgp-width-btn-crud);      
  }
  
    .pgp-button_dots_table {
        border-radius: 50px;
        padding: 0.2rem 0.6rem;
        outline: none !important;
        float: right;
    }

    .pgp-card_title {
        vertical-align: -webkit-baseline-middle;
        max-width: 88%;
    }
  
  .sub-title {
    text-align: center;
    display: block;
    margin-bottom: 3rem;
  }
  
  .pgp-btn_success {
    background-color: nb-theme(pgp-color-1);
    cursor: pointer;
  }

  ::ng-deep .pgp-pointer {
    cursor: pointer;
  }

  .pgp-table {
    color: nb-theme(pgp-color-black);
  }

  td {
    vertical-align: middle;
  }

  .pgp-img_logo_project{
    width: 3rem;
    border-radius: 50%;
  }

  .pgp-image_member, .pgp-image_user_invite {
      border-radius: 50%;
  }

  .pgp-line_divide_content {
      border: 1px solid #bdbdbd;
      width: 98%;
  }

  .pgp-padding_5px {
    padding: 5px;
  }

  .pgp-search-border-color {
    border-color: #D0D0D0
  } 

  ::ng-deep {
    .tooltip-inner {
        width: 12rem;
        background-color: #ffffff;
        color: nb-theme(pgp-color-3);
        text-align: left;
        border: 1px solid nb-theme(pgp-color-9);
        span{
          font-size: 15px;
          font-weight: bold;
          cursor: pointer;
        }

        i{
          color: nb-theme(pgp-color-3);
          font-size: 15px;
          font-weight: bold;
        }
    }

    .tooltip-arrow {
        border-right-color: nb-theme(pgp-color-9) !important;
    }
    
    .tooltip-arrow::before {
        border-right-color: nb-theme(pgp-color-9) !important;
    }
  }

  .pgp-icon_delete_member {  
      position: absolute;
      margin-left: 1rem;
      font-size: 1.2rem;
      color: nb-theme(pgp-color-5);
      cursor: pointer;
  }
  
  .pgp-icon_send_inivitation_user {  
      font-size: 1.2rem;
      color: nb-theme(pgp-color-5);
      cursor: pointer;
  }
  
  .pgp-icon_delete_guest_member {  
      font-size: 1.2rem;
      color: nb-theme(pgp-color-5);
      cursor: pointer;
  }
  
  .pgp-icon_star_owner {  
      font-size: 1.2rem;
      color: nb-theme(pgp-color-2);
      cursor: pointer;
  }

  .pgp-top_row{
    margin-top: 1.5rem;
  }

}

