<div class="row pgp-backgroud_layout font_family_roboto pr-4" [nbSpinner]="loadingChart">
  <div class="col-12">

    <div class="row">
      <div class="col-12 m-3">
        <img class="d-inline" src="../../../assets/images/imgs/information.png" height="15">
        <p class="d-inline mb-3 mt-3 pl-2 pgp-description-color"> {{ DATA_LANG?.lbDesc.text }}</p>
      </div>
      <br>
      <div class="col-12 ml-3 mr-3">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="row m-1" style="margin-left: 0 !important">
              <div class="col-6 pl-0">
                <input (input)="fnFilterCategories(list_categories, search_input);" fullWidth nbInput
                  [(ngModel)]="search_input" #search_category="ngModel"
                  class="pgp-text_input_search form-control d-inline-block" id="pgp-input_category_name"
                  name="category_name" type="text" placeholder="{{ DATA_LANG_GENERAL?.tbSearch.text }}">
                <i class="fas fa-search pgp-icon_input_search"></i>
              </div>
              <div class="col-auto p-0">
                <div style="display: inline-block; margin: 0px 10px;" *ngIf="search_input.length > 0">
                  <label class="p-0 pgp-label_clear_all" (click)="search_input = ''; fnFilterCategories(list_categories, search_input);">{{ DATA_LANG_GENERAL?.lbClearAll.text }}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-lg-right text-xl-right text-md-center text-sm-center">
            <button class="btn btn-primary m-1 pgp-btns_actions font_family_roboto"
              (click)="showModalAddCategory(obj_category)">{{ DATA_LANG_GENERAL?.buttonCreate.text }}</button>
            <div class="btn btn-primary m-1 pgp-btns_actions pgp-height_3_rem font_family_roboto" style="position: relative">
              <label for="file" class="pgp-pointer">{{ DATA_LANG_GENERAL?.buttonImport.text }}</label>
              <input [(ngModel)]="file_import_input" type="file"  class="pgp-input_import" id="file" (change)="handleFileInput($event.target.files)">
            </div>
            <button class="btn btn-primary m-1 pgp-btns_actions font_family_roboto"
              (click)="fnExportCategories()">{{ DATA_LANG_GENERAL?.buttonExport.text }}</button>
            <button class="btn btn-primary m-1 pgp-btns_actions font_family_roboto"
              (click)="fnDeleteAllCategories(obj_category)">{{ DATA_LANG_GENERAL?.buttonDelete.text }}</button>
          </div>
        </div>

      </div><br>
      <!-- <pre>
        {{ layout_state }}
      </pre> -->
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-3">
        <!-- ********** START - Div content layout table loadgin ********** -->
        <!-- <div class="pgp-pulse_layout_loading pgp-pulse_animation" *ngIf="layout_state == 'show_loading_layout'"> -->
        <div class="pgp-pulse_layout_loading pgp-pulse_animation" [nbSpinner]="loading" *ngIf="false">
          <table class="table table-bordered pgp-table">
            <thead>
              <tr>
                <th colspan="2"></th>

                <th scope="col" class="text-left" id="thead_jobTitle" style="width: 40% !important;cursor: pointer;">
                  <div
                    style="height: 20px; background-color: #f9f8f8; display: inline-block; width: 100%; text-align: center;">
                    <span style="color: #ccc; text-align: center;"></span>
                  </div>
                  <!-- <div style="height: 20px; background-color: #f9f8f8; display: inline-block; width: 5%; text-align: center;">
                      <span style="color: #ccc; text-align: center;"></span>
                    </div> -->
                </th>
                <th scope="col" class="text-left" id="thead_jobTitle" style="width: 60% !important;cursor: pointer;">
                  <div
                    style="height: 20px; background-color: #f9f8f8; display: inline-block; width: 100%; text-align: center;">
                    <span style="color: #ccc; text-align: center;"></span>
                  </div>
                  <!-- <div style="height: 20px; background-color: #f9f8f8; display: inline-block; width: 5%; text-align: center;">
                      <span style="color: #ccc; text-align: center;"></span>
                    </div> -->
                </th>
              </tr>
            </thead>
          </table>
          <div class="m-3">
            <div
              style="margin: 10px 0px; height: 20px; background-color: #f9f8f8; display: inline-block; width: 100%; text-align: center;">
              <span style="color: #ccc; text-align: center;"></span>
            </div>
            <div
              style="margin: 10px 0px; height: 20px; background-color: #f9f8f8; display: inline-block; width: 100%; text-align: center;">
              <span style="color: #ccc; text-align: center;"></span>
            </div>
            <div
              style="margin: 10px 0px; height: 20px; background-color: #f9f8f8; display: inline-block; width: 100%; text-align: center;">
              <span style="color: #ccc; text-align: center;"></span>
            </div>
            <div
              style="margin: 10px 0px; height: 20px; background-color: #f9f8f8; display: inline-block; width: 100%; text-align: center;">
              <span style="color: #ccc; text-align: center;"></span>
            </div>
            <div
              style="margin: 10px 0px; height: 20px; background-color: #f9f8f8; display: inline-block; width: 100%; text-align: center;">
              <span style="color: #ccc; text-align: center;"></span>
            </div>
            <div
              style="margin: 10px 0px; height: 20px; background-color: #f9f8f8; display: inline-block; width: 100%; text-align: center;">
              <span style="color: #ccc; text-align: center;"></span>
            </div>
            <div
              style="margin: 10px 0px; height: 20px; background-color: #f9f8f8; display: inline-block; width: 100%; text-align: center;">
              <span style="color: #ccc; text-align: center;"></span>
            </div>
            <div
              style="margin: 10px 0px; height: 20px; background-color: #f9f8f8; display: inline-block; width: 100%; text-align: center;">
              <span style="color: #ccc; text-align: center;"></span>
            </div>
          </div>
        </div>
        <!-- *********** END - Div content layout table loadgin *********** -->
        <!-- ********** START - Div main content data table - Categories ********** -->
        <table class="table table-bordered pgp-table">
          <thead>
            <tr>
              <th colspan="2"></th>

              <th scope="col" class="text-left" id="thead_jobTitle" style="width: 40% !important;cursor: pointer;">
                {{ DATA_LANG?.colNCategory.text }}
                <span>
                  <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.toolTipCatLbTile.text,DATA_LANG?.toolTipCatLbDesc.text)"></i>
                </span>
                <span id="pgp-icon_complementary_relation_name_column" (click)="sortColumn('category_name')" class="float-right">
                  <i class="fas fa-long-arrow-alt-up"></i>
                  <i class="fas fa-long-arrow-alt-down"></i>
                </span>
              </th>
              <th scope="col" class="text-left" id="thead_jobTitle" style="width: 60% !important;cursor: pointer;">
                {{ DATA_LANG?.colNApplyRelation.text }}
                <span>
                  <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.toolTipApplyLbTile.text, DATA_LANG?.toolTipApplyLbDesc.text)"></i>
                </span>
                <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('category_complementary_relaction')" class="float-right">
                  <i class="fas fa-long-arrow-alt-up"></i>
                  <i class="fas fa-long-arrow-alt-down"></i>
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let data_category of list_categories | paginate: { itemsPerPage: numItemsPage, currentPage: currentPage }; let i = index;">
              <td class="pgp-table-actions text-center">
                <i class="fas fa-edit pgp-pointer" nbTooltip="{{ DATA_LANG?.toolTEdit.text }}" nbTooltipPlacement="top"
                  (click)="showModalEditCategory(data_category, data_category.iIDCategory)"></i>
              </td>
              <td class="pgp-table-actions text-center">
                <i class="far fa-trash-alt pgp-pointer" nbTooltip="{{ DATA_LANG?.toolTDelete.text }}" nbTooltipPlacement="top"
                  (click)="fnDeleteCategories(data_category)"></i>
              </td>
              <td>{{ data_category.tCategoryName }}</td>
              <td>{{ (data_category.bAppliesComplementarityRelation == true) ? DATA_LANG?.dataComplementarityRelationYes.text : DATA_LANG?.dataComplementarityRelationNo.text }}</td>
            </tr>
          </tbody>
        </table>
        <!-- *********** END - Div main content data table - Categories *********** -->
        <!-- ********** START - Div content message empty data ********** -->
        <!-- <div class="pgp-empty_data_layout" *ngIf="layout_state == 'show_empty_data_layout'"> -->
        <div class="pgp-empty_data_layout" *ngIf="false">
          <div class="m-3">
            <i class="fas fa-exclamation-triangle pgp-label_not_found_data"></i><br>
            <small>Not found data</small>
          </div>
        </div>
        <!-- *********** END - Div content message empty data *********** -->
      </div><br>
      <div class="col-12 ng-star-inserted" style="margin-right: -15px; margin-left: -35px;">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <div class="text-center pgp-font_paginator" *ngIf="list_categories?.length > numItemsPage">
              <pagination-controls (pageChange)="currentPage = $event" previousLabel="{{ DATA_LANG_GENERAL?.previousPage.text }}" nextLabel="{{ DATA_LANG_GENERAL?.nextPage.text }}" ></pagination-controls>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <div class="text-center pgp-font_paginator" *ngIf="list_categories?.length > 0">
              <div class="text-right pgp-font_paginator">{{ DATA_LANG_GENERAL?.lbItemsShowed.text }}
                {{ (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) + 1 ) }} -
                {{ (list_categories.length < (currentPage * numItemsPage)) ? list_categories.length : (currentPage * numItemsPage) }}
                {{ DATA_LANG_GENERAL?.lbItemsOf.text }} {{ list_categories.length }}</div>
            </div>
          </div>
        </div>
        <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-3"> -->
      </div>

      <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-3">
          <div class="text-center pgp-font_paginator" *ngIf="list_categories?.length > 1">Items showed XX - YY  of ZZZ</div>
      </div> -->

    </div>

  </div>
</div>