<div class="row pgp-backgroud_layout font_family_roboto pr-4" [nbSpinner]="loading">
  <div class="col-12">
    <div class="row">
      <div class="col-12 m-3">
        <div class="row">
          <div class="col-12">
            <img class="d-inline float-left" src="../../../assets/images/imgs/information.png" height="20">
            <p class="d-inline pl-2 mb-3 mt-3 pgp-description-color">{{ DATA_LANG?.prComplbTittle.text }}</p>
          </div>
        </div>
      </div>
      <div class="col-12 ml-3 mr-3">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="row m-1" style="margin-left: 0 !important">
              <div class="col-5 pl-0">
                <input (input)="fnFilteSearch(list_price_comparison, search_input);" fullWidth nbInput [(ngModel)]="search_input" #search_price_comparison="ngModel"
                  class="pgp-text_input_search form-control d-inline-block" id="pgp-input_search_price_comparison" name="search_price_comparison"
                  type="text" placeholder="{{ DATA_LANG_GENERAL?.tbSearch.text }}">
                <i class="fas fa-search pgp-icon_input_search"></i>
              </div>
              <div class="col-auto p-0">
                <button *ngIf="true" class="btn btn-primary pgp-btn_advance_search font_family_roboto" 
                (click)="showModalAdvancedSearch(obj)"
                style="display: inline-block; width: 180px !important;">{{ DATA_LANG_GENERAL?.buttonAdvanceSearch.text }}</button>
                <div style="display: inline-block; margin: 0px 10px;" *ngIf="items_filtered_advance_search.category?.length > 0 
                    || items_filtered_advance_search.priceList?.length > 0 
                    || items_filtered_advance_search.competitors?.length > 0 
                    || items_filtered_advance_search.products?.length > 0 
                    || items_filtered_advance_search.tProductsType?.length > 0 
                    || items_filtered_advance_search.dPrices?.dMin
                    || items_filtered_advance_search.dPrices?.dMax
                    || items_filtered_advance_search.dIndex?.dMin
                    || items_filtered_advance_search.dIndex?.dMax
                    || items_filtered_advance_search.dIndex1User?.dMin
                    || items_filtered_advance_search.dIndex1User?.dMax
                    || items_filtered_advance_search.dIndex1Suggested?.dMin
                    || items_filtered_advance_search.dIndex1Suggested?.dMax
                    || items_filtered_advance_search.dCurrentPrice?.dMin
                    || items_filtered_advance_search.dCurrentPrice?.dMax
                    || items_filtered_advance_search.dCurrentIndex?.dMin
                    || items_filtered_advance_search.dCurrentIndex?.dMax
                    || items_filtered_advance_search.dSuggestedPrice?.dMin
                    || items_filtered_advance_search.dSuggestedPrice?.dMax
                    || items_filtered_advance_search.dUserPrice?.dMin
                    || items_filtered_advance_search.dUserPrice?.dMax
                    || items_filtered_advance_search.dSuggestedIndex?.dMin
                    || items_filtered_advance_search.dSuggestedIndex?.dMax
                    || items_filtered_advance_search.dUserIndex?.dMin
                    || items_filtered_advance_search.dUserIndex?.dMax ||
                    search_input?.length > 0">
                    <label class="p-0 pgp-label_clear_all" (click)="fnClearAllFiltersSearch(); fnFilteSearch(list_price_comparison, search_input);">{{ DATA_LANG_GENERAL?.lbClearAll.text }}</label>
                  </div>
              </div> 
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-lg-right text-xl-right text-md-center text-sm-center">
            <button class="btn btn-primary m-1 pgp-btns_actions" (click)="fnExport()">{{ DATA_LANG_GENERAL?.buttonExport.text }}</button>
          </div>
        </div>
      </div>
      <div class="col-12 ml-3 mr-3" *ngIf="true">
        <div class="row">
          <div class="col-11">
            <small class="pgp-pointer" *ngIf="false">
              <a>Clear all</a>&nbsp;&nbsp;
            </small>
            <div class="d-inline-block">
              <span *ngIf="items_filtered_advance_search.products?.length > 0">
                <span *ngFor="let item_product of items_filtered_advance_search.products; let i = index;">
                  <a class="badge pgp-badge-color">
                    {{ item_product.tProductCode + ' - ' + item_product.tProductName}}
                    <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveItemSearchFilteredAdvanced(i, items_filtered_advance_search.products);"></i>
                  </a>&nbsp;&nbsp;
                </span>
              </span>
              <span *ngIf="items_filtered_advance_search.priceList?.length > 0">
                <span *ngFor="let item_PriceList of items_filtered_advance_search.priceList; let ind_pl = index;">
                  <a class="badge pgp-badge-color">
                    {{ item_PriceList.tPriceListName }}
                    <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveItemSearchFilteredAdvanced(ind_pl, items_filtered_advance_search.priceList);"></i>
                  </a>&nbsp;&nbsp;
                </span>
              </span>
              <span *ngIf="items_filtered_advance_search.category?.length > 0">
                <span *ngFor="let item_categories of items_filtered_advance_search.category; let ind_pl = index;">
                  <a class="badge pgp-badge-color">
                    {{ item_categories.tCategoryName }}
                    <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveItemSearchFilteredAdvanced(ind_pl, items_filtered_advance_search.category);"></i>
                  </a>&nbsp;&nbsp;
                </span>
              </span>
              <span *ngIf="items_filtered_advance_search.competitors?.length > 0">
                <span *ngFor="let item_competitors of items_filtered_advance_search.competitors; let ind_pl = index;">
                  <a class="badge pgp-badge-color">
                    Competitors: {{ item_competitors.tCompetitorName }}
                    <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveItemSearchFilteredAdvanced(ind_pl, items_filtered_advance_search.competitors);"></i>
                  </a>&nbsp;&nbsp;
                </span>
              </span>
              <a class="badge pgp-badge-color" *ngIf="items_filtered_advance_search.tProductsType?.length > 0">
                Product type: {{ items_filtered_advance_search.tProductsType }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetProductType();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="items_filtered_advance_search.dPrices?.dMin || items_filtered_advance_search.dPrices?.dMax">
                price: min = {{ items_filtered_advance_search.dPrices?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dPrices?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetPrice();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="items_filtered_advance_search.dIndex?.dMin || items_filtered_advance_search.dIndex?.dMax">
                Index: min = {{ items_filtered_advance_search.dIndex?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dIndex?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetdIndex();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="items_filtered_advance_search.dIndex1User?.dMin || items_filtered_advance_search.dIndex1User?.dMax">
                Index: min = {{ items_filtered_advance_search.dIndex1User?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dIndex1User?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetdIndex1User();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="items_filtered_advance_search.dIndex1Suggested?.dMin || items_filtered_advance_search.dIndex1Suggested?.dMax">
                Index: min = {{ items_filtered_advance_search.dIndex1Suggested?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dIndex1Suggested?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetdIndex1Suggested();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="items_filtered_advance_search.dCurrentPrice?.dMin || items_filtered_advance_search.dCurrentPrice?.dMax">
                Current price: min = {{ items_filtered_advance_search.dCurrentPrice?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dCurrentPrice?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetdCurrentPrice();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="items_filtered_advance_search.dCurrentIndex?.dMin || items_filtered_advance_search.dCurrentIndex?.dMax">
                Current index: min = {{ items_filtered_advance_search.dCurrentIndex?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dCurrentIndex?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetdCurrentIndex();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="items_filtered_advance_search.dSuggestedPrice?.dMin || items_filtered_advance_search.dSuggestedPrice?.dMax">
                Suggested price: min = {{ items_filtered_advance_search.dSuggestedPrice?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dSuggestedPrice?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetdSuggestedPrice();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="(items_filtered_advance_search.dUserPrice?.dMin || items_filtered_advance_search.dUserPrice?.dMax) && userStage">
                Price: min = {{ items_filtered_advance_search.dUserPrice?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dUserPrice?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetdUserPrice();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="items_filtered_advance_search.dSuggestedIndex?.dMin || items_filtered_advance_search.dSuggestedIndex?.dMax">
                Suggested index: min = {{ items_filtered_advance_search.dSuggestedIndex?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dSuggestedIndex?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetdSuggestedIndex();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="(items_filtered_advance_search.dUserIndex?.dMin || items_filtered_advance_search.dUserIndex?.dMax) && userStage">
                Index: min = {{ items_filtered_advance_search.dUserIndex?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dUserIndex?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetdUserIndex();"></i>
              </a>&nbsp;&nbsp;
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 ml-3 mr-3" *ngIf="true">
        <div class="row">
          <div class="col-6" *ngIf="state">
            <label>{{ DATA_LANG?.prComplbIndexDesc.text }}</label>
            <ng-select [items]="ddl_price_comparison" bindLabel="tNombre" bindValue="iIDOpc" placeholder="Select..." [clearable]="false"
              class="pgp-ddl-price" [ngModelOptions]="{standalone: true}" [(ngModel)]="iIDOpc" (change)="fnChangeOpc($event)">
            </ng-select>
          </div>
          <div class="col-6" *ngIf="!state"></div>
          <div class="col-5 text-right mt-2">
            <div class="row float-right">
              <label *ngIf="state" class="m-3">
                <p>{{ DATA_LANG?.prComplbPrice.text }}</p>
              </label>
              <label *ngIf="!state" class="m-3">
                <strong style="color: black;">{{ DATA_LANG?.prComplbPrice.text }}</strong>
              </label>
              <div class="mt-3 mb-3">
                <label class="switch m-0">
                  <input type="checkbox" checked id="pgp-checkbox_State" [(ngModel)]="state" name="checkbox_State" (change)="fnChangeState($event)">
                  <span class="slider round"></span>
                </label>
              </div>
              <label *ngIf="!state" class="m-3">
                <p>{{ DATA_LANG?.prComplbIndex.text }}</p>
              </label>
              <label *ngIf="state" class="m-3">
                <strong style="color: black;">{{ DATA_LANG?.prComplbIndex.text }}</strong>
              </label>
              <span>
                <i class="mt-3 far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.prCompSwitchTooltipTittle.text,DATA_LANG?.prCompSwitchTooltipDesc.text)"></i>
              </span>
              <!-- <i class="mt-3 far fa-question-circle"></i> -->
            </div>
          </div>
          <div class="col-1 text-right">
            <i class="fas fa-th-large pgp-pointer mb-3 mt-3" [ngClass]="{'pgp-icon_state_view_data_active': (layoud_component_display == 'cards'), 'pgp-icon_state_view_data_inactive': (layoud_component_display == 'grid')}"
              (click)="fnSwitchViewData('cards')"></i>&nbsp;
            <i class="fas fa-th-list pgp-pointer mb-3 mt-3" [ngClass]="{'pgp-icon_state_view_data_active': (layoud_component_display == 'grid'), 'pgp-icon_state_view_data_inactive': (layoud_component_display == 'cards')}"
              (click)="fnSwitchViewData('grid')"></i>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-3 pgp-Margin_top">
        <div style="width: 100%;overflow: auto;" *ngIf="layoud_component_display == 'grid'">
          <table class="table table-bordered pgp-table">
            <thead>
              <tr>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 160px;">
                    {{ DATA_LANG_GENERAL?.colnProductCode.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.prCompColNProductCodeTooltipTittle.text,DATA_LANG?.prCompColNProductCodeTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_name_column" (click)="sortColumn('tProductCode')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div>
                    {{ DATA_LANG_GENERAL?.colnProductName.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.prCompColNProductNameTooltipTittle.text,DATA_LANG?.prCompColNProductNameTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tProductName')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 150px;">
                    {{ DATA_LANG_GENERAL?.colnPricesList.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.prCompColNPricesListTooltipTittle.text,DATA_LANG?.prCompColNPricesListTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tPriceListName')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div text-truncate>
                    {{ DATA_LANG?.prCompColNCompOne.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.prCompColNCompOneTooltipTittle.text,DATA_LANG?.prCompColNCompOneTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tProductCompetitor1')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 125px;" *ngIf="!state">
                    {{ DATA_LANG?.prCompColNPriceOne.text }} {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.prCompColNPriceOneTooltipTittle.text,DATA_LANG?.prCompColNPriceOneTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" class="float-right"(click)="sortColumn('dPriceCompetitor1')">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                  <div style="width: 110px;" *ngIf="state">
                    {{ DATA_LANG?.prCompColNIndexOne.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.prCompColNIndexOneTooltipTittle.text,DATA_LANG?.prCompColNIndexOneTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" class="float-right" (click)="sortColumn('dPriceIndexCompetitor1')">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>     
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 150px;">
                    {{ DATA_LANG?.prCompColNCompTwo.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.prCompColNCompTwoTooltipTittle.text,DATA_LANG?.prCompColNCompTwoTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" class="float-right" (click)="sortColumn('tProductCompetitor2')">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th  class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 125px;" *ngIf="!state">
                    {{ DATA_LANG?.prCompColNPriceTwo.text }} {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.prCompColNPriceTwoTooltipTittle.text,DATA_LANG?.prCompColNPriceTwoTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" class="float-right" (click)="sortColumn('dPriceCompetitor2')">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                  <div style="width: 110px;" *ngIf="state">
                    {{ DATA_LANG?.prCompColNIndexTwo.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.prCompColNIndexTwoTooltipTittle.text,DATA_LANG?.prCompColNIndexTwoTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" class="float-right" (click)="sortColumn('dPriceIndexCompetitor2')">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 150px;">
                    {{ DATA_LANG?.prCompColNCompThree.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.prCompColNCompThreeTooltipTittle.text,DATA_LANG?.prCompColNCompThreeTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tProductCompetitor3')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th  class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 125px;" *ngIf="!state">
                    {{ DATA_LANG?.prCompColNPriceThree.text }} {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.prCompColNPriceThreeTooltipTittle.text,DATA_LANG?.prCompColNPriceThreeTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" class="float-right" (click)="sortColumn('dPriceCompetitor3')">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                  <div style="width: 110px;" *ngIf="state">
                    {{ DATA_LANG?.prCompColNIndexThree.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.prCompColNIndexThreeTooltipTittle.text,DATA_LANG?.prCompColNIndexThreeTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" class="float-right" (click)="sortColumn('dPriceIndexCompetitor3')">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 150px;">
                    {{ DATA_LANG?.prCompColNCompFour.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.prCompColNCompFourTooltipTittle.text,DATA_LANG?.prCompColNCompFourTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tProductCompetitor4')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 125px;" *ngIf="!state">
                    {{ DATA_LANG?.prCompColNPriceFour.text }} {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.prCompColNPriceFourTooltipTittle.text,DATA_LANG?.prCompColNPriceFourTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" class="float-right" (click)="sortColumn('dPriceCompetitor4')">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                  <div style="width: 110px;" *ngIf="state">
                    {{ DATA_LANG?.prCompColNIndexFour.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.prCompColNIndexFourTooltipTittle.text,DATA_LANG?.prCompColNIndexFourTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" class="float-right" (click)="sortColumn('dPriceIndexCompetitor4')">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 150px;">
                    {{ DATA_LANG?.prCompColNCompFive.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.prCompColNCompFiveTooltipTittle.text,DATA_LANG?.prCompColNCompFiveTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tProductCompetitor5')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th  class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 125px;" *ngIf="!state">
                    {{ DATA_LANG?.prCompColNPriceFive.text }} {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.prCompColNPriceFiveTooltipTittle.text,DATA_LANG?.prCompColNPriceFiveTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" class="float-right" (click)="sortColumn('dPriceCompetitor5')">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                  <div style="width: 110px;" *ngIf="state">
                    {{ DATA_LANG?.prCompColNIndexFive.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.prCompColNIndexFiveTooltipTittle.text,DATA_LANG?.prCompColNIndexFiveTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" class="float-right" (click)="sortColumn('dPriceIndexCompetitor5')">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div *ngIf="!state" style="width: 160px;">
                    {{ DATA_LANG?.prCompColCurrentPrice.text }} {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.prCompColNCurrentPriceTooltipTittle.text,DATA_LANG?.prCompColNCurrentPriceTooltipDesc.text)"></i>
                    </span> 
                    <span id="pgp-icon_complementary_relation_apply_column" class="float-right" (click)="sortColumn('dCurrentPrice')">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                  <div *ngIf="state">
                    {{ DATA_LANG?.prCompColCurrentIndex.text }}
                    <span id="pgp-icon_complementary_relation_apply_column" class="float-right" (click)="sortColumn('dPriceIndexCurrent')">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div *ngIf="!state && suggestedStage" style="width: 180px;">
                    {{ DATA_LANG?.prCompColNSugPrice.text }} {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.prCompColNSugPriceTooltipTittle.text,DATA_LANG?.prCompColNSugPriceTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" class="float-right" (click)="sortColumn('dPriceWithVAT')">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                  <div *ngIf="!state && !suggestedStage" style="width: 180px;">
                    User price {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open('Suggested price','This price shows the final recommendation, considering the defined price relationships for products that do not have a price check in the market. If the suggested price edition is activated, the price of the edited scenario is displayed.')"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" class="float-right" (click)="sortColumn('dPriceWithVAT')">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                  <div *ngIf="state && suggestedStage">
                    {{ DATA_LANG?.prCompColNSugIndex.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.prCompColNSugIndexTooltipTittle.text,DATA_LANG?.prCompColNSugIndexTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" class="float-right" (click)="sortColumn('dindexPrice')">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                  <div *ngIf="state && !suggestedStage">
                    User index
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open('Suggested index','It is the suggested price converted to base 100, considering the chosen reference. If the suggested price edition is activated, the index of the edited scenario is displayed.')"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" class="float-right" (click)="sortColumn('dindexPrice')">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th>
                  {{ DATA_LANG?.prCompColNGraph.text }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of list_price_comparison | paginate: { id: 'server', itemsPerPage: numItemsPage, currentPage: currentPage, totalItems: totalItems }; let i = index;">
                <td class="text-left" style="width: 150px;">
                  <div div class="d-inline-block text-truncate">
                    {{ data.tProductCode }}
                  </div>
                </td>
                <td class="text-left" style="width: 200px;">
                  <div class="d-inline-block text-truncate">
                    {{ data.tProductName }}
                  </div>
                </td>
                <td class="text-left" style="width: 150px;">
                  <div class="d-inline-block text-truncate">
                    {{ data.tPriceListName }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 150px;">
                    {{ data.tProductCompetitor1 }}
                  </div>
                </td>
                <td class="text-right">
                  <div class="d-inline-block text-truncate" style="width: 110px;" *ngIf="!state">
                    {{ data.dPriceCompetitor1 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals}}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 110px;" *ngIf="state && Opc1 && suggestedStage">
                    {{ data.dPriceIndex1Competitor1_Suggested | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 110px;" *ngIf="state && Opc1 && !suggestedStage">
                    {{ data.dPriceIndex1Competitor1_User | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 110px;" *ngIf="state && Opc2">
                    {{ data.dPriceIndex2Competitor1 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 110px;" *ngIf="state && Opc3">
                    {{ data.dPriceIndex3Competitor1 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 150px;">
                    {{ data.tProductCompetitor2 }}
                  </div>
                </td>
                <td  class="text-right">
                  <div class="d-inline-block text-truncate" style="width: 110px;" *ngIf="!state">
                    {{ data.dPriceCompetitor2 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 110px;" *ngIf="state && Opc1 && suggestedStage">
                    {{ data.dPriceIndex1Competitor2_Suggested | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 110px;" *ngIf="state && Opc1 && !suggestedStage">
                    {{ data.dPriceIndex1Competitor2_User | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 110px;" *ngIf="state && Opc2">
                    {{ data.dPriceIndex2Competitor2 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 110px;" *ngIf="state && Opc3">
                    {{ data.dPriceIndex3Competitor2 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 150px;">
                    {{ data.tProductCompetitor3 }}
                  </div>
                </td>
                <td  class="text-right">
                  <div class="d-inline-block text-truncate" style="width: 110px;" *ngIf="!state">
                    {{ data.dPriceCompetitor3 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 110px;" *ngIf="state && Opc1 && suggestedStage">
                    {{ data.dPriceIndex1Competitor3_Suggested | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 110px;" *ngIf="state && Opc1 && !suggestedStage">
                    {{ data.dPriceIndex1Competitor3_User | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 110px;" *ngIf="state && Opc2">
                    {{ data.dPriceIndex2Competitor3 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 110px;" *ngIf="state && Opc3">
                    {{ data.dPriceIndex3Competitor3 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 150px;">
                    {{ data.tProductCompetitor4 }}
                  </div>
                </td>
                <td  class="text-right">
                  <div class="d-inline-block text-truncate" style="width: 110px;" *ngIf="!state">
                    {{ data.dPriceCompetitor4 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 110px;" *ngIf="state && Opc1 && suggestedStage">
                    {{ data.dPriceIndex1Competitor4_Suggested | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 110px;" *ngIf="state && Opc1 && !suggestedStage">
                    {{ data.dPriceIndex1Competitor4_User | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 110px;" *ngIf="state && Opc2">
                    {{ data.dPriceIndex2Competitor4 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 110px;" *ngIf="state && Opc3">
                    {{ data.dPriceIndex3Competitor4 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 150px;">
                    {{ data.tProductCompetitor5 }}
                  </div>
                </td>
                <td  class="text-right">
                  <div class="d-inline-block text-truncate" style="width: 110px;" *ngIf="!state">
                    {{ data.dPriceCompetitor5 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 110px;" *ngIf="state && Opc1 && suggestedStage">
                    {{ data.dPriceIndex1Competitor5_Suggested | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 110px;" *ngIf="state && Opc1 && !suggestedStage">
                    {{ data.dPriceIndex1Competitor5_User | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 110px;" *ngIf="state && Opc2">
                    {{ data.dPriceIndex2Competitor5 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 110px;" *ngIf="state && Opc3">
                    {{ data.dPriceIndex3Competitor5 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                </td>
                <td  class="text-right">
                  <div class="d-inline-block text-truncate" style="width: 150px;" *ngIf="!state">
                    {{ data.dCurrentPriceWithVAT | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals}}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 150px;" *ngIf="state && Opc1">
                    {{ data.dPriceIndexCurrent1Company | number : '1.0-0'}}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 150px;" *ngIf="state && Opc2">
                    {{ data.dPriceIndexCurrent2Company | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals}}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 150px;" *ngIf="state && Opc3">
                    {{ data.dPriceIndexCurrent3Company | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals}}
                  </div>
                </td>
                <td  class="text-right">
                  <div class="d-inline-block text-truncate" style="width: 150px;" *ngIf="!state && suggestedStage">
                    {{ data.dPriceWithVAT_Suggested | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals}}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 150px;" *ngIf="!state && !suggestedStage">
                    {{ data.dPriceWithVAT_User | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals}}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 150px;" *ngIf="state && Opc1 && suggestedStage">
                    {{ data.dPriceIndex1Company_Suggested | number : '1.0-0'}}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 150px;" *ngIf="state && Opc1 && !suggestedStage">
                    {{ data.dPriceIndex1Company_User | number : '1.0-0'}}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 150px;" *ngIf="state && Opc2 && suggestedStage">
                    {{ data.dPriceIndex2Company_Suggested | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals}}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 150px;" *ngIf="state && Opc2 && !suggestedStage">
                    {{ data.dPriceIndex2Company_User | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals}}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 150px;" *ngIf="state && Opc3 && suggestedStage">
                    {{ data.dPriceIndex3Company_Suggested | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals}}
                  </div>
                  <div class="d-inline-block text-truncate" style="width: 150px;" *ngIf="state && Opc3 && !suggestedStage">
                    {{ data.dPriceIndex3Company_User | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals}}
                  </div>
                </td>      
                <td>
                  <google-chart #chart [type]="type" [data]="collection_graph[i]" [columnNames]="columnnames" [options]="options" [width]="width" [height]="height"></google-chart>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row pr-3 pl-3" *ngIf="layoud_component_display == 'cards'">
          <div *ngFor="let dataCard of list_price_comparison | paginate: { id: 'server', itemsPerPage: numItemsPage, currentPage: currentPage, totalItems: totalItems }; let i = index;"
          class="mb-2 mt-2 p-0 col-xl-3 col-lg-4 col-md-4 col-sm-12 col-xs-12" id="pgp-card_list_{{i}}">
            <div style="background-color: transparent; padding: 10px;">
              <div class="m-0 pgp-card_head">
                <div class="d-inline-block pgp-content_title_card mt-1 mb-1 ml-4 mr-0">
                  <div class="row">
                    <label class="pgp-label-header-card text-left text-truncate pgp-card_label_title"><strong>{{ dataCard.tProductName }}</strong></label>
                  </div>                 
                  <div class="row">
                    <div class="col-5">
                      <label class="pgp-label-header-card"><strong>{{ DATA_LANG_GENERAL?.colnProductCode.text }}: </strong></label>
                    </div>
                    <div class="col-6 text-left">
                      <label class="pgp-label-header-card">{{ dataCard.tProductCode }}</label>
                    </div>
                    <div class="col-5">
                      <label class="pgp-label-header-card"><strong>{{ DATA_LANG_GENERAL?.colnPricesList.text }}: </strong></label>
                    </div>
                    <div class="col-6 text-left">
                      <label class="pgp-label-header-card">{{ dataCard.tPriceListName }}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="m-0 pgp-card_body">
                  <div class="row pgp-row-data-card">
                    <div class="col-8 pgp-card_height" *ngIf="!state">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ DATA_LANG?.prCompColCurrentPrice.text }}: </label>
                    </div>                       
                    <div class="col-8 pgp-card_height" *ngIf="state">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ DATA_LANG?.prCompColCurrentIndex.text }}: </label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="!state">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dCurrentPriceWithVAT | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc1">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndexCurrent1Company | number : '1.0-0'}}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc2">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndexCurrent2Company | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals}}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc3">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndexCurrent3Company | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals}}</label>
                    </div>                   
                    <div class="col-8 pgp-card_height" *ngIf="!state">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ DATA_LANG?.prCompColNSugPrice.text }}: </label>
                    </div>
                    <div class="col-8 pgp-card_height" *ngIf="state">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ DATA_LANG?.prCompColNSugIndex.text }}: </label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="!state && suggestedStage">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceWithVAT_Suggested | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="!state && !suggestedStage">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceWithVAT_User | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc1 && suggestedStage">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndex1Company_Suggested | number : '1.0-0' }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc1 && !suggestedStage">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndex1Company_User | number : '1.0-0' }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc2 && suggestedStage">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndex2Company_Suggested | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc2 && !suggestedStage">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndex2Company_User | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc3 && suggestedStage">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndex3Company_Suggested | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc3 && !suggestedStage">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndex3Company_User | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-8 text-left pgp-card_height">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.tProductCompetitor1 }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="!state">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceCompetitor1 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc1 && suggestedStage">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndex1Competitor1_Suggested | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc1 && !suggestedStage">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndex1Competitor1_User | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>                 
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc2">
                        <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndex2Competitor1 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc3">
                        <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndex3Competitor1 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-8 text-left pgp-card_height">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.tProductCompetitor2 }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="!state">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate"> {{ dataCard.dPriceCompetitor2 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>                    
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc1 && suggestedStage">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndex1Competitor2_Suggested | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc1 && !suggestedStage">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndex1Competitor2_User | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc2">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndex2Competitor2 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc3">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndex3Competitor2 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-8 text-left pgp-card_height">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.tProductCompetitor3 }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="!state">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceCompetitor3 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc1 && suggestedStage">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndex1Competitor3_Suggested | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc1 && !suggestedStage">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndex1Competitor3_User | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc2">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndex2Competitor3 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc3">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndex3Competitor3 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-8 text-left pgp-card_height">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.tProductCompetitor4 }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="!state">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceCompetitor4 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc1">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndex1Competitor4 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc2">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndex2Competitor4 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc3">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndex3Competitor4 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-8 text-left pgp-card_height">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.tProductCompetitor5 }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="!state">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceCompetitor5 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc1">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndex1Competitor5 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc2">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndex2Competitor5 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                    <div class="col-4 text-right pgp-card_height" *ngIf="state && Opc3">
                      <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ dataCard.dPriceIndex3Competitor5 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                    </div>
                </div>
                <div class="row mt-2">
                  <div class="col-12 text-center">
                    <label>{{ DATA_LANG?.prCompColNGraph.text }}</label>
                  </div>
                  <div class="col-12 text-center" style="height: 40px;">
                    <google-chart #chart [type]="type" [columnNames]="columnnames" [data]="collection_graph[i]" [options]="optionsCard" [height]="heightCard" [width]="widthCard" style="text-align: -webkit-center !important; width: auto;"></google-chart>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mt-3" style="margin-right: -15px; margin-left: -35px;" *ngIf="!loading && (layoud_component_display == 'cards' || layoud_component_display == 'grid')">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
              <div class="text-center" *ngIf="list_price_comparison.length > 0">
                <pagination-controls (pageChange)="getPage($event)" id="server" previousLabel="{{ DATA_LANG_GENERAL?.previousPage.text }}" nextLabel="{{ DATA_LANG_GENERAL?.nextPage.text }}"></pagination-controls>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
              <div class="text-center pgp-font_paginator" *ngIf="list_price_comparison.length > 0">
                <div class="text-right pgp-font_paginator" *ngIf="list_price_comparison.length > 0">
                  {{ DATA_LANG_GENERAL?.lbItemsShowed.text }} {{ (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) + 1 ) }} - {{ (list_price_comparison.length
                      <= (currentPage * numItemsPage)) ? (list_price_comparison.length) + (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) ) : (currentPage * numItemsPage) }} {{ DATA_LANG_GENERAL?.lbItemsOf.text }} {{ totalItems }}
                  <!-- Items showed {{ (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) + 1 ) }} - {{ (list_price_comparison.length
                  < (currentPage * numItemsPage)) ? list_price_comparison.length : (currentPage * numItemsPage) }} of {{ totalItems }}  -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>