<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <!-- <div class="logo" (click)="goToHome()">ngx-<span>admin</span></div> -->
    <div class="logo" (click)="goToHome()">
      <img src="../../../../assets/images/imgs/pgp-prexus-logo01.png" alt="PGP Prexus Logo" id="PGP-Logo_head">
    </div>
  </div>
  <ngx-theme-switcher *ngIf="false"></ngx-theme-switcher>
</div>

<div class="header-container">
  <ngx-layout-direction-switcher *ngIf="false"></ngx-layout-direction-switcher>
  <nb-actions
    size="medium"
    [class.right]="position === 'normal'"
    [class.left]="position === 'inverse'">
    <nb-action *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu" [name]="user?.name" [picture]="user?.picture" style="font-family: roboto;"></nb-user>
    </nb-action>
    <nb-action class="control-item" icon="fa fa-headphones"></nb-action>
    <nb-action class="control-item" icon="fa fa-home"></nb-action>
    <!-- <nb-action class="control-item" icon="nb-notifications"></nb-action> 
    <nb-action class="control-item" icon="nb-email"></nb-action>
    <nb-action class="control-item">
      <nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
    </nb-action>-->
  </nb-actions>
</div>
