<div class="row pgp-backgroud_layout font_family_roboto pr-4" [nbSpinner]="loading">
  <div class="col-12">
    <div class="row">
      <div class="col-12 m-3">
        <div class="row">
          <div class="col-12">
            <img class="d-inline float-left" src="../../../assets/images/imgs/information.png" height="20">
            <p class="d-inline pl-2 mb-3 mt-3 pgp-description-color">{{ DATA_LANG?.forRestlbDesc.text }}</p>
          </div>
        </div>
      </div>
      <div class="col-12 ml-3 mr-3">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="row m-1" style="margin-left: 0 !important">
              <div class="col-6 pl-0">
                <input (input)="fnFilteSearch(list_forecast_results, search_input);" fullWidth nbInput [(ngModel)]="search_input" #search_forecast_results="ngModel"
                  class="pgp-text_input_search form-control d-inline-block" id="pgp-input_search_forecast_results" name="search_forecast_results"
                  type="text" placeholder="{{ DATA_LANG_GENERAL?.tbSearch.text }}">
                <i class="fas fa-search pgp-icon_input_search"></i>
              </div>
              <div class="col-auto p-0">
                <button *ngIf="true" class="btn btn-primary pgp-btn_advance_search font_family_roboto" 
                [disabled]="loadingChart && state_view == 'chard'" 
                (click)="showModalAdvancedSearch(obj)"
                style="display: inline-block; width: 180px !important;">{{ DATA_LANG_GENERAL?.buttonAdvanceSearch.text }}</button>
                <div style="display: inline-block; margin: 0px 10px;" *ngIf="items_filtered_advance_search.category?.length > 0 
                    || items_filtered_advance_search.priceList?.length > 0 
                    || items_filtered_advance_search.competitors?.length > 0 
                    || items_filtered_advance_search.products?.length > 0 
                    || items_filtered_advance_search.dCurrentPriceWithVAT?.dMin
                    || items_filtered_advance_search.dCurrentPriceWithVAT?.dMax
                    || items_filtered_advance_search.dPriceWithVAT_Suggested?.dMin
                    || items_filtered_advance_search.dPriceWithVAT_Suggested?.dMax
                    || items_filtered_advance_search.dPriceWithVATVar_Suggested?.dMin
                    || items_filtered_advance_search.dPriceWithVATVar_Suggested?.dMax
                    || items_filtered_advance_search.dUnitsCurrentYear?.dMin
                    || items_filtered_advance_search.dUnitsCurrentYear?.dMax
                    || items_filtered_advance_search.dUnitsYear_Suggested?.dMin
                    || items_filtered_advance_search.dUnitsYear_Suggested?.dMax
                    || items_filtered_advance_search.dUnitsYearVar_Suggested?.dMin
                    || items_filtered_advance_search.dUnitsYearVar_Suggested?.dMax
                    || items_filtered_advance_search.dIncomeYearWithVATCurrent?.dMin
                    || items_filtered_advance_search.dIncomeYearWithVATCurrent?.dMax
                    || items_filtered_advance_search.dIncomeYearWithVAT_Suggested?.dMin
                    || items_filtered_advance_search.dIncomeYearWithVAT_Suggested?.dMax
                    || items_filtered_advance_search.dIncomeYearVar_Suggested?.dMin
                    || items_filtered_advance_search.dIncomeYearVar_Suggested?.dMax
                    || items_filtered_advance_search.dGrossContributionCurrentYear?.dMin
                    || items_filtered_advance_search.dGrossContributionCurrentYear?.dMax
                    || items_filtered_advance_search.dGrossContributionYear_Suggested?.dMin
                    || items_filtered_advance_search.dGrossContributionYear_Suggested?.dMax
                    || items_filtered_advance_search.dGrossContributionYearVar_Suggested?.dMin
                    || items_filtered_advance_search.dGrossContributionYearVar_Suggested?.dMax
                    || items_filtered_advance_search.dCurrentGrossMargin?.dMin
                    || items_filtered_advance_search.dCurrentGrossMargin?.dMax
                    || items_filtered_advance_search.dSuggestedGrossMargin?.dMin
                    || items_filtered_advance_search.dSuggestedGrossMargin?.dMax
                    || items_filtered_advance_search.dPriceWithVAT_User?.dMin
                    || items_filtered_advance_search.dPriceWithVAT_User?.dMax
                    || items_filtered_advance_search.dPriceWithVATVar_User?.dMin
                    || items_filtered_advance_search.dPriceWithVATVar_User?.dMax
                    || items_filtered_advance_search.dUnitsYear_User?.dMin
                    || items_filtered_advance_search.dUnitsYear_User?.dMax
                    || items_filtered_advance_search.dUnitsYearVar_User?.dMin
                    || items_filtered_advance_search.dUnitsYearVar_User?.dMax
                    || items_filtered_advance_search.dIncomeYearWithVAT_User?.dMin
                    || items_filtered_advance_search.dIncomeYearWithVAT_User?.dMax
                    || items_filtered_advance_search.dIncomeYearVar_User?.dMin
                    || items_filtered_advance_search.dIncomeYearVar_User?.dMax
                    || items_filtered_advance_search.dGrossContributionYear_User?.dMin
                    || items_filtered_advance_search.dGrossContributionYear_User?.dMax
                    || items_filtered_advance_search.dGrossContributionYearVar_User?.dMin
                    || items_filtered_advance_search.dGrossContributionYearVar_User?.dMax
                    || items_filtered_advance_search.dUserGrossMargin?.dMin
                    || items_filtered_advance_search.dUserGrossMargin?.dMax ||
                    search_input?.length > 0">
                    <label class="p-0 pgp-label_clear_all" (click)="fnClearAllFiltersSearch(); fnFilteSearch(list_forecast_results, search_input);">{{ DATA_LANG_GENERAL?.lbClearAll.text }}</label>
                  </div>
              </div>         
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-lg-right text-xl-right text-md-center text-sm-center">           
            <button class="btn btn-primary m-1 pgp-btns_actions" (click)="fnExport()">{{ DATA_LANG_GENERAL?.buttonExport.text }}</button>            
          </div>
        </div>
      </div>
      <div class="col-12 ml-3 mr-3" *ngIf="true">
        <div class="row">
          <div class="col-10">
            <div class="d-inline-block">
              <span *ngIf="items_filtered_advance_search.products?.length > 0">
                <span *ngFor="let item_product of items_filtered_advance_search.products; let i = index;">
                  <a class="badge pgp-badge-color">
                    {{ item_product.tProductCode + ' - ' + item_product.tProductName}}
                    <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveItemSearchFilteredAdvanced(i, items_filtered_advance_search.products);"></i>
                  </a>&nbsp;&nbsp;
                </span>
              </span>
              <span *ngIf="items_filtered_advance_search.priceList?.length > 0">
                <span *ngFor="let item_categories of items_filtered_advance_search.priceList; let ind_pl = index;">
                  <a class="badge pgp-badge-color">
                    {{ item_categories.tPriceListName }}
                    <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveItemSearchFilteredAdvanced(ind_pl, items_filtered_advance_search.priceList);"></i>
                  </a>&nbsp;&nbsp;
                </span>
              </span>
              <span *ngIf="items_filtered_advance_search.tProductsType?.length > 0">
                <a class="badge pgp-badge-color">
                  {{ items_filtered_advance_search.tProductsType }}
                  <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveProductsType();"></i>
                </a>&nbsp;&nbsp;
              </span>
              <span *ngIf="items_filtered_advance_search.category?.length > 0">
                <span *ngFor="let item_categories of items_filtered_advance_search.category; let ind_pl = index;">
                  <a class="badge pgp-badge-color">
                    {{ item_categories.tCategoryName }}
                    <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveItemSearchFilteredAdvanced(ind_pl, items_filtered_advance_search.category);"></i>
                  </a>&nbsp;&nbsp;
                </span>
              </span>
              <a class="badge pgp-badge-color" *ngIf="items_filtered_advance_search.dCurrentPriceWithVAT?.dMin || items_filtered_advance_search.dCurrentPriceWithVAT?.dMax">
                {{ DATA_LANG?.forResBadgeCurrentPri.text }}: min = {{ items_filtered_advance_search.dCurrentPriceWithVAT?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dCurrentPriceWithVAT?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetCurrentPriceWithVAT();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="(items_filtered_advance_search.dPriceWithVAT_Suggested?.dMin || items_filtered_advance_search.dPriceWithVAT_Suggested?.dMax) && !userStage">
                {{ DATA_LANG?.forResBadgePriceSug.text }}: min = {{ items_filtered_advance_search.dPriceWithVAT_Suggested?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dPriceWithVAT_Suggested?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetPriceWithVAT();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="(items_filtered_advance_search.dPriceWithVAT_User?.dMin || items_filtered_advance_search.dPriceWithVAT_User?.dMax) && userStage">
                Price user: min = {{ items_filtered_advance_search.dPriceWithVAT_User?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dPriceWithVAT_User?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetPriceWithVAT();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="(items_filtered_advance_search.dPriceWithVATVar_Suggested?.dMin || items_filtered_advance_search.dPriceWithVATVar_Suggested?.dMax) && !userStage">
                {{ DATA_LANG?.forResBadgePriceVar.text }}: min = {{ items_filtered_advance_search.dPriceWithVATVar_Suggested?.dMin * 100 | number : '1.2-2' }} - max = {{
                items_filtered_advance_search.dPriceWithVATVar_Suggested?.dMax * 100 | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetPriceWithVATVar();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="(items_filtered_advance_search.dPriceWithVATVar_User?.dMin || items_filtered_advance_search.dPriceWithVATVar_User?.dMax) && userStage">
                Price variation: min = {{ items_filtered_advance_search.dPriceWithVATVar_User?.dMin * 100 | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dPriceWithVATVar_User?.dMax * 100
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetPriceWithVATVar();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="items_filtered_advance_search.dUnitsCurrentYear?.dMin || items_filtered_advance_search.dUnitsCurrentYear?.dMax">
                {{ DATA_LANG?.forResBadgeCurrentU.text }}: min = {{ items_filtered_advance_search.dUnitsCurrentYear?.dMin * 100 | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dUnitsCurrentYear?.dMax * 100
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetUnitsCurrentYear();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="(items_filtered_advance_search.dUnitsYear_Suggested?.dMin || items_filtered_advance_search.dUnitsYear_Suggested?.dMax) && !userStage">
                {{ DATA_LANG?.forResBadgeProjected.text }}: min = {{ items_filtered_advance_search.dUnitsYear_Suggested?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dUnitsYear_Suggested?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetUnitsYear();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="(items_filtered_advance_search.dUnitsYear_User?.dMin || items_filtered_advance_search.dUnitsYear_User?.dMax) && userStage">
                Projected units: min = {{ items_filtered_advance_search.dUnitsYear_User?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dUnitsYear_User?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetUnitsYear();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="(items_filtered_advance_search.dUnitsYearVar_Suggested?.dMin || items_filtered_advance_search.dUnitsYearVar_Suggested?.dMax) && !userStage">
                {{ DATA_LANG?.forResBadgeUnitsVar.text }}: min = {{ items_filtered_advance_search.dUnitsYearVar_Suggested?.dMin * 100 | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dUnitsYearVar_Suggested?.dMax * 100
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetUnitsYearVar();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="(items_filtered_advance_search.dUnitsYearVar_User?.dMin || items_filtered_advance_search.dUnitsYearVar_User?.dMax) && userStage">
                Units variation: min = {{ items_filtered_advance_search.dUnitsYearVar_User?.dMin * 100 | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dUnitsYearVar_User?.dMax * 100
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetUnitsYearVar();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="items_filtered_advance_search.dIncomeYearWithVATCurrent?.dMin || items_filtered_advance_search.dIncomeYearWithVATCurrent?.dMax">
                {{ DATA_LANG?.forResBadgeCurrentNet.text }}: min = {{ items_filtered_advance_search.dIncomeYearWithVATCurrent?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dIncomeYearWithVATCurrent?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetIncomeYearWithVATCurrent();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="(items_filtered_advance_search.dIncomeYearWithVAT_Suggested?.dMin || items_filtered_advance_search.dIncomeYearWithVAT_Suggested?.dMax) && !userStage">
                {{ DATA_LANG?.forResBadgeProjectedNet.text }}: min = {{ items_filtered_advance_search.dIncomeYearWithVAT_Suggested?.dMin | number : '1.2-2' }} - max = {{
                items_filtered_advance_search.dIncomeYearWithVAT_Suggested?.dMax | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetIncomeYearWithVAT();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="(items_filtered_advance_search.dIncomeYearWithVAT_User?.dMin || items_filtered_advance_search.dIncomeYearWithVAT_User?.dMax) && userStage">
                Projected net: min = {{ items_filtered_advance_search.dIncomeYearWithVAT_User?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dIncomeYearWithVAT_User?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetIncomeYearWithVAT();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="(items_filtered_advance_search.dIncomeYearVar_Suggested?.dMin || items_filtered_advance_search.dIncomeYearVar_Suggested?.dMax) && !userStage">
                {{ DATA_LANG?.forResBadgeIncomeVar.text }}: min = {{ items_filtered_advance_search.dIncomeYearVar_Suggested?.dMin | number : '1.1-1' }} - max = {{
                items_filtered_advance_search.dIncomeYearVar_Suggested?.dMax | number : '1.1-1' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetIncomeYearVar();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="(items_filtered_advance_search.dIncomeYearVar_User?.dMin || items_filtered_advance_search.dIncomeYearVar_User?.dMax) && userStage">
                Income variation: min = {{ items_filtered_advance_search.dIncomeYearVar_User?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dIncomeYearVar_User?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetIncomeYearVar();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="items_filtered_advance_search.dGrossContributionCurrentYear?.dMin || items_filtered_advance_search.dGrossContributionCurrentYear?.dMax">
                {{ DATA_LANG?.forResBadgeCurrentGross.text }}: min = {{ items_filtered_advance_search.dGrossContributionCurrentYear?.dMin | number : '1.2-2' }} - max = {{
                items_filtered_advance_search.dGrossContributionCurrentYear?.dMax | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetGrossContributionCurrentYear();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="(items_filtered_advance_search.dGrossContributionYear_Suggested?.dMin || items_filtered_advance_search.dGrossContributionYear_Suggested?.dMax) && !userStage">
                {{ DATA_LANG?.forResBadgeProjectedGross.text }}: min = {{ items_filtered_advance_search.dGrossContributionYear_Suggested?.dMin | number : '1.2-2' }} - max
                = {{ items_filtered_advance_search.dGrossContributionYear_Suggested?.dMax | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetGrossContributionYear();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="(items_filtered_advance_search.dGrossContributionYear_User?.dMin || items_filtered_advance_search.dGrossContributionYear_User?.dMax) && userStage">
                Projected gross: min = {{ items_filtered_advance_search.dGrossContributionYear_User?.dMin | number : '1.1-1' }} - max = {{
                items_filtered_advance_search.dGrossContributionYear_User?.dMax | number : '1.1-1' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetGrossContributionYear();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="(items_filtered_advance_search.dGrossContributionYearVar_Suggested?.dMin || items_filtered_advance_search.dGrossContributionYearVar_Suggested?.dMax) && !userStage">
                {{ DATA_LANG?.forResBadgeVarGross.text }}: min = {{ items_filtered_advance_search.dGrossContributionYearVar_Suggested?.dMin * 100 | number : '1.2-2' }}
                - max = {{ items_filtered_advance_search.dGrossContributionYearVar_Suggested?.dMax * 100 | number : '1.1-1' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetGrossContributionYearVar();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="(items_filtered_advance_search.dGrossContributionYearVar_User?.dMin || items_filtered_advance_search.dGrossContributionYearVar_User?.dMax) && userStage">
                Variation of gross: min = {{ items_filtered_advance_search.dGrossContributionYearVar_User?.dMin * 100 | number : '1.1-1' }} - max
                = {{ items_filtered_advance_search.dGrossContributionYearVar_User?.dMax * 100 | number : '1.1-1' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetGrossContributionYearVar();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="items_filtered_advance_search.dCurrentGrossMargin?.dMin || items_filtered_advance_search.dCurrentGrossMargin?.dMax">
                {{ DATA_LANG?.forResBadgeCurrentGrossMar.text }}: min = {{ items_filtered_advance_search.dCurrentGrossMargin?.dMin * 100 | number : '1.1-1' }} - max = {{ items_filtered_advance_search.dCurrentGrossMargin?.dMax * 100
                | number : '1.1-1' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetCurrentGrossMargin();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="(items_filtered_advance_search.dSuggestedGrossMargin?.dMin || items_filtered_advance_search.dSuggestedGrossMargin?.dMax) && !userStage">
                {{ DATA_LANG?.forResBadgeSuggestedGrossMar.text }}: min = {{ items_filtered_advance_search.dSuggestedGrossMargin?.dMin * 100 | number : '1.1-1' }} - max =
                {{ items_filtered_advance_search.dSuggestedGrossMargin?.dMax * 100 | number : '1.1-1' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetGrossMargin();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="(items_filtered_advance_search.dUserGrossMargin?.dMin || items_filtered_advance_search.dUserGrossMargin?.dMax) && userStage">
                Gross margin user: min = {{ items_filtered_advance_search.dUserGrossMargin?.dMin * 100 | number : '1.1-1' }} - max = {{ items_filtered_advance_search.dUserGrossMargin?.dMax * 100
                | number : '1.1-1' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetGrossMargin();"></i>
              </a>&nbsp;&nbsp;
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 ml-3 mr-3" *ngIf="true">
        <div class="row">
          <!-- <div class="col-10">
            <div class="row float-left">
              <label *ngIf="userStage" class="m-3">
                <p>Suggested scenario</p>
              </label>
              <label *ngIf="!userStage" class="m-3">
                <strong style="color: black;">Suggested scenario</strong>
              </label>
              <div class="mt-3 mb-3">
                <label class="switch m-0">
                  <input type="checkbox" checked id="pgp-checkbox_userStage" [(ngModel)]="userStage" name="checkbox_userStage" (change)="fnSwitchStage()">
                  <span class="slider round"></span>
                </label>
              </div>
              <label *ngIf="!userStage" class="m-3">
                <p>User scenario</p>
              </label>
              <label *ngIf="userStage" class="m-3">
                <strong style="color: black;">User scenario</strong>
              </label>
              <i class="mt-3 far fa-question-circle pgp-pointer" (click)="open('Scenario','Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.')"></i>
            </div>
          </div> -->
          <div class="col-12 text-right">
            <i class="fas fa-th-large pgp-pointer mb-3 mt-3" style=" font-size: 22px !important;" [ngClass]="{'pgp-icon_state_view_data_active': (layoud_component_display == 'cards'), 'pgp-icon_state_view_data_inactive': (layoud_component_display == 'grid'), 'pgp-icon_state_view_data_inactive': (layoud_component_display == 'chard')}"
              (click)="fnSwitchViewData('cards')"></i>&nbsp;
            <i class="fas fa-th-list pgp-pointer mb-3 mt-3" style=" font-size: 22px !important;" [ngClass]="{'pgp-icon_state_view_data_active': (layoud_component_display == 'grid'), 'pgp-icon_state_view_data_inactive': (layoud_component_display == 'cards'), 'pgp-icon_state_view_data_inactive': (layoud_component_display == 'chard')}"
              (click)="fnSwitchViewData('grid')"></i>&nbsp;
            <i class="fas fa-chart-line pgp-pointer mb-3 mt-3" style=" font-size: 22px !important;" [ngClass]="{'pgp-icon_state_view_data_active': (layoud_component_display == 'chard'), 'pgp-icon_state_view_data_inactive': (layoud_component_display == 'grid'), 'pgp-icon_state_view_data_inactive': (layoud_component_display == 'cards')}"
              (click)="fnSwitchViewData('chard')"></i>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-3 pgp-Margin_top">
        <div style="width: 100%;overflow: auto;" *ngIf="layoud_component_display == 'grid'">
          <table class="table table-bordered pgp-table">
            <thead>
              <tr>
                <th>
                  <div style="width: 16px;"></div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 160px;">
                    {{ DATA_LANG_GENERAL?.colnProductCode.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.forResColnProductCodeTooltipTittle.text,DATA_LANG?.forResColnProductCodeTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_name_column" (click)="sortColumn('tProductCode')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 313px;">
                    {{ DATA_LANG_GENERAL?.colnProductName.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.forResColnProductNameTooltipTittle.text,DATA_LANG?.forResColnProductNameTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tProductName')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 150px;">
                    {{ DATA_LANG_GENERAL?.colnPricesList.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.forResColnPricesListTooltipTittle.text,DATA_LANG?.forResColnPricesListTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tPriceListName')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>             
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div class="pgp-div_lines">
                    {{ DATA_LANG_GENERAL?.colnCategory.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.forResColnCatTooltipTittle.text,DATA_LANG?.forResColnCatTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tCategoryName')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div class="pgp-div_code">
                    {{ DATA_LANG?.forResColnCurrentP.text }} {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.forResColnCurrentPTooltipTittle.text,DATA_LANG?.forResColnCurrentPTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dCurrentPrice')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th *ngIf="!userStage" class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 146px;">                 
                    {{ DATA_LANG?.forResColnPriceSuggested.text }} {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.forResColnPriceSuggestedTooltipTittle.text,DATA_LANG?.forResColnPriceSuggestedTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dPriceWithVAT')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th *ngIf="userStage" class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 130px;">
                    Price <br> User {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                    <span>
                      <i class="far fa-question-circle" (click)="open('Price User','This is the suggested price, but respecting the limits of increments and reductions defined in the Parameters screen.')"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dPriceWithVAT')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div class="pgp-div_lines">
                    {{ DATA_LANG?.forResColnPriceVar.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.forResColnPriceVarTooltipTittle.text,DATA_LANG?.forResColnPriceVarTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dPriceWithVATVar')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div class="pgp-div_lines">
                    {{ DATA_LANG?.forResColnCurrentUnits.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.forResColnCurrentUnitsTooltipTittle.text,DATA_LANG?.forResColnCurrentUnitsTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dUnitsCurrentYear')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div class="pgp-div_lines">
                    {{ DATA_LANG?.forResColnProjectedUnits.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.forResColnProjectedUnitsTooltipTittle.text,DATA_LANG?.forResColnProjectedUnitsTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dUnitsYear')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div class="pgp-div_lines">
                    {{ DATA_LANG?.forResColnUnitsVar.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.forResColnUnitsVarTooltipTittle.text,DATA_LANG?.forResColnUnitsVarTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dUnitsYearVar')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div class="pgp-div_code" style="width: 120px;">
                    {{ DATA_LANG?.forResColnCurrentNet.text }} {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.forResColnCurrentNetTooltipTittle.text,DATA_LANG?.forResColnCurrentNetTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dIncomeYearWithVATCurrent')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div class="pgp-div_code" style="width: 155px;">
                    {{ DATA_LANG?.forResColnProjectedNet.text }} {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.forResColnProjectedNetTooltipTittle.text,DATA_LANG?.forResColnProjectedNetTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dIncomeYearWithVAT')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div class="pgp-div_code" style="width: 105px;">
                    {{ DATA_LANG?.forResColnIncomeVar.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.forResColnIncomeVarTooltipTittle.text,DATA_LANG?.forResColnIncomeVarTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dIncomeYearVar')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 154px;">
                    {{ DATA_LANG?.forResColnCurrentGross.text }} {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.forResColnCurrentGrossTooltipTittle.text,DATA_LANG?.forResColnCurrentGrossTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dGrossContributionCurrentYear')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 154px;">
                    {{ DATA_LANG?.forResColnProjectedGross.text }} {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.forResColnProjectedGrossTooltipTittle.text,DATA_LANG?.forResColnProjectedGrossTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dGrossContributionYear')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left pgp-th_lines" id="thead_jobTitle" style="cursor: pointer;">
                  <div class="pgp-div_lines" style="width: 155px;">
                    {{ DATA_LANG?.forResColnVarGross.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.forResColnVarGrossTooltipTittle.text,DATA_LANG?.forResColnVarGrossTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dGrossContributionYearVar')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left pgp-th_lines" id="thead_jobTitle" style="cursor: pointer;">
                  <div class="pgp-div_lines">
                    {{ DATA_LANG?.forResColnCurrentGrossMar.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.forResColnCurrentGrossMarTooltipTittle.text,DATA_LANG?.forResColnCurrentGrossMarTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dCurrentGrossMargin')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th *ngIf="!userStage" class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div class="pgp-div_lines">
                    {{ DATA_LANG?.forResColnSuggestedGrossMar.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.forResColnSuggestedGrossMarTooltipTittle.text,DATA_LANG?.forResColnSuggestedGrossMarTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dGrossMargin')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th *ngIf="userStage" class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div class="pgp-div_lines">
                    User Gross Margin
                    <span>
                      <i class="far fa-question-circle" (click)="open('User Gross Margin','This is the suggested price, but respecting the limits of increments and reductions defined in the Parameters screen.')"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dGrossMargin')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of list_forecast_results | paginate: { id: 'server', itemsPerPage: numItemsPage, currentPage: currentPage, totalItems: totalItems }; let i = index;">
                <td *ngIf="userStage" class="pgp-table-actions">
                  <i class="fas fa-edit pgp-pointer" nbTooltip="{{ DATA_LANG?.forResToolEdit.text }}" nbTooltipPlacement="top" (click)="showModalEdit(data)"></i>
                </td>
                <td *ngIf="!userStage" class="pgp-table-actions">

                </td>
                <td class="text-left" style="width: 150px;">
                  <div class="d-inline-block text-truncate">
                    {{ data.tProductCode }}
                  </div>
                </td>
                <td class="text-left">
                  <div class="d-inline-block text-truncate">
                    {{ data.tProductName }}
                  </div>
                </td>
                <td class="text-left" style="width: 150px;">
                  <div class="d-inline-block text-truncate">
                    {{ data.tPriceListName }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate">
                    {{ data.tCategory }}
                  </div>
                </td>
                <td class="text-right">
                  <div class="d-inline-block text-truncate" style="width: 110px;">
                    {{ data.dCurrentPriceWithVAT | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                </td>
                <td *ngIf="!userStage" class="text-right">
                  <div class="d-inline-block text-truncate" style="width: 130px;">
                    {{ data.dPriceWithVAT_Suggested | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                </td>
                <td *ngIf="userStage" class="text-right">
                  <div class="d-inline-block text-truncate" style="width: 130px;">
                    {{ data.dPriceWithVAT_User | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                </td>
                <td *ngIf="!userStage" class="text-right">
                  <div class="d-inline-block text-truncate">
                    {{data.dPriceWithVATVar_Suggested == null ? '' : (data.dPriceWithVATVar_Suggested * 100 | number : '1.1-1') + '%' }}
                  </div>
                </td>
                <td *ngIf="userStage" class="text-right">
                  <div class="d-inline-block text-truncate">
                    {{data.dPriceWithVATVar_User == null ? '' : (data.dPriceWithVATVar_User * 100 | number : '1.1-1') + '%' }}
                  </div>
                </td>
                <td class="text-right">
                  <div class="d-inline-block text-truncate">
                    {{ data.dUnitsCurrentYear | number : '1.0-0' }}
                  </div>
                </td>
                <td *ngIf="!userStage" class="text-right">
                  <div class="d-inline-block text-truncate">
                    {{ data.dUnitsYear_Suggested | number : '1.0-0' }}
                  </div>
                </td>
                <td *ngIf="userStage" class="text-right">
                  <div class="d-inline-block text-truncate">
                    {{ data.dUnitsYear_User | number : '1.0-0' }}
                  </div>
                </td>
                <td *ngIf="!userStage" class="text-right">
                  <div class="d-inline-block text-truncate">
                    {{data.dUnitsYearVar_Suggested == null ? '' : (data.dUnitsYearVar_Suggested * 100 | number : '1.1-1') + '%' }}
                  </div>
                </td>
                <td *ngIf="userStage" class="text-right">
                  <div class="d-inline-block text-truncate">
                    {{data.dUnitsYearVar_User == null ? '' : (data.dUnitsYearVar_User * 100 | number : '1.1-1') + '%' }}
                  </div>
                </td>
                <td class="text-right pgp-td_lines">
                  <div class="d-inline-block text-truncate">
                    {{ data.dIncomeYearWithVATCurrent | number : '1.0-0' }}
                  </div>
                </td>
                <td *ngIf="!userStage" class="text-right pgp-td_lines">
                  <div class="d-inline-block text-truncate">
                    {{ data.dIncomeYearWithVAT_Suggested | number : '1.0-0' }}
                  </div>
                </td>
                <td *ngIf="userStage" class="text-right pgp-td_lines">
                  <div class="d-inline-block text-truncate">
                    {{ data.dIncomeYearWithVAT_User | number : '1.0-0' }}
                  </div>
                </td>
                <td *ngIf="!userStage" class="text-right pgp-td_lines">
                  <div class="d-inline-block text-truncate">
                    {{data.dIncomeYearVar_Suggested == null ? '' : (data.dIncomeYearVar_Suggested * 100 | number : '1.1-1') + '%' }}
                  </div>
                </td>
                <td *ngIf="userStage" class="text-right">
                  <div class="d-inline-block text-truncate" style="width: 130px;">
                    {{data.dIncomeYearVar_User == null ? '' : (data.dIncomeYearVar_User * 100 | number : '1.1-1') + '%' }}
                  </div>
                </td>
                <td class="text-right pgp-td_lines">
                  <div class="d-inline-block text-truncate">
                    {{ data.dGrossContributionCurrentYear | number : '1.0-0' }}
                  </div>
                </td>
                <td *ngIf="!userStage" class="text-right pgp-td_lines">
                  <div class="d-inline-block text-truncate">
                    {{ data.dGrossContributionYear_Suggested | number : '1.0-0' }}
                  </div>
                </td>
                <td *ngIf="userStage" class="text-right pgp-td_lines">
                  <div class="d-inline-block text-truncate">
                    {{ data.dGrossContributionYear_User | number : '1.0-0' }}
                  </div>
                </td>
                <td *ngIf="!userStage" class="text-right pgp-td_lines">
                  <div class="d-inline-block text-truncate">
                    {{data.dGrossContributionYearVar_Suggested == null ? '' : (data.dGrossContributionYearVar_Suggested * 100 | number : '1.1-1') +
                    '%' }}
                  </div>
                </td>
                <td *ngIf="userStage" class="text-right pgp-td_lines">
                  <div class="d-inline-block text-truncate">
                    {{data.dGrossContributionYearVar_User == null ? '' : (data.dGrossContributionYearVar_User * 100 | number : '1.1-1') + '%' }}
                  </div>
                </td>
                <td class="text-right pgp-td_lines">
                  <div class="d-inline-block text-truncate">
                    {{ data.dCurrentGrossMargin == null ? '' : (data.dCurrentGrossMargin * 100 | number : '1.1-1') + '%' }}
                  </div>
                </td>
                <td *ngIf="!userStage" class="text-right pgp-td_lines">
                  <div class="d-inline-block text-truncate">
                    {{ data.dSuggestedGrossMargin == null ? '' : (data.dSuggestedGrossMargin * 100 | number : '1.1-1') + '%'}}
                  </div>
                </td>
                <td *ngIf="userStage" class="text-right pgp-td_lines">
                  <div class="d-inline-block text-truncate">
                    {{ data.dUserGrossMargin == null ? '' : (data.dUserGrossMargin * 100 | number : '1.1-1') + '%' }}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row pr-3 pl-3" *ngIf="layoud_component_display == 'cards'">
          <div *ngFor="let dataCard of list_forecast_results | paginate: { id: 'server', itemsPerPage: numItemsPage, currentPage: currentPage, totalItems: totalItems }; let i = index;"
            class="mb-2 mt-2 p-0 col-xl-3 col-lg-4 col-md-4 col-sm-12 col-xs-12" id="pgp-card_list_{{i}}">
            <div style="background-color: transparent; padding: 10px;">
              <div class="m-0 pgp-card_head">
                <div class="d-inline-block pgp-content_title_card mt-1 mb-1 ml-4 mr-0">
                  <div class="row">
                    <div class="col-11">
                      <label class="pgp-label-header-card text-left text-truncate pgp-card_label_title"><strong>{{ dataCard.tProductName }}</strong></label>
                    </div>
                    <div class="col-1" *ngIf="userStage">
                      <i class="fas fa-edit pgp-icon_card pgp-pointer" nbTooltip="Edit" nbTooltipPlacement="top" (click)="showModalEdit(data)"></i>
                    </div>   
                  </div> 
                  <div class="row">
                    <div class="col-5">
                      <label class="pgp-label-header-card"><strong>{{ DATA_LANG_GENERAL?.colnProductCode.text }}: </strong></label>
                    </div>
                    <div class="col-6 text-left">
                      <label class="pgp-label-header-card">{{ dataCard.tProductCode }}</label>
                    </div>
                    <div class="col-5">
                      <label class="pgp-label-header-card"><strong>{{ DATA_LANG_GENERAL?.colnPricesList.text }}: </strong></label>
                    </div>
                    <div class="col-6 text-left">
                      <label class="pgp-label-header-card">{{ dataCard.tPriceListName }}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="m-0 pgp-card_body">
                <div class="row pgp-row-data-card" style="line-height: 0.25rem !important;">
                  <div class="col-7">
                    <label class="p-2 m-0 pgp-data-card text-truncate">{{ DATA_LANG?.forResColnCurrentP.text }}</label>
                  </div>
                  <div class="col-5 text-right">
                    <label class="p-2 m-0 pgp-data-card text-truncate"> {{ dataCard.dCurrentPriceWithVAT | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                  </div>
                </div>              
                <div class="row pgp-row-data-card" style="line-height: 0.25rem !important;">
                  <div class="col-7" *ngIf="!userStage">
                    <label class="p-2 m-0 pgp-data-card text-truncate">{{ DATA_LANG?.forResColnPriceSuggested.text }}</label>
                  </div>
                  <div class="col-7" *ngIf="userStage">
                    <label class="p-2 m-0 pgp-data-card text-truncate">Price user</label>
                  </div>
                  <div *ngIf="!userStage" class="col-5 text-right">
                    <label class="p-2 m-0 text-truncate">{{ dataCard.dPriceWithVAT_Suggested | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                  </div>
                  <div *ngIf="userStage" class="col-5 text-right">
                    <label class="p-2 m-0 text-truncate">{{ dataCard.dPriceWithVAT_User | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                  </div>
                </div>              
                <div class="row pgp-row-data-card" style="line-height: 0.25rem !important;">
                  <div class="col-7">
                    <label class="p-2 m-0 text-truncate pgp-data-card text-truncate">{{ DATA_LANG?.forResColnPriceVar.text }}</label>
                  </div>
                  <div *ngIf="!userStage" class="col-5 text-right">
                    <label class="p-2 m-0 text-truncate">{{dataCard.dPriceWithVATVar_Suggested == null ? '' : (dataCard.dPriceWithVATVar_Suggested * 100 | number : '1.1-1') + '%' }}</label>
                  </div>
                  <div *ngIf="userStage" class="col-5 text-right">
                    <label class="p-2 m-0 text-truncate">{{dataCard.dPriceWithVATVar_User == null ? '' : (dataCard.dPriceWithVATVar_User * 100 | number : '1.1-1') + '%' }}</label>
                  </div>
                </div>
                <div class="row pgp-row-data-card" style="line-height: 0.25rem !important;">
                  <div class="col-6">
                    <label class="p-2 m-0 text-truncate pgp-data-card text-truncate">{{ DATA_LANG?.forResColnCurrentUnits.text }}</label>
                  </div>
                  <div *ngIf="!userStage" class="col-6 text-right">
                    <label class="p-2 m-0 text-truncate">{{ dataCard.dUnitsYear_Suggested | number : '1.0-0' }}</label>
                  </div>
                  <div *ngIf="userStage" class="col-6 text-right">
                    <label class="p-2 m-0 text-truncate">{{ dataCard.dUnitsYear_User | number : '1.0-0' }}</label>
                  </div>
                </div>
                <div class="row pgp-row-data-card" style="line-height: 0.25rem !important;">
                  <div class="col-6">
                    <label class="p-2 m-0 text-truncate pgp-data-card text-truncate">{{ DATA_LANG?.forResColnProjectedUnits.text }}</label>
                  </div>
                  <div *ngIf="!userStage" class="col-6 text-right">
                    <label class="p-2 m-0 text-truncate">{{ dataCard.dUnitsYear_Suggested | number : '1.0-0' }}</label>
                  </div>
                  <div *ngIf="userStage" class="col-6 text-right">
                    <label class="p-2 m-0 text-truncate">{{ dataCard.dUnitsYear_User | number : '1.0-0' }}</label>
                  </div>
                </div>
                <div class="row pgp-row-data-card" style="line-height: 0.25rem !important;">
                  <div class="col-6">
                    <label class="p-2 m-0 text-truncate pgp-data-card text-truncate">{{ DATA_LANG?.forResColnUnitsVar.text }}</label>
                  </div>
                  <div *ngIf="!userStage" class="col-6 text-right">
                    <label class="p-2 m-0 text-truncate">{{dataCard.dUnitsYearVar_Suggested == null ? '' : (dataCard.dUnitsYearVar_Suggested * 100 | number : '1.1-1') + '%' }}</label>
                  </div>
                  <div *ngIf="userStage" class="col-6 text-right">
                    <label class="p-2 m-0 text-truncate">{{dataCard.dUnitsYearVar_User == null ? '' : (dataCard.dUnitsYearVar_User * 100 | number : '1.1-1') + '%' }}</label>
                  </div>
                </div>
                <div class="row pgp-row-data-card" style="line-height: 0.25rem !important;">
                  <div class="col-6">
                    <label class="p-2 m-0 text-truncate pgp-data-card text-truncate">{{ DATA_LANG?.forResColnCurrentNet.text }}</label>
                  </div>
                  <div class="col-6 text-right">
                    <label class="p-2 m-0 text-truncate text-truncate">{{ dataCard.dIncomeYearWithVATCurrent | number : '1.0-0' }}</label>
                  </div>
                </div>
                <div class="row pgp-row-data-card" style="line-height: 0.25rem !important;">
                  <div class="col-6">
                    <label class="p-2 m-0 text-truncate pgp-data-card text-truncate">{{ DATA_LANG?.forResColnProjectedNet.text }}</label>
                  </div>
                  <div *ngIf="!userStage" class="col-6 text-right">
                    <label class="p-2 m-0 text-truncate">{{ dataCard.dIncomeYearWithVAT_Suggested | number : '1.0-0' }}</label>
                  </div>
                  <div *ngIf="userStage" class="col-6 text-right">
                    <label class="p-2 m-0 text-truncate">{{ dataCard.dIncomeYearWithVAT_User | number : '1.0-0' }}</label>
                  </div>               
                </div> 
                <div class="row pgp-row-data-card" style="line-height: 0.25rem !important;">
                  <div class="col-6">
                    <label class="p-2 m-0 text-truncate pgp-data-card text-truncate">{{ DATA_LANG?.forResColnIncomeVar.text }}</label>
                  </div>
                  <div *ngIf="!userStage" class="col-6 text-right">
                    <label class="p-2 m-0 text-truncate">{{dataCard.dIncomeYearVar_Suggested == null ? '' : (dataCard.dIncomeYearVar_Suggested * 100 | number : '1.1-1') + '%' }}</label>
                  </div>
                  <div *ngIf="userStage" class="col-6 text-right">
                    <label class="p-2 m-0 text-truncate">{{dataCard.dIncomeYearVar_User == null ? '' : (dataCard.dIncomeYearVar_User * 100 | number : '1.1-1') + '%' }}</label>
                  </div>
                </div>
                <div class="row pgp-row-data-card" style="line-height: 0.25rem !important;">
                  <div class="col-6">
                    <label class="p-2 m-0 text-truncate pgp-data-card text-truncate">{{ DATA_LANG?.forResColnCurrentGross.text }}</label>
                  </div>
                  <div class="col-6 text-right">
                    <label class="p-2 m-0 text-truncate text-truncate">{{ dataCard.dGrossContributionCurrentYear | number : '1.0-0' }}</label>
                  </div>
                </div>
                <div class="row pgp-row-data-card" style="line-height: 0.25rem !important;">
                  <div class="col-6">
                    <label class="p-2 m-0 text-truncate pgp-data-card text-truncate">{{ DATA_LANG?.forResColnProjectedGross.text }}</label>
                  </div>
                  <div *ngIf="!userStage" class="col-6 text-right">
                    <label class="p-2 m-0 text-truncate">{{ dataCard.dGrossContributionYear_Suggested | number : '1.0-0' }}</label>
                  </div>
                  <div *ngIf="userStage" class="col-6 text-right">
                    <label class="p-2 m-0 text-truncate">{{ dataCard.dGrossContributionYear_User | number : '1.0-0' }}</label>
                  </div>
                </div>
                <div class="row pgp-row-data-card" style="line-height: 0.25rem !important;">
                  <div class="col-6">
                    <label class="p-2 m-0 text-truncate pgp-data-card text-truncate">{{ DATA_LANG?.forResColnVarGross.text }}</label>
                  </div>
                  <div *ngIf="!userStage" class="col-6 text-right">
                    <label class="p-2 m-0 text-truncate">{{dataCard.dGrossContributionYearVar_Suggested == null ? '' : (dataCard.dGrossContributionYearVar_Suggested * 100 | number : '1.1-1') + '%' }}</label>
                  </div>
                  <div *ngIf="userStage" class="col-6 text-right">
                    <label class="p-2 m-0 text-truncate">{{dataCard.dGrossContributionYearVar_User == null ? '' : (dataCard.dGrossContributionYearVar_User * 100 | number : '1.1-1') + '%' }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mt-3" style="margin-right: -15px; margin-left: -35px;" *ngIf="!loading && (layoud_component_display == 'cards' || layoud_component_display == 'grid')">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">&nbsp;</div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
              <div class="text-center" *ngIf="list_forecast_results.length > 0">
                <pagination-controls (pageChange)="getPage($event)" id="server" previousLabel="{{ DATA_LANG_GENERAL?.previousPage.text }}" nextLabel="{{ DATA_LANG_GENERAL?.nextPage.text }}"></pagination-controls>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
              <div class="text-center pgp-font_paginator" *ngIf="list_forecast_results.length > 0">
                <div class="text-right pgp-font_paginator" *ngIf="list_forecast_results.length > 0">
                  {{ DATA_LANG_GENERAL?.lbItemsShowed.text }} {{ (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) + 1 ) }} - {{ (list_forecast_results.length
                      <= (currentPage * numItemsPage)) ? (list_forecast_results.length) + (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) ) : (currentPage * numItemsPage) }} {{ DATA_LANG_GENERAL?.lbItemsOf.text }} {{ totalItems }}
                  <!-- Items showed {{ (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) + 1 ) }} - {{ (list_forecast_results.length
                  < (currentPage * numItemsPage)) ? list_forecast_results.length : (currentPage * numItemsPage) }} of {{ totalItems }}  -->
                </div>
                </div>
              </div>


            </div>
          </div>
          <!-- <div class="p-0 m-0" style="width: 100%;height: auto;min-height: 200px;" *ngIf="layoud_component_display == 'chard'" [nbSpinner]="loadingChart"> -->
          <div class="p-0 m-0" style="width: 100%;height: auto;min-height: 200px;" *ngIf="layoud_component_display == 'chard'" [nbSpinner]="loadingChart">
            <div *ngIf="showChart && userStage" class="col-12 d-inline-block text-center m-0 p-0">
              <h1 class="m-0 font_family_roboto">Forecast result (User)</h1>
            </div>
            <div *ngIf="showChart && !userStage" class="col-12 d-inline-block text-center m-0 p-0">
              <h1 class="m-0 font_family_roboto">{{ DATA_LANG?.forResCharTittleSuggested.text }}</h1>
            </div>
            <google-chart *ngIf="showChart" #chart [title]="title" [type]="type" [data]="dataChart" [columnNames]="columnNames" [options]="options">
            </google-chart>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>