<nb-layout>
    <nb-layout-header fixed>
        <ngx-header></ngx-header>
    </nb-layout-header>

    <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
        <nb-sidebar-header *ngIf="currentTheme !== 'default'">
            <a href="#" class="btn btn-hero-success main-btn">
                <i class="ion ion-social-github"></i> 
                <span>Support Us {{ currentTheme }}</span>
            </a>
        </nb-sidebar-header>
        <ng-content select="nb-menu"></ng-content>
    </nb-sidebar>

    <nb-layout-column class="small"></nb-layout-column>

    <nb-layout-column>
        <ng-content select="router-outlet"></ng-content>
    </nb-layout-column>

    <nb-layout-footer fixed>
        <ngx-footer></ngx-footer>
    </nb-layout-footer>

</nb-layout>