<div class="row pgp-backgroud_layout font_family_roboto">
  <div class="col-12">

    <div class="row">
      <div class="col-6">
        <h1 class="font_family_roboto">Companies</h1>
      </div>
      <div class="col-6 m-auto text-right">
        <button nbButton (click)="createNewCompany(id_company)"
          id="pgp-btn_show_modal_create_project"
          class="pgp-btn_success font_family_roboto">
          Create
        </button>
      </div>
    </div>
    <br><br>
    <div class="row mt-4 mb-4" *ngIf="false">
      <div class="col-12 justify-content-right text-right">
          <input class="pgp-search-border-color" type="text" nbInput status="info" placeholder="Search">
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <table class="table pgp-table">
          <thead>
            <tr>
              <!-- <th scope="col">Empresa</th>
              <th scope="col">Versión</th>
              <th scope="col">Creado por</th>
              <th scope="col">Ultima modificación</th>
              <th scope="col">Opciones</th> -->           
              <th scope="col">Company name</th>
              <!-- <th scope="col">tCompanyName</th> -->
              <th scope="col">Created date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let company of companies; let i = index;">
              <td>
                  <nb-user class="font_family_roboto" [name]="company.tCompanyName" (click)="fnCompanySelected(company, company.iIDCompany);" [title]="company.tCompanyName"></nb-user>
              </td>              
              <!-- <td>{{ company.tCompanyName }}</td> -->
              <td>
                {{ company.dtCreatedDate | date: 'MM/dd/yyyy' }}
                <!-- <button type="button" 
                  class="btn btn-outline-secondary pgp-button_dots_table">
                  <i class="fas fa-ellipsis-v"></i>
                </button> -->

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>