<div class="row pgp-backgroud_layout">
    <div class="container">
      <div class="row">
        <div class="col m-4">
          <h2 class="text-center">{{ DATA_LANG?.termslbTittle.text }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>{{ DATA_LANG?.termslbDesc.text }}</p>
        </div>
      </div>
    </div>
</div>