@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes';

@include nb-install-component() {

    .flex-centered {
        margin: auto;
    }
    nb-card-body {
        display: flex;
    }
    
    .title {
        text-align: center;
    }

    .font_family_roboto {
        font-family: 'Roboto';
      }
    
      .font_family_exo {
        font-family: 'roboto';
      }
    
    .pgp-backgroud_layout {
        background-color: #FFF;
        min-height: 83vh;
    }

    #pgp-update_personal_information {
        text-transform: none; 
        width: nb-theme(pgp-width-btn-crud);   
    }
    
    #pgp-cancel_update_personal_information {
        text-transform: none;
        background-color: nb-theme(pgp-color-11);  
        border-color: transparent; 
        width: nb-theme(pgp-width-btn-crud);   
    }
    
    #pgp-update_password {
        text-transform: none;
        width: nb-theme(pgp-width-btn-crud);         
    }
    
    #pgp-cancel_update_password {
        text-transform: none;
        background-color: nb-theme(pgp-color-11);
        border-color: transparent; 
        width: nb-theme(pgp-width-btn-crud);   
    }

    .pgp-image_profile {
        border-radius: 50%;
    }

    .pgp-fs_icon_list {
        font-size: 1.5rem;
        color: nb-theme(pgp-color-3);
    }
    
    .pgp-fs_icon_right_list {
        position: absolute;
        right: 1rem;
        color: nb-theme(pgp-color-6);
    }

    .pgp-pointer {
        cursor: pointer;
    }

    .pgp-title_item_list {
        display: inline-block;
    }

    #first_name:focus {
        border-color: nb-theme(pgp-color-1);
    }
    
    #last_name:focus {
        border-color: nb-theme(pgp-color-1);
    }
    
    #email:focus {
        border-color: nb-theme(pgp-color-1);
    }

    button:focus {outline:0;}

    .pgp-icon_edit_personal_info {
        position: absolute;
        right: 1rem;
        color: nb-theme(pgp-color-3);
    }
    .form-control:disabled {
        border-color: #dadfe6;
        color: #a6adb5;
    }

    #current_password:focus {
        border-color: nb-theme(pgp-color-1);
    }

    #new_password:focus {
        border-color: nb-theme(pgp-color-1);
    }

    #confirm_new_password:focus {
        border-color: nb-theme(pgp-color-1);
    }

    ::ng-deep {
        .tooltip-inner {
            width: 12rem;
            background-color: #156282;
            color: #fff;
            text-align: left;
        }

        .tooltip-arrow {
            border-right-color: #156282 !important;
        }
        
        .tooltip-arrow::before {
            border-right-color: #156282 !important;
        }
    }

}