<div class="container">
    <div class="row">
      <div class="col-12">
        <nb-card class="font_family_roboto pgp-card_content">
          <nb-card-header class="font_family_roboto">{{ DATA_LANG?.priceLMCLbTitle.text }}</nb-card-header>
          <nb-card-body>
            <div class="container">
              <div class="row ml-0 mr-0">
                <form (ngSubmit)="fnCreateNewPricelist(Pricelist_data)" #addNewPricelistForm="ngForm" aria-labelledby="title">
                  <div class="col-12 pl-0 pr-0">
                    <div class="form-group">
                      <label for="pgp-input_priceslist_name">{{ DATA_LANG?.priceLMCLbCreate.text }}: </label>
                      <input nbInput [(ngModel)]="Pricelist_data.tPriceListName" #groupName="ngModel" id="pgp-input_priceslist_name" name="priceslist_name"
                        autofocus type="text" class="form-control" placeholder="{{ DATA_LANG?.priceLMCTBPriceLName.text }}" style="height: 45px;">
                      <br>
                      <p style="width: 684px;">{{ DATA_LANG?.priceLMCLbPriceLDesc.text }}</p>
                    </div>
                  </div>
                  <button type="submit" class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" id="pgp-btn_save_new_priceslist"
                    nbButton [disabled]="!Pricelist_data.tPriceListName" [class.btn-pulse]="submitted" status="info">{{ DATA_LANG?.priceLMCButtonSave.text }}</button>
                  &nbsp;&nbsp;&nbsp;
                  <button class="pgp-pointer font_family_roboto" type="button" id="pgp-btn_cancel_save_new_priceslist" nbButton [class.btn-pulse]="submitted"
                    (click)="fnCancelCreateNewPricesList()" status="danger">{{ DATA_LANG?.priceLMCButtonCancel.text }}</button>
                </form>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>