<div class="row pgp-backgroud_layout font_family_roboto">
  <div class="col-12">

    <!-- <div class="row">
      <div class="col-6">
        <h1>Add company</h1>
      </div>
      <div class="col-6 m-auto text-right">
        <button nbButton 
          class="pgp-btn_success">
          Crear proyecto
        </button>
        
      </div>
    </div> -->
    
    <!-- <div class="row mt-4 mb-4">
      <div class="col-12 justify-content-right text-right">
          <input type="text" nbInput status="info" placeholder="Search">
      </div>
    </div> -->

    <div class="row mt-4" *ngIf="true">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 m-auto mt-5">
        <div class="text-center">
            <h1 class="font_family_roboto">Add new company</h1>
        </div>
        <nb-card>
          <nb-card-body>

            <form (ngSubmit)="fnAddCompany(company)" #addCompanyForm="ngForm" aria-labelledby="title" class="mt-3 col-12">
              <div class="form-control-group">
                  <label class="label" for="input-email">Company name: <i class="fas fa-star-of-life pgp-font_color_required"></i></label>
                  <input 
                    nbInput 
                    [(ngModel)]="company.tCompanyName" 
                    #companyName="ngModel" 
                    id="input-company-name" 
                    name="company_name" 
                    autofocus 
                    fullWidth 
                    type="text" 
                    status="info" 
                    placeholder="Add company name here ... ">
              </div>
              <button class="mt-3 pgp-pointer font_family_roboto" 
                type="submit" 
                id="pgp-btn_save_company"
                nbButton
                [class.btn-pulse]="submitted" 
                [disabled]="!company.tCompanyName"
                status="info">Save</button>
              &nbsp;&nbsp;&nbsp;
              <button class="mt-3 pgp-pointer font_family_roboto" 
                type="button" 
                id="pgp-btn_cancel_company"
                nbButton
                [class.btn-pulse]="submitted" 
                (click)="fnCancelSaveCompany()"
                status="danger">Cancel</button>
          </form>  
          </nb-card-body>
        </nb-card>

        
      </div>
    </div>

    <div class="row" *ngIf="false">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 m-auto mt-5">
        <form>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
          </div>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                  <label class="form-check-label" for="gridRadios1">
                    First radio
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                  <label class="form-check-label" for="gridRadios2">
                    Second radio
                  </label>
                </div>
                <div class="form-check disabled">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
                  <label class="form-check-label" for="gridRadios3">
                    Third disabled radio
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group row">
            <div class="col-sm-2">Checkbox</div>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Example checkbox
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>