<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto pgp-card_content">
        <nb-card-header class="font_family_roboto">{{ DATA_LANG?.eProdMElbTittle.text }}</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <form (ngSubmit)="fnUpdateDataElasticityProduct(obj_form_elasticity_product)" #editmarketpriceValueForm="ngForm" aria-labelledby="title" style="min-width: 500px; max-width: 500px;">
                <div class="col-12 pl-0 pr-0">
                  <div class="form-group">
                    <label style="font-weight: bold;">{{ DATA_LANG?.eProdMElbProCode.text }}: {{obj_form_elasticity_product.tProductCode}}</label>
                    <br>
                    <label style="font-weight: bold;">{{ DATA_LANG?.eProdMElbProName.text }}: {{obj_form_elasticity_product.tProductName}}</label>
                    <br>
                    <label style="font-weight: bold;">{{ DATA_LANG?.eProdMElbPList.text }}: {{obj_form_elasticity_product.tPriceListName}}</label>
                  </div>
                  <div class="form-group">
                    <label for="pgp-Mark_elasticity_product">{{ DATA_LANG?.eProdMElbMarkElast.text }}: </label>
                    <input nbInput [(ngModel)]="obj_form_elasticity_product.dMarkElasticity" id="pgp-Mark_elasticity_product" placeholder="{{ DATA_LANG?.eProdMEtbMarkElast.text }}" name="Mark_elasticity_product" (keypress)="numberOnly($event)"
                      autofocus type="text" class="form-control" style="height: 45px;">
                  </div>
                  <p>{{ DATA_LANG?.eProdMElbMarkElastDesc.text }}</p>
                  <button type="submit" class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" id="pgp-btn_save_new_market_prices"
                    [class.btn-pulse]="submitted" status="info" [disabled]="!obj_form_elasticity_product.dMarkElasticity" >{{ DATA_LANG?.eProdMEButtonSave.text }}</button>
                  &nbsp;&nbsp;&nbsp;
                  <button class="pgp-pointer font_family_roboto" type="button" id="pgp-btn_cancel_save_new_market_prices_data" nbButton [class.btn-pulse]="submitted"
                    (click)="fnCancelEditElasticityProduct()" status="danger">{{ DATA_LANG?.eProdMEButtonCancel.text }}</button>
                </div>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>