@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes';

@include nb-install-component() {

    .font_family_roboto {
        font-family: 'Roboto';
    }
    
    .font_family_exo {
        font-family: 'roboto';
    }

    #input-email:focus {
        border-color: nb-theme(pgp-color-1);
    }

    ::ng-deep .input-success {
        border-color: nb-theme(pgp-color-1);
    }

    .pgp-button_request_password {
        background-color: nb-theme(pgp-color-1);
        text-transform: none;
        :focus{
            background-color: nb-theme(pgp-color-1);
        }
        
    }

    .btn-success.disabled, .btn-success:disabled {
        border-color: nb-theme(pgp-color-10);
        background-color: nb-theme(pgp-color-9);
    }

    .nb-theme-default [nbInput].input-success {
        border-color: nb-theme(pgp-color-1);
    }

    .btn-success:active:focus {
        background-color: nb-theme(pgp-color-1);
    }

    .pgp-image_logo {
        // width: nb-theme(pgp-width-50-percent);
        width: 40%;
    }
}