<div class="mb-3 text-center">
    <img class="pgp-image_logo" src="../../../../assets/images/imgs/pgp-prexus-logo01.png" alt="PGP Prexus Logo">
</div>
<h1 id="title" class="title font_family_roboto">{{ DATA_LANG?.lbLogIn.text }}</h1>
<p class="sub-title">{{ DATA_LANG?.lbEnter.text }}</p>

<nb-alert *ngIf="message_error_api && !submitted" outline="danger" role="alert">
  <ul class="alert-message-list">
    <li class="alert-message">{{ message_error_api }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="message_success && !submitted" outline="success" role="alert">
  <p class="alert-title">{{ DATA_LANG?.msgSucessRequestPass.text }}</p>
</nb-alert>

<form (ngSubmit)="requestPass()" #requestPassForm="ngForm" aria-labelledby="title">
  <input type="hidden" name="language" [(ngModel)]="user.tlanguage" value="en">
  <div class="form-control-group">
    <label class="label" for="input-email">{{ DATA_LANG?.lbEmail.text }}</label>
    <input nbInput
           [(ngModel)]="user.tEmail"
           #email="ngModel"
           id="input-email"
           name="email"
           pattern=".+@.+\..+"
           placeholder="{{ DATA_LANG?.tbEmail.text }}"
           autofocus
           fullWidth
           (focus)="message_error_api = null" 
           [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
           [required]="getConfigValue('forms.validation.email.required')"
           [attr.aria-invalid]="email.invalid && email.touched ? true : null">
    <ng-container *ngIf="email.invalid && email.touched">
      <p class="error-message" *ngIf="email.errors?.required">
        {{ DATA_LANG?.lbEmailRequired.text }}
      </p>
      <p class="error-message" *ngIf="email.errors?.pattern">
        {{ DATA_LANG?.lbEmailIncorrect.text }}
      </p>
    </ng-container>
  </div>

  <button nbButton
          fullWidth
          status="success" 
          class="pgp-button_request_password font_family_roboto"
          [disabled]="submitted || !requestPassForm.valid"
          [class.btn-pulse]="submitted"> 
          {{ DATA_LANG?.buttonSent.text }}
  </button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="../login">{{ DATA_LANG?.linkBackLogIn.text }}</a></p>
  <p><a routerLink="../sign-up" class="text-link">{{ DATA_LANG?.linkRegister.text }}</a></p>
</section>

<div class="mt-0 text-center" style="position: absolute;width: 100%; left: 0%; bottom: 0%; z-index: -1;">
    <img alt="PGP Prexus footer" src="../../../../assets/images/imgs/pgp-footer-login-02.png" style="
    position: absolute;
    /*top: 0%;*/
    margin: auto;
    /*width: 100%;*/
    width: 56%;
    z-index: 0;
    bottom: 0%;
    /*left: 0%;*/
    left: 21%;
    ">
</div>
