@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  .font_family_roboto {
    font-family: 'Roboto';
  }

  .pgp-backgroud_layout {
    background-color: #FFF;
    min-height: 83vh;
  }

  .pgp-btns_actions {
    background-color: nb-theme(pgp-color-1);
    text-transform: none;
    cursor: pointer;
    height: 41px;
    width: 8rem;
    // width: nb-theme(pgp-width-btn-crud); 
  }

  .pgp-btns_actions:active:focus {
    background-color: nb-theme(pgp-color-3);
  }

  .pgp-table {
    color: nb-theme(pgp-color-black);
  }
  
  .pgp-table-actions{
    width: 35px;
  }

  #input-IVA:focus {
    border-color: nb-theme(pgp-color-1);
  }

  #pgp-PSVPI:focus {
    border-color: nb-theme(pgp-color-1);
  }

  #pgp-PSVPF:focus {
    border-color: nb-theme(pgp-color-1);
  }
  
  #pgp-CVFI:focus {
    border-color: nb-theme(pgp-color-1);
  }

  #pgp-CVFF:focus {
    border-color: nb-theme(pgp-color-1);
  }
  
  #pgp-MCPI:focus {
    border-color: nb-theme(pgp-color-1);
  }

  #pgp-MCPF:focus {
    border-color: nb-theme(pgp-color-1);
  }
  
  #pgp-VEV:focus {
    border-color: nb-theme(pgp-color-1);
  }

  #pgp-VI:focus {
    border-color: nb-theme(pgp-color-1);
  }

  #pgp-CFI:focus {
    border-color: nb-theme(pgp-color-1);
  }      

  .form-control:disabled {
    border-color: #dadfe6;
    background-color: #dadfe6;
  }

  .pgp-row_head {
    margin: auto;
    vertical-align: middle !important;
    text-align: right;
    color: nb-theme(pgp-color-black);
  }

  .pgp-row {
  // padding: 0px 2px;
    margin: auto;
    font-weight: normal;
    color: nb-theme(pgp-color-black);
  }

  .pgp-horizontal_rule{
    border-bottom: 1.3px solid #eaeef4;
  }

  .pgp-input_bp {
    text-align: right;
    width: 41%;
    float: right;
  }

  .pgp-div_label {
    text-align: right;
    color: #000000;
  }

  .pgp-table_body {
    width: 363px;
  }

  /************/


  div::after {
    position: absolute;
    top: 12px;
    right: 1.5em;
  }

  .percent::after {
    content: '%';
  }

  hr{
    padding: 0px;
    margin: -7px;   
  }

  .pgp-hr{
    margin: 2px;
  }

  .pgp-pointer{
    cursor: pointer;
  }

  .pgp-description-color{
    color: #5e5d5d;
  }

  .pgp-description-color{
    color: #5e5d5d;
  }
  
}
