<div class="row pgp-backgroud_layout font_family_roboto pr-4">
  <div class="col-12">
    <div class="row">
      <div class="col-12 m-3">
        <img class="d-inline float-left" src="../../../assets/images/imgs/information.png" height="20">
        <p class="d-inline pl-2 mb-3 mt-3 pgp-description-color">{{ DATA_LANG?.balPointlbDesc.text }}</p>
      </div>
      <div class="col-12 ml-3 mr-3">
        <div class="row pgp-row mb-3 mt-3">
          <div class="col-md-8 col-xs-1 col-sm-1 mb-3 mt-3 text-right">
          </div>
          <div style=" max-width: 74%;" class="col-md-4 col-xs-11 col-sm-11 text-right percent">
            <span>
                <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.balPointToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.balPointVatTooltipTittle.text,DATA_LANG?.balPointVatTooltipDesc.text)"></i>
            </span>                                
            <label class="text" >{{ DATA_LANG?.balPointlbVat.text }} </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input nbInput [(ngModel)]="IVA" 
            (change)="fnGetFormulasGeneral()" 
            style="width: 51%;"
            autofocus (keypress)="numberOnly($event)"
            id="input-IVA" 
            type="text" 
            name="IVA"
            class="text-right"
            (click)="selectAllContent($event)" />
          </div>
        </div>
      </div>              
      <div class="col-xl-12 col-lg-12 col-md-12 m-3" style="padding-left: 33px; padding-right: 33px;">
        <div class="row pgp-row_head mb-3 mt-3 pgp-horizontal_rule" >
            <div class="col-md-3 mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            </div>
            <div class="col-md-3 mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <strong>{{ DATA_LANG?.balPointColNCurrent.text }}</strong>&nbsp;
                <span>
                    <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.balPointToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.balPointColNCurrentTooltipTittle.text,DATA_LANG?.balPointColNCurrentTooltipDesc.text)"></i>
                </span> 
            </div>
            <div class="col-md-3 mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <strong>{{ DATA_LANG?.balPointColNEval.text }}</strong>&nbsp;
                <span>
                    <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.balPointToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.balPointColNEvalTooltipTittle.text,DATA_LANG?.balPointColNEvalTooltipDesc.text)"></i>
                </span> 
            </div>
            <div class="col-md-3 mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3" style="padding-right: 0px;">
                <strong>{{ DATA_LANG?.balPointColNVar.text }}</strong>&nbsp;
                <span>
                    <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.balPointToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.balPointColNVarTooltipTittle.text,DATA_LANG?.balPointColNVarTooltipDesc.text)"></i>
                </span> 
            </div>
        </div>
        <div class="row pgp-row mb-3 mt-3 pgp-horizontal_rule">
            <div class="mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3" >
                {{ DATA_LANG?.balPointRowNListPrice.text }}
                <span>
                    <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.balPointToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.balPointRowNListPriceTooltipTittle.text,DATA_LANG?.balPointRowNListPriceTooltipDesc.text)"></i>
                </span>                                
            </div>
            <div class="text-right col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 mb-2">
                <input nbInput fullWidth [(ngModel)]="PSVPI" (keypress)="numberOnly($event)" (click)="selectAllContent($event)"
                (ngModelChange)="PSVPI=currencyInputChanged(PSVPI)" (change)="fnGetFormulasGeneral()" id="pgp-PSVPI"
                    name="PSVPI" class="pgp-input_bp" style="width: 135px;">
            </div>
            <div class="text-right col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 mb-2">
                <input nbInput fullWidth [(ngModel)]="PSVPF" (keypress)="numberOnly($event)" (click)="selectAllContent($event)"
                (ngModelChange)="PSVPF=currencyInputChanged(PSVPF)" (change)="fnGetFormulasGeneral()" id="pgp-PSVPF"
                    name="PSVPF" class="pgp-input_bp" style="width: 135px;">
            </div>
            <div class="pgp-div_label mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <label id="pgp-PSVPV">
                    {{ PSVPV | number : '1.1-1' }}
                </label>%
            </div>
        </div>
        <div class="row pgp-row mb-3 mt-3 pgp-horizontal_rule">
            <div class="mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                {{ DATA_LANG?.balPointRowNListPWVAT.text }}
                <span>
                    <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.balPointToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.balPointRowNListPWVATTooltipTittle.text,DATA_LANG?.balPointRowNListPWVATTooltipDesc.text)"></i>
                </span>                                
            </div>
            <div class="pgp-div_label mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <label id="pgp-PrecioI">
                    {{ dPriceI | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                </label>
            </div>
            <div class="pgp-div_label mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <label id="pgp-PrecioF">
                    {{dPriceF | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                </label>
            </div>
            <div class="pgp-div_label mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <label id="pgp-PrecioV">
                    {{dPrecioV | number : '1.1-1' }}
                </label>%
            </div>
        </div>
        <div class="row pgp-row mb-3 mt-3 pgp-horizontal_rule">
            <div class="mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                {{ DATA_LANG?.balPointRowNVarCost.text }}
                <span>
                    <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.balPointToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.balPointRowNVarCostTooltipTittle.text,DATA_LANG?.balPointRowNVarCostTooltipDesc.text)"></i>
                </span>
            </div>
            <div class="text-right col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 mb-2">
                    <input nbInput fullWidth [(ngModel)]="CVFI" (keypress)="numberOnly($event)" (click)="selectAllContent($event)" 
                (ngModelChange)="CVFI=currencyInputChanged(CVFI)" (change)="fnGetFormulasGeneral()" id="pgp-CVFI"
                    name="CVFI" value="0" class="pgp-input_bp" style="width: 135px;">
            </div>
            <div class="text-right col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 mb-2">
                <input nbInput fullWidth [(ngModel)]="CVFF" (keypress)="numberOnly($event)" (click)="selectAllContent($event)"
                (ngModelChange)="CVFF=currencyInputChanged(CVFF)" (change)="fnGetFormulasGeneral()" id="pgp-CVFF"
                    name="CVFF" value="0" class="pgp-input_bp" style="width: 135px;">
            </div>
            <div class="pgp-div_label mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <label id="pgp-CVFV">
                    {{CVFV | number : '1.1-1' }}
                </label>%
            </div>
        </div>
        <div class="row pgp-row mb-3 mt-3 pgp-horizontal_rule">
            <div class="mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                {{ DATA_LANG?.balPointRowNAverageDisP.text }}
                <span>
                    <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.balPointToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.balPointRowNAverageDisPTooltipTittle.text,DATA_LANG?.balPointRowNAverageDisPTooltipDesc.text)"></i>
                </span>
            </div>
            <div class="text-right percent col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 mb-2">
                <input nbInput fullWidth [(ngModel)]="MCPI" (change)="fnGetFormulasGeneral()" id="pgp-MCPI" (keypress)="numberOnly($event)"
                    name="MCPI" value="0" class="pgp-input_bp" (click)="selectAllContent($event)" style="width: 135px;">
            </div>
            <div class="text-right percent col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 mb-2">
                <input nbInput fullWidth [(ngModel)]="MCPF" (change)="fnGetFormulasGeneral()" id="pgp-MCPF" (keypress)="numberOnly($event)"
                    name="MCPF" value="0" class="pgp-input_bp" (click)="selectAllContent($event)" style="width: 135px;">
            </div>
            <div class="pgp-div_label mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <label id="pgp-MCPV">
                    {{MCPV | number : '1.1-1' }}
                </label>%
            </div>
        </div>
        <div class="row pgp-row mb-3 mt-3 pgp-horizontal_rule">
            <div class="mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                {{ DATA_LANG?.balPointRowNAverageDis.text }}
                <span>
                    <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.balPointToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.balPointRowNAverageDisTooltipTittle.text,DATA_LANG?.balPointRowNAverageDisTooltipDesc.text)"></i>
                </span>
            </div>
            <div class="pgp-div_label mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <label id="pgp-MCMI">
                        {{MCMI | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                    </label>
            </div>
            <div class="pgp-div_label mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <label id="pgp-MCMF">
                        {{MCMF | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                    </label>
            </div>
            <div class="pgp-div_label mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <label id="pgp-MCMV">
                        {{MCMV | number : '1.1-1' }}
                    </label>%
            </div>
        </div>
        <div class="row pgp-row mb-3 mt-3 pgp-horizontal_rule">
            <div class="mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                {{ DATA_LANG?.balPointRowNNetCost.text }}
                <span>
                    <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.balPointToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.balPointRowNNetCostTooltipTittle.text,DATA_LANG?.balPointRowNNetCostTooltipDesc.text)"></i>
                </span>
            </div>
            <div class="pgp-div_label mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <label id="pgp-PNI">
                        {{PNI | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                    </label>
            </div>
            <div class="pgp-div_label mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <label id="pgp-PNF">
                        {{PNF | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                    </label>
            </div>
            <div class="pgp-div_label mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <label id="pgp-PNV">
                        {{PNV | number : '1.1-1' }}
                    </label>%
            </div>
        </div>
        <div class="row pgp-row mb-3 mt-3 pgp-horizontal_rule">
            <div class="mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                {{ DATA_LANG?.balPointRowNGrossMar.text }}
                <span>
                    <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.balPointToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.balPointRowNGrossMarTooltipTittle.text,DATA_LANG?.balPointRowNGrossMarTooltipDesc.text)"></i>
                </span>
            </div>
            <div class="pgp-div_label mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <label id="pgp-MBI">
                        {{ MBI | number : '1.1-1'}}
                    </label>%
            </div>
            <div class="pgp-div_label mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <label id="pgp-MBF">
                        {{ MBF | number : '1.1-1' }}
                    </label>%
            </div>
            <div class="pgp-div_label mb-3 mt-3 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <label id="pgp-MBV">
                        {{ MBV | number : '1.1-1' }}
                    </label>%
            </div>
        </div>
        <div class="row pgp-row mb-3 mt-3" style="background-color: #ebeff5;" >
            
            <div class="col-9 mb-3 mt-3">
            <div *ngIf="PNV < '0'" >
                <label id="pgp-label">
                    <strong id="pgp-label"> {{ DATA_LANG?.balPointRowNMinIncrement.text }} </strong>
                </label>
            </div>
            <div *ngIf="PNV >= '0'">
                <label id="pgp-label" >
                    <strong id="pgp-label"> {{ DATA_LANG?.balPointRowNMaxReduction.text }} </strong>
                </label>
            </div>
            </div>
            <div class="col-3 pgp-div_label mb-3 mt-3">
                <label id="pgp-label">
                    {{ RMACD | number : '1.1-1' }}
                </label>%
            </div>
        </div>
        <div class="row pgp-row mb-3 mt-3">
            <div class="col-md-10 mb-3 mt-3 col-xs-10 col-sm-10 text-right">
                <div class="row">
                    <div class="col-9"></div>
                    <div class="col-3 text-left">
                        <label>{{ DATA_LANG?.balPointRowNEstimated.text }}</label>&nbsp;
                        <span>
                            <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.balPointToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.balPointRowNEstimatedTooltipTittle.text,DATA_LANG?.balPointRowNEstimatedTooltipDesc.text)"></i>
                        </span>
                    </div>
                </div>                           
            </div>
            <div class="text-left percent col-md-2 col-xs-2 col-sm-2">        
                <input nbInput 
                fullWidth 
                (click)="selectAllContent($event)"
                (keypress)="numberOnly($event)"
                [(ngModel)]="VEV"
                class="pgp-input_bp"
                id="pgp-VEV" name="VEV"
                style="width: 135px;">
            </div>
        </div>
        <div class="row pgp-row mb-3 mt-3">
            <div class="col-md-10 col-xs-1 col-sm-1 mb-3 mt-3 text-right">
                <div class="row">
                    <div class="col-9"></div>
                    <div class="col-3 text-left">
                        <label class="text">{{ DATA_LANG?.balPointRowNCurrentUnit.text }}</label>&nbsp;&nbsp;
                        <span>
                            <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.balPointToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.balPointRowNCurrentUnitTooltipTittle.text,DATA_LANG?.balPointRowNCurrentUnitTooltipDesc.text)"></i>
                        </span>
                    </div>
                </div>                 
            </div>
            <div class="text-left col-md-2 col-xs-11 col-sm-11">                  
                <input nbInput
                fullWidth
                (click)="selectAllContent($event)"
                (keypress)="numberOnly($event)"
                [(ngModel)]="VI"
                (ngModelChange)="VI=currencyInputChanged(VI)"
                (change)="fnGetFormulasGeneral()"
                class="pgp-input_bp"
                id="pgp-VI" name="VI"
                style="width: 135px;">
            </div>
        </div>

        <div class="row pgp-row mb-3 mt-3">
            <div class="col-md-10 col-xs-1 col-sm-1 mb-3 mt-3 text-right">
                <div class="row">
                    <div class="col-9"></div>
                    <div class="col-3 text-left">
                        <label class="text">{{ DATA_LANG?.balPointRowNFixCost.text }}</label>&nbsp;&nbsp;
                        <span>
                            <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.balPointToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.balPointRowNFixCostTooltipTittle.text,DATA_LANG?.balPointRowNFixCostTooltipDesc.text)"></i>
                        </span>
                    </div>
                </div>           
            </div>
            <div class="text-left col-md-2 col-xs-11 col-sm-11">       
                <input nbInput 
                fullWidth 
                (click)="selectAllContent($event)"
                (keypress)="numberOnly($event)"
                [(ngModel)]="CFI" 
                (change)="fnGetFormulasGeneral()" 
                class="pgp-input_bp"
                id="pgp-CFI" name="CFI"
                style="width: 135px;">
            </div>
        </div>
      </div> 
      <!--Start Code Results button-->
      <div class="col-12 ml-3 mr-3">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">  
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 text-lg-right text-xl-right text-md-center text-sm-center" 
            style="padding-right: 2rem !important;">
            {{ DATA_LANG?.balPointlbResults.text }}
                <button type="button" style="width: 10rem"
                class="btn btn-primary m-1 pgp-btns_actions font_family_roboto"
                id="btnResultados"
                (click)="fnGetBalancePointResult(); showBalancePointResult();">{{ DATA_LANG?.balPointButtonResults.text }}</button>
            </div>
        </div>
      </div>
      <br>
      <!--End Code Results button-->                         
    </div>                       
    <!--Start Results table-->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-3" *ngIf="display">
        <hr class="pgp-hr">
        <div class="col-12 m-1 p-0">
            <h4 style="color: #06A7E2; font-family: 'roboto';">{{ DATA_LANG?.balPointlbResultsTittle.text }}</h4>
        </div>
        <table class="table table-striped font_family_roboto">
            <thead>
                <tr class="text-right">
                    <th scope="col"></th>
                    <th scope="col">{{ DATA_LANG?.balPointColNResultsCurrent.text }}</th>
                    <th scope="col">{{ DATA_LANG?.balPointColNResultsEval.text }}</th>
                    <th scope="col">{{ DATA_LANG?.balPointColNResultsVar.text }}</th>
                </tr>                    
            </thead>
            <tbody>
                <tr *ngFor="let data_balance_point of list_balance_point">
                    <td class="pgp-table_body">
                        {{ data_balance_point.tDescription }}
                    </td>
                    <td class="pgp-table_body text-right">
                        {{ data_balance_point.dInitial | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                    </td>
                    <td class="pgp-table_body text-right">
                        {{ data_balance_point.dFinal | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                    </td>
                    <td class="pgp-table_body text-right">
                        {{ data_balance_point.dVariation | number : '1.1-1' }}%
                    </td>
                </tr>
            </tbody>       
        </table>
        <div class="col-12 ml-3 mr-3">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 text-lg-right text-xl-right text-md-center text-sm-center">
                    <button type="button" 
                    class="btn btn-primary m-1 pgp-btns_actions font_family_roboto"
                    (click)="fnCargarExportar()"
                    id="btnExport">{{ DATA_LANG?.balPointButtonExport.text }}</button>                          
                </div>
            </div>
        </div>
    </div>
    <!--End Results table-->
  </div>
</div>
    