<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto pgp-card_content">
        <nb-card-header class="font_family_roboto">{{ DATA_LANG?.perVSmsTittle.text }}</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <form (ngSubmit)="fnUpdateScoring(scoring_data)" #addNewscoringForm="ngForm" aria-labelledby="title">
                <div class="col-12 pl-0 pr-0">
                  <div class="form-group">
                    <label for="pgp-input_scoring">{{ DATA_LANG?.perVSmsScore.text }} (min=1 - max=9): </label>
                    <ng5-slider [(ngModel)]="scoring_data.iVersionScoring" [ngModelOptions]="{standalone: true}" [(value)]="value_rating" [options]="options_rating"></ng5-slider>
                    <p style="text-align: justify;">{{ DATA_LANG?.perVSmsDesc.text }}</p>
                  </div>
                </div>
                <button type="submit" class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" id="pgp-btn_save_new_scoring"
                  nbButton [disabled]="!scoring_data.iVersionScoring" [class.btn-pulse]="submitted" status="info">{{ DATA_LANG?.perVSmsButtonSave.text }}</button>
                &nbsp;&nbsp;&nbsp;
                <button class="pgp-pointer font_family_roboto" type="button" id="pgp-btn_cancel_save_new_scoring" nbButton [class.btn-pulse]="submitted"
                  (click)="fnCancelEditScoring()" status="danger">{{ DATA_LANG?.perVSmsButtonCancel.text }}</button>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>