@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  button:focus {
    outline: 0;
    cursor: pointer;
  }

  .font_family_roboto {
    font-family: 'Roboto';
  }

  .font_family_exo {
    font-family: 'exo';
  }
  
  .pgp-backgroud_layout {
    background-color: #FFF;
  }

  .pgp-pointer {
    cursor: pointer;
  }

  ::ng-deep nb-dialog-container {
    height: 80vw;
    max-width: 95vw;
    max-height: 81vh;
  }

  ::ng-deep nb-card-header {
    display: block !important;
  }


  #pgp-btn_delete_all_categories{
    text-transform: none;
    background-color: nb-theme(pgp-color-1);
    width: nb-theme(pgp-width-btn-crud);  
    
  }
  
  #pgp-btn_cancel_delete_all_categories{
    text-transform: none;
    background-color: nb-theme(pgp-color-11);   
    width: nb-theme(pgp-width-btn-crud);   
  }
}
