

<div class="container">
    <div class="row">
      <div class="col-12">
        <nb-card class="font_family_roboto pgp-card_content">
          <nb-card-header class="font_family_roboto">{{ DATA_LANG?.lbMETittle.text }}</nb-card-header>
          <nb-card-body>
            <div class="container">
              <div class="row ml-0 mr-0">
                <form (ngSubmit)="fnEditGroup(group_data)" #addNewMemberForm="ngForm" aria-labelledby="title" style="width: 50rem;">
                  <div class="col-12 pl-0 pr-0">
                    <div class="form-group">
                      <label for="pgp-input_group_name">{{ DATA_LANG?.lbProfileName.text }}: </label> 
                      <input 
                          nbInput 
                          [(ngModel)]="group_data.tProjectGroupName" 
                          #groupName="ngModel" 
                          id="pgp-input_group_name" 
                          name="group_name" 
                          autofocus 
                          fullWidth 
                          type="text" 
                          status="info" 
                          class="form-control"
                          placeholder="{{ DATA_LANG?.tbProfileName.text }}"
                          style="height: 45px;">
                    </div>
                  </div>
                  <div class="col-12 p-0 m-0">
                    <div class="form-group">
                      <label for="pgp-input_group_name">{{ DATA_LANG?.lbMEdesc.text }}: </label> 
                      <!-- <ul class="list-group p-0 m-0">
                        <li class="list-group-item">
                          <i class="fas fa-users-cog pgp-fs_icon_list"></i>&nbsp;<h6 class="pgp-title_item_list m-0">Personal information</h6>
                        </li>
                        <li class="list-group-item">
                          Dapibus ac facilisis in
                        </li>
                        <li class="list-group-item">
                          Morbi leo risus
                        </li>
                        <li class="list-group-item">
                          Porta ac consectetur ac
                        </li>
                        <li class="list-group-item">
                          Vestibulum at eros
                        </li>
                      </ul> -->
                      <div class="col-12 m-0 p-0">
                        <div class="card">
                            <!-- <div class="card-header">
                                Featured
                            </div> -->
                            <ul class="list-group list-group-flush p-0">
                                <!-- <li class="list-group-item list-group-item-action pgp-pointer" (click)="option_menu = 1">
                                    <i class="fas fa-users-cog pgp-fs_icon_list"></i>&nbsp;<h6 class="pgp-title_item_list m-0">Personal information</h6>
                                    <i class="fas fa-check-circle pgp-fs_icon_list pgp-fs_icon_right_list" *ngIf="option_menu == 1"></i>
                                </li>
                                <li class="list-group-item list-group-item-action pgp-pointer" (click)="option_menu = 2">
                                    <i class="fas fa-key pgp-fs_icon_list"></i>&nbsp;<h6 class="pgp-title_item_list m-0">Change password</h6>
                                    <i class="fas fa-check-circle pgp-fs_icon_list pgp-fs_icon_right_list" *ngIf="option_menu == 2"></i>
                                </li>
                                <li class="list-group-item list-group-item-action pgp-pointer" (click)="option_menu = 3">
                                    <i class="fas fa-cog pgp-fs_icon_list"></i>&nbsp;<h6 class="pgp-title_item_list m-0">Other settings</h6>
                                    <i class="fas fa-check-circle pgp-fs_icon_list pgp-fs_icon_right_list" *ngIf="option_menu == 3"></i>
                                </li> -->
                                <div *ngFor="let item_menu of items_menu; let index_menu = index;" style="border-top: 1px solid #dfdfdf;">
                                  <li class="list-group-item list-group-item-action pgp-pointer" (click)="show_cards = index_menu">
                                      <i class="fas fa-caret-right pgp-fs_icon_list"></i>&nbsp;<h6 class="pgp-title_item_list font_family_roboto m-0">{{ DATA_LANG_MENU[item_menu.tMenuName].text }}</h6>
                                      <!-- <i class="fas fa-check-circle pgp-fs_icon_list pgp-fs_icon_right_list" *ngIf="option_menu == 1"></i> -->
                                  </li>
                                  <div *ngFor="let item_card of item_menu.cards; let index_card = index;" style="margin: 1rem;" class="pgp" [ngClass]="{'d-none' : (index_menu !== show_cards), 'd-block' : (index_menu === show_cards) }">
                                    <i class="{{ item_card.tCardIcon }} pgp-fs_icon_list"></i>&nbsp;<h6 class="pgp-title_item_list font_family_roboto m-0">{{ DATA_LANG_CARDS[item_card.tCardName].text }}</h6>
                                    <i class="pgp-fs_icon_list pgp-fs_icon_right_list pgp-pointer" (click)="fnSelectItemAccess(index_menu, item_menu, index_card, item_card)" [ngClass]="{'far fa-circle' : (item_card.bChecked == false), 'fas fa-check-circle' : (item_card.bChecked == true)}"></i>  
                                  </div>
                                      
                                  
                                </div>
                                
                            </ul>
                        </div>  
                      </div>
                      
  
                    </div>
                  </div>
                  <button 
                    type="submit" 
                    class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" 
                    id="pgp-btn_send_invite_user" 
                    nbButton 
                    [disabled]="!group_data.tProjectGroupName"
                    [class.btn-pulse]="submitted"
                    status="info">{{ DATA_LANG?.buttonSave.text }}</button>
                  &nbsp;&nbsp;&nbsp;
                  <button class="pgp-pointer font_family_roboto" 
                    type="button" 
                    id="pgp-btn_cancel_send_invite_user"
                    nbButton
                    [class.btn-pulse]="submitted"
                    (click)="fnCancelCreateNewGroup()"
                    status="danger">{{ DATA_LANG?.buttonCancel.text }}</button>
                </form>
              </div>
            </div>
          </nb-card-body>
        </nb-card>  
      </div>  
    </div>
  </div>
    