<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto pgp-card_content">
        <nb-card-header class="font_family_roboto">{{ DATA_LANG?.mELbTitle.text }}</nb-card-header>
        <nb-card-body [nbSpinner]="state_loading" nbSpinnerStatus="info">
          <div class="container">
            <div class="row ml-0 mr-0">
              <!-- <div class="mt-2 mb-2">
                Agregue la categoria y la relación de complementariedad de sus productos.
              </div> -->
              <form (ngSubmit)="fnUpdateCategory(category_data)" #addNewCategoryForm="ngForm" aria-labelledby="title">
                <div class="col-12 pl-0 pr-0">
                  <div class="form-group">
                    <label for="pgp-input_category_name">{{ DATA_LANG?.mELbCreate.text }}: </label> 
                    <input 
                        nbInput 
                        [(ngModel)]="category_data.tCategoryName" 
                        #groupName="ngModel" 
                        id="pgp-input_category_name" 
                        name="category_name" 
                        autofocus  
                        type="text" 
                        class="form-control"
                        placeholder="{{ DATA_LANG?.mETBCatName.text }}"
                        style="height: 45px;" >
                  </div>
                  <p style="width: 630px;">{{ DATA_LANG?.mELbCatDesc.text }}</p>
                  <div class="form-group">
                    <!-- <label for="pgp-input_category_name">Category name: </label> 
                    <ng-select 
                      [items]="list_options_show_complementarity_relation"
                      bindLabel="name"
                      bindValue="value" 
                      [clearable]="false"
                      placeholder="Select complementarity relation" 
                      [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="category_data.bAppliesComplementarityRelation">
                    </ng-select> -->
                    <label for="pgp-input_category_name">{{ DATA_LANG?.mELbApplyRel.text }}: </label>
                    <div class="row">
                    <label class="m-3">
                      <p>{{ DATA_LANG?.mECBApplyRelNo.text }}</p>
                    </label>
                  <div class="mt-3 mb-3">
                    <label class="switch m-0">
                      <input type="checkbox" checked 
                      [ngModelOptions]="{standalone: true}" 
                      [(ngModel)]="category_data.bAppliesComplementarityRelation" 
                      (change)="fnChangeSourceCheckRelation($event)">
                      <span class="slider round"></span>
                    </label>
                  </div>
                    <label class="m-3">
                      <p>{{ DATA_LANG?.mECBApplyRelYes.text }}</p>
                    </label>
                </div>
                    <p style="width: 630px;">{{ DATA_LANG?.mELbApplyRelDesc.text }}</p>
                  </div>
                </div>
                <button 
                  type="submit" 
                  class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" 
                  id="pgp-btn_save_new_category" 
                  nbButton 
                  [disabled]="!category_data.tCategoryName"
                  [class.btn-pulse]="submitted"
                  status="info">{{ DATA_LANG?.mEButtonSave.text }}</button>
                &nbsp;&nbsp;&nbsp;
                <button class="pgp-pointer font_family_roboto" 
                  type="button" 
                  id="pgp-btn_cancel_save_new_category"
                  nbButton
                  [class.btn-pulse]="submitted"
                  (click)="fnCancelEditCategory()"
                  status="danger">{{ DATA_LANG?.mEButtonCancel.text }}</button>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>  
    </div>  
  </div>
</div>
    