<div class="row pgp-backgroud_layout">
  <div class="col-12">

    <div class="row">
      <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb" style="background-color: transparent; margin-bottom: 0rem;">
          <li class="breadcrumb-item">
            <a (click)="fnRedirectListCompanies();" class="pgp-text_color_1 pgp-pointer">{{ company_name }}</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">All versions</li>
        </ol>
      </nav>
    </div>

    <div class="row">
      <div class="col-6">
        <h1 class="font_family_roboto">Versions</h1>
      </div>
      <div class="col-6 m-auto text-right">
        <button nbButton (click)="open(id_project, id_company)" 
          id="pgp-btn_show_modal_create_version"
          class="pgp-btn_success font_family_roboto">
          Create
        </button>
      </div>
    </div>
    <br><br>
    <div class="row mt-4 mb-4" *ngIf="false">
      <div class="col-12 justify-content-right text-right">
          <input class="pgp-search-border-color" type="text" nbInput status="info" placeholder="Search">
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <table class="table pgp-table">
          <thead>
            <tr>
              <!-- <th scope="col">Empresa</th>
              <th scope="col">Versión</th>
              <th scope="col">Creado por</th>
              <th scope="col">Ultima modificación</th>
              <th scope="col">Opciones</th> -->
              <th scope="col">Version</th>
              <th scope="col">Date created</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let version_data of versions; let i = index;">
              <td>
                <!-- <img src="{{ (!project_data.tProjectLogo) ? project_data.tProjectLogo : 'http://ssl.gstatic.com/accounts/ui/avatar_2x.png' }}" alt="Logo project" class="img-thumbnail pgp-img_logo_project"> -->
                <nb-user class="font_family_roboto" [name]="version_data.tVersionName" (click)="fnRedirectHomePage(version_data.iIDVersion)"></nb-user>
             </td>              
              <td>{{ version_data.dtCreatedDate | date: 'MM/dd/yyyy'}}</td>
              <td>
                <!-- <button type="button" 
                  class="btn btn-outline-secondary pgp-button_dots_table">
                  <i class="fas fa-ellipsis-v"></i>
                </button> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>