@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .flex-centered {
    margin: auto;
  }
  nb-card-body {
    display: flex;
  }
  
  .title {
    text-align: center;
  }
  
  .pgp-backgroud_layout {
    background-color: #FFF;
    min-height: 83vh;
  }
  
  .font_family_roboto {
    font-family: 'Roboto';
  }

  .pgp-search-border-color {
    border-color: #D0D0D0
  }
  // .pgp-button_dots_table {
  //     border-radius: 50px;
  //     padding: 0.5rem 0.9rem;
  //     outline: none !important;
  // }
  
  .pgp-button_dots_table {
      border-radius: 50px;
      padding: 0.5rem 0.9rem;
      outline: none !important;
  }
  
  .sub-title {
    text-align: center;
    display: block;
    margin-bottom: 3rem;
  }
  
  // .btn {
  //   margin-bottom: 2rem;
  // }
  
  .pgp-btn_success {
    background-color: nb-theme(pgp-color-1);
    cursor: pointer;
  }

  .pgp-table {
    color: nb-theme(pgp-color-black);
  }

  td {
    vertical-align: middle;
  }

  .pgp-img_logo_version{
    width: 3rem;
    border-radius: 50%;
  }

  #pgp-btn_show_modal_create_version {
    text-transform: none;
  }

  .pgp-text_color_1{
    color: nb-theme(pgp-color-1);
    font-weight: bold;
  }
  
  .pgp-text_color_1:hover{
    color: nb-theme(pgp-color-3);
  }

  .pgp-pointer {
    cursor: pointer;
  }
}

