<div class="container-fliud">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto pgp-card_content" size="large" [nbSpinner]="state_loading" nbSpinnerStatus="info">
        <nb-card-header class="font_family_roboto">{{ DATA_LANG?.priceCMSlbTittle.text }}</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <form (ngSubmit)="fnAdvancedSearchRatingPerceivedValue(price_calculation_summary_data)" #addNewRatingPerceivedValueForm="ngForm"
                aria-labelledby="title" style="min-width: 400px; max-width: 400px;">
                <div class="col-12 pl-0 pr-0">
                  <div class="form-group">
                    <label for="pgp-product_information_products_code">{{ DATA_LANG?.priceCMSlbProdCode.text }}: </label>
                    <ng-select [items]="list_products_collection" bindLabel="tProductCode" [multiple]="true" name="products_code" id="pgp-product_information_products_code"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.priceCMSDDLProdCode.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_products">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label for="pgp-product_information_products_name">{{ DATA_LANG?.priceCMSlbProdName.text }}: </label>
                    <ng-select [items]="list_products_collection" bindLabel="tProductName" [multiple]="true" name="products_name" id="pgp-product_information_products_name"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.priceCMSDDLProdName.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_products">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label for="pgp-product_information_price_list">{{ DATA_LANG?.priceCMSlbPriceL.text }}: </label>
                    <ng-select [items]="list_prices_lists_collection" bindLabel="tPriceListName" [multiple]="true" name="price_list" id="pgp-product_information_price_list"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.priceCMSDDLPriceL.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_price_list">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label for="pgp-product_information_category">{{ DATA_LANG?.priceCMSlbCat.text }}: </label>
                    <ng-select [items]="list_categories_collection" bindLabel="tCategoryName" [multiple]="true" name="categories" id="pgp-product_information_categories"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.priceCMSDDLCat.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_categories">
                    </ng-select>
                  </div>
                  <!-- ********** START - Row ngslider - (Current price - Price perceived value) ********** -->
                  <div class="row" *ngIf="true">
                    <div class="col-6">
                      <!-- ********** START - Ng slider - Current price ********** -->
                      <div class="form-group">
                        <label for="pgp-input_category_name">{{ DATA_LANG?.priceCMSlbCurrentPri.text }}: </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input pgp-advance_search_input" placeholder="{{ DATA_LANG?.priceCMStbSince.text }}" id="pgp-since" nbInput fieldSize="small"
                              type="number" [(ngModel)]="min_value_current_price" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input pgp-advance_search_input" placeholder="{{ DATA_LANG?.priceCMStbUntil.text }}" id="pgp-until" nbInput fieldSize="small"
                              type="number" [(ngModel)]="max_value_current_price" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <!-- *********** END - Ng slider - Current price *********** -->
                    </div>
                    <div class="col-6">
                      <!-- ********** START - Ng slider - Price perceived value ********** -->
                      <div class="form-group">
                        <label for="pgp-input_category_name">{{ DATA_LANG?.priceCMSlbPricePerceived.text }}: </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input pgp-advance_search_input" placeholder="{{ DATA_LANG?.priceCMStbSince.text }}" id="pgp-since" nbInput fieldSize="small"
                              type="number" [(ngModel)]="min_value_price_perceived_value" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input pgp-advance_search_input" placeholder="{{ DATA_LANG?.priceCMStbUntil.text }}" id="pgp-until" nbInput fieldSize="small"
                              type="number" [(ngModel)]="max_value_price_perceived_value" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <!-- *********** END - Ng slider - Price perceived value *********** -->
                    </div>
                  </div>
                  <!-- *********** END - Row ngslider - (Current price - Price perceived value) *********** -->
                  <!-- ********** START - Row ngslider - (Price product type - Theoretical price) ********** -->
                  <div class="row" *ngIf="true">
                    <div class="col-6">
                      <!-- ********** START - Ng slider - Price product type ********** -->
                      <div class="form-group">
                        <label for="pgp-input_category_name">{{ DATA_LANG?.priceCMSlbPriceProd.text }}: </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input pgp-advance_search_input" placeholder="{{ DATA_LANG?.priceCMStbSince.text }}" id="pgp-since" nbInput fieldSize="small"
                              type="number" [(ngModel)]="min_value_price_product_type" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input pgp-advance_search_input" placeholder="{{ DATA_LANG?.priceCMStbUntil.text }}" id="pgp-until" nbInput fieldSize="small"
                              type="number" [(ngModel)]="max_value_price_product_type" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <!-- *********** END - Ng slider - Price product type *********** -->
                    </div>
                    <div class="col-6">
                      <!-- ********** START - Ng slider - Theoretical price ********** -->
                      <div class="form-group">
                        <label for="pgp-input_category_name">{{ DATA_LANG?.priceCMSlbTheoricalPrice.text }}: </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input pgp-advance_search_input" placeholder="{{ DATA_LANG?.priceCMStbSince.text }}" id="pgp-since" nbInput fieldSize="small"
                              type="number" [(ngModel)]="min_value_theoretical_price" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input pgp-advance_search_input" placeholder="{{ DATA_LANG?.priceCMStbUntil.text }}" id="pgp-until" nbInput fieldSize="small"
                              type="number" [(ngModel)]="max_value_theoretical_price" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <!-- *********** END - Ng slider - Theoretical price *********** -->
                    </div>
                  </div>
                  <!-- *********** END - Row ngslider - (Price product type - Theoretical price) *********** -->
                  <!-- ********** START - Row ngslider - (Suggested price - Suggested price with relationships) ********** -->
                  <div class="row" *ngIf="true">
                    <div class="col-6">
                      <!-- ********** START - Ng slider - Suggested price ********** -->
                      <div class="form-group">
                        <label class="d-inline-block text-truncate" for="pgp-input_suggested">{{ DATA_LANG?.priceCMSlbPriceSugg.text }}: </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.priceCMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_SuggestedPriceWithVAT" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.priceCMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_SuggestedPriceWithVAT" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <!-- *********** END - Ng slider - Suggested price *********** -->
                    </div>
                    <div class="col-6">
                      <!-- ********** START - Ng slider - Suggested price with relationships ********** -->
                      <div *ngIf="suggestedStage" class="form-group">
                        <label for="pgp-input_category_name">{{ DATA_LANG?.priceCMSlbPriceRelat.text }}: </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input pgp-advance_search_input" placeholder="{{ DATA_LANG?.priceCMStbSince.text }}" id="pgp-since" nbInput fieldSize="small"
                              type="number" [(ngModel)]="min_value_suggested_price_with_relationships" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input pgp-advance_search_input" placeholder="{{ DATA_LANG?.priceCMStbUntil.text }}" id="pgp-until" nbInput fieldSize="small"
                              type="number" [(ngModel)]="max_value_suggested_price_with_relationships" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <div *ngIf="!suggestedStage" class="form-group">
                        <label for="pgp-input_category_name">{{ DATA_LANG?.priceCMSlbPriceRelat.text }}: </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input pgp-advance_search_input" placeholder="{{ DATA_LANG?.priceCMStbSince.text }}" id="pgp-since" nbInput fieldSize="small"
                              type="number" [(ngModel)]="min_value_UserPrice" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input pgp-advance_search_input" placeholder="{{ DATA_LANG?.priceCMStbUntil.text }}" id="pgp-until" nbInput fieldSize="small"
                              type="number" [(ngModel)]="max_value_UserPrice" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <!-- *********** END - Ng slider - Suggested price with relationships *********** -->
                    </div>
                  </div>
                  <!-- *********** END - Row ngslider - (Suggested price - Suggested price with relationships) *********** -->
                  <!-- ********** START - Ng slider - Var recommended price ********** -->
                  <div *ngIf="suggestedStage" class="form-group">
                    <label class="d-inline-block text-truncate" for="pgp-input_suggested">{{ DATA_LANG?.priceCMSlbPriceVar.text }}: </label>
                    <div class="row">
                      <div class="col-6 text-left">
                        <input class="text-left pgp-input pgp-advance_search_input" placeholder="{{ DATA_LANG?.priceCMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="min_value_PriceWithVATVar" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="col-6 text-right">
                        <input class="text-left pgp-input pgp-advance_search_input" placeholder="{{ DATA_LANG?.priceCMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="max_value_PriceWithVATVar" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!suggestedStage" class="form-group">
                    <label class="d-inline-block text-truncate" for="pgp-input_user">{{ DATA_LANG?.priceCMSlbPriceVar.text }}: </label>
                    <div class="row">
                      <div class="col-6 text-left">
                        <input class="text-left pgp-input pgp-advance_search_input" placeholder="{{ DATA_LANG?.priceCMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="min_value_PriceWithVATVar_User" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="col-6 text-right">
                        <input class="text-left pgp-inpu pgp-advance_search_inputt" placeholder="{{ DATA_LANG?.priceCMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="max_value_PriceWithVATVar_User" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                  </div>
                  <!-- *********** END - Ng slider - Var recommended price *********** -->
                </div>
                <div class="col-12 pl-0 pr-0 text-center">
                  <button type="submit" class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" id="pgp-btn_save_new_category"
                    nbButton [class.btn-pulse]="submitted" status="info">{{ DATA_LANG?.priceCMSButtonApply.text }}</button>
                  &nbsp;&nbsp;&nbsp;
                  <button class="pgp-pointer font_family_roboto" type="button" id="pgp-btn_cancel_save_new_category" nbButton [class.btn-pulse]="submitted"
                    (click)="fnCancelCreateNewRatingPerceivedValue()" status="danger">{{ DATA_LANG?.priceCMSButtonCancel.text }}</button>
                </div>

              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>