<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto pgp-card_content" size="large" nbSpinnerStatus="info">
        <nb-card-header class="font_family_roboto">{{ DATA_LANG?.priceRelMElbTittle.text }}</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <form (ngSubmit)="fnUpdateDataPriceRelationships(obj_form_prices_relationships)" #editmarketpriceValueForm="ngForm" aria-labelledby="title"
                style="min-width: 500px; max-width: 500px;">
                <div class="col-12 pl-0 pr-0">
                  <div class="form-group">
                    <label style="font-weight: bold;">{{ DATA_LANG?.priceRelMElbProCode.text }}: {{obj_form_prices_relationships.tProductCode}}</label>
                    <br>
                    <label style="font-weight: bold;">{{ DATA_LANG?.priceRelMElbProName.text }}: {{obj_form_prices_relationships.tProductName}}</label>
                    <br>
                    <label style="font-weight: bold;">{{ DATA_LANG?.priceRelMElbPList.text }}: {{obj_form_prices_relationships.tPriceListName}}</label>
                  </div>
                  <!-- <div class="form-group">
                    <label for="pgp-market_prices_Disbursement">Product code Reference: </label>
                    <ng-select [items]="list_prices_relationships_collection" [(ngModel)]="data_reference_product" bindLabel="tProductCode" [clearable]="false"
                      [ngModelOptions]="{standalone: true}">
                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <div class="card-body">
                          <label class="card-title" [ngOptionHighlight]="search">Product code: {{item.tProductCode}}</label>
                          <br>
                          <label class="card-title" [ngOptionHighlight]="search">Product name: {{item.tProductName}}</label>
                          <br>
                          <label class="card-title" [ngOptionHighlight]="search">Price list: {{item.tPriceListName}}</label>
                        </div>
                      </ng-template>
                    </ng-select>
                  </div> -->

                  <div class="form-group">
                    <label for="pgp-prices_relationships_ProductCodeR">{{ DATA_LANG?.priceRelMElbProCodeRef.text }}: </label>
                    <ng-select [items]="list_products_code_relationships_collection" [(ngModel)]="data_reference_product_code" bindLabel="tProductCode"
                      [clearable]="true"   (change)="changeDataRelation($event)" [ngModelOptions]="{standalone: true}"></ng-select>
                  </div>
                  <div class="form-group">
                    <label for="pgp-prices_relationships_ProductNameR">{{ DATA_LANG?.priceRelMElbProNameRef.text }}: </label>
                    <ng-select [items]="list_products_name_relationships_collection" [(ngModel)]="data_reference_product_name" bindLabel="tProductName"
                      [clearable]="true"   (change)="changeDataRelation($event)" [ngModelOptions]="{standalone: true}"></ng-select>
                  </div>
                  <div class="form-group">
                    <label for="pgp-prices_relationships_PriceListNameR">{{ DATA_LANG?.priceRelMElbPListRef.text }}: </label>
                    <ng-select [items]="list_prices_lists_collection" [(ngModel)]="data_reference_prices_lists" bindLabel="tPriceListName"
                      [clearable]="true"   (change)="changeDataRelation($event)" [ngModelOptions]="{standalone: true}"></ng-select>
                  </div>
                  <p style="width: 500px">{{ DATA_LANG?.priceRelMElbPListRefDesc.text }}</p>
                  <div class="form-group">
                    <label for="pgp-prices_relationships_Relationship">{{ DATA_LANG?.priceRelMElbRelation.text }}: </label>
                    <input nbInput [(ngModel)]="obj_form_prices_relationships.dRelationship" id="pgp-prices_relationships_Relationship" name="prices_relationships_Relationship"
                    (keypress)="numberOnly($event)" autofocus type="text" class="form-control" style="height: 45px;">
                  </div>
                  <p style="width: 500px">{{ DATA_LANG?.priceRelMElbRelationDesc.text }}</p>
                  <button type="submit" class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" id="pgp-btn_save_new_market_prices"
                    [class.btn-pulse]="submitted" [disabled]="!data_reference_product_code || !data_reference_product_name || !data_reference_prices_lists" status="info">{{ DATA_LANG?.priceRelMEButtonSave.text }}</button>
                  &nbsp;&nbsp;&nbsp;
                  <button class="pgp-pointer font_family_roboto" type="button" id="pgp-btn_cancel_save_new_market_prices_data" nbButton [class.btn-pulse]="submitted"
                    (click)="fnCancelEditPriceRelationships()" status="danger">{{ DATA_LANG?.priceRelMEButtonCancel.text }}</button>
                </div>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>