/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

 @mixin ngx-pace-theme() {

  .pace .pace-progress {
    // background: nb-theme(color-fg-highlight);
    background: nb-theme(pgp-color-1);
  }

  .pace .pace-progress-inner {
    // box-shadow: 0 0 10px nb-theme(color-fg-highlight), 0 0 5px nb-theme(color-fg-highlight);
    box-shadow: 0 0 10px nb-theme(pgp-color-1), 0 0 5px nb-theme(pgp-color-1);
  }

  .pace .pace-activity {
    display: none;
    // border-top-color: nb-theme(color-fg-highlight);
    // border-left-color: nb-theme(color-fg-highlight);
  }
}
