@import "../../styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";
@import "../../../@theme/styles/themes";

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  /deep/ nb-action {
    i.control-icon {
      color: nb-theme(pgp-color-1);
      font-size: 2.5rem;
    }
  }

  div[ngbDropdown] {

    nb-card-header{
      display: block;
      color: nb-theme(pgp-color-1);
      font-size: 1.6rem;
    }

    i {
      color: nb-theme(pgp-color-1);
      font-size: 2.5rem;
      text-align: center;
      position: relative;
      padding: 0 1.25rem;

      span {
        position: absolute;
        right: 5px;
      }

    }

    i::after {
      display: none;
    }

    .badge {
      font-size: 32%;
      vertical-align: top;
    }

    div[ngbDropdownMenu] {
      position: absolute;
      min-width: 350px;
      max-width: 350px;
      padding: 0;
      transform: translate(-282px, 37px) !important;

      nb-card {
        margin: 0;
      }

      ul {
        padding: 0;
        margin: 0;
      }

      li {
        padding: 10px;
      }

      i {
        font-size: 1.5rem;
        margin: 0px;
        padding: 0px;
      }

      h6 {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 247px;
        padding: 0;
      }
    }
  }

  .font_family_roboto {
    font-family: "Roboto";
  }

  .font_family_exo {
    font-family: "Roboto";
  }

  .left {
    display: flex;
    width: 100%;
    order: 0;
    flex-direction: row;
  }

  .right {
    order: 1;
    flex-direction: row-reverse;
  }

  .logo-containter {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  .control-item {
    display: block;
  }

  /deep/ .nb-theme-default nb-context-menu {
    border: none !important;
  }

  .user-picture,
  .info-container {
    cursor: pointer;
  }

  .pgp-icon-calculate {
    font-size: 29px;
    color: #06a7e2;
  }

  .pgp-pulse_animation {
    font-size: 29px;
    color: #06a7e2;
    animation: flash;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .navigation {
      @include nb-ltr(padding-right, nb-theme(padding));
      @include nb-rtl(padding-left, nb-theme(padding));
      font-size: 2.5rem;
      text-decoration: none;

      i {
        display: block;
      }
    }

    .logo {
      padding: 0 nb-theme(padding);
      font-size: 1.75rem;
      font-weight: nb-theme(font-weight-bolder);
      @include nb-ltr(border-left, 1px solid nb-theme(separator));
      @include nb-rtl(border-right, 1px solid nb-theme(separator));
      white-space: nowrap;

      span {
        font-weight: nb-theme(font-weight-normal);
      }

      #PGP-Logo_head {
        width: 150px !important;
      }
    }
  }

  @include nb-for-theme(corporate) {
    $menu-action-separator-color: #3f4550;

    nb-action {
      @include nb-ltr(border-left-color, $menu-action-separator-color);
      @include nb-rtl(border-right-color, $menu-action-separator-color);
    }

    .header-container .logo {
      @include nb-ltr(border, none);
      @include nb-rtl(border, none);
    }

    .header-container /deep/ ngx-theme-switcher .dropdown-toggle {
      color: nb-theme(color-white);
      background: transparent;
    }
  }

  ngx-layout-direction-switcher {
    margin: 0 1.5rem;
  }

  ngx-theme-switcher {
    margin: nb-theme(layout-padding);
    margin-top: 0;
    margin-bottom: 0;
  }

  @include media-breakpoint-down(xl) {
    ngx-layout-direction-switcher {
      display: none;
    }
  }

  .toggle-settings /deep/ a {
    display: block;
    text-decoration: none;
    line-height: 1;

    i {
      // color: nb-theme(color-fg-highlight);
      color: nb-theme(pgp-color-1);
      font-size: 2.25rem;
      border-radius: 50%;
      position: relative;
      animation-name: pulse-light;

      &::after {
        content: " ";
        // hack to be able to set border-radius
        background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
        border-radius: 50%;
        pointer-events: none;

        position: absolute;
        top: 52.3%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 13%;
        height: 13%;

        animation: 3s linear infinite pulse;

        @include nb-for-theme(default) {
          animation-name: pulse-light;
        }
      }
    }
  }

  @include keyframes(pulse) {
    0% {
      box-shadow: 0 0 1px 0 rgba(nb-theme(color-fg-highlight), 0);
    }

    20% {
      box-shadow: 0 0 3px 10px rgba(nb-theme(color-fg-highlight), 0.4);
    }

    100% {
      box-shadow: 0 0 5px 20px rgba(nb-theme(color-fg-highlight), 0);
    }
  }

  @include keyframes(pulse-light) {
    0% {
      box-shadow: 0 0 1px 0 rgba(115, 255, 208, 0);
    }

    20% {
      box-shadow: 0 0 3px 10px rgba(115, 255, 208, 0.4);
    }

    100% {
      box-shadow: 0 0 5px 20px rgba(115, 255, 208, 0);
    }
  }

  @include media-breakpoint-down(md) {
    nb-action:not(.toggle-settings) {
      border: none;
    }

    .control-item {
      display: none;
    }

    .toggle-settings {
      padding: 0;
    }

    ngx-layout-direction-switcher {
      display: none;
    }

    ngx-theme-switcher {
      margin: 0 0.5rem;
    }
  }

  @include media-breakpoint-down(sm) {
    nb-user /deep/ .user-name {
      display: none;
      font-family: "roboto" !important;
    }
  }

  @include media-breakpoint-down(is) {
    .header-container {
      .logo {
        font-size: 1.25rem;
      }
    }

    .toggle-settings {
      display: none;
    }

    ngx-theme-switcher {
      display: none;
    }

    nb-action:not(.toggle-settings) {
      padding: 0;
    }
  }

  @include media-breakpoint-down(xs) {
    .right /deep/ {
      display: none;
    }
  }

  select {
    height: 50px;
    line-height: 50px;
    font-size: 12pt;
  }

  .pgp-drop_lang:hover{
    background-color: #e7eaed;
    cursor: pointer;
  }

  .pgp-image_round{
    border-radius: 50%;
    border: 2px solid;
    border-color: #D0D0D0;
    height: 30px;
    width: 30px;
  }

  .pgp-image_list_round{
    border-radius: 50%;
    height: 20px;
    width: 20px;
  }

  .pgp-icon_red{
    color: firebrick !important;
  }

  .pgp-icon_blue{
    color: blue 
  }

  .pgp-icon_warning{
    color: #F79420 !important;
  }

  .pgp-icon_runing{
    color: #828282 !important;
  }

  .pgp-notifications_border{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ebeef2;
  }

  .pgp-icon_empty {
    content:url("../../../../assets/icons-calculate/Empty.png");
  }

  .pgp-icon_error {
    content:url("../../../../assets/icons-calculate/Error.png");
  }

  .pgp-icon_incomplete {
    content:url("../../../../assets/icons-calculate/Incomplete.png");
  }

  .pgp-icon_ok {
    content:url("../../../../assets/icons-calculate/OK.png");
  }

  .pgp-icon_change {
    content:url("../../../../assets/icons-calculate/Change.png");
  }

  .pgp-icon_calculando {
    content:url("../../../../assets/icons-calculate/Calculando.png");
  }

  .width_icon {
    width: 35px;
  }

}