<div class="header-container font_family_roboto" [class.left]="position === 'normal'"
  [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a id="pgp-btn_toogle_side_bar" (click)="toggleSidebar()" href="#" class="navigation">
      <i class="nb-menu"></i>
    </a>
    <div class="logo" (click)="goToHome()">
      <img src="../../../../assets/images/imgs/pgp-prexus-logo01.png" alt="PGP Prexus Logo" id="PGP-Logo_head">
    </div>
  </div>
  <ngx-theme-switcher *ngIf="false"></ngx-theme-switcher>
</div>

<div class="header-container">
  <div ngbDropdown #myDrop="ngbDropdown" *ngIf="fnShowCalculate()">
    <i class="fas fa-bell" id="dropdownBasic1" badgeStatus="danger" ngbDropdownToggle (click)="fnCleanNotifications()"
      style="cursor: pointer;">
      <span class="badge badge-danger font_family_roboto"
        *ngIf="notificationMenu.length > 0">{{ notificationMenu.length }}</span>
    </i>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" id="dropdownNotifications">
      <nb-card>
        <nb-card-header>
          Notifications
          <span class="float-right">
            <i class="fas fa-flag"></i>
          </span>
        </nb-card-header>
        <label class="pl-4 pr-4 mt-2" style="color: #06a7e2;">News</label>
        <ul class="list-unstyled">
          <li *ngFor="let item of notifications_show; let index_item = index;" class="pgp-notifications_border">
            <a id="item_{{ index_item }}">
              <div class="row col-12">
                <i class="col-2 fas " placement="right" container="body"
                  [ngClass]="{ 'fa-times-circle pgp-icon_red' : item.iIDStateMachine == 13, 'fa-exclamation-triangle pgp-icon_warning': item.iIDStateMachine == 14, 'fa-check-circle pgp-icon_blue': item.iIDStateMachine == 12, 'fa-sync-alt pgp-icon_runing': item.iIDStateMachine == 15}"></i>
                <div class="row col-10">
                  <h6 class="col-12 m-0">{{ item.tNotificationDesc }}</h6>
                  <span class="col-12 p-0" style="opacity: 0.5;font-size: x-small;">
                    {{ item.dtCreatedDate | date:'mediumDate' }}
                  </span>
                </div>
              </div>
            </a>
          </li>
          <li class="text-center" (click)="fnGoNotifications(); myDrop.close();">
            <a class="cl-12 p-0" style="font-size: medium;cursor: pointer">
              See more...
            </a>
          </li>
        </ul>
      </nb-card>
    </div>
  </div>
  <nb-actions size="medium" [class.right]="position === 'normal'" [class.left]="position === 'inverse'">
    <nb-action *nbIsGranted="['view', 'user']" id="test_1">
      <nb-user id="test_2" [nbContextMenu]="userMenu" tag="account" [name]="user?.name" [picture]="user?.picture">
      </nb-user>
    </nb-action>
    <nb-action class="control-item" icon="fas fa-question-circle"></nb-action>
    <nb-action class="control-item" icon="fas fa-home" id="home_button" (click)="fnGoHome()"></nb-action>
    <nb-action class="control-item" (click)="fnCalculate()" *ngIf="fnShowCalculate()">
      <i class= "width_icon"
      [ngClass] = "{ 'pgp-pulse_animation': (loadingCalculate), 'pgp-icon-calculate': (!loadingCalculate), 'pgp-icon_empty': calculate_state == 1, 'pgp-icon_ok': calculate_state == 2, 'pgp-icon_change' : calculate_state == 3, 'pgp-icon_incomplete': calculate_state == 4, 'pgp-icon_error': calculate_state == 5, 'pgp-icon_calculando': calculate_state == 6}" style="cursor: pointer;"
      ></i>
      <!-- [ngClass]="{'pgp-pulse_animation': (loadingCalculate), 'pgp-icon-calculate': (!loadingCalculate)}" -->
    </nb-action>
  </nb-actions>

</div>