@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

    .flex-centered {
      margin: auto;
    }
    
    nb-card-body {
      display: flex;
      max-height: 80vh;
      min-height: 78vh;
    }
  
    button:focus { outline:0; }
    
    .title {
      text-align: center;
    }
  
    .font_family_roboto {
      font-family: 'Roboto';
    }
  
    .font_family_exo {
      font-family: 'roboto';
    }
    
    .pgp-backgroud_layout {
      background-color: #FFF;
      min-height: 83vh;
      z-index: 1;
    }

    .pgp-label-header-card {
      font-weight: normal;
      margin-bottom: 0%;
    }
  
    ::ng-deep .pgp-pointer {
      cursor: pointer;
    }
    
    .pgp-pointer {
      cursor: pointer;
    }

    .pgp-badge-color{
      color: #fff !important;
      background-color: nb-theme(pgp-color-11);
      font-size: smaller !important;
      text-transform: none;
    }
   
    .pgp-badge-icon{
      font-size: 10px;
    }
   
    .pgp-table {
      color: nb-theme(pgp-color-black);
    }
   
    .pgp-table-actions{
      width: 35px;
    }
   
    ::ng-deep .pgp-icon-sort{
      float: right !important;
    }
   
    ::ng-deep .pgp-pagin{
      width: 20%;
      margin: auto;
    }
   
    ::ng-deep .pgp-pagin-color{
      color: nb-theme(pgp-color-black);
    }

  /* ********** - ********** */
  .pgp-btns_actions {
    background-color: nb-theme(pgp-color-1);
    text-transform: none;
    cursor: pointer;
    height: 41px;
    font-family: 'Roboto';
    width: nb-theme(pgp-width-btn-crud); 
  }
  
  .pgp-btn_advance_search {
    background-color: nb-theme(pgp-color-11);
    text-transform: none;
    cursor: pointer;
  }

  .pgp-btn_advance_search:active:focus {
    background-color: nb-theme(pgp-color-3);
  }
  
  .pgp-btns_actions:active:focus {
    background-color: nb-theme(pgp-color-3);
  }

  .pgp-text_input_search {
    height: 3rem;
    margin: auto;
    outline: none;
    background-color: #ffffff;
  }

  .pgp-text_input_search:focus {
    border-color: nb-theme(pgp-color-1);
  }

  .pgp-icon_input_search {
    position: absolute;
    margin-top: 1rem;
    margin-left: -2rem;
  }

  .pgp-height_3_rem {
    height: 3rem !important;
  }

  .pgp-font_paginator {
    font-size: 1rem;
  }

  /deep/ a:hover {
    color: nb-theme(pgp-color-1);
  }
  
  /deep/ a:focus {
    color: nb-theme(pgp-color-1);
  }


  ::ng-deep .ng-select.ng-select-single .ng-select-container {
    height: 41px;
  }

  ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input {
      line-height: 1.8;
  }

  .pgp-icon_state_view_data_active {
    color: nb-theme(pgp-color-2);
  }
  
  .pgp-icon_state_view_data_inactive {
    color: nb-theme(pgp-color-11);
  }

  .pgp-card_head {
    background-color: #828282;
    // background-color: nb-theme(pgp-color-1);
    color: nb-theme(pgp-color-white);
    border-radius: 10px 10px 0px 0px;
    border-top: 1px solid #6c757d;
    border-right: 1px solid #6c757d;
    border-bottom: 0px;
    border-left: 1px solid #6c757d;
    line-height: 20px;
    // border-top: 1px solid nb-theme(pgp-color-1);
    // border-right: 1px solid nb-theme(pgp-color-1);
    // border-bottom: 0px;
    // border-left: 1px solid nb-theme(pgp-color-1);
  }

  .pgp-card_head div {
    padding: 0;
  }
  
  .pgp-card_body {
    background-color: #FFF;
    border-radius: 0px 0px 10px 10px;
    border-top: 1px solid #6c757d;
    border-right: 1px solid #6c757d;
    border-bottom: 1px solid #6c757d;
    border-left: 1px solid #6c757d;
    word-break: break-word;
    // border-top: 1px solid nb-theme(pgp-color-1);
    // border-right: 1px solid nb-theme(pgp-color-1);
    // border-bottom: 1px solid nb-theme(pgp-color-1);
    // border-left: 1px solid nb-theme(pgp-color-1);
    // color: #000;
    // color: nb-theme(pgp-color-9) !important;
    color: nb-theme(pgp-color-12) !important;
    padding: 1rem 0rem;
  }

  .table {
    //width: 200% !important;
    width: 148% !important;
  }

  .pgp-icon_card{
    color: nb-theme(pgp-color-black);
    cursor: pointer;
  }

  .pgp-label_clear_all{
    margin: 11px 0px !important;
    color: nb-theme(pgp-color-2);
    cursor: pointer;
  }

  .pgp-data-card{
    max-width: 95%;
    min-width: 95%;
  }
  .pgp-row-data-card{
    line-height: 0.25rem !important;
  }

  .pgp-content_title_card{
    max-width: 90%;
    min-width: 90%;
  }
  .pgp-title_card {
    color: nb-theme(pgp-color-white) !important;
    max-width: 95%;
    min-width: 95%;
  }

  /********************* Size table columns ************************/

  .pgp-th_lines{
    width: 127px;
  }

  .pgp-div_lines{
    width: 134px;
  }

  .pgp-td_lines{
    max-width: 90px !important;
    min-width: 10% !important;
  }

  .pgp-Margin_top{
    margin-top: 7px !important;
  }

  .pgp-card_label_title{
    max-width: 90%;
  }

  /* ********** - ********** */
  
  /*********************** Start Style switch ****************/
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 18px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #06A7E2;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #06A7E2;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  /*********************** End Style switch ****************/

  .pgp-input_import{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .pgp-description-color{
    color: #5e5d5d;
  }

}