<div class="row pgp-backgroud_layout font_family_roboto pr-4" [nbSpinner]="loading">
  <div class="col-12">
    <div class="row">
      <div class="col-12 m-3">
        <img class="d-inline float-left" src="../../../assets/images/imgs/information.png" height="20">
        <p class="d-inline pl-2 mb-3 mt-3 pgp-description-color">{{ DATA_LANG?.priceClbDesc.text }}</p>
      </div>
      <div class="col-12 ml-3 mr-3">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-lg-right text-xl-right text-md-center text-sm-center">
            <div class="row m-1" style="margin-left: 0 !important">
              <div class="col-6 pl-0">
                <input (input)="fnFilteSearch(0, search_input);" fullWidth nbInput [(ngModel)]="search_input" #search_category="ngModel"
                  class="pgp-text_input_search form-control d-inline-block" id="pgp-input_category_name" name="category_name"
                  type="text" placeholder="{{ DATA_LANG_GENERAL?.tbSearch.text }}">
                <i class="fas fa-search pgp-icon_input_search"></i>
              </div>
              <div class="col-auto p-0">
                <button *ngIf="true" class="btn btn-primary pgp-btn_advance_search font_family_roboto w-100" [disabled]="list_price_calculation_summary?.priceCalculationSumary.length < 1"
                  (click)="showModalAdvancedSearchPriceCalculationSummary(obj_category)" style="display: inline-block; width: 180px !important;">{{ DATA_LANG_GENERAL?.buttonAdvanceSearch.text }}</button>
                <div style="display: inline-block; margin: 0px 10px;" *ngIf="items_filtered_advance_search.products?.length > 0 ||
                      items_filtered_advance_search.priceList?.length > 0 ||
                      items_filtered_advance_search.tProductsType?.length > 0 ||
                      items_filtered_advance_search.category?.length > 0 ||
                      items_filtered_advance_search.dCurrentPrice?.dMin ||
                      items_filtered_advance_search.dCurrentPrice?.dMax ||
                      items_filtered_advance_search.dPricePerceivedValue?.dMin ||
                      items_filtered_advance_search.dPricePerceivedValue?.dMax ||
                      items_filtered_advance_search.dPriceProductType?.dMin ||
                      items_filtered_advance_search.dPriceProductType?.dMax ||
                      items_filtered_advance_search.dTheoreticalPrice?.dMin ||
                      items_filtered_advance_search.dTheoreticalPrice?.dMax ||
                      items_filtered_advance_search.dSuggestedPrice?.dMin ||
                      items_filtered_advance_search.dSuggestedPrice?.dMax ||
                      items_filtered_advance_search.dUserPrice?.dMin ||
                      items_filtered_advance_search.dUserPrice?.dMax ||
                      items_filtered_advance_search.dSuggestedPriceWithRelationships?.dMin ||
                      items_filtered_advance_search.dSuggestedPriceWithRelationships?.dMax ||
                      items_filtered_advance_search.dVarRecommendedPrice?.dMin ||
                      items_filtered_advance_search.dVarRecommendedPrice?.dMin ||
                      items_filtered_advance_search.dVarUserPrice?.dMin ||
                      items_filtered_advance_search.dVarUserPrice?.dMax ||
                      search_input?.length > 0">
                  <label class="p-0 pgp-label_clear_all" (click)="fnClearAllFiltersSearch(); fnFilteSearch(0, search_input);">{{ DATA_LANG_GENERAL?.lbClearAll.text }}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-lg-right text-xl-right text-md-center text-sm-center">
            <div class="btn btn-primary m-1 pgp-btns_actions pgp-height_3_rem" style="position: relative">
              <label for="file" class="pgp-pointer">{{ DATA_LANG_GENERAL?.buttonImport.text }}</label>
              <input [(ngModel)]="file_import_input" type="file" class="pgp-input_import" id="file" (change)="handleFileInput($event.target.files)">
            </div>
            <button class="btn btn-primary m-1 pgp-btns_actions" (click)="fnExportPriceCalculationSummary()">{{ DATA_LANG_GENERAL?.buttonExport.text }}</button>
            <button class="btn btn-primary m-1 pgp-btns_actions" (click)="fnRestorePriceCalculationSummary()">{{ DATA_LANG?.priceCButtonRestore.text }}</button>
            <button class="btn btn-primary m-1 pgp-btns_actions " (click)="fnApplyrules(obj_category)" style="width: auto;border-right: 0 !important;margin-right: 0 !important;">{{ DATA_LANG?.priceCButtonApplyRules.text }}</button>
          </div>
        </div>
      </div>
      <div class="col-12 ml-3 mr-3" *ngIf="true">
        <div class="row">
          <div class="col-10">
            <small class="pgp-pointer" *ngIf="false">
              <a>Clear all</a>&nbsp;&nbsp;
            </small>
            <div class="d-inline-block">
              <span *ngIf="items_filtered_advance_search.products?.length > 0">
                <span *ngFor="let item_product of items_filtered_advance_search.products; let ind_pro = index;">
                  <a class="badge pgp-badge-color">
                    {{ item_product.tProductCode + ' - ' + item_product.tProductName }}
                    <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveItemSearchFilteredAdvanced(ind_pro, items_filtered_advance_search.products);"></i>
                  </a>&nbsp;&nbsp;
                </span>
              </span>
              <span *ngIf="items_filtered_advance_search.priceList?.length > 0">
                <span *ngFor="let item_price_list of items_filtered_advance_search.priceList; let ind_pl = index;">
                  <a class="badge pgp-badge-color">
                    {{ item_price_list.tPriceListName }}
                    <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveItemSearchFilteredAdvanced(ind_pl, items_filtered_advance_search.priceList);"></i>
                  </a>&nbsp;&nbsp;
                </span>
              </span>
              <span *ngIf="items_filtered_advance_search.tProductsType?.length > 0">
                <a class="badge pgp-badge-color">
                  {{ items_filtered_advance_search.tProductsType }}
                  <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveProductType();"></i>
                </a>&nbsp;&nbsp;
              </span>
              <span *ngIf="items_filtered_advance_search.category?.length > 0">
                <span *ngFor="let item_category of items_filtered_advance_search.category; let ind_cat = index;">
                  <a class="badge pgp-badge-color">
                    {{ item_category.tCategoryName }}
                    <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveItemSearchFilteredAdvanced(ind_cat, items_filtered_advance_search.category);"></i>
                  </a>&nbsp;&nbsp;
                </span>
              </span>
              <a class="badge pgp-badge-color" *ngIf="items_filtered_advance_search.dCurrentPrice?.dMin || items_filtered_advance_search.dCurrentPrice?.dMax">
                {{ DATA_LANG?.priceCBadgeCurrentPri.text }}: min = {{ items_filtered_advance_search.dCurrentPrice?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dCurrentPrice?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgeCurrentPrice();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="items_filtered_advance_search.dPricePerceivedValue?.dMin || items_filtered_advance_search.dPricePerceivedValue?.dMax">
                {{ DATA_LANG?.priceCBadgePriceP.text }}: min = {{ items_filtered_advance_search.dPricePerceivedValue?.dMin | number : '1.2-2' }} - max = {{
                items_filtered_advance_search.dPricePerceivedValue?.dMax | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgePricePerceivedValue();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="items_filtered_advance_search.dPriceProductType?.dMin || items_filtered_advance_search.dPriceProductType?.dMax">
                {{ DATA_LANG?.priceCBadgePriceProd.text }}: min = {{ items_filtered_advance_search.dPriceProductType?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dPriceProductType?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgePriceProductType();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="items_filtered_advance_search.dTheoreticalPrice?.dMin || items_filtered_advance_search.dTheoreticalPrice?.dMax">
                {{ DATA_LANG?.priceCBadgeTPrice.text }}: min = {{ items_filtered_advance_search.dTheoreticalPrice?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dTheoreticalPrice?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgeTheoreticalPrice();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="(items_filtered_advance_search.dSuggestedPrice?.dMin || items_filtered_advance_search.dSuggestedPrice?.dMax)">
                {{ DATA_LANG?.priceCBadgePriceSug.text }}: min = {{ items_filtered_advance_search.dSuggestedPrice?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dSuggestedPrice?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetPriceWithVAT();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="(items_filtered_advance_search.dSuggestedPriceWithRelationships?.dMin || items_filtered_advance_search.dSuggestedPriceWithRelationships?.dMax) && suggestedStage">
                {{ DATA_LANG?.priceCBadgePriceRel.text }}: min = {{ items_filtered_advance_search.dSuggestedPriceWithRelationships?.dMin | number
                : '1.2-2' }} - max = {{ items_filtered_advance_search.dSuggestedPriceWithRelationships?.dMax | number : '1.2-2'
                }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgeSuggestedPriceWithRelationships();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="(items_filtered_advance_search.dUserPrice?.dMin || items_filtered_advance_search.dUserPrice?.dMax) && !suggestedStage">
                {{ DATA_LANG?.priceCBadgePriceRel.text }}: min = {{ items_filtered_advance_search.dUserPrice?.dMin | number
                : '1.2-2' }} - max = {{ items_filtered_advance_search.dUserPrice?.dMax | number : '1.2-2'
                }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgeSuggestedPriceWithRelationships();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="(items_filtered_advance_search.dVarRecommendedPrice?.dMin || items_filtered_advance_search.dVarRecommendedPrice?.dMax) && suggestedStage">
                {{ DATA_LANG?.priceCBadgePriceVar.text }}: min = {{ items_filtered_advance_search.dVarRecommendedPrice?.dMin * 100 | number : '1.2-2' }} - max = {{
                items_filtered_advance_search.dVarRecommendedPrice?.dMax * 100 | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetPriceWithVATVar();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="(items_filtered_advance_search.dVarUserPrice?.dMin || items_filtered_advance_search.dVarUserPrice?.dMax) && !suggestedStage">
                {{ DATA_LANG?.priceCBadgePriceVar.text }}: min = {{ items_filtered_advance_search.dVarUserPrice?.dMin * 100 | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dVarUserPrice?.dMax
                * 100 | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetPriceWithVATVar();"></i>
              </a>&nbsp;&nbsp;
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 ml-3 mr-3" *ngIf="true">
        <div class="row">
          <!-- <div class="col-10">
            <div class="row float-left">
              <label *ngIf="userStage" class="m-3">
                <p>Suggested scenario</p>
              </label>
              <label *ngIf="!userStage" class="m-3">
                <strong style="color: black;">Suggested scenario</strong>
              </label>
              <div class="mt-3 mb-3">
                <label class="switch m-0">
                  <input type="checkbox" checked id="pgp-checkbox_userStage" [(ngModel)]="userStage" name="checkbox_userStage" (change)="fnSwitchStage()">
                  <span class="slider round"></span>
                </label>
              </div>
              <label *ngIf="!userStage" class="m-3">
                <p>User scenario</p>
              </label>
              <label *ngIf="userStage" class="m-3">
                <strong style="color: black;">User scenario</strong>
              </label>
              <i class="mt-3 far fa-question-circle pgp-pointer" (click)="open('Scenario','Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.')"></i>
            </div>
          </div> -->
          <div class="col-12 text-right">
            <i class="fas fa-th-large pgp-pointer mb-3 mt-3" style=" font-size: 22px !important;" [ngClass]="{'pgp-icon_state_view_data_active': (layoud_component_display == 'cards'), 'pgp-icon_state_view_data_inactive': (layoud_component_display == 'grid')}"
              (click)="fnSwitchViewData('cards')"></i>&nbsp;
            <i class="fas fa-th-list pgp-pointer mb-3 mt-3" style=" font-size: 22px !important;" [ngClass]="{'pgp-icon_state_view_data_active': (layoud_component_display == 'grid'), 'pgp-icon_state_view_data_inactive': (layoud_component_display == 'cards')}"
              (click)="fnSwitchViewData('grid')"></i>&nbsp;
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-3 pgp-Margin_top">
        <div style="width: 100%; overflow-x: auto;">
          <div class="font_family_roboto pgp-card_content">
            <table *ngIf="layoud_component_display == 'grid'" class="table table-bordered pgp-table">
              <thead>
                <tr>
                  <th>
                    <div style="width: 16px;"></div>
                  </th>
                  <th scope="col" class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                    <div style="width: 160px;">
                      {{ DATA_LANG_GENERAL?.colnProductCode.text }}
                      <span>
                        <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.priceCColnProductCodeTooltipTittle.text,DATA_LANG?.priceCColnProductCodeTooltipDesc.text)"></i>
                      </span>
                      <span id="pgp-icon_complementary_relation_name_column" (click)="sortColumn('tProductCode')" class="float-right">
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                      </span>
                    </div>
                  </th>
                  <th scope="col" class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                    <div style="width: 350px;">
                      {{ DATA_LANG_GENERAL?.colnProductName.text }}
                      <span>
                        <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.priceCColnProductNameTooltipTittle.text,DATA_LANG?.priceCColnProductNameTooltipDesc.text)"></i>
                      </span>
                      <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tProductName')" class="float-right">
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                      </span>
                    </div>
                  </th>
                  <th scope="col" class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                    <div style="width: 150px;">
                      {{ DATA_LANG_GENERAL?.colnPricesList.text }}
                      <span>
                        <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.priceCColnPricesListTooltipTittle.text,DATA_LANG?.priceCColnPricesListTooltipDesc.text)"></i>
                      </span>
                      <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tPriceListName')" class="float-right">
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                      </span>
                    </div>
                  </th>                 
                  <th scope="col" class="text-left pgp-th_lines" id="thead_jobTitle" style="cursor: pointer;">
                    <div class="pgp-div_lines">
                      {{ DATA_LANG?.priceCColnCurrentP.text }} {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                      <span>
                        <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.priceCColnCurrentPTooltipTittle.text,DATA_LANG?.priceCColnCurrentPTooltipDesc.text)"></i>
                      </span>
                      <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dCurrentPrice')" class="float-right">
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                      </span>
                    </div>
                  </th>
                  <th scope="col" class="text-left pgp-th_lines" id="thead_jobTitle" style="cursor: pointer;">

                    <div class="pgp-div_lines">
                      {{ DATA_LANG?.priceCColnPricePer.text }} {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                      <span>
                        <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.priceCColnPricePerTooltipTittle.text,DATA_LANG?.priceCColnPricePerTooltipDesc.text)"></i>
                      </span>
                      <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dPricePerceivedValue')" class="float-right">
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                      </span>
                    </div>
                  </th>
                  <th scope="col" class="text-left pgp-th_lines" id="thead_jobTitle" style="cursor: pointer;">

                    <div style="width: 110px;">
                      {{ DATA_LANG?.priceCColnPriceProd.text }} {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                      <span>
                        <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.priceCColnPriceProdTooltipTittle.text,DATA_LANG?.priceCColnPriceProdTooltipDesc.text)"></i>
                      </span>
                      <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dPriceProductType')" class="float-right">
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                      </span>
                    </div>
                  </th>
                  <th scope="col" class="text-left pgp-th_lines" id="thead_jobTitle" style="cursor: pointer;">

                    <div style="width: 110px;">
                      {{ DATA_LANG?.priceCColnTPrice.text }} {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                      <span>
                        <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.priceCColnTPriceTooltipTittle.text,DATA_LANG?.priceCColnTPriceTooltipDesc.text)"></i>
                      </span>
                      <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dTheoreticalPrice')" class="float-right">
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                      </span>
                    </div>
                  </th>
                  <th scope="col" class="text-left pgp-th_lines" id="thead_jobTitle" style="cursor: pointer;">
                    <div style="width: 150px;">
                      {{ DATA_LANG?.priceCColnPriceSug.text }} {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                      <span>
                        <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.priceCColnPriceSugTooltipTittle.text,DATA_LANG?.priceCColnPriceSugTooltipDesc.text)"></i>
                      </span>
                      <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dPriceWithVAT')" class="float-right">
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                      </span>
                    </div>
                  </th>
                  <th scope="col" class="text-left pgp-th_lines" id="thead_jobTitle" style="cursor: pointer;">
                    <div style="width: 160px;">
                      {{ DATA_LANG?.priceCColnPriceRel.text }} {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                      <span>
                        <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.priceCColnPriceRelTooltipTittle.text,DATA_LANG?.priceCColnPriceRelTooltipDesc.text)"></i>
                      </span>
                      <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dSuggestedPriceWithRelationships')" class="float-right">
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                      </span>
                    </div>
                  </th>
                  <th scope="col" class="text-left pgp-th_lines" id="thead_jobTitle" style="cursor: pointer;">
                    <div class="pgp-div_lines">
                      {{ DATA_LANG?.priceCColnPriceVar.text }}
                      <span>
                        <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.priceCColnPriceVarTooltipTittle.text,DATA_LANG?.priceCColnPriceVarTooltipDesc.text)"></i>
                      </span>
                      <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dPriceWithVATVar')" class="float-right">
                        <i class="fas fa-long-arrow-alt-up"></i>
                        <i class="fas fa-long-arrow-alt-down"></i>
                      </span>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data_info_price_calculation_summary of list_price_calculation_summary?.priceCalculationSumary | paginate: { id: 'server', itemsPerPage: numItemsPage, currentPage: currentPage, totalItems: totalItems }; let i = index;">
                  <td class="pgp-table-actions">
                    <i class="fas fa-edit pgp-pointer" nbTooltip="{{ DATA_LANG?.priceCToolEdit.text }}" nbTooltipPlacement="top" (click)="showModalEdit(data_info_price_calculation_summary)"></i>
                  </td>
                  <td class="text-left" style="width: 150px;">
                    <div div class="d-inline-block text-truncate">
                      {{ data_info_price_calculation_summary.tProductCode }}</div>
                  </td>
                  <td class="text-left" style="width: 200px;">
                    <div class="d-inline-block text-truncate">
                      {{ data_info_price_calculation_summary.tProductName }}
                    </div>
                  </td>
                  <td class="text-left" style="width: 150px;">
                    <div class="d-inline-block text-truncate">
                      {{ data_info_price_calculation_summary.tPriceListName }}
                    </div>
                  </td>
                  <td class="text-right">
                    {{ data_info_price_calculation_summary.dCurrentPrice | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals}}
                  </td>
                  <td class="text-right">
                    {{ data_info_price_calculation_summary.dPricePerceivedValue | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </td>
                  <td class="text-right">
                    {{ data_info_price_calculation_summary.dPriceProductType | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </td>
                  <td class="text-right">
                    {{ data_info_price_calculation_summary.dTheoreticalPrice | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </td>
                  <td class="text-right" style="width: 150px;">
                    {{ data_info_price_calculation_summary.dSuggestedPrice | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </td>
                  <td *ngIf="suggestedStage"  class="text-right">
                    {{ data_info_price_calculation_summary.dSuggestedPriceWithRelationships | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals
                    }}
                  </td>
                  <td *ngIf="!suggestedStage" class="text-right">
                    {{ data_info_price_calculation_summary.dUserPrice | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals
                    }}
                  </td>
                  <td *ngIf="suggestedStage" class="text-right">
                    {{ data_info_price_calculation_summary.dVarRecommendedPrice == null ? '' : ( data_info_price_calculation_summary.dVarRecommendedPrice
                    * 100 | number:'1.1-1' ) + '%' }}
                  </td>
                  <td *ngIf="!suggestedStage" class="text-right">
                    {{ data_info_price_calculation_summary.dVarUserPrice == null ? '' : ( data_info_price_calculation_summary.dVarUserPrice *
                    100 | number:'1.1-1' ) + '%' }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row pr-3 pl-3" *ngIf="layoud_component_display == 'cards'">
          <div *ngFor="let data_info_price_calculation_summary of list_price_calculation_summary?.priceCalculationSumary | paginate: { id: 'server', itemsPerPage: numItemsPage, currentPage: currentPage, totalItems: totalItems }; let i = index;"
            class="mb-2 mt-2 p-0 col-xl-3 col-lg-4 col-md-4 col-sm-12 col-xs-12" id="pgp-card_list_{{i}}">
            <div style="background-color: transparent; padding: 10px;">
              <div class="m-0 pgp-card_head">
                <div class="d-inline-block pgp-content_title_card mt-1 mb-1 ml-4 mr-0">
                  <div class="row">
                    <label class="pgp-label-header-card text-left text-truncate pgp-card_label_title">
                      <strong>{{ data_info_price_calculation_summary.tProductName }}</strong>
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-5">
                      <label class="pgp-label-header-card">
                        <strong>{{ DATA_LANG_GENERAL?.colnProductCode.text }}: </strong>
                      </label>
                    </div>
                    <div class="col-6 text-left">
                      <label class="pgp-label-header-card">{{ data_info_price_calculation_summary.tProductCode }}</label>
                    </div>
                    <div class="col-5">
                      <label class="pgp-label-header-card">
                        <strong>{{ DATA_LANG_GENERAL?.colnPricesList.text }}: </strong>
                      </label>
                    </div>
                    <div class="col-6 text-left">
                      <label class="pgp-label-header-card">{{ data_info_price_calculation_summary.tPriceListName }}</label>
                    </div>
                  </div>
                  <div class="d-inline-block mt-3 position-absolute">
                    <i class="fas fa-edit pgp-icon_card" *ngIf="false"></i>&nbsp;&nbsp;
                    <i class="far fa-trash-alt pgp-icon_card" *ngIf="false"></i>
                  </div>
                </div>
              </div>
              <div class="m-0 pgp-card_body">
                <div class="row pgp-row-data-card">
                  <div class="col-8">
                    <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ DATA_LANG?.priceCColnCurrentP.text }}</label>
                  </div>
                  <div class="col-4 text-right">
                    <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ data_info_price_calculation_summary.dCurrentPrice | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals}}</label>
                  </div>
                </div>
                <div class="row pgp-row-data-card">
                  <div class="col-8">
                    <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ DATA_LANG?.priceCColnPricePer.text }}</label>
                  </div>
                  <div class="col-4 text-right">
                    <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ data_info_price_calculation_summary.dPricePerceivedValue | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals
                      }}
                    </label>
                  </div>
                </div>
                <div class="row pgp-row-data-card">
                  <div class="col-8">
                    <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ DATA_LANG?.priceCColnPriceProd.text }}</label>
                  </div>
                  <div class="col-4 text-right">
                    <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ data_info_price_calculation_summary.dPriceProductType | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals
                      }}
                    </label>
                  </div>
                </div>
                <div class="row pgp-row-data-card">
                  <div class="col-8">
                    <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ DATA_LANG?.priceCColnTPrice.text }}</label>
                  </div>
                  <div class="col-4 text-right">
                    <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ data_info_price_calculation_summary.dTheoreticalPrice | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals
                      }}
                    </label>
                  </div>
                </div>
                <div class="row pgp-row-data-card">
                  <div class="col-8">
                    <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ DATA_LANG?.priceCColnPriceSug.text }}</label>
                  </div>
                  <div class="col-4 text-right">
                    <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ data_info_price_calculation_summary.dSuggestedPrice | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals
                      }}
                    </label>
                  </div>
                </div>
                <div class="row pgp-row-data-card">
                  <div class="col-8">
                    <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate" style="width: 194px;">{{ DATA_LANG?.priceCColnPriceRel.text }}</label>
                  </div>
                  <div class="col-4 text-right">
                    <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ data_info_price_calculation_summary.dSuggestedPriceWithRelationships | number : '1.'+ quantiy_decimals
                      +'-'+ quantiy_decimals }}</label>
                  </div>
                </div>
                <div class="row pgp-row-data-card" *ngIf="!suggestedStage">
                  <div class="col-8">
                    <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate" style="width: 194px;">{{ DATA_LANG?.priceCColnPriceVar.text }}</label>
                  </div>
                  <div class="col-4 text-right">
                    <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ data_info_price_calculation_summary.dVarUserPrice == null ? '' : ( data_info_price_calculation_summary.dVarUserPrice
                      * 100 | number:'1.1-1') + '%' }}</label>
                  </div>
                </div>
                <div class="row pgp-row-data-card" *ngIf="suggestedStage">
                  <div class="col-8">
                    <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate" style="width: 194px;">{{ DATA_LANG?.priceCColnPriceVar.text }}</label>
                  </div>
                  <div class="col-4 text-right">
                    <label class="p-2 m-0 pgp-data-card d-inline-block text-truncate">{{ data_info_price_calculation_summary.dVarRecommendedPrice == null ? '' : ( data_info_price_calculation_summary.dVarRecommendedPrice
                      * 100 | number:'1.1-1') + '%' }}</label>
                  </div>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
        <div class="col-12 mt-3" style="margin-right: -15px; margin-left: -35px;" *ngIf="list_price_calculation_summary?.priceCalculationSumary.length > 0">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
            <div class="text-center col-xl-4 col-lg-4 col-md-4 col-sm-4">

              <pagination-controls (pageChange)="getPage($event)" id="server" previousLabel="{{ DATA_LANG_GENERAL?.previousPage.text }}" nextLabel="{{ DATA_LANG_GENERAL?.nextPage.text }}"></pagination-controls>

            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
              <div class="text-center pgp-font_paginator" *ngIf="list_price_calculation_summary?.priceCalculationSumary.length > 0">
                <div class="text-right pgp-font_paginator">
                  {{ DATA_LANG_GENERAL?.lbItemsShowed.text }} {{ (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) + 1 ) }} - {{ (list_price_calculation_summary?.priceCalculationSumary.length
                  <=( currentPage * numItemsPage)) ? (list_price_calculation_summary?.priceCalculationSumary.length) + (((currentPage * numItemsPage)
                    - ((currentPage * numItemsPage) / currentPage)) ) : (currentPage * numItemsPage) }} {{ DATA_LANG_GENERAL?.lbItemsOf.text }} {{ totalItems }}
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>