@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

button:focus {
    outline: 0;
    cursor: pointer;
    }
    
    .title {
    text-align: center;
    }

    .font_family_roboto {
    font-family: 'Roboto';
    }

    .font_family_exo {
    font-family: 'exo';
    }

    #pgp-btn_preview_market_prices {
    text-transform: none;
    background-color: nb-theme(pgp-color-1); 
    width: nb-theme(pgp-width-btn-crud);      
    }

    #pgp-btn_next_market_prices {
    text-transform: none;
    background-color: nb-theme(pgp-color-1); 
    width: nb-theme(pgp-width-btn-crud);       
    }

    
    #pgp-btn_save_new_category {
    text-transform: none;
    width: nb-theme(pgp-width-btn-crud);       
    }
    
    #pgp-btn_cancel_save_new_category {
    text-transform: none;
    background-color: nb-theme(pgp-color-11);   
    width: nb-theme(pgp-width-btn-crud);   
    }
    
    .pgp-backgroud_layout {
    background-color: #FFF;
    }
    
    .sub-title {
    text-align: center;
    display: block;
    margin-bottom: 3rem;
    }
    

    .pgp-btns_actions {
    background-color: nb-theme(pgp-color-1);
    text-transform: none;
    cursor: pointer;
    height: 40px;
    font-family: 'Roboto';
    width: 55px;
    }

    .pgp-btn-select{
    background-color:orange;
    text-transform: none;
    cursor: pointer;
    height: 40px;
    font-family: 'Roboto';
    width: 55px;
    }
    
    #pgp-btn_save_languages {
    text-transform: none;
    width: nb-theme(pgp-width-btn-crud);       
    }


    #pgp-btn_cancel_save_edit_languages {
    text-transform: none;
    background-color: nb-theme(pgp-color-11);   
    width: nb-theme(pgp-width-btn-crud);   
    }

    .pgp-btn_success {
    background-color: nb-theme(pgp-color-1);
    cursor: pointer;
    }

    #pgp-input_text:focus {
    border-color: nb-theme(pgp-color-1);
    }

    #pgp-Mark_elasticity_product {
    border-color: none;
    }
    
    #pgp-Mark_elasticity_product:focus {
    border-color: nb-theme(pgp-color-1);
    }


    #pgp-input_competitor_name {
    border-color: none;
    }
    
    #pgp-input_competitor_name:focus {
    border-color: nb-theme(pgp-color-1);
    }

    .pgp-fs_icon_list {
    font-size: 1.5rem;
    vertical-align: sub;
    color: nb-theme(pgp-color-3);
    }

    .pgp-fs_icon_right_list {
    position: absolute;
    right: 1rem;
    color: nb-theme(pgp-color-6);
    }

    .pgp-pointer {
    cursor: pointer;
    }

    ::ng-deep nb-dialog-container {
    height: 80vw;
    max-width: 95vw;
    max-height: 81vh;
    }

    .pgp-title_item_list {
    display: inline-block;
    }

    ::ng-deep nb-card-header {
    display: block !important;
    }

    ::ng-deep {
    .tooltip-inner {
        width: 12rem;
        background-color: #ff4c6a;
        color: #fff;
        text-align: left;
    }

    .tooltip-arrow {
        border-right-color: #ff4c6a !important;
    }
    
    .tooltip-arrow::before {
        border-right-color: #ff4c6a !important;
    }
    }

    .pgp-icon_alert {
    position: absolute;
    padding: 0.7rem;
    cursor: pointer;
    color: #ff4c6a;
    }

    ::ng-deep .ng-select.ng-select-single .ng-select-container {
    height: 45px;
    }

    ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input {
        line-height: 1.8;
    }

    ::ng-deep .ng5-slider .ng5-slider-pointer {
        cursor: pointer;
        width: 16px;
        height: 16px;
        top: -5px;
        background-color: nb-theme(pgp-color-3);
        z-index: 3;
        border-radius: 16px;
        outline: none !important;
    }

    ::ng-deep .ng5-slider .ng5-slider-pointer:after {
        content: '';
        width: 8px;
        height: 8px;
        position: absolute;
        top: 4px;
        left: 4px;
        border-radius: 4px;
        background: #fff;
    }

}