<div class="container">
    <div class="row">
      <div class="col-12">
        <nb-card class="font_family_roboto pgp-card_content">
          <nb-card-header class="font_family_roboto">Editar texto</nb-card-header>
          <nb-card-body>
            <div class="container">
              <div class="row ml-0 mr-0">
                <form (ngSubmit)="fnEditLanguages(obj_form_edit_languages)" #editmarketpriceValueForm="ngForm" aria-labelledby="title" style="min-width: 500px; max-width: 500px;">
                  <div class="col-12 pl-0 pr-0">
                    <div class="form-group">
                      <label style="font-weight: bold;">Identificador del texto:</label>
                      <br>
                      <label>{{ name_key }}</label>
                      <br>
                      <label style="font-weight: bold;">Descripción del texto:</label>
                      <br>
                      <label>{{ description }}</label>
                      <br>
                    </div>
                    <div class="form-group">
                      <label>Texto: </label>
                      <textarea nbInput style="border-radius: 5px;" rows="5" fullWidth [ngModelOptions]="{standalone: true}" [(ngModel)]="text" 
                      id="pgp-input_text" autofocus type="text" class="form-control" style="height: 100px;"></textarea>
                    </div>
                    <button type="submit" nbButton class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" id="pgp-btn_save_languages"
                      [class.btn-pulse]="submitted" status="info">Guardar</button>
                    &nbsp;&nbsp;&nbsp;
                    <button class="pgp-pointer font_family_roboto" id="pgp-btn_cancel_save_edit_languages" type="button" nbButton [class.btn-pulse]="submitted"
                      status="danger" (click)="fnCancelEditLanguages()">Cancelar</button>
                  </div>
                </form>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>