<div class="mb-3 text-center">
  <img class="pgp-image_logo" src="../../../../assets/images/imgs/pgp-prexus-logo01.png" alt="PGP Prexus Logo">
</div>
<!-- <button nbButton (click)="showToast('top-right', 'success')">Top Right</button> -->
<h1 id="title" class="title font_family_roboto">{{ DATA_LANG?.lbTittle.text }}</h1>
<p class="sub-title mb-0">{{ DATA_LANG?.lbCongrat.text }}</p>
<p class="sub-title mb-0">{{ DATA_LANG?.lbStartAccount.text }}</p>
<!-- {{ state_active_account?.color }}
<nb-alert status="{{ state_active_account?.color }}" role="alert" closable (close)="onClose()">
  <p class="alert-title"><b>Hooray!</b></p>
</nb-alert> -->

<button nbButton
        fullWidth
        status="success"
        class="pgp-button_go_to_login font_family_roboto"
        [disabled]="submitted"
        [class.btn-pulse]="submitted"
        (click)="fnRedirectPage()">{{ DATA_LANG?.buttonStart.text }}
</button>

<!-- <section class="another-action" aria-label="Register">
Don't have an account? <a class="text-link" routerLink="../sign-up">Register</a>
</section> -->

<div class="mt-0 text-center" style="position: absolute;width: 100%; left: 0%; bottom: 0%; z-index: -1;">
  <img alt="PGP Prexus footer" src="../../../../assets/images/imgs/pgp-footer-login-02.png" style="
  position: absolute;
  /*top: 0%;*/
  margin: auto;
  /*width: 100%;*/
  width: 56%;
  z-index: 0;
  bottom: 0%;
  /*left: 0%;*/
  left: 21%;
  ">
</div>