<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto pgp-card_content">
        <nb-card-header class="font_family_roboto">{{ DATA_LANG?.mPrMDMlbTittle.text }}</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <form (submit)="fnSetDeleteMarketPriceById(iIDMarketPrice)" #deleteCategoryForm="ngForm" aria-labelledby="title"
                style="width: 18rem;">
                <div class="col-12 pl-0 pr-0">
                    <p class="mb-3 mt-1">{{ DATA_LANG?.mPrMDMlbDesc.text }}
                        <strong>"{{ tProduct }}"</strong>?</p>
                </div>
                <button type="submit" class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" id="pgp-btn_delete_category"
                  nbButton [disabled]="!iIDMarketPrice || !iIDVersion" [class.btn-pulse]="submitted" status="info">{{ DATA_LANG?.mPrMDMlbButtonSave.text }}</button>
                &nbsp;&nbsp;&nbsp;
                <button class="pgp-pointer font_family_roboto" type="button" id="pgp-btn_cancel_delete_category" nbButton [class.btn-pulse]="submitted"
                  (click)="fnCancelMarketPrice()" status="danger">{{ DATA_LANG?.mPrMDMlbButtonCancel.text }}</button>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>