<div class="mb-3 text-center">
    <img class="pgp-image_logo" src="../../../../assets/images/imgs/pgp-prexus-logo01.png" alt="PGP Prexus Logo">
</div>

<h1 id="title" class="title font_family_roboto">{{ DATA_LANG?.lbLogIn.text }}</h1>
<p class="sub-title mb-0">{{ DATA_LANG?.lbHello.text }}</p>

<nb-alert *ngIf="message_error_api && !submitted" outline="danger" role="alert">
  <!-- <p class="alert-title"><b>Oh snap!</b></p> -->
  <ul class="alert-message-list">
    <li class="alert-message">{{ message_error_api }}</li>
  </ul>
</nb-alert>

<!-- <nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert> -->

<form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-email">{{ DATA_LANG?.lbEmail.text }}</label>
    <input nbInput
           fullWidth
           [(ngModel)]="user.tEmail"
           #email="ngModel"
           name="email"
           id="input-email"
           pattern=".+@.+\..+"
           placeholder="{{ DATA_LANG?.tbEmail.text }}"
           (focus)="message_error_api = null" 
           autofocus
           [status]="email.dirty ? (email.invalid  ? 'danger' : 'info') : ''"
           [required]="getConfigValue('forms.validation.email.required')"
           [attr.aria-invalid]="email.invalid && email.touched ? true : null">
    <ng-container *ngIf="email.invalid && email.touched">
      <p class="error-message" *ngIf="email.errors?.required">
        {{ DATA_LANG?.lbEmailRequired.text }}
      </p>
      <p class="error-message" *ngIf="email.errors?.pattern">
        Email should be the real one!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">{{ DATA_LANG?.lbPass.text }}</label>
    <input nbInput
           fullWidth
           [(ngModel)]="user.tPassword"
           #password="ngModel"
           name="password"
           type="password"
           id="input-password"      
           placeholder="{{ DATA_LANG?.tbPass.text }}" 
           (focus)="message_error_api = null" 
           [status]="password.dirty ? (password.invalid  ? 'danger' : 'info') : ''"
           [required]="required"
           [minlength]="minlength"
           [maxlength]="maxlength"
           [attr.aria-invalid]="aria_invalid">
    <ng-container *ngIf="password.invalid && password.touched ">
      <p class="error-message" *ngIf="password.errors?.required">
        {{ DATA_LANG?.lbPassRequired.text }}
      </p>
      <p class="error-message" *ngIf="password.errors?.minlength || password.errors?.maxlength">
        Password should contains
        from {{ minlength }}
        to {{ maxlength }}
        characters
      </p>
    </ng-container>
  </div>

  <div class="col-12 row m-0 p-0" *ngIf="rememberMe">
    <div class="col-6 m-0 p-0">
      <label class="container" for="pgp-checkbox_remember_me">
        <span class="pgp-label_remember_me">{{ DATA_LANG?.lbRemember.text }}</span>
        <input type="checkbox" checked="checked" id="pgp-checkbox_remember_me"  [(ngModel)]="user.rememberMe" name="rememberMe" (change)="fnCheckRemember()">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="col-6 text-right m-0 p-0">
      <a class="forgot-password pgp-label_remember_me" routerLink="../request-password">{{ DATA_LANG?.linkForgot.text }}</a>
    </div>
  </div>

  <button nbButton
          fullWidth
          status="success"
          class="pgp-button_signin font_family_roboto pgp-pointer"
          [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted">
          {{ DATA_LANG?.buttonLogIn.text }}
  </button>
</form>

<section *ngIf="socialLinks && socialLinks.length > 0" class="links" aria-label="Social sign in">
  or enter with:
  <div class="socials">
    <ng-container *ngFor="let socialLink of socialLinks">
      <a *ngIf="socialLink.link"
         [routerLink]="socialLink.link"
         [attr.target]="socialLink.target"
         [attr.class]="socialLink.icon"
         [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
      <a *ngIf="socialLink.url"
         [attr.href]="socialLink.url"
         [attr.target]="socialLink.target"
         [attr.class]="socialLink.icon"
         [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
    </ng-container>
  </div>
</section>

<section class="another-action" aria-label="Register">
  {{ DATA_LANG?.lbDoNotHaveAccount.text }}&nbsp;&nbsp;&nbsp;&nbsp;<a class="text-link" routerLink="../sign-up">{{ DATA_LANG?.linkRegister.text }}</a>
</section>

<div class="mt-0 text-center" style="position: absolute;width: 100%; left: 0%; bottom: 0%; z-index: -1;">
    <img alt="PGP Prexus footer" src="../../../../assets/images/imgs/pgp-footer-login-02.png" style="
    position: absolute;
    /*top: 0%;*/
    margin: auto;
    /*width: 100%;*/
    width: 56%;
    z-index: 0;
    bottom: 0%;
    /*left: 0%;*/
    left: 21%;
    ">
</div>
<!-- <img alt="PGP Prexus footer" src="../../../../assets/images/imgs/pgp-footer-login-01.png" style="
    position: absolute;
    top: 83.7%;
    margin: auto;
    width: 100%;
    left: 0%;"> -->