@import "../../../@theme/styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

.cardsMenus {
  height: 4.5rem;
  border-radius: 5px;
}

.cardsIconFirts {
  font-size: 2rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.pgp-cards_text {
  font-family: "Roboto";
  margin-top: 1.6rem;
  text-align: center;
}

.cardsIconLast {
  margin-left: 1rem;
  margin-top: 1.6rem;
}

.pgp-pointer {
  cursor: pointer;
}

::ng-deep .pgp-icon-container {
  height: 60px;
  border-radius: 5px;
  border: 1px solid;
}

::ng-deep .pgp-container-color {
  background-color: #f79420 !important;
}

::ng-deep .pgp-container-color-default {
  background-color: white !important;
}

::ng-deep .pgp-icon-firts-color {
  color: white !important;
}

::ng-deep .pgp-icon-firts-color-default {
  color: gray !important;
}

.pgp-card_first_content {
  min-height: 4.5rem;
  max-height: 4.5rem;
  background-color: #fff;
  border-radius: 5px 0px 0px 5px;
  border-bottom: 1px solid #dfdfdf !important;
  border-right: 1px solid #dfdfdf !important;
}

.pgp-card_first_content_selected {
  min-height: 4.5rem;
  max-height: 4.5rem;
  background-color: #f79420;
  border-radius: 5px 0px 0px 5px;
  border-bottom: 1px solid #dfdfdf !important;
  border-right: 1px solid #dfdfdf !important;
  color: #fff;
}

.pgp-card_second_content {
  min-height: 4.5rem;
  max-height: 4.5rem;
  // background-color: rgb(32, 147, 247);
  background-color: #fff;
  border-radius: 0px;
  border-bottom: 1px solid #dfdfdf !important;
  border-right: 1px solid #dfdfdf !important;
}

.pgp-card_third_content {
  min-height: 4.5rem;
  max-height: 4.5rem;
  // background-color: rgb(247, 32, 32);
  background-color: #fff;
  border-radius: 0px 5px 5px 0px;
  border-bottom: 1px solid #dfdfdf !important;
}

.pgp-card_title {
  // width: 90%;
  margin: 10% auto;
  text-align: left;
}

.pgp-div-card_icon {
  margin: 1.3rem 0rem !important;
  text-align: center;
}

.pgp-div-card_title {
  margin: 1rem 1.6rem !important;
  text-align: center;
}

.pgp-div-card_help {
  margin: 1.6rem 0rem !important;
  text-align: center;
}

.pgp-btn_next {
  background-color: nb-theme(pgp-color-2);
  color: nb-theme(pgp-color-white);
  padding: 0px !important;
  border-radius: 35px;
  // border-color: nb-theme(pgp-color-2);
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
}

.pgp-btn_next_2 {
  color: nb-theme(pgp-color-black);
  padding: 0px !important;
  font-size: 20px;
  cursor: pointer !important;
  opacity: 0.5;
}

.MultiCarousel {
  float: left;
  // overflow: hidden;
  //padding: 15px;
  width: 100%;
  position: relative;
  // transition: 2s ease all;
}

// .MultiCarousel .MultiCarousel-inner {
//   transition: 1s ease all;
//   float: left;
//   display: -webkit-inline-box;
// }

.MultiCarousel .MultiCarousel-inner .item {
  float: left;
}

.MultiCarousel .MultiCarousel-inner .item>div {
  text-align: center;
  //padding: 10px;
  //margin: 10px;
  background: #f1f1f1;
  color: #666;
}

// .MultiCarousel .leftLst,
// .MultiCarousel .rightLst {
//   position: absolute;
//   border-radius: 50%;
//   top: calc(50% - 20px);
// }
// .MultiCarousel .leftLst {
//   left: 0;
// }
// .MultiCarousel .rightLst {
//   right: 0;
// }

// .MultiCarousel .leftLst.over,
// .MultiCarousel .rightLst.over {
//   pointer-events: none;
//   background: #ccc;
// }


.parpadea {

  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

@-webkit-keyframes parpadeo {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

@keyframes parpadeo {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

.intermitente{
  // border: 1px solid black;
  padding: 20px 20px;
  box-shadow: 0px 0px 20px;
  animation: infinite resplandorAnimation 2s;
  
}

.pgp-card_text_align{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
}

.pgp-icon_empty {
  color: #828282;
}

.pgp-icon_error {
  color: #bf0811;
}

.pgp-icon_incomplete {
  color: #f69324;
}

.pgp-icon_ok {
  color: #10d957;
}

.pgp-icon_change {
  color: #ffd200;
}

.pgp-icon_calculando {
  color: #07a5e0;
}

@keyframes resplandorAnimation {
  0%,100%{
    box-shadow: 0px 0px 20px;
  }
  50%{
  box-shadow: 0px 0px 0px;
  
  }

}