<div class="container-fluid m-0 p-0">
  <div class="row">
    <div *ngIf="showLeft" style="margin: auto 3px !important; text-align:
    center;">
      <i class="pgp-btn_next_2 fas fa-angle-left intermitente" (click)="fnPrevious()"></i>
    </div>
    <div *ngIf="showLeft" class="row p-0" (click)="fnLeftoverLeft()">
      <div class="mb-2 mt-2 p-1">
        <div class="card cardsMenus pgp-pointer">
          <div class="col pgp-card_third_content" style="box-shadow: 0px 0px 20px;margin: auto 0 !important;max-width: 25px;min-width: 25px;">
            <div class="pgp-div-card_help">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row col p-0 MultiCarousel" data-items="1,2,3,4,5" data-slide="1">
      <div id='Language' style="display: none"></div>
      <div class="mb-2 mt-2 p-1 col" *ngFor="let iCard of data_cards_final; let i = index;" id="pgp-card-{{i}}">
        <div *ngIf="iCard!=undefined" id="card_{{i}}" class="card cardsMenus pgp-pointer">
          <div class="container-fluid p-0" *ngIf="true">
            <div class="row p-0 m-0" (click)="fnSelectItemCard(iCard,i,true)">
              <div id="pgp-data_main_card_{{i}}" class="col-3 p-0 pgp-content_start pgp-card_first_content" [ngClass]="{'pgp-card_first_content_selected': (iCard?.selected)}">
                <div class="pgp-div-card_icon">
                  <i class="{{ iCard?.tCardIcon }}" style="font-size: 2rem;"></i>
                </div>
              </div>
              <div class="col-7 p-0 pgp-card_second_content">
                <div class="d-flex justify-content-left pl-4 pr-4" style="display: flex !important; justify-content: center; align-items: center; height: 62px;">
                  <h6 class="pgp-card_title d-inline-block ml-0" style="font-size: 0.9rem; font-family: roboto;">{{ iCard?.tCardName }}</h6>
                </div>
              </div>
              <div class="col-2 p-0 pgp-card_third_content">
                <div class="pgp-div-card_help">
                  <!-- class="far fa-question-circle"  -->
                  <i class="fas " [ngClass]="{ 'fa-minus-circle pgp-icon_empty': iCard.iIDStateMachine == 1, 'fa-check pgp-icon_ok': iCard.iIDStateMachine == 2, 'fa-exchange-alt pgp-icon_change': iCard.iIDStateMachine == 3, 'fa-exclamation-triangle pgp-icon_incomplete': iCard.iIDStateMachine == 4, 'fa-times pgp-icon_error': iCard.iIDStateMachine == 5, 'fa-sync-alt pgp-icon_calculando': iCard.iIDStateMachine == 6}" ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showLeftoverCardRight" class="row p-0" (click)="fnLeftoverRigth()">
      <div class="mb-2 mt-2 p-1">
        <div class="card cardsMenus pgp-pointer">
          <div class="col pgp-card_first_content" style="box-shadow: 0px 0px 20px;margin: auto 0 !important;max-width: 25px;min-width: 25px;">
            <div class="pgp-div-card_icon">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="data_cards?.length>carruselLength" style="margin: auto 3px !important; text-align:
    center;">
      <i class="pgp-btn_next_2 fas fa-angle-right intermitente" (click)="fnNext()"></i>
    </div>
  </div>
</div>