<span class="created-by" *ngIf="false">
    Created with ♥ by
    <b><a href="https://akveo.com" target="_blank">Akveo</a></b> 2017
</span>
<div class="socials" *ngIf="false">
    <a href="#" target="_blank" class="ion ion-social-github"></a>
    <a href="#" target="_blank" class="ion ion-social-facebook"></a>
    <a href="#" target="_blank" class="ion ion-social-twitter"></a>
    <a href="#" target="_blank" class="ion ion-social-linkedin"></a>
</div>