<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto pgp-card_content" [nbSpinner]="state_loading" nbSpinnerStatus="info">
        <nb-card-header class="font_family_roboto">{{ DATA_LANG?.perVSLbAdvancedSearch.text }}</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <!-- <div class="mt-2 mb-2">
                Agregue la categoria y la relación de complementariedad de sus productos.
              </div> -->
              <!-- <div class="row">
                <pre>
                  {{ rating_perceived_data | json }}
                </pre>
              </div> -->
              <form (ngSubmit)="fnAdvancedSearchRatingPerceivedValue(rating_perceived_data)" #addNewRatingPerceivedValueForm="ngForm" aria-labelledby="title" style="min-width: 350px; max-width: 350px;">
                <div class="col-12 pl-0 pr-0">
                  <div class="form-group">
                    <label for="pgp-rating_perceived_competitor">{{ DATA_LANG?.perVSLbCompetitor.text }}: </label> 
                    <ng-select 
                      id="pgp-rating_perceived_competitor"
                      [items]="list_competitors"
                      bindLabel="tCompetitorName"
                      [multiple]="true" 
                      (change)="changeSource($event)"
                      placeholder="{{ DATA_LANG?.perVSDDLCompetitor.text }}" 
                      [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="data_competitors_list_filter">
                    </ng-select>
                    <!-- <ng-select 
                        [(ngModel)]="rating_perceived_data.competitor" 
                        [ngModelOptions]="{standalone: true}" 
                        [multiple]="true" 
                        name="competitor"
                        id="pgp-rating_perceived_competitor"
                        [closeOnSelect]="false">
                        <ng-option *ngFor="let competitor of list_competitors" [value]="competitor" [disabled]="competitor.disabled">{{competitor.tCompetitorName}}</ng-option>
                    </ng-select>
                    <div>
                      <pre>
                        {{ data_competitors_list_filter | json}}
                      </pre>
                      <pre>
                        {{ rating_perceived_data?.competitor | json}}
                      </pre>
                    </div> -->
                  </div>
                  <div class="form-group">
                    <label for="pgp-input_category_name">{{ DATA_LANG?.perVSLbWeightCompetitor.text }} (min=1 - max=5): </label>  
                    <ng5-slider 
                      [(ngModel)]="rating_perceived_data.iWeightCompetitor" 
                      [ngModelOptions]="{standalone: true}" 
                      [(value)]="min_value_weight" 
                      [(highValue)]="max_value_weight"
                      [options]="options_weight"></ng5-slider>
                  </div>
                  <div class="form-group">
                    <label for="pgp-input_category_name">{{ DATA_LANG?.perVSLbScoreCompetitor.text }} (min=1 - max=9): </label> 
                    <ng5-slider 
                      [(ngModel)]="rating_perceived_data.iCompetitorQualification" 
                      [ngModelOptions]="{standalone: true}" 
                      [(value)]="min_value_rating" 
                      [(highValue)]="max_value_rating" 
                      [options]="options_rating"></ng5-slider>
                  </div>
                  <!-- <div>
                    <pre>
                      {{ rating_perceived_data?.iWeightCompetitor | json}}
                    </pre>
                    <pre>
                      {{ rating_perceived_data?.iCompetitorQualification | json}}
                    </pre>
                  </div> -->
                  <!-- <div class="form-group">
                    <label for="pgp-rating_perceived_competitor_weight">Competitor weight: </label> 
                      <input 
                        nbInput 
                        [(ngModel)]="rating_perceived_data.iWeightCompetitor" 
                        [ngModelOptions]="{standalone: true}"
                        #competitor_weight="ngModel" 
                        name="competitor_weight"
                        id="pgp-rating_perceived_competitor_weight"
                        type="number" 
                        class="form-control"
                        placeholder="Competitor weight (1 - 5)">
                  </div>
                  <div class="form-group">
                    <label for="pgp-input_category_name">Rating: </label> 
                      <input 
                        nbInput 
                        [(ngModel)]="rating_perceived_data.iCompetitorQualification" 
                        [ngModelOptions]="{standalone: true}"
                        #competitor_qualification="ngModel" 
                        name="competitor_qualification"
                        id="pgp-rating_perceived_competitor_qualification"
                        type="number" 
                        class="form-control"
                        placeholder="Rating (1 - 5)">
                  </div>
                  <div class="form-group">
                    <label for="pgp-input_category_name">Comments: </label> 
                    <textarea 
                      id="pgp-comment_rating_perceived"
                      [(ngModel)]="rating_perceived_data.tComment"
                      [ngModelOptions]="{standalone: true}"
                      #comment_rating_perceived="ngModel" 
                      rows="5" 
                      nbInput 
                      fullWidth 
                      shape="round"  
                      placeholder="Add coment to rating value perceived" 
                      style="border-radius: 5px;"></textarea>
                  </div> -->
                </div>
                <button 
                  type="submit" 
                  class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" 
                  id="pgp-btn_save_new_category" 
                  nbButton 
                  [class.btn-pulse]="submitted"
                  status="info">{{ DATA_LANG?.perVSButtonApply.text }}</button>
                &nbsp;&nbsp;&nbsp;
                <button class="pgp-pointer font_family_roboto" 
                  type="button" 
                  id="pgp-btn_cancel_save_new_category"
                  nbButton
                  [class.btn-pulse]="submitted"
                  (click)="fnCancelCreateNewRatingPerceivedValue()"
                  status="danger">{{ DATA_LANG?.perVSButtonCancel.text }}</button>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>  
    </div>  
  </div>
</div>
  