<div class="container-fliud">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto pgp-card_content" size="large" [nbSpinner]="state_loading" nbSpinnerStatus="info">
        <nb-card-header class="font_family_roboto">{{ DATA_LANG?.prInMSlbTitle.text }}</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <form (ngSubmit)="fnAdvancedSearchProductInformation(product_information_data)" #addNewRatingPerceivedValueForm="ngForm"
                aria-labelledby="title" style="min-width: 400px; max-width: 400px;">
                <div class="col-12 pl-0 pr-0">
                  <div class="form-group">
                    <label for="pgp-product_information_products">{{ DATA_LANG?.prInMSlbProductCode.text }}: </label>
                    <ng-select [items]="list_products_collection" bindLabel="tProductCode" [multiple]="true" name="products_code" id="pgp-product_information_products_code"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.prInMSDDLProductCode.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_products_code">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label for="pgp-product_information_products">{{ DATA_LANG?.prInMSlbProductName.text }}: </label>
                    <ng-select [items]="list_products_collection" bindLabel="tProductName" [multiple]="true" name="products" id="pgp-product_information_products"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.prInMSDDLProductName.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_products">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label for="pgp-product_information_price_list">{{ DATA_LANG?.prInMSlbPricesList.text }}: </label>
                    <ng-select [items]="list_prices_lists_collection" bindLabel="tPriceListName" [multiple]="true" name="price_list" id="pgp-product_information_price_list"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.prInMSDDLPricesList.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_price_list">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label for="pgp-product_information_category">{{ DATA_LANG?.prInMSlbCategory.text }}: </label>
                    <ng-select [items]="list_categories_collection" bindLabel="tCategoryName" [multiple]="true" name="categories" id="pgp-product_information_categories"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.prInMSDDLCategory.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_categories">
                    </ng-select>
                  </div>
                  <!-- ********** START - Row ngslider - (VAT - Current units) ********** -->
                  <div class="row">
                    <div class="col-6">
                      <!-- ********** START - Ng slider - VAT % ********** -->
                      <div class="form-group">
                        <label for="pgp-input_category_name">{{ DATA_LANG?.prInMSlbVAT.text }}: </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prInMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_vat" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prInMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_vat" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <!-- *********** END - Ng slider - VAT % *********** -->
                    </div>
                    <div class="col-6">
                      <!-- ********** START - Ng slider - Current Units ********** -->
                      <div class="form-group">
                        <label for="pgp-input_category_name">{{ DATA_LANG?.prInMSlbCurrentUnits.text }}: </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prInMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_current_units" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prInMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_current_units" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <!-- *********** END - Ng slider - Current Units *********** -->
                    </div>
                  </div>
                  <!-- *********** END - Row ngslider - (VAT - Current units) *********** -->
                  <!-- ********** START - Row ngslider - (Variable cost - Current prices) ********** -->
                  <div class="row">
                    <div class="col-6">
                      <!-- ********** START - Ng slider - Variable cost ********** -->
                      <div class="form-group">
                        <label for="pgp-input_category_name">{{ DATA_LANG?.prInMSlbVarCost.text }}: </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prInMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_variable_cost" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prInMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_variable_cost" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <!-- *********** END - Ng slider - Variable cost *********** -->
                    </div>
                    <div class="col-6">
                      <!-- ********** START - Ng slider - Variable cost ********** -->
                      <div class="form-group">
                        <label for="pgp-input_category_name">{{ DATA_LANG?.prInMSlbCurrentPrice.text }}: </label>
                        <div class="row">
                          <div class="col-6 text-left">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prInMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="min_value_current_price" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="col-6 text-right">
                            <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prInMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                              fieldSize="small" type="number" [(ngModel)]="max_value_current_price" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <!-- *********** END - Ng slider - Variable cost *********** -->
                    </div>
                  </div>
                  <!-- *********** END - Row ngslider - (Variable cost - Current prices) *********** -->
                  <!-- ********** START - Ng slider - Current price ********** -->
                  <div class="form-group">
                    <label for="pgp-input_category_name">{{ DATA_LANG?.prInMSlbAverageDisc.text }}: </label>
                    <div class="row">
                      <div class="col-6 text-left">
                        <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prInMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="min_value_average_discount" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="col-6 text-right">
                        <input class="text-left pgp-input" placeholder="{{ DATA_LANG?.prInMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="max_value_average_discount" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                  </div>
                  <!-- *********** END - Ng slider - Current price *********** -->
                </div>
                <div class="col-12 pl-0 pr-0 text-center">
                  <button type="submit" class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" id="pgp-btn_save_new_category"
                    nbButton [class.btn-pulse]="submitted" status="info">{{ DATA_LANG?.prInMSButtonApply.text }}</button>
                  &nbsp;&nbsp;&nbsp;
                  <button class="pgp-pointer font_family_roboto" type="button" id="pgp-btn_cancel_save_new_category" nbButton [class.btn-pulse]="submitted"
                    (click)="fnCancelCreateNewProductInformation()" status="danger">{{ DATA_LANG?.prInMSButtonCancel.text }}</button>
                </div>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>