<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto pgp-card_content" [nbSpinner]="state_loading" nbSpinnerStatus="info">
        <nb-card-header class="font_family_roboto">{{ DATA_LANG?.prInMElbTittle.text }}</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0" style="width: 500px;">
              <form (ngSubmit)="fnEditProduct(product_data)" #editNewProductInformationForm="ngForm" aria-labelledby="title" style="width: 100% !important;">
                <nb-stepper orientation="horizontal">
                  <nb-step [label]="labelOne">
                    <ng-template #labelOne>{{ DATA_LANG?.prInMElbStepF.text }}</ng-template>
                    <div class="col-12 pl-0 pr-0" id="pgp-section_step_one">
                      <div class="form-group">
                        <input id="pgp-code_product" [(ngModel)]="product_data.tProductCode" [ngModelOptions]="{standalone: true}" nbInput fullWidth
                          placeholder="{{ DATA_LANG?.prInMEtbCodeProd.text }}" style="height: 45px;" />
                        <div style="width: 465px;">{{ DATA_LANG?.prInMElbCodeProdDesc.text }}</div>
                      </div>
                      <div class="form-group">
                        <input id="pgp-product_name" [(ngModel)]="product_data.tProductName" [ngModelOptions]="{standalone: true}" nbInput fullWidth
                          placeholder="{{ DATA_LANG?.prInMEtbProdName.text }}" style="height: 45px;" />
                        <div style="width: 465px;">{{ DATA_LANG?.prInMElbProdNameDesc.text }}</div>
                      </div>
                      <div class="form-group">
                        <ng-select id="pgp-product_prices_list" [items]="list_prices_lists_collection" bindLabel="tPriceListName" bindValue="iIDPriceList"
                          [clearable]="false" (change)="changeSourcePriceList($event)" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="data_price_list.iIDPriceList">
                        </ng-select>
                        <div style="width: 465px;">{{ DATA_LANG?.prInMElbPricesListDesc.text }}</div>
                      </div>
                      <div class="form-group">
                        <ng-select id="pgp-product_category" [items]="list_categories_collection" bindLabel="tCategoryName" bindValue="iIDCategory"
                          [clearable]="false" (change)="changeSourceCategory($event)" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="data_list_category.iIDCategory">
                        </ng-select>
                        <div style="width: 465px;">{{ DATA_LANG?.prInMElbCatDesc.text }}</div>
                      </div>
                    </div>
                    <div class="text-center">
                      <button class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto pgp-btn_text_transform" nbButton disabled nbStepperPrevious>{{ DATA_LANG?.prInMEButtonPrev.text }}</button>&nbsp;&nbsp;
                      <button class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto pgp-btn_text_transform" nbButton nbStepperNext>{{ DATA_LANG?.prInMEButtonNext.text }}</button>
                    </div>

                  </nb-step>
                  <nb-step [label]="labelTwo">
                    <ng-template #labelTwo>{{ DATA_LANG?.prInMElbStepS.text }}</ng-template>
                    <div class="col-12 pl-0 pr-0" id="pgp-section_step_two">
                      <div class="form-group">
                        <input id="pgp-vat" [(ngModel)]="product_data.dVAT" [ngModelOptions]="{standalone: true}" (keypress)="numberOnly($event)"
                          nbInput fullWidth placeholder="{{ DATA_LANG?.prInMEtbVAT.text }}" style="height: 45px;" />
                        <div style="width: 465px;">{{ DATA_LANG?.prInMElbVATDesc.text }}</div>
                      </div>
                      <div class="form-group">
                        <input id="pgp-current_units" [(ngModel)]="product_data.dCurrentUnits" [ngModelOptions]="{standalone: true}" (keypress)="numberOnly($event)"
                          nbInput fullWidth placeholder="{{ DATA_LANG?.prInMEtbCurrentUni.text }}" style="height: 45px;" />
                        <div style="width: 465px;">{{ DATA_LANG?.prInMElbVATCurrentUniDesc.text }}</div>
                      </div>
                      <div class="form-group">
                        <input id="pgp-variable_cost" [(ngModel)]="product_data.dVariableCost" [ngModelOptions]="{standalone: true}" (keypress)="numberOnly($event)"
                          nbInput fullWidth placeholder="{{ DATA_LANG?.prInMEtbVarCost.text }}" style="height: 45px;" />
                        <div style="width: 465px;">{{ DATA_LANG?.prInMElbVarCostDesc.text }}</div>
                      </div>
                    </div>
                    <div class="text-center">
                      <button nbButton class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto pgp-btn_text_transform" nbStepperPrevious>{{ DATA_LANG?.prInMEButtonPrev.text }}</button>&nbsp;&nbsp;
                      <button nbButton class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto pgp-btn_text_transform" nbStepperNext>{{ DATA_LANG?.prInMEButtonNext.text }}</button>
                    </div>
                  </nb-step>
                  <nb-step [label]="labelThird">
                    <ng-template #labelThird>{{ DATA_LANG?.prInMlbStepT.text }}</ng-template>
                    <div class="col-12 pl-0 pr-0" id="pgp-section_step_three">

                      <div class="form-group">
                        <input id="pgp-current_price" [(ngModel)]="product_data.dCurrentPrice " [ngModelOptions]="{standalone: true}" (keypress)="numberOnly($event)"
                          nbInput fullWidth placeholder="{{ DATA_LANG?.prInMEtbCurrentPrice.text }}" style="height: 45px;" />
                        <div style="width: 465px;">{{ DATA_LANG?.prInMElbCurrentPriceDesc.text }}</div>
                      </div>
                      <div class="form-group">
                        <input id="pgp-average_discount" [(ngModel)]="product_data.dAverageDiscount" [ngModelOptions]="{standalone: true}" (keypress)="numberOnly($event)"
                          nbInput fullWidth placeholder="{{ DATA_LANG?.prInMEtbAverage.text }}" style="height: 45px;" />
                        <div style="width: 465px;">{{ DATA_LANG?.prInMElbAverageDesc.text }}</div>
                      </div>
                      <div class="form-group" *ngIf="bHideTrendOfVolumeInstalledCapacity" >
                        <input id="pgp-annual_volume_trend" [(ngModel)]="product_data.dAnnualVolumeTrend" [ngModelOptions]="{standalone: true}" (keypress)="numberOnly($event)" 
                          nbInput fullWidth placeholder="{{ DATA_LANG?.prInMEtbVolTrend.text }}" style="height: 45px;" />
                        <div style="width: 465px;">{{ DATA_LANG?.prInMElbVolTrendDesc.text }}</div>
                      </div>
                      <div class="form-group" *ngIf="bHideTrendOfVolumeInstalledCapacity" >
                        <input id="pgp-installed_capacity" [(ngModel)]="product_data.dInstalledCapacity" [ngModelOptions]="{standalone: true}" (keypress)="numberOnly($event)"
                          nbInput fullWidth placeholder="{{ DATA_LANG?.prInMEtbInstalled.text }}" style="height: 45px;" />
                        <div style="width: 465px;">{{ DATA_LANG?.prInMElbInstalledDesc.text }}</div>
                      </div>

                    </div>
                    <div class="text-center">
                      <button type="submit" class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" id="pgp-btn_save_new_category"
                        nbButton [disabled]="!product_data.tProductCode || !product_data.tProductName || !product_data.priceList || !product_data.category || product_data.dVAT === null || !product_data.dAverageDiscount"
                        [class.btn-pulse]="submitted" status="info">{{ DATA_LANG?.prInMEButtonSave.text }}</button>
                      &nbsp;&nbsp;&nbsp;
                      <button class="pgp-pointer font_family_roboto" type="button" id="pgp-btn_cancel_save_new_category" nbButton [class.btn-pulse]="submitted"
                        (click)="fnCancelCreateNewProductInformation()" status="danger">{{ DATA_LANG?.prInMEButtonCancel.text }}</button>
                    </div>
                  </nb-step>
                </nb-stepper>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>