@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .flex-centered {
    margin: auto;
  }

  button:focus {outline:0;}

  nb-card-body {
    display: flex;
  }
  
  .title {
    text-align: center;
  }

  .font_family_roboto {
    font-family: 'Roboto';
  }

  .font_family_exo {
    font-family: 'exo';
  }
  
  .pgp-backgroud_layout {
    background-color: #FFF;
    min-height: 83vh;
  }

  .pgp-search-border-color {
    border-color: #D0D0D0
  }
  
  ::ng-deep #menu_cards div div{
    // width: 100%;
    margin: 0;
  }

  // ::ng-deep #menu_cards div div div{
    // padding: 0 !important;
  // }

  #pgp-btn_show_modal_create_project {
    text-transform: none;
    width: nb-theme(pgp-width-btn-crud);       
  }
  
  .pgp-button_dots_table {
      border-radius: 50px;
      padding: 0.5rem 0.9rem;
      outline: none !important;
  }
  
  .sub-title {
    text-align: center;
    display: block;
    margin-bottom: 3rem;
  }
  
  .pgp-btn_success {
    background-color: nb-theme(pgp-color-1);
    cursor: pointer;
  }

  .pgp-table {
    color: nb-theme(pgp-color-black);
  }

  .pgp-pointer {
    cursor: pointer;
  }

  td {
    vertical-align: middle;
  }

  .pgp-img_logo_project{
    width: 3rem;
    border-radius: 50%;
  }

  .pgp-text_color_1{
    color: nb-theme(pgp-color-1);
    font-weight: bold;
  }
  
  .pgp-text_color_1:hover{
    color: nb-theme(pgp-color-3);
  }


  // ::ng-deep nb-layout-column{
  //   padding-top: 0rem !important;
  // }

  // ::ng-deep .nb-theme-default nb-layout-column {
  //     padding-top: 0rem !important;
  // }

  // /deep/ nb-layout-column {
  //   padding: 0.25rem 2.25rem 0.75rem !important;
  // }
  
  // ::ng-deep .main-content {
  //   padding: 0.25rem 2.25rem 0.75rem !important;
  // }
  
  // nb-layout-column /deep/ {
  //   padding: 0.25rem 2.25rem 0.75rem !important;
  // }

  ::ng-deep nb-layout-column {
      padding: 0.25rem 2.25rem 0.75rem;
  }

  .pgp-btn_next_step {
    background-color: nb-theme(pgp-color-2);
    color: nb-theme(pgp-color-white);
    padding: 10px;
    border-radius: 35px;
    // border-color: nb-theme(pgp-color-2);
    width: 50px;
    height: 50px;
    margin: 1rem;
    font-size: 20px;
    cursor: pointer;
  }
  
  #pgp-content_btn_next_step {
    position: fixed;
    bottom: -4px;
    right: 10px;
  }

  .pgp-cards_layout_loading {
    background-color: #ccc;
    height: 70px;
    border-radius: 5px;
  }

  .pgp-pulse_animation {
    animation: pulse 1s infinite ease-in-out;
  }

  @keyframes pulse {
    0% {
        background-color: rgba(165, 165, 165, 0.1);
    }
    50% {
        background-color: rgba(165, 165, 165, 0.3);
    }
    100% {
        background-color: rgba(165, 165, 165, 0.1);
    }
  }

      /* ********** START - Media query resolution screen width devices ********** */
  /* Very very small devices (landscape phones,from 319px to 321px) */
  // @media (min-width: 319.98px) and (max-width: 321px) {
    .container-fliud.body-with-card{
      overflow: auto;
      height: calc(100vh - 190px);
      margin-top: 6px;
      margin-left: 4px;
    }
    .container-fliud.body-without-card{
      overflow: auto;
      height: calc(100vh - 129px);
    }
  // }
  // /* Very very small devices (landscape phones,from 319px to 321px) */
  // @media (min-width: 322px) and (max-width: 400px) {
  //   .container-fliud.body-with-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 190px);
  //   }
  //   .container-fliud.body-without-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 106px);
  //   }
  // }
  // /* Very very small devices (landscape phones,from 319px to 321px) */
  // @media (min-width: 400px) and (max-width: 500px) {
  //   .container-fliud.body-with-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 190px);
  //   }
  //   .container-fliud.body-without-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 106px);
  //   }
  // }
  // /* Extra small devices (portrait phones, less than 576px) */
  // @media (min-width: 570px) and (max-width: 575.98px) {
  //   .container-fliud.body-with-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 190px);
  //   }
  //   .container-fliud.body-without-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 106px);
  //   }
  // }

  // /* Small devices (landscape phones, 576px and up) */
  // @media (min-width: 576px) and (max-width: 767.98px) {
  //   .container-fliud.body-with-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 190px);
  //   }
  //   .container-fliud.body-without-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 106px);
  //   }
  // }

  // /* Medium devices (tablets, 768px and up) */
  // @media (min-width: 768px) and (max-width: 991.98px) {
  //   .container-fliud.body-with-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 190px);
  //   }
  //   .container-fliud.body-without-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 106px);
  //   }
  // }

  // /* Large devices (desktops, 992px and up) */
  // @media (min-width: 992px) and (max-width: 1199.98px) {
  //   .container-fliud.body-with-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 190px);
  //   }
  //   .container-fliud.body-without-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 106px);
  //   }
  // }

  // /* Extra large devices (large desktops, 1200px and up) */
  // @media (min-width: 1200px) {
  //   .container-fliud.body-with-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 190px);
  //   }
  //   .container-fliud.body-without-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 106px);
  //   }
  // }
  /* *********** END - Media query resolution screen width devices *********** */
}

