<div class="container-fluid m-0 p-0" *ngIf="false">
    <div class="row">
        <div class="pgp-pulse_animation mb-2 mt-2 p-1 col ml-0 mr-1 pgp-cards_layout_loading"></div>&nbsp;
        <div class="pgp-pulse_animation mb-2 mt-2 p-1 col ml-1 mr-1 pgp-cards_layout_loading"></div>&nbsp;
        <div class="pgp-pulse_animation mb-2 mt-2 p-1 col ml-1 mr-1 pgp-cards_layout_loading"></div>&nbsp;
        <div class="pgp-pulse_animation mb-2 mt-2 p-1 col ml-1 mr-0 pgp-cards_layout_loading"></div>&nbsp;
    </div>
</div>
<div *ngIf="data_cards && (menu_select?.iIDMenu != 4 && menu_select?.iIDMenu != 5)">
    <ngx-cards id="menu_cards" *ngIf="data_cards.length > 0" [data_cards]="data_cards"
        [position_selected]="position_selected" (messageEvent)="receiveMessage($event)"></ngx-cards>
</div>
<div class="container-fliud"
    [ngClass]="{'body-with-card': (menu_select?.iIDMenu != 4 && menu_select?.iIDMenu != 5),'body-without-card': (menu_select?.iIDMenu == 4 || menu_select?.iIDMenu == 5)}"> 
    <div class="row pgp-backgroud_layout font_family_roboto">
        <div class="col-12">
            <div [ngSwitch]="menu_select?.iIDMenu">
                <div *ngSwitchCase="5">
                    <ngx-dashboard></ngx-dashboard>
                </div>
                <div *ngSwitchCase="1">
                    <div *ngIf="index_card == 1">
                        <ngx-categories></ngx-categories>
                    </div>
                    <div *ngIf="index_card == 2">
                        <ngx-competitors></ngx-competitors>
                    </div>
                    <div *ngIf="index_card == 3">
                        <ngx-prices-list></ngx-prices-list>
                    </div>
                    <div *ngIf="index_card == 4">
                        <ngx-rating-perceived></ngx-rating-perceived>
                    </div>
                </div>
                <div *ngSwitchCase="2">
                    <div *ngIf="index_card == 5">
                        <ngx-product-information></ngx-product-information>
                    </div>
                    <div *ngIf="index_card == 6">
                        <ngx-market-price></ngx-market-price>
                    </div>
                    <div *ngIf="index_card == 7">
                        <ngx-rating-product-type></ngx-rating-product-type>
                    </div>
                    <div *ngIf="index_card == 8">
                        <ngx-price-relationships></ngx-price-relationships>
                    </div>
                    <div *ngIf="index_card == 9">
                        <ngx-elasticity-product></ngx-elasticity-product>
                    </div>
                </div>
                <div *ngSwitchCase="3">
                    <div *ngIf="index_card == 10">
                        <ngx-price-calculation-summary></ngx-price-calculation-summary>
                    </div>
                    <div *ngIf="index_card == 11">
                        <ngx-forecast-results></ngx-forecast-results>
                    </div>
                    <div *ngIf="index_card == 12">
                        <ngx-price-comparison></ngx-price-comparison>
                    </div>
                    <div *ngIf="index_card == 13">
                        <ngx-pivot-table></ngx-pivot-table>
                    </div>
                    <div *ngIf="index_card == 14">
                        <ngx-balance-point></ngx-balance-point>
                    </div>
                </div>
                <div *ngSwitchCase="4">
                    <div *ngIf="index_card == 15">
                        <ngx-settings-version></ngx-settings-version>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="pgp-content_btn_next_step" style="z-index: 90;">
        <button class="pgp-btn_next_step" (click)="fnChangeNexCard($event,index_card);">
            <i class="fas fa-arrow-right"></i>
        </button>
    </div>
</div>