<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto pgp-card_content" size="large" [nbSpinner]="state_loading" nbSpinnerStatus="info">
        <nb-card-header class="font_family_roboto">{{ DATA_LANG?.priceRelMSlbTittle.text }}</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <form (ngSubmit)="fnAdvancedSearchPricesRelationships(prices_relationships_data)" #addNewRatingPerceivedValueForm="ngForm"
                aria-labelledby="title" style="min-width: 400px; max-width: 400px;">
                <div class="col-12 pl-0 pr-0">
                  <div class="form-group">
                    <label for="pgp-prices_relationships_product_code">{{ DATA_LANG?.priceRelMSlbProdCode.text }}: </label>
                    <ng-select [items]="list_products_collection" bindLabel="tProductCode" [multiple]="true" name="products_code" id="pgp-prices_relationships_products_code"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.priceRelMSDDLProdCode.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_products">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label for="pgp-prices_relationships_product_code_name">{{ DATA_LANG?.priceRelMSlbProdName.text }}: </label>
                    <ng-select [items]="list_products_collection" bindLabel="tProductName" [multiple]="true" name="products_name" id="pgp-prices_relationships_products_name"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.priceRelMSDDLProdName.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_products">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label for="pgp-prices_relationships_priceList">{{ DATA_LANG?.priceRelMSlbPriceL.text }}: </label>
                    <ng-select [items]="list_prices_lists_collection" bindLabel="tPriceListName" [multiple]="true" name="price_list" id="pgp-prices_relationships_priceList"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.priceRelMSDDLPriceL.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_price_list">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label for="pgp-prices_relationships_categories">{{ DATA_LANG?.priceRelMSlbCat.text }}: </label>
                    <ng-select [items]="list_categories_collection" bindLabel="tCategoryName" [multiple]="true" name="categories" id="pgp-prices_relationships_categories"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.priceRelMSDDLCat.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_categories">
                    </ng-select>
                  </div>

                  <div class="form-group">
                    <label for="pgp-prices_relationships_product_code_reference">{{ DATA_LANG?.priceRelMSlbProdCodeRef.text }}: </label>
                    <ng-select [items]="list_products_collection" bindLabel="tProductCode" [multiple]="true" name="Product_code_reference" id="pgp-prices_relationships_product_code_reference"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.priceRelMSDDLProdCodeRef.text }}" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="data_filter_products_references">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label for="pgp-prices_relationships_product_name_reference">{{ DATA_LANG?.priceRelMSlbProdNameRef.text }}: </label>
                    <ng-select [items]="list_products_collection" bindLabel="tProductName" [multiple]="true" name="products_name_reference" id="pgp-prices_relationships_product_name_reference"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.priceRelMSDDLProdNameRef.text }}" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="data_filter_products_references">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label for="pgp-prices_relationships_priceList_reference">{{ DATA_LANG?.priceRelMSlbPriceLRef.text }}: </label>
                    <ng-select [items]="list_prices_lists_collection" bindLabel="tPriceListName" [multiple]="true" name="price_list" id="pgp-prices_relationships_priceList_reference"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.priceRelMSDDLPriceLRef.text }}" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="data_filter_price_list_references">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label for="pgp-input_relation">{{ DATA_LANG?.priceRelMSlbRelation.text }}: </label>
                    <div class="row">
                      <div class="col-6 text-left">
                        <input class="text-left" placeholder="{{ DATA_LANG?.priceRelMStbSince.text }}" id="pgp-since" nbInput style="width: 100%; padding: 0.5rem; height: 44px;" fieldSize="small"
                          type="number" [(ngModel)]="min_value_Relation" [ngModelOptions]="{standalone: true}">
                      </div>
                      <div class="col-6 text-right">
                        <input class="text-left" placeholder="{{ DATA_LANG?.priceRelMStbUntil.text }}" nbInput id="pgp-until" style="width: 100%; padding: 0.5rem; height: 44px;"
                          fieldSize="small" type="number" [(ngModel)]="max_value_Relation" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                  </div>
                </div>
                <button type="submit" class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" id="pgp-btn_save_new_category"
                  nbButton [class.btn-pulse]="submitted" status="info">{{ DATA_LANG?.priceRelMSButtonApply.text }}</button>
                &nbsp;&nbsp;&nbsp;
                <button class="pgp-pointer font_family_roboto" type="button" id="pgp-btn_cancel_save_new_category" nbButton [class.btn-pulse]="submitted"
                  (click)="fnCancelCreateNewPricesRelationships()" status="danger">{{ DATA_LANG?.priceRelMSButtonCancel.text }}</button>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>