<div class="row pgp-backgroud_layout font_family_roboto pr-4">
  <div class="col-12 mt-4">
    <div class="row mb-3">
      <div class="col-10">
        <div class="row pgp-row_card_Margin">
          <div class="col-lg-3 col-md-3 mt-1 pl-0 pgp-card_margin">
            <div class="card cardsMenus pgp-pointer" (click)="fnSwitchViewData('textos')">
              <div class="row p-0 m-0">
                <div class="col-3 p-0" style="height: 50px;">
                  <div class="pgp-content_start">
                    <i class="fas fa-globe-americas pgp-conten-icon"></i>
                  </div>
                </div>
                <div class="col-9 p-0">
                  <div class="pgp-card_second_content">
                    <div style="height: 18px;">
                      <h4 class="pgp-card_title d-inline-block text-center text-truncate font_family_roboto pgp-card_price">Textos</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 mt-1 pl-0 pgp-card_margin">
            <div class="card cardsMenus pgp-pointer" (click)="fnSwitchViewData('reportes')">
              <div class="row p-0 m-0">
                <div class="col-3 p-0" style="height: 50px;">
                  <div class="pgp-content_start">
                    <i class="fas fa-clipboard-list pgp-conten-icon"></i>
                  </div>
                </div>
                <div class="col-9 p-0">
                  <div class="pgp-card_second_content">
                    <div style="height: 18px;">
                      <h4 class="pgp-card_title d-inline-block text-center text-truncate font_family_roboto pgp-card_price">Reportes</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 mt-1 pl-0 pgp-card_margin">
            <div class="card cardsMenus pgp-pointer" (click)="fnSwitchViewData('suscripciones')">
              <div class="row p-0 m-0">
                <div class="col-3 p-0" style="height: 50px;">
                  <div class="pgp-content_start">
                    <i class="fas fa-medal pgp-conten-icon"></i>
                  </div>
                </div>
                <div class="col-9 p-0">
                  <div class="pgp-card_second_content">
                    <div style="height: 18px;">
                      <h4 class="pgp-card_title d-inline-block text-center text-truncate font_family_roboto pgp-card_price">Suscripciones</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 pgp_align">
        <pre *ngIf="false">
          {{ select_lang | json }}
        </pre>
        <div class="row">
          <!-- <ng-select
            [items]="DATA_LANG"
            placeholder="Select language"
            [clearable]="false"
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="select_lang"
            style="width: 177px;"
            (change)="fnGetListModules(select_lang);">
          </ng-select> -->
          <div ngbDropdown #myDrop="ngbDropdown">
            <img src="../../../assets/flags/{{select_lang}}.png" class="pgp-image_round" id="dropdownBasic2" placement="left" ngbDropdownToggle style="cursor: pointer;">
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2" placement="center" style="min-width: 80px; max-width: 80px;">
              <nb-card>
                <ul class="list-unstyled">
                  <li *ngFor="let item of DATA_LANG; let index_item = index;" class="pgp-drop_lang" (click)="fnGetListModules(item); myDrop.close();">
                    <a>
                      <div class="row">
                        <div class="col-2">
                          <img src="../../../../assets/flags/{{item}}.png" class="pgp-image_list_round">
                        </div>
                        <div class="col-2">
                          <span class="m-0 font_family_roboto">{{item}}</span>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </nb-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-xs-12 text-left pgp-list_menu pr-0">
    <ul class="list-group list-group-flush p-0 border-0">
      <li (click)="fnGetListLabelModule(mod_list.original_data); active = i;"  [ngClass]="active === i ? 'pgp-active_item_list' : '' " *ngFor="let mod_list of replace_modules; let i = index;" class="list-group-item list-group-item-action pgp-pointer border-0 pgp-item_list">
        <h6 class="pgp-title_item_list m-0 font_family_roboto">{{ mod_list.original_data }}</h6>
      </li>
    </ul>
  </div>
  <div class="col-md-9 col-xs-12" style="margin-top: 20px;">
      <table class="table table-bordered pgp-table font_family_roboto">
        <thead style="background-color: #F9F9F9;">
            <tr>
              <th scope="col-3 text-center"></th>
              <th scope="col-3 text-center">Nombre</th>
              <th scope="col-3 text-center">Descripción</th>
              <th scope="col-3 text-center">Texto</th>
            </tr>                    
        </thead>
        <tbody>
            <tr *ngFor="let module_lang_array of collection_module | paginate: { itemsPerPage: numItemsPage, currentPage: currentPage }; let i = index">
              <td class="text-left text-truncate">
                  <pre *ngIf="false">
                    {{ module_lang_array | json }}
                  </pre>
                  <i class="fas fa-edit pgp-pointer" (click)="fnShowModalEditKey(module_lang_array)"></i>
              </td>
              <td class="text-left text-truncate" style="width: 280px;">
                {{ module_lang_array[0] }}
              </td>
              <td class="text-left" style="width: 146px;">
                {{ module_lang_array[1].description }}
              </td>
              <td class="text-left" style="width: 504px;">
                {{ module_lang_array[1].text }}
              </td>
            </tr>
        </tbody>       
    </table>
    <div class="row justify-content-end">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
          <div class="text-center pgp-font_paginator" *ngIf="collection_module?.length > numItemsPage">
            <pagination-controls (pageChange)="currentPage = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
          </div>
        </div>
        <pre *ngIf="false">
            {{ currentPage }} ----- {{ collection_module.length | json }}
        </pre>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
          <div class="text-center pgp-font_paginator" *ngIf="collection_module?.length > 0">
            <div class="text-right pgp-font_paginator">Artículos mostrados
              {{ (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) + 1 ) }} -
              {{ (collection_module.length < (currentPage * numItemsPage)) ? collection_module.length : (currentPage * numItemsPage) }}
              de {{ collection_module.length }}
        </div>
      </div>
    </div>
  </div>
</div>