@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';


@include nb-install-component() {
    
    .pgp-title_item_list {
        display: inline-block;
    }

    .flex-centered {
        margin: auto;
    }

    nb-card-body {
        display: flex;
        max-height: 80vh;
        min-height: 78vh;
      }

    .pgp-table {
    color: black;
    }

    button:focus {outline:0;}
    
    .title {
    text-align: center;
    }

    .font_family_roboto {
    font-family: 'Roboto';
    }

    .pgp-backgroud_layout {
    background-color: #FFF;
    min-height: 83vh;
    }

    .pgp-active_item_list {
        // background-color: #F9F9F9;
        background-color: #EEF1F6;
        border-right: 3px solid #156282 !important;
    }

    .pgp-list_menu{
        margin-top: 20px;
        overflow: scroll;
        height: 452px;
    }

    .pgp-pointer {
    cursor: pointer;
    }

    .pgp-card_second_content{
        margin: 1rem; 
        text-align: right;
    }  

    .pgp-card_title {
        width: 100%;
        color:nb-theme(pgp-color-11);
        margin-top: -4px;
    }

    .pgp-card_price{
        font-weight: 400;
        color: #06a7e2 !important;
    }

    .cardsMenus {
        height: 50px;
        width: 270px;
        margin: auto !important;
        border-radius: 5px;
        border: solid  2px;
        border-color: #06a7e2;
    }

    .pgp-content_start{
        text-align: center;
        min-height: 48px;
        max-height: 46px;
        background-color: #06a7e2;
        border-bottom: 1px solid #06a7e2;
        border-right: 1px solid #06a7e2;
        color: #fff;
    }

    .pgp-conten-icon{
        font-size: 2rem !important;
        margin: 9px !important;
    }

    .pgp-row_card_Margin {
        margin: auto !important;
        // margin-top: 15px !important;
    }
    
    .pgp-card_margin{
        margin-right: 45px;
    }

    .pgp_align{
        display: flex; 
        justify-content: center; 
        align-items: center;
    }

    
  .pgp-drop_lang:hover{
    background-color: #e7eaed;
    cursor: pointer;
  }

  .pgp-image_round{
    border-radius: 50%;
    border: 2px solid;
    border-color: #D0D0D0;
    height: 30px;
    width: 30px;
  }

  .pgp-image_list_round{
    border-radius: 50%;
    height: 20px;
    width: 20px;
  }

  div[ngbDropdown] {

    nb-card-header{
      display: block;
      color: nb-theme(pgp-color-1);
      font-size: 1.6rem;
    }

    i {
      color: nb-theme(pgp-color-1);
      font-size: 2.5rem;
      text-align: center;
      position: relative;
      padding: 0 1.25rem;

      span {
        position: absolute;
        right: 4px;
      }

    }

    i::after {
      display: none;
    }

    .badge {
      font-size: 32%;
      vertical-align: top;
    }

    div[ngbDropdownMenu] {
      position: absolute;
      min-width: 80px;
      max-width: 80px;
      padding: 0;

      nb-card {
        margin: 0;
      }

      ul {
        padding: 0;
        margin: 0;
      }

      li {
        padding: 10px;
      }

      i {
        font-size: 1.5rem;
        margin: 0px;
        padding: 0px;
      }

      h6 {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 247px;
        padding: 0;
      }
    }
  }

}