@import '../../../@theme/styles/themes';

@include nb-install-component() {
    nb-card {
        max-width: 400px;
        max-height: 500px;
    }

    nb-card-header {
        display: block;
        background-color: #fff;
        color: #000;
    }

    nb-card-body {
        // background-color: #06A7E2;
        // color: #fff;
    }

    .pgp-pointer {
        cursor: pointer;
    }

    .font_family_roboto {
        font-family: 'Roboto';
    }

    button:focus {
        outline: 0;
        cursor: pointer;
    }

    .pgp-btn_mod{
        background-color: #828282
    }

    .pgp-text_mod{
        text-align: justify;
    }
}