<nb-card>
  <nb-card-header>
    <strong style="font-family: roboto;">{{ title }}</strong> 
    <!-- <span class="float-right">
        <i class="fas fa-times" (click)="dismiss()"></i>
    </span> -->
  </nb-card-header>
  <nb-card-body class="mr-3 ml-3">
    <div class="row mt-2 pgp-text_mod" style="font-family: roboto;">
      {{ body }}
    </div>
    <div class="row mt-4 mb-1">
      <div class="col-12 text-left" style="padding-left: 0px;">
        <button class="pgp-pointer font_family_roboto pgp-btn_mod" 
        type="button"
        nbButton
        (click)="dismiss()">{{ DATA_LANG?.modalHelpButtonClose.text }}</button>
      </div> 
    </div>
  </nb-card-body>
  <!-- <nb-card-footer>
    <button nbButton hero status="primary" (click)="dismiss()">Dismiss Dialog</button>
  </nb-card-footer> -->
</nb-card>