@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .flex-centered {
    margin: auto;
  }

  button:focus {outline:0;}

  nb-card-body {
    display: flex;
  }
  
  .title {
    text-align: center;
  }

  .font_family_roboto {
    font-family: 'Roboto';
  }

  .font_family_exo {
    font-family: 'exo';
  }
  
  .pgp-backgroud_layout {
    background-color: #FFF;
    min-height: 83vh;
  }

  .pgp-search-border-color {
    border-color: #D0D0D0
  } 

  .pgp-icon_input_search {
    position: absolute;
    margin-top: 1rem;
    margin-left: -2rem;
  }

  #pgp-btn_show_modal_create_project {
    text-transform: none;
    width: nb-theme(pgp-width-btn-crud);       
  }
  
  .pgp-button_dots_table {
      border-radius: 50px;
      padding: 0.5rem 0.9rem;
      outline: none !important;
  }
  
  .sub-title {
    text-align: center;
    display: block;
    margin-bottom: 3rem;
  }
  
  .pgp-btn_success {
    background-color: nb-theme(pgp-color-1);
    cursor: pointer;
  }

  .pgp-table {
    color: nb-theme(pgp-color-black);
  }

  .pgp-pointer {
    cursor: pointer;
  }

  td {
    vertical-align: middle;
  }

  .pgp-img_logo_project{
    width: 3rem;
    border-radius: 50%;
  }

  .pgp-text_color_1{
    color: nb-theme(pgp-color-1);
    font-weight: bold;
  }
  
  .pgp-text_color_1:hover{
    color: nb-theme(pgp-color-3);
  }

}

