<div class="row pgp-backgroud_layout font_family_roboto">
    <div class="col-12" >
  
      <!-- <div class="row" *ngIf="false">
        <nav aria-label="breadcrumb" class="mt-3">
          <ol class="breadcrumb" style="background-color: transparent; margin-bottom: 0rem;">
            <li class="breadcrumb-item">
              <a (click)="fnRedirectListCompanies();" class="pgp-text_color_1 pgp-pointer">{{ company_name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Projects</li>
          </ol>
        </nav>
      </div> -->
  
      <div class="row">
        <div class="col-6">
          <h1 class="font_family_roboto">{{ DATA_LANG?.lbTitle.text }}</h1>
        </div>
        <div class="col-6 m-auto text-right">
          <button nbButton (click)="open()"
            id="pgp-btn_show_modal_create_project"
            class="pgp-btn_success font_family_roboto">
            {{ DATA_LANG?.buttonCreate.text }}
          </button>
        </div>
      </div>
      <br><br>
      <div class="col-12 ml-0 mr-3">
          <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 ml-0 pl-0">         
              <!-- <div class="col-6"> -->
                  <input 
                  (input)="fnFilterProjects(projects, search_input);"
                  fullWidth 
                  nbInput 
                  [(ngModel)]="search_input" 
                  #projectName="ngModel" 
                  class="pgp-search-border-color"
                  id="pgp-input_project_name" 
                  name="project_name" 
                  autofocus  
                  type="text" 
                  status="info" 
                  placeholder="{{ DATA_LANG?.tbBuscar.text }}">
                  <i class="fas fa-search pgp-icon_input_search"></i> 
                <!-- </div> -->
            </div>
          </div>    
          
        </div><br>  
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <table class="table pgp-table">
            <thead>
              <tr>         
                <th scope="col">{{ DATA_LANG?.colNProjectName.text }}</th>
                <th scope="col">{{ DATA_LANG?.colNCreatedDate.text }}</th>
                <th scope="col">{{ DATA_LANG?.colNOptions.text }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project_data of projects; let i = index;">
                <td class="font_family_roboto">
                    <!-- <img src="{{ (!project_data.tProjectLogo) ? project_data.tProjectLogo : 'http://ssl.gstatic.com/accounts/ui/avatar_2x.png' }}" alt="Logo project" class="img-thumbnail pgp-img_logo_project"> -->
                    <nb-user class="font_family_roboto" style="font-family: roboto;" [name]="project_data.tProjectName"  (click)="fnRedirectVersionLevelProject(project_data.iIDProject, project_data.tProjectName)"></nb-user>
                </td>              
                <td>{{ project_data.dtCreatedDate | date: 'MM/dd/yy h:mm a'}}</td>
                <td>
                  <!-- <button type="button" 
                    (click)="fnRedirectVersionsProject(project_data.tProjectName, project_data.iIDProject)" 
                    class="btn btn-outline-secondary pgp-button_dots_table pgp-pointer">
                    <i class="fas fa-cog"></i>
                  </button> -->
                  <i class="fas fa-cog pgp-pointer" nbTooltip="{{ DATA_LANG?.toolTSettings.text }}" nbTooltipPlacement="top" (click)="fnRedirectVersionsProject(project_data.tProjectName, project_data.iIDProject)"(click)="fnRedirectVersionsProject(project_data.tProjectName, project_data.iIDProject)" ></i>
                  &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-edit pgp-pointer" nbTooltip="{{ DATA_LANG?.toolTEdit.text }}" nbTooltipPlacement="top" (click)="fnRedirectSettingsProject(project_data.tProjectName, project_data.iIDProject)"> </i> 
                  &nbsp;&nbsp;&nbsp;&nbsp;<i class="pgp-fs_icon_list far fa-trash-alt pgp-pointer" nbTooltip="{{ DATA_LANG?.toolTEliminar.text }}" nbTooltipPlacement="top" (click)="fnShowModalDeleteProjects(project_data)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
    </div>
  
  </div>