<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto pgp-card_content">
        <nb-card-header class="font_family_roboto">{{ DATA_LANG?.prInMDlbTittle.text }}</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <form (submit)="fnDeleteAllProductInformation(category_data)" #deleteAllCategoriesForm="ngForm" aria-labelledby="title" style="width: 18rem;">
                <div class="col-12 pl-0 pr-0">
                  <p class="mb-3 mt-1">{{ DATA_LANG?.prInMDlbDesc.text }}</p>
                </div>
                <button type="submit" class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto"
                  id="pgp-btn_delete_all_categories" [class.btn-pulse]="submitted">{{ DATA_LANG?.prInMDButtonDelete.text }}</button>
                &nbsp;&nbsp;&nbsp;
                <button class="pgp-pointer font_family_roboto" type="button" id="pgp-btn_cancel_delete_all_categories" nbButton [class.btn-pulse]="submitted"
                  (click)="fnCancelDeleteAllRatingsValuePerceived()">{{ DATA_LANG?.prInMDButtonCancel.text }}</button>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>