<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto pgp-card_content">
        <nb-card-header class="font_family_roboto">{{ DATA_LANG?.mCLbTitle.text }}</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <!-- <div class="mt-2 mb-2">
                Agregue la categoria y la relación de complementariedad de sus productos.
              </div> -->
              <!-- <form (ngSubmit)="fnCreateNewCategory(category_data)" #addNewCategoryForm="ngForm" aria-labelledby="title" style="min-width: 300px; max-width: 300px;"> -->
              <form (ngSubmit)="fnCreateNewCategory(category_data)" #addNewCategoryForm="ngForm" aria-labelledby="title">
                <div class="col-12 pl-0 pr-0">
                  <div class="form-group">
                    <label for="pgp-input_category_name">{{ DATA_LANG?.mCLbCreate.text }}: </label>                                         
                    <input 
                    nbInput 
                    [(ngModel)]="category_data.tCategoryName" 
                    #groupName="ngModel" 
                    id="pgp-input_category_name" 
                    name="category_name" 
                    autofocus  
                    type="text" 
                    class="form-control"
                    placeholder="{{ DATA_LANG?.mCTBCatName.text }}"
                    style="height: 45px;">
                  </div>
                  <p style="width: 630px;">{{ DATA_LANG?.mCLbCatDesc.text }}</p>
                  <br>                  
                  <div class="form-group" *ngIf="false">
                    <p>{{ DATA_LANG?.mCLbApplyRelDesc.text }}</p>
                    <br>
                    <label for="pgp-input_category_name">{{ DATA_LANG?.mCLbApplyRel.text }}: </label>                       
                    <ng-select 
                      [items]="list_options_show_complementarity_relation"
                      bindLabel="name"
                      bindValue="value" 
                      [clearable]="false"
                      placeholder="Select complementarity relation" 
                      [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="category_data.bAppliesComplementarityRelation">
                    </ng-select>
                  </div>
                  <div class="form-group" *ngIf="false">
                    <p>Select Yes when clients tend to buy several portfolio products, attracted by the low prices of some of them.<br>
                    Otherwise, select No.</p>
                    <br>
                    <label for="pgp-input_category_name">Complementary relaction apply: </label>
                    <br>
                    <div class="row">
                        <label class="m-3">
                          <p>No</p>
                        </label>
                      <div class="mt-3 mb-3">
                        <label class="switch m-0">
                          <input type="checkbox" checked 
                          [ngModelOptions]="{standalone: true}" 
                          [(ngModel)]="category_data.bAppliesComplementarityRelation" 
                          (change)="fnChangeSourceCheckRelation($event)">
                          <span class="slider round"></span>
                        </label>
                      </div>
                        <label class="m-3">
                          <p>Yes</p>
                        </label>
                    </div>
                    <!-- <div class="w-100 d-inline-block">
                      <div class="d-inline-block">No</div>
                      <div class="d-inline-block">
                        <label class="switch m-0">
                          <input type="checkbox" checked>
                          <span class="slider round"></span>
                        </label>
                      </div>
                      <div class="d-inline-block align-middle">
                        <label class="m-0 p-0">Yes</label>
                      </div>
                    </div> -->
                  </div>
                  <label for="pgp-input_category_name">{{ DATA_LANG?.mCLbApplyRel.text }}: </label>
                  <div class="row">
                    <label class="m-3">
                      <p>{{ DATA_LANG?.mCCBApplyRelNo.text }}</p>
                    </label>
                  <div class="mt-3 mb-3">
                    <label class="switch m-0">
                      <input type="checkbox" checked 
                      [ngModelOptions]="{standalone: true}" 
                      [(ngModel)]="category_data.bAppliesComplementarityRelation" 
                      (change)="fnChangeSourceCheckRelation($event)">
                      <span class="slider round"></span>
                    </label>
                  </div>
                    <label class="m-3">
                      <p>{{ DATA_LANG?.mCCBApplyRelYes.text }}</p>
                    </label>
                </div>
                  <!-- <div class="form-group row w-50">
                    <div class="col-sm-12">
                      <label class="switch m-0">
                        <input type="checkbox" checked [ngModelOptions]="{standalone: true}" [(ngModel)]="category_data.bAppliesComplementarityRelation" (change)="fnChangeSourceCheckRelation($event)">
                        <div class="slider round">
                          <span class="on">Yes</span>
                          <span class="off">No</span>
                        </div>
                      </label>
                    </div>
                  </div> -->
                  <p style="width: 630px;">{{ DATA_LANG?.mCLbApplyRelDesc.text }}</p>
                </div>
                <button 
                  type="submit" 
                  class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" 
                  id="pgp-btn_save_new_category" 
                  nbButton 
                  [disabled]="!category_data.tCategoryName"
                  [class.btn-pulse]="submitted"
                  status="info">{{ DATA_LANG?.mCButtonSave.text }}</button>
                &nbsp;&nbsp;&nbsp;
                <button class="pgp-pointer font_family_roboto" 
                  type="button" 
                  id="pgp-btn_cancel_save_new_category"
                  nbButton
                  [class.btn-pulse]="submitted"
                  (click)="fnCancelCreateNewCategory()"
                  status="danger">{{ DATA_LANG?.mCButtonCancel.text }}</button>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>  
    </div>  
  </div>
</div>
  