<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto pgp-card_content">
        <nb-card-header class="font_family_roboto">{{ DATA_LANG?.lbMDCtitle.text }}</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <form #deleteCompetitorForm="ngForm" aria-labelledby="title">
                <div class="col-12 pl-0 pr-0">
                  <p class="mb-3 mt-1">{{ DATA_LANG?.lbMDCdesc.text }} "{{ Competitor_data.tCompetitorName}}"?</p>
                </div>
                <button (click)="fnDeleteCompetitor(Competitor_data)" type="button" class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" id="pgp-btn_delete_competitor"
                  nbButton [disabled]="!Competitor_data.iIDCompetitor" [class.btn-pulse]="submitted" status="info">{{ DATA_LANG?.mDCButtonYes.text }}</button>
                &nbsp;&nbsp;&nbsp;
                <button class="pgp-pointer font_family_roboto" type="button" id="pgp-btn_cancel_delete" nbButton [class.btn-pulse]="submitted"
                  (click)="fnCancelDeleteCompetitor()" status="danger">{{ DATA_LANG?.mDCButtonCancel.text }}</button>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>