<div class="row pgp-backgroud_layout font_family_roboto">
  <div class="col-12">
    <div class="row">
      <div class="col-6">
        <h1 class="font_family_roboto">Company</h1>
      </div>
    </div>  
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 m-auto mt-5">
        <div class="text-center">
            <nb-card>
                <nb-card-body>
                  <form (ngSubmit)="fnUpdateCompany(company)" #updateCompanyForm="ngForm" aria-labelledby="title" class="mt-3 col-12" id="name_company">
                    <div class="form-control-group">
                        <label class="label" for="company_name">Company name:</label>
                        <input 
                        [(ngModel)]="company.tCompanyName" 
                        #companyName="ngModel" 
                        type="text" 
                        class="form-control disabled" 
                        name="company_name" 
                        id="company_name" 
                        placeholder="company name" 
                        [disabled]="state"
                        title="Enter your first name if any.">
                    </div>
                    <button class="mt-3 pgp-pointer font_family_roboto" 
                      type="submit" 
                      id="pgp-btn_save_company"
                      nbButton
                      [class.btn-pulse]="submitted" 
                      [disabled]="!company.tCompanyName"
                      status="info">Save</button>
                    &nbsp;&nbsp;&nbsp;
                    <button class="mt-3 pgp-pointer font_family_roboto" 
                      type="button" 
                      id="pgp-btn_cancel_company"
                      nbButton
                      [class.btn-pulse]="submitted" 
                      (click)="fnCancelSaveCompany()"
                      status="danger">Cancel</button>
                </form>  
                </nb-card-body>
              </nb-card>
        </div>
    </div>
    
    
  </div>
</div>