<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto pgp-card_content" size="large" [nbSpinner]="state_loading" nbSpinnerStatus="info">
        <nb-card-header class="font_family_roboto">{{ DATA_LANG?.rProdTMSlbTittle.text }}</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <form (ngSubmit)="fnAdvancedSearchRatingPerceivedValue(market_prices_data)" #addNewRatingPerceivedValueForm="ngForm" aria-labelledby="title"
                style="min-width: 400px; max-width: 400px;">
                <div class="col-12 pl-0 pr-0">
                  <div class="form-group">
                    <label for="pgp-market_prices_product_code">{{ DATA_LANG?.rProdTMSlbProdCode.text }}: </label>
                    <ng-select [items]="list_products_collection" bindLabel="tProductCode" [multiple]="true" name="products_code" id="pgp-rating_product_type_products_code"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.rProdTMSDDLProdCode.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_products">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label for="pgp-market_prices_product_code">{{ DATA_LANG?.rProdTMSlbProdName.text }}: </label>
                    <ng-select [items]="list_products_collection" bindLabel="tProductName" [multiple]="true" name="products" id="pgp-rating_product_type_products"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.rProdTMSDDLProdName.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_products">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label for="pgp-market_prices_priceList">{{ DATA_LANG?.rProdTMSlbPriceL.text }}: </label>
                    <ng-select [items]="list_prices_lists_collection" bindLabel="tPriceListName" [multiple]="true" name="price_list" id="pgp-rating_product_type_price_list"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.rProdTMSDDLPriceL.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_price_list">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label for="pgp-market_prices_categories">{{ DATA_LANG?.rProdTMSlbCat.text }}: </label>
                    <ng-select [items]="list_categories_collection" bindLabel="tCategoryName" [multiple]="true" name="categories" id="pgp-rating_product_type_categories"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.rProdTMSDDLCat.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_categories">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label for="pgp-market_prices_rating_produc_type">{{ DATA_LANG?.rProdTMSlbFrec.text }}: </label>
                    <ng-select [items]="list_rating_produc_type_collection" bindLabel="tProductTypeName" [multiple]="true" name="frequency" id="pgp-rating_product_type_frequency"
                      [closeOnSelect]="false" placeholder="{{ DATA_LANG?.rProdTMSDDLFrec.text }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data_filter_roleCategory">
                    </ng-select>
                  </div>
                  <div class="form-group">
                    <label for="pgp-market_prices_rating_produc_type">{{ DATA_LANG?.rProdTMSlbDist.text }}: </label>
                    <ng-select [items]="list_rating_produc_type_collection" bindLabel="tProductTypeName" [multiple]="true" name="disbursement"
                      id="pgp-rating_product_type_disbursement" [closeOnSelect]="false" placeholder="{{ DATA_LANG?.rProdTMSDDLDist.text }}" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="data_filter_disbursement">
                    </ng-select>
                  </div>
                </div>
                <button type="submit" class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" id="pgp-btn_save_new_category"
                  nbButton [class.btn-pulse]="submitted" status="info">{{ DATA_LANG?.rProdTMSButtonApply.text }}</button>
                &nbsp;&nbsp;&nbsp;
                <button class="pgp-pointer font_family_roboto" type="button" id="pgp-btn_cancel_save_new_category" nbButton [class.btn-pulse]="submitted"
                  (click)="fnCancelCreateNewRatingPerceivedValue()" status="danger">{{ DATA_LANG?.rProdTMSButtonCancel.text }}</button>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>