@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  button:focus {
    outline: 0;
    cursor: pointer;
  }
  
  .title {
    text-align: center;
  }

  .font_family_roboto {
    font-family: 'Roboto';
  }

  .font_family_exo {
    font-family: 'exo';
  }

  #pgp-btn_send_invite_user {
    text-transform: none;
    width: nb-theme(pgp-width-btn-crud);      
  }
  
  #pgp-btn_cancel_send_invite_user {
    text-transform: none;
    background-color: nb-theme(pgp-color-11);   
    width: nb-theme(pgp-width-btn-crud);  
  }
  
  .pgp-backgroud_layout {
    background-color: #FFF;
  }
  
  .sub-title {
    text-align: center;
    display: block;
    margin-bottom: 3rem;
  }
  
  .pgp-btn_success {
    background-color: nb-theme(pgp-color-1);
    cursor: pointer;
  }

  #pgp-input_email_guest_member:focus {
    border-color: nb-theme(pgp-color-1);
  }

  ::ng-deep nb-card-header {
    display: block !important;
  }

  ::ng-deep {
    .tooltip-inner {
        width: 12rem;
        background-color: #ff4c6a;
        color: #fff;
        text-align: left;
    }

    .tooltip-arrow {
        border-right-color: #ff4c6a !important;
    }
    
    .tooltip-arrow::before {
        border-right-color: #ff4c6a !important;
    }
  }

  .pgp-icon_alert {
    position: absolute;
    padding: 0.7rem;
    cursor: pointer;
    color: #ff4c6a;
  }

}

