<nb-card class="font_family_roboto">
  <nb-card-header class="font_family_roboto">Invite new member</nb-card-header>
  <nb-card-body>
    <div class="container">
      <div class="row ml-0 mr-0">
        <form (ngSubmit)="fnSendInviteNewMember(user_invite)" #addNewMemberForm="ngForm" aria-labelledby="title" >
          <div class="col-12 pl-0 pr-0">
            <div class="form-group">
              <!-- <label for="pgp-input_project_name">Project name: </label>  -->
              <label for="pgp-input_email_guest_member">Email user: </label> 
              <input 
                  nbInput 
                  [(ngModel)]="user_invite.tEmail" 
                  #userInviteEmail="ngModel" 
                  id="pgp-input_email_guest_member" 
                  name="member_name" 
                  autofocus 
                  fullWidth 
                  type="email" 
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                  status="info" 
                  class="form-control d-inline-block"
                  placeholder="Add email user to invite here ... ">
              <i *ngIf="userInviteEmail.errors && (userInviteEmail.touched || userInviteEmail.dirty)" class="fas fa-exclamation-triangle pgp-icon_alert info" isOpen="true" [tooltip]="popTemplate" container="body" placement="right" triggers="mouseenter:click"></i>
              <ng-template #popTemplate id="tooltip-content">
                <strong><i class="far fa-check-circle"></i></strong> email invalid!
              </ng-template>
            </div>
          </div>
          
          <!-- <div *ngIf="userInviteEmail.errors &&(userInviteEmail.touched || userInviteEmail.dirty)" class ="aler alert-danger">
            <div [hidden]="!userInviteEmail.errors?.pattern">Invalid pattern</div> 
          </div> -->
          <button class="pgp-pointer" 
            type="submit" 
            class="btn btn-primary pgp-btn_success font_family_roboto" 
            id="pgp-btn_send_invite_user" 
            nbButton 
            [disabled]="!user_invite.tEmail || ( userInviteEmail.errors && (userInviteEmail.touched || userInviteEmail.dirty) )"
            [class.btn-pulse]="submitted"
            status="info">Send</button>
          &nbsp;&nbsp;&nbsp;
          <button class="pgp-pointer font_family_roboto" 
            type="button" 
            id="pgp-btn_cancel_send_invite_user"
            nbButton
            [class.btn-pulse]="submitted"
            (click)="fnCancelSendInvitation()"
            status="danger">Cancel</button>
        </form>
      </div>
    </div>
  </nb-card-body>
</nb-card>
  