<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto pgp-card_content" size="large" nbSpinnerStatus="info">
        <nb-card-header class="font_family_roboto">{{ DATA_LANG?.perVSmclbTitle.text }}</nb-card-header>
        <nb-card-body>
          <div class="container"> 
            <div class="row ml-0 mr-0" style="width: 500px;">
              <!-- <div class="mt-2 mb-2">
                Agregue la categoria y la relación de complementariedad de sus productos.
              </div> -->
              <!-- <div class="row">
                <pre>
                  {{ rating_perceived_data | json }}
                </pre>
              </div> -->
              <form (ngSubmit)="fnCreateNewRatingPerceivedValue(rating_perceived_data)" #addNewRatingPerceivedValueForm="ngForm" aria-labelledby="title">
                <div class="col-12 pl-0 pr-0">
                  <div class="form-group">
                    <label for="pgp-input_category_name">{{ DATA_LANG?.perVSmclbCompetitor.text }}: </label> 
                    <!-- <ng-select 
                      [items]="list_competitors"
                      bindLabel="tCompetitorName"
                      bindValue="iIDCompetitor"
                      placeholder="Select complementarity relation" 
                      [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="rating_perceived_data.competitor">
                    </ng-select> -->
                    <ng-select [(ngModel)]="rating_perceived_data.competitor"  [clearable]="false" [ngModelOptions]="{standalone: true}">
                        <ng-option *ngFor="let competitor of list_competitors" [value]="competitor" [disabled]="competitor.disabled">{{competitor.tCompetitorName}}</ng-option>
                        <!-- <ng-option [value]="'custom'">Custom</ng-option> -->
                    </ng-select>
                    <br>
                    <p style="text-align: justify; width: 500px;">{{ DATA_LANG?.perVSmclbCompetitorDesc.text }}</p>
                  </div>
                  <div class="form-group">
                    <label for="pgp-input_category_name">{{ DATA_LANG?.perVSmclbCompWeight.text }} (min=1 - max=5): </label>  
                    <ng5-slider 
                      [(ngModel)]="rating_perceived_data.iWeightCompetitor" 
                      [ngModelOptions]="{standalone: true}" 
                      [(value)]="value_weight" 
                      [options]="options_weight"></ng5-slider>
                      <p style="text-align: justify; width: 500px;">{{ DATA_LANG?.perVSmclbCompWeightDesc.text }}</p>
                  </div>
                  <!-- <div class="form-group">
                    <label for="pgp-input_category_name">Competitor weight (min:1 - max:5): </label> 
                      <input 
                        nbInput 
                        [(ngModel)]="rating_perceived_data.iWeightCompetitor" 
                        [ngModelOptions]="{standalone: true}"
                        #groupName="ngModel" 
                        id="pgp-input_category_name" 
                        name="category_name" 
                        autofocus  
                        minlength="1"
                        maxlength="1"
                        min="1" 
                        max="5" 
                        pattern="[0-9]*"
                        type="number" 
                        class="form-control"
                        placeholder="Competitor weight (1 - 5)">
                  </div> -->
                  <div class="form-group">
                    <label for="pgp-input_category_name">{{ DATA_LANG?.perVSmclbRat.text }} (min=1 - max=9): </label> 
                    <ng5-slider 
                      [(ngModel)]="rating_perceived_data.iCompetitorQualification" 
                      [ngModelOptions]="{standalone: true}" 
                      [(value)]="value_rating" 
                      [options]="options_rating"></ng5-slider>
                      <p style="text-align: justify; width: 500px;">{{ DATA_LANG?.perVSmclbRatDesc.text }}</p>
                      <!-- <input 
                        nbInput 
                        [(ngModel)]="rating_perceived_data.iCompetitorQualification" 
                        [ngModelOptions]="{standalone: true}"
                        #groupName="ngModel" 
                        id="pgp-input_category_name" 
                        name="category_name" 
                        autofocus  
                        minlength="1"
                        maxlength="1"
                        min="1" 
                        max="9" 
                        pattern="[0-9]*"
                        type="number" 
                        class="form-control"
                        placeholder="Rating (1 - 9)"> -->
                  </div>
                  <div class="form-group">
                    <label for="pgp-input_category_name">{{ DATA_LANG?.perVSmclbCom.text }}: </label> 
                    <textarea 
                      id="pgp-comment_rating_perceived"
                      [(ngModel)]="rating_perceived_data.tComment"
                      [ngModelOptions]="{standalone: true}"
                      rows="5" 
                      nbInput 
                      fullWidth 
                      shape="round"  
                      placeholder="{{ DATA_LANG?.perVSmctbCom.text }}" 
                      style="border-radius: 5px;"></textarea>
                      <p style="text-align: justify; width: 500px;">{{ DATA_LANG?.perVSmclbComDesc.text }}</p>                      
                  </div>
                </div>
                <button 
                  type="submit" 
                  class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" 
                  id="pgp-btn_save_new_category" 
                  nbButton 
                  [disabled]="!rating_perceived_data.category || !rating_perceived_data.competitor || !rating_perceived_data.iWeightCompetitor || !rating_perceived_data.iCompetitorQualification"
                  [class.btn-pulse]="submitted"
                  status="info">{{ DATA_LANG?.perVSmcButtonSave.text }}</button>
                &nbsp;&nbsp;&nbsp;
                <button class="pgp-pointer font_family_roboto" 
                  type="button" 
                  id="pgp-btn_cancel_save_new_category"
                  nbButton
                  [class.btn-pulse]="submitted"
                  (click)="fnCancelCreateNewRatingPerceivedValue()"
                  status="danger">{{ DATA_LANG?.perVSmcButtonCancel.text }}</button>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>  
    </div>  
  </div>
</div>
  