<div class="mb-3 text-center">
  <img class="pgp-image_logo" src="../../../../assets/images/imgs/pgp-prexus-logo01.png" alt="PGP Prexus Logo">
</div>
<h1 id="title" class="title font_family_roboto">{{ DATA_LANG?.lbRegister.text }}</h1>
<!-- <p class="sub-title mb-0">Hello! Log in with your email.</p> -->

<nb-alert *ngIf="message_error_api && !submitted" outline="danger" role="alert">
  <p class="alert-title">
    {{ message_error_api }}
  </p>
  <!-- <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message"></li>
  </ul> -->
</nb-alert>

<nb-alert *ngIf="message_success && !submitted" outline="success" role="alert">
  <p class="alert-title">
    {{ DATA_LANG?.msgSucessSignUp.text }}
  </p>
  <!-- <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul> -->
</nb-alert>


<form (ngSubmit)="register()" #form="ngForm" aria-labelledby="title">

  <ng-template #MyPopoverComponent>
    <span>Hello, Popover!</span>
  </ng-template>
  <!-- ******************** START - Input 'First name' and 'Last name ******************** -->
  <div class="form-control-group">
    <div class="col-12 row m-0 p-0">
      <div class="col-6 pr-1 pl-0">
        <label class="label" for="input-name">{{ DATA_LANG?.lbFirstName.text }}</label>
        <input 
          nbInput 
          [(ngModel)]="user.tFirstName" 
          #firstName="ngModel" 
          id="input-firstname" 
          name="firstName" 
          placeholder="{{ DATA_LANG?.tbFirstName.text }}"
          autofocus 
          fullWidth 
          (focus)="message_error_api = null" 
          [status]="email.dirty ? (email.invalid  ? 'danger' : 'info') : ''" 
          [required]="getConfigValue('forms.validation.firstName.required')"
          [minlength]="getConfigValue('forms.validation.firstName.minLength')" 
          [maxlength]="getConfigValue('forms.validation.firstName.maxLength')"
          [attr.aria-invalid]="firstName.invalid && firstName.touched ? true : null">
        <ng-container>
          <p class="error-message" *ngIf="fnValidateRequiredName(user.tFirstName, firstName.touched)">
            {{ DATA_LANG?.lbFisrtNameRequired.text }}
          </p>
          <p class="error-message" *ngIf="fnValidateLengthName(user.tFirstName?.length)">
            First name should contains from 3 to 50 characters
          </p>
        </ng-container>
      </div>
      <div class="col-6 pl-1 pr-0">
        <label class="label" for="input-name">{{ DATA_LANG?.lbLastName.text }}</label>
        <input 
        nbInput 
        [(ngModel)]="user.tLastName" 
        #lastName="ngModel" 
        id="input-lastname" 
        name="lastName" 
        placeholder="{{ DATA_LANG?.tbLastName.text }}"
          autofocus 
          fullWidth 
          (focus)="message_error_api = null" 
          [status]="email.dirty ? (email.invalid  ? 'danger' : 'info') : ''" 
          [required]="getConfigValue('forms.validation.lastName.required')"
          [minlength]="getConfigValue('forms.validation.lastName.minLength')" 
          [maxlength]="getConfigValue('forms.validation.lastName.maxLength')"
          [attr.aria-invalid]="lastName.invalid && lastName.touched ? true : null">
        <ng-container>
          <p class="error-message" *ngIf="fnValidateRequiredName(user.tLastName, lastName.touched)">
            {{ DATA_LANG?.lbLastNameRequired.text }}
          </p>
          <p class="error-message" *ngIf="fnValidateLengthName(user.tLastName?.length)">
            First name should contains from 3 to 50 characters
          </p>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- ********************* END - Input 'First name' and 'Last name ********************* -->

  <!-- ******************** START - Input 'email' ******************** -->
  <div class="form-control-group">
    <label class="label" for="input-email">{{ DATA_LANG?.lbEmail.text }}</label>
    <input 
    nbInput 
    [(ngModel)]="user.tEmail" 
    #email="ngModel" 
    id="input-email" 
    name="email" 
    pattern=".+@.+..+" 
    (focus)="message_error_api = null" 
    placeholder="{{ DATA_LANG?.tbEmail.text }}"
      fullWidth 
      [status]="email.dirty ? (email.invalid  ? 'danger' : 'info') : ''" 
      [required]="getConfigValue('forms.validation.email.required')"
      [attr.aria-invalid]="email.invalid && email.touched ? true : null">
    <ng-container *ngIf="email.invalid && email.touched">
      <p class="error-message" *ngIf="email.errors?.required">
        {{ DATA_LANG?.lbEmailRequired.text }}
      </p>
      <p class="error-message" *ngIf="email.errors?.pattern">
          lbPass
        {{ DATA_LANG?.lbEmailIncorrect.text }}
      </p>
    </ng-container>
  </div>
  <!-- ********************* END - Input 'email' ********************* -->

  <!-- ******************** START - Input 'password' and 'repeat password' ******************** -->
  <div class="form-control-group">
    <div class="col-12 row m-0 p-0">
      <div class="col-6 pr-1 pl-0">
        <label class="label" for="input-password">{{ DATA_LANG?.lbPass.text }}</label>
        <input 
        nbInput 
        [(ngModel)]="user.tPassword" 
        #password="ngModel" 
        type="password" 
        id="input-password" 
        name="password" 
        (focus)="message_error_api = null" 
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        placeholder="{{ DATA_LANG?.tbPass.text }}"
          fullWidth 
          [status]="email.dirty ? (email.invalid  ? 'danger' : 'info') : ''" 
          [required]="getConfigValue('forms.validation.password.required')"
          [attr.aria-invalid]="password.invalid && password.touched ? true : null">
        <ng-container *ngIf="password.invalid && password.touched">
          <p class="error-message" *ngIf="password.errors?.required">            
            {{ DATA_LANG?.lbPassRequired.text }}
          </p>         
          <p class="error-message" *ngIf="password.errors?.pattern">
            {{ DATA_LANG?.lbAlertPassFormat.text }}
            <!-- The password must have<br />
            8 Characters<br />
            1 Alphabetic character<br />
            1 capital letter<br />
            1 Number -->
          </p>
        </ng-container>       
      </div>
      <div class="col-6 pl-1 pr-0">
        <label class="label" for="input-re-password">{{ DATA_LANG?.lbConfirmPass.text }}</label>
        <input 
        nbInput 
        [(ngModel)]="user.tConfirmPassword" 
        #rePass="ngModel" 
        type="password" 
        id="input-re-password" 
        name="rePass"
        (focus)="message_error_api = null" 
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          placeholder="{{ DATA_LANG?.tbConfirmPass.text }}" 
          fullWidth 
          [status]="email.dirty ? (email.invalid || password.value != rePass.value  ? 'danger' : 'info') : ''"
          [required]="getConfigValue('forms.validation.password.required')" 
          [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null">
        <ng-container *ngIf="rePass.invalid && rePass.touched">
          <p class="error-message" *ngIf="rePass.errors?.required">
            {{ DATA_LANG?.lbConfirmPassRequired.text }}
          </p>
          <p class="error-message" *ngIf="password.value != rePass.value && !rePass.errors?.required">
            {{ DATA_LANG?.lbPassCoincide.text }}
          </p>       
        </ng-container>
      </div>
    </div>
  </div>  
  <!-- ********************* END - Input 'password' and 'repeat password' ********************* -->

  <!-- ******************** START - Input 'captcha' ******************** -->

  <!-- ********************* END - Input 'captcha' ********************* -->

  <!-- <div class="form-control-group">
    <form [formGroup]="aFormGroup">
      <ngx-recaptcha2
        [siteKey]="siteKey"
        [size]="size"
        [hl]="lang"
        [theme]="theme"
        [type]="type"
        [useGlobalDomain]="false"
        (reset)="handleReset()"
        (expire)="handleExpire()"
        (load)="handleLoad()"
        (success)="handleSuccess($event)"
        formControlName="recaptcha">
      </ngx-recaptcha2>
    </form> 
  </div> -->

  <input type="hidden" name="language" [(ngModel)]="user.tlanguage" value="en">
  <!-- <div class="form-control-group accept-group" *ngIf="getConfigValue('forms.register.terms')">
    <nb-checkbox name="terms" [(ngModel)]="user.bTermsConditions" [status]="info" [required]="getConfigValue('forms.register.terms')">
      Agree to <a href="../terms-and-conditions" class="pgp-terms_and_conditions" target="_blank"><strong>Terms & Conditions</strong></a>
    </nb-checkbox>
  </div> -->
  <div class="col-12 row m-0 p-0">
    <div class="col-12 m-0 p-0 justify-content-center">
      <div class="form-group pgp-align_content_captcha">
        <div id="capcha_element" class="g-recaptcha" data-callback="getResponceCapcha" [attr.data-sitekey]="siteKeyCaptcha">
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 row m-0 p-0">
    <div class="col-6 m-0 p-0">
      <label class="container" for="pgp-checkbox_remember_me" *ngIf="terms_and_conditions">
        <span class="pgp-text_1rem" style="vertical-align: text-top !important;">{{ DATA_LANG?.agreement.text }}
        </span>
        <span class="pgp-terms_and_conditions" (click)="openModalDialog()">{{ DATA_LANG?.linkAgreement.text }}</span>
        <input type="checkbox" checked="checked" id="pgp-checkbox_remember_me" [(ngModel)]="user.bTermsConditions" name="rememberMe">
        <span class="checkmark"></span>
      </label>
    </div>
  </div>

  <button nbButton fullWidth status="success" class="pgp-button_signup font_family_roboto" [disabled]="submitted || !form.valid || !captcha_valid || !user.bTermsConditions"
    [class.btn-pulse]="submitted">
    {{ DATA_LANG?.buttonEnviar.text }}
  </button>

  <!-- Start -->

  <!-- <button type="button" class="btn btn-info btn-lg" (click)="openModalDialog()">Open Login Modal Dialog!</button> -->
<div class="backdrop" [ngStyle]="{'display':display}"></div>

<!-- modal -->
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <!-- modal-dialog -->
  <div class="modal-dialog" role="document">
    <!-- modal-content -->
    <div class="modal-content">
      <!-- modal-header -->
      <div class="modal-header font_family_roboto">
        <strong>{{ DATA_LANG?.lbtitleModalTerms.text }}</strong>
        <!-- <button type="button" class="close" aria-label="Close" (click)="closeModalDialog()"><span aria-hidden="true">&times;</span></button> -->
      </div>
      <!-- modal-body -->
      <div class="modal-body font_family_roboto">
        {{ DATA_LANG?.lbDescModalTerms.text }}
      </div>
      <!-- modal-footer -->
      <div class="modal-footer">
        <div class="col-12 text-left pl-0">
          <button type="button" nbButton class="pgp-btn_mod font_family_roboto" (click)="closeModalDialog()" >{{ DATA_LANG?.modalTermsButtonClose.text }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- End -->
</form>

<section *ngIf="socialLinks && socialLinks.length > 0" class="links" aria-label="Social sign in">
  or enter with:
  <div class="socials">
    <ng-container *ngFor="let socialLink of socialLinks">
      <a *ngIf="socialLink.link" [routerLink]="socialLink.link" [attr.target]="socialLink.target" [attr.class]="socialLink.icon"
        [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
      <a *ngIf="socialLink.url" [attr.href]="socialLink.url" [attr.target]="socialLink.target" [attr.class]="socialLink.icon" [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
    </ng-container>
  </div>
</section>

<section class="another-action" aria-label="Sign in">
  {{ DATA_LANG?.lbAlreadyAccount.text }}
  <a class="text-link" routerLink="../login">{{ DATA_LANG?.linkLogIn.text }}</a>
</section>


<div class="mt-0 text-center" style="position: absolute;width: 100%; left: 0%; bottom: 0%; z-index: -1;" *ngIf="false">
  <img alt="PGP Prexus footer" src="../../../../assets/images/imgs/pgp-footer-login-01.png" style="
    position: absolute;
    /*top: 0%;*/
    margin: auto;
    /*width: 100%;*/
    width: 56%;
    z-index: 0;
    bottom: 0%;
    /*left: 0%;*/
    left: 21%;
    ">
</div>

