@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes';

@include nb-install-component() {

    .font_family_roboto {
        font-family: 'Roboto';
    }
    
    .font_family_exo {
        font-family: 'roboto';
    }

    #input-firstname:focus {
        border-color: nb-theme(pgp-color-1);
    }
    
    #input-lastname:focus {
        border-color: nb-theme(pgp-color-1);
    }
    
    #input-email:focus {
        border-color: nb-theme(pgp-color-1);
    }
    
    #input-password:focus {
        border-color: nb-theme(pgp-color-1);
    }
    
    #input-re-password:focus {
        border-color: nb-theme(pgp-color-1);
    }

    .pgp-terms_and_conditions {
        color: nb-theme(pgp-color-1) !important;
    }

    .pgp-button_signup {
        background-color: nb-theme(pgp-color-1);
        text-transform: capitalize;
        :focus{
            background-color: nb-theme(pgp-color-1);
        }
        
    }

    .btn-success.disabled, .btn-success:disabled {
        border-color: nb-theme(pgp-color-10);
        background-color: nb-theme(pgp-color-9);
    }

    .nb-theme-default [nbInput].input-success {
        border-color: nb-theme(pgp-color-1);
    }

    .btn-success:active:focus {
        background-color: nb-theme(pgp-color-1);
    }
    
    .pgp-image_logo {
        // width: nb-theme(pgp-width-50-percent);
        width: 40%;
    }

    .pgp-terms_and_conditions {
        font-size: 1rem;
        color: #4b4b4b;
        vertical-align: text-top;
    }

    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
      
    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
      
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
    }
      
    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }
      
    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: nb-theme(pgp-color-1);
        border-radius: 50%;
    }

    .container input > .checkmark {
        background-color: nb-theme(pgp-color-1);
        border-radius: 50%;
    }
    
    .checkmark {
        // background-color: nb-theme(pgp-color-1);
        border-radius: 50%;
    }
      
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }
    
    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 8px;
        top: 4px;
        width: 6px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .pgp-text_1rem {
        font-size: 1rem;
    }

    .pgp-align_content_captcha {
        text-align: -webkit-center;
    }

    /*************************/
    
    .backdrop {
        background-color:rgba(0,0,0,0.6);
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100vh;
    }

    .pgp-btn_mod{
        background-color: #828282;
        cursor: pointer;
    }

    .pgp-text_mod{
        text-align: justify;
    }

}
