<nb-card class="font_family_roboto">
  <nb-card-header class="font_family_roboto">{{ DATA_LANG?.lbTitleInvite.text }}</nb-card-header>
  <nb-card-body>
    <div class="container">
      <div class="row ml-0 mr-0">
        <form (ngSubmit)="fnSendInviteUserToGroup(user_invite_data)" #addNewMemberForm="ngForm" aria-labelledby="title" >
          <div class="col-12 pl-0 pr-0">
            <div class="form-group">
              <label for="pgp-input_project_select">{{ DATA_LANG?.lbProfileInviteName.text }} </label> 
              <!-- {{datatest | json}} -->
              <select [(ngModel)]="user_invite_data.iIDProjectGroup" nbInput style="border-radius: 0.375rem; font-size: 1rem; padding: 0.75rem 1.125rem; border-color: #4ca6ff; width: 100%; line-height: 1.5; height: 3.3rem" id="pgp-input_project_select" autofocus fullWidth name="cccccccc" id="cccc">
                  <option [value]="project.iIDProjectGroup" *ngFor="let project of list_projects">{{project.tProjectGroupName}}</option>
              </select>
              <!-- <br>
              <ng-select [(ngModel)]="selectedCarId">
                  <ng-option *ngFor="let car of cars" [value]="car.id" [disabled]="car.disabled" >{{car.name}}</ng-option>
                  <ng-option [value]="'custom'">Custom</ng-option>
              </ng-select> -->
              <!-- <input 
                  nbInput 
                  [(ngModel)]="version.tVersionName" 
                  #versionName="ngModel" 
                  id="pgp-input_version_name" 
                  name="version_name" 
                  autofocus 
                  fullWidth 
                  type="text" 
                  status="info" 
                  class="form-control"
                  placeholder="Version name"> -->
            </div>
            <div class="form-group">
              <!-- <label for="pgp-input_project_name">Project name: </label>  -->
              <!-- <label for="pgp-input_email_guest_member">Email user: </label> 
              <input 
                  nbInput 
                  [(ngModel)]="user_invite_data.tEmail" 
                  #userInviteEmail="ngModel" 
                  id="pgp-input_email_guest_member" 
                  name="member_name" 
                  autofocus 
                  fullWidth 
                  type="email" 
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                  status="info" 
                  class="form-control d-inline-block"
                  placeholder="Add email user to invite here ... ">
              <i *ngIf="userInviteEmail.errors && (userInviteEmail.touched || userInviteEmail.dirty)" class="fas fa-exclamation-triangle pgp-icon_alert info" isOpen="true" [tooltip]="popTemplate" container="body" placement="right" triggers="mouseenter:click"></i>
              <ng-template #popTemplate id="tooltip-content">
                <strong><i class="far fa-check-circle"></i></strong> email invalid!
              </ng-template> -->
              <label for="pgp-input_group_name">{{ DATA_LANG?.lbProfileInviteEmail.text }} </label> 
              <input 
                  nbInput 
                  [(ngModel)]="user_invite_data.tEmail" 
                  #userInviteName="ngModel" 
                  id="pgp-input_user_invite_name" 
                  name="user_invite_name" 
                  autofocus 
                  fullWidth 
                  type="text" 
                  status="info" 
                  class="form-control"
                  placeholder="{{ DATA_LANG?.tbProfileInviteEmail.text }}"
                  style="height: 45px;">
            </div>
          </div>
          
          <!-- <div *ngIf="userInviteEmail.errors &&(userInviteEmail.touched || userInviteEmail.dirty)" class ="aler alert-danger">
            <div [hidden]="!userInviteEmail.errors?.pattern">Invalid pattern</div> 
          </div> -->
          <button class="pgp-pointer font_family_roboto" 
            type="submit" 
            class="btn btn-primary pgp-btn_success" 
            id="pgp-btn_send_invite_user" 
            nbButton 
            [disabled]="!user_invite_data.tEmail"
            [class.btn-pulse]="submitted"
            status="info">{{ DATA_LANG?.buttonSaveInvite.text }}</button>
          &nbsp;&nbsp;&nbsp;
          <button class="pgp-pointer font_family_roboto" 
            type="button" 
            id="pgp-btn_cancel_send_invite_user"
            nbButton
            [class.btn-pulse]="submitted"
            (click)="fnCancelSendInvitationGroup()"
            status="danger">{{ DATA_LANG?.buttonCancelInvite.text }}</button>
        </form>
      </div>
    </div>
  </nb-card-body>
</nb-card>
  