<div class="row pgp-backgroud_layout font_family_roboto pr-4" [nbSpinner]="loadingChart">
  <div class="col-12">
    <div class="row">
      <div class="col-12 m-3">
        <img class="d-inline" src="../../../assets/images/imgs/information.png" height="15">
        <p class="d-inline pl-2 mb-3 mt-3 pgp-description-color">{{ DATA_LANG?.mPrlbDesc.text }}</p>
      </div>
      <div class="col-12 ml-3 mr-3">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="row m-1" style="margin-left: 0 !important">
              <div class="col-6 pl-0">
                <input (input)="fnFilterMarketPrices(list_market_prices, search_input);" fullWidth nbInput [(ngModel)]="search_input" #search_Market_prices="ngModel"
                  class="pgp-text_input_search form-control d-inline-block" id="pgp-input_Market_prices" name="Market_prices"
                  type="text" placeholder="{{ DATA_LANG_GENERAL?.tbSearch.text }}">
                <i class="fas fa-search pgp-icon_input_search"></i>
              </div>
              <div class="col-auto p-0">
                <button *ngIf="true" style="display: inline-block; width: 180px !important;" class="btn btn-primary pgp-btn_advance_search font_family_roboto" (click)="showModalAdvancedSearchMarketPrice(obj_market_prices)">{{ DATA_LANG_GENERAL?.buttonAdvanceSearch.text }}</button>
                <div style="display: inline-block; margin: 0px 10px;"
                *ngIf="items_filtered_advance_search.category?.length > 0 
                    || items_filtered_advance_search.priceList?.length > 0 
                    || items_filtered_advance_search.competitors?.length > 0 
                    || items_filtered_advance_search.products?.length > 0 
                    || items_filtered_advance_search.dPrices?.dMin
                    || items_filtered_advance_search.dPrices?.dMax
                    || items_filtered_advance_search.productsCompetitor?.length > 0 ||
                    search_input?.length > 0">
                    <label class="p-0 pgp-label_clear_all" (click)="fnClearAllFiltersSearch(); fnFilterMarketPrices(list_market_prices, search_input);">{{ DATA_LANG_GENERAL?.lbClearAll.text }}</label>
                </div>
              </div>
              
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-lg-right text-xl-right text-md-center text-sm-center">
            <div class="btn btn-primary m-1 pgp-btns_actions pgp-height_3_rem" style="position: relative">
              <label for="file" class="pgp-pointer">{{ DATA_LANG_GENERAL?.buttonImport.text }}</label>
              <input [(ngModel)]="file_import_input" type="file"  class="pgp-input_import"  id="file" (change)="handleFileInput($event.target.files)">
            </div>
            <button class="btn btn-primary m-1 pgp-btns_actions" (click)="fnExportMarketPrice()">{{ DATA_LANG_GENERAL?.buttonExport.text }}</button>
            <button class="btn btn-primary m-1 pgp-btns_actions" (click)="fnDeleteAllMarketPrice(obj_market_prices)">{{ DATA_LANG?.mPrButtonClean.text }}</button>
          </div>
        </div>
      </div>
      <div class="col-12 ml-3 mr-3" *ngIf="true">
        <div class="row">
          <div class="col-10">
            <div class="d-inline-block">
              <span *ngIf="items_filtered_advance_search.category?.length > 0">
                <span *ngFor="let item_categories of items_filtered_advance_search.category; let ind_pl = index;">
                  <a class="badge pgp-badge-color">
                    {{ item_categories.tCategoryName }}
                    <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveItemSearchFilteredAdvanced(ind_pl, items_filtered_advance_search.category);"></i>
                  </a>&nbsp;&nbsp;
                </span>
              </span>
              <span *ngIf="items_filtered_advance_search.priceList?.length > 0">
                <span *ngFor="let item_categories of items_filtered_advance_search.priceList; let ind_pl = index;">
                  <a class="badge pgp-badge-color">
                    {{ item_categories.tPriceListName }}
                    <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveItemSearchFilteredAdvanced(ind_pl, items_filtered_advance_search.priceList);"></i>
                  </a>&nbsp;&nbsp;
                </span>
              </span>
              <span *ngIf="items_filtered_advance_search.competitors?.length > 0">
                <span *ngFor="let item_competiros of items_filtered_advance_search.competitors; let ind_pro = index;">
                  <a class="badge pgp-badge-color">
                    {{ item_competiros.tCompetitorName }}
                    <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveItemSearchFilteredAdvanced(ind_pro, items_filtered_advance_search.competitors);"></i>
                  </a>&nbsp;&nbsp;
                </span>
              </span>
              <span *ngIf="items_filtered_advance_search.products?.length > 0">
                <span *ngFor="let item_product of items_filtered_advance_search.products; let i = index;">
                  <a class="badge pgp-badge-color">
                    {{ item_product.tProductCode + ' - ' + item_product.tProductName}}
                    <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveItemSearchFilteredAdvanced(i, items_filtered_advance_search.products);"></i>
                  </a>&nbsp;&nbsp;
                </span>
              </span>
              <a class="badge pgp-badge-color" *ngIf="items_filtered_advance_search.dPrices?.dMin || items_filtered_advance_search.dPrices?.dMax">
                {{ DATA_LANG?.mPrBadgePrice.text }}: min = {{ items_filtered_advance_search.dPrices?.dMin | number : '1.2-2' }} - max = {{ items_filtered_advance_search.dPrices?.dMax
                | number : '1.2-2' }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveBadgetPrice();"></i>
              </a>&nbsp;&nbsp;
              <a class="badge pgp-badge-color" *ngIf="items_filtered_advance_search.productsCompetitor?.length > 0">
                {{ DATA_LANG?.mPrBadgeProductCompetitor.text }}: {{ items_filtered_advance_search.productsCompetitor }}
                <i class="fas fa-times-circle pgp-badge-icon pgp-pointer" (click)="fnSetRemoveProductCompetitor();"></i>
              </a>&nbsp;&nbsp;
            </div>
          </div>

          <div class="col-2 text-right">
            <i class="fas fa-th-large pgp-pointer mb-3 mt-3" [ngClass]="{'pgp-icon_state_view_data_active': (layoud_component_display == 'cards'), 'pgp-icon_state_view_data_inactive': (layoud_component_display == 'grid')}"
              (click)="fnSwitchViewData('cards')"></i>&nbsp;
            <i class="fas fa-th-list pgp-pointer mb-3 mt-3  mr-5" [ngClass]="{'pgp-icon_state_view_data_active': (layoud_component_display == 'grid'), 'pgp-icon_state_view_data_inactive': (layoud_component_display == 'cards')}"
              (click)="fnSwitchViewData('grid')" style="margin-right: 0.3rem !important;"></i>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-3 pgp-Margin_top">
        <div style="width: 100%; overflow-y: auto;" *ngIf="layoud_component_display == 'grid'">
          <table class="table table-bordered pgp-table">
            <thead>
              <tr>
                <th colspan="2"></th>

                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 160px;">
                    {{ DATA_LANG_GENERAL?.colnProductCode.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.mPrColnProductCodeTooltipTittle.text,DATA_LANG?.mPrColnProductCodeTooltipDesc.text)"></i>
                    </span>  
                    <span id="pgp-icon_complementary_relation_name_column" (click)="sortColumn('tProductCode')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div>
                    {{ DATA_LANG_GENERAL?.colnProductName.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.mPrColnProductNameTooltipTittle.text,DATA_LANG?.mPrColnProductNameTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tProductName')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 150px;">
                    {{ DATA_LANG_GENERAL?.colnPricesList.text }}
                    <span>
                        <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.mPrColnPricesListTooltipTittle.text,DATA_LANG?.mPrColnPricesListTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tPriceListName')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 150px;">
                    {{ DATA_LANG?.mPrColnCompetitorOne.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.mPrColnCompetitorOneTooltipTittle.text,DATA_LANG?.mPrColnCompetitorOneTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tCompetitorName1')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 270px;">
                    {{ DATA_LANG?.mPrColnProductOne.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.mPrColnProductOneTooltipTittle.text,DATA_LANG?.mPrColnProductOneTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tProductCompetitor1')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 125px;">
                    {{ DATA_LANG?.mPrColnPriceOne.text }} {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.mPrColnPriceOneTooltipTittle.text,DATA_LANG?.mPrColnPriceOneTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dPriceCompetitor1')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 150px;">
                    {{ DATA_LANG?.mPrColnCompetitorTwo.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.mPrColnCompetitorTwoTooltipTittle.text,DATA_LANG?.mPrColnCompetitorTwoTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tCompetitorName2')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 270px;">
                    {{ DATA_LANG?.mPrColnProductTwo.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.mPrColnProductTwoTooltipTittle.text,DATA_LANG?.mPrColnPriceTwoTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tProductCompetitor2')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 125px;">
                    {{ DATA_LANG?.mPrColnPriceTwo.text }} {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.mPrColnPriceTwoTooltipTittle.text,DATA_LANG?.mPrColnPriceTwoTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dPriceCompetitor2')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 150px;">
                    {{ DATA_LANG?.mPrColnCompetitorThree.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.mPrColnCompetitorThreeTooltipTittle.text,DATA_LANG?.mPrColnCompetitorThreeTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tCompetitorName3')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 270px;">
                    {{ DATA_LANG?.mPrColnProductThree.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.mPrColnProductThreeTooltipTittle.text,DATA_LANG?.mPrColnProductThreeTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tProductCompetitor3')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 125px;">
                    {{ DATA_LANG?.mPrColnPriceThree.text }} {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.mPrColnPriceThreeTooltipTittle.text,DATA_LANG?.mPrColnPriceThreeTooltipTittle.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dPriceCompetitor3')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 150px;">
                    {{ DATA_LANG?.mPrColnCompetitorFour.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.mPrColnCompetitorFourTooltipTittle.text,DATA_LANG?.mPrColnCompetitorFourTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tCompetitorName4')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 270px;">
                    {{ DATA_LANG?.mPrColnProductFour.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.mPrColnProductFourTooltipTittle.text,DATA_LANG?.mPrColnProductFourTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tProductCompetitor4')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 125px;">
                    {{ DATA_LANG?.mPrColnPriceFour.text }} {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.mPrColnPriceFourTooltipTittle.text,DATA_LANG?.mPrColnPriceFourTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dPriceCompetitor4')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 150px;">

                  </div>
                  {{ DATA_LANG?.mPrColnCompetitorFive.text }}
                  <span>
                    <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.mPrColnCompetitorFiveTooltipTittle.text,DATA_LANG?.mPrColnCompetitorFiveTooltipDesc.text)"></i>
                  </span>
                  <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tCompetitorName5')" class="float-right">
                    <i class="fas fa-long-arrow-alt-up"></i>
                    <i class="fas fa-long-arrow-alt-down"></i>
                  </span>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 270px;">
                    {{ DATA_LANG?.mPrColnProductFive.text }}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.mPrColnProductFiveTooltipTittle.text,DATA_LANG?.mPrColnProductFiveTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('tProductCompetitor5')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
                <th class="text-left" id="thead_jobTitle" style="cursor: pointer;">
                  <div style="width: 125px;">
                    {{ DATA_LANG?.mPrColnPriceFive.text }} {{ tCurrencyISO == '' ? '' : '(' + (tCurrencyISO) + ')'}}
                    <span>
                      <i class="far fa-question-circle" nbTooltip="{{ DATA_LANG_GENERAL?.toolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.mPrColnPriceFiveTooltipTittle.text,DATA_LANG?.mPrColnPriceFiveTooltipDesc.text)"></i>
                    </span>
                    <span id="pgp-icon_complementary_relation_apply_column" (click)="sortColumn('dPriceCompetitor5')" class="float-right">
                      <i class="fas fa-long-arrow-alt-up"></i>
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data_market_prices of list_market_prices | paginate: { id: 'server', itemsPerPage: numItemsPage, currentPage: currentPage, totalItems: totalItems }; let i = index;">
                <td class="pgp-table-actions">
                  <i class="fas fa-edit pgp-pointer" nbTooltip="{{ DATA_LANG?.mPrToolEdit.text }}" nbTooltipPlacement="top" (click)="showModalEditMarketPrice(data_market_prices)"></i>
                </td>
                <td class="pgp-table-actions">
                  <i class="far fa-trash-alt pgp-pointer" nbTooltip="{{ DATA_LANG?.mPrToolDelete.text }}" nbTooltipPlacement="top" (click)="fnDeleteMarketPrices(data_market_prices)"></i>
                </td>
                <td class="text-left" style="width: 150px;">
                  <div class="d-inline-block text-truncate">
                    {{ data_market_prices.tProductCode }}
                  </div>
                </td>
                <td class="text-left" style="width: 200px;">
                  <div class="d-inline-block text-truncate">
                    {{ data_market_prices.tProductName }}
                  </div>
                </td>
                <td class="text-left" style="width: 150px;">
                  <div class="d-inline-block text-truncate">
                    {{ data_market_prices.tPriceListName }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 150px;">
                    {{ data_market_prices.tCompetitor1 != null ? data_market_prices.tCompetitor1.tCompetitorName : null }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 270px;">
                    {{ data_market_prices.tProductCompetitor1 }}
                  </div>
                </td>
                <td class="text-right">
                  <div class="d-inline-block text-truncate" style="width: 110px;">
                    {{ data_market_prices.dPriceCompetitor1 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 150px;">
                    {{ data_market_prices.tCompetitor2 != null ? data_market_prices.tCompetitor2.tCompetitorName : null}}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 270px;">
                    {{ data_market_prices.tProductCompetitor2 }}
                  </div>
                </td>
                <td class="text-right">
                  <div class="d-inline-block text-truncate" style="width: 110px;">
                    {{ data_market_prices.dPriceCompetitor2 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 150px;">
                    {{ data_market_prices.tCompetitor3 != null ? data_market_prices.tCompetitor3.tCompetitorName : null }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 270px;">
                    {{ data_market_prices.tProductCompetitor3 }}
                  </div>
                </td>
                <td class="text-right">
                  <div class="d-inline-block text-truncate" style="width: 110px;">
                    {{ data_market_prices.dPriceCompetitor3 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 150px;">
                    {{ data_market_prices.tCompetitor4 != null ? data_market_prices.tCompetitor4.tCompetitorName : null }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 270px;">
                    {{ data_market_prices.tProductCompetitor4 }}
                  </div>
                </td>
                <td class="text-right">
                  <div class="d-inline-block text-truncate" style="width: 110px;">
                    {{ data_market_prices.dPriceCompetitor4 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 150px;">
                    {{ data_market_prices.tCompetitor5 != null ? data_market_prices.tCompetitor5.tCompetitorName : null}}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 270px;">
                    {{ data_market_prices.tProductCompetitor5 }}
                  </div>
                </td>
                <td class="text-right">
                  <div class="d-inline-block text-truncate" style="width: 110px;">
                    {{ data_market_prices.dPriceCompetitor5 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals}}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row pr-3 pl-3" [nbSpinner]="loading" *ngIf="layoud_component_display == 'cards'">
          <!-- <table class="table table-bordered pgp-table" *ngFor="let data_market_prices of list_market_prices | paginate: { itemsPerPage: numItemsPage, currentPage: currentPage }; let i = index;">
            <thead>
              <th colspan="5" class="pgp-card_head">
                <div class="d-inline-block" style="width: 97%">
                  Product code :
                  <label class="pgp-label-header-card">{{ data_market_prices.tProductCode }}</label>
                  <br> Product name :
                  <label class="pgp-label-header-card">{{ data_market_prices.tProductName }}</label>
                  <br> Price list :
                  <label class="pgp-label-header-card">{{ data_market_prices.tPriceListName }}</label>
                </div>
                <div class="d-inline-block mt-3">
                  <i class="fas fa-edit pgp-icon_card pgp-pointer" nbTooltip="Edit" nbTooltipPlacement="top" (click)="showModalEditMarketPrice(data_market_prices)"></i>&nbsp;&nbsp;
                  <i class="far fa-trash-alt pgp-icon_card pgp-pointer" nbTooltip="Clean" nbTooltipPlacement="top" (click)="fnDeleteMarketPrices(data_market_prices)"></i>
                </div>
              </th>
            </thead>
            <tbody>
              <tr>
                <td style="width: 300px;">
                  <div class="d-inline-block text-truncate" style="width: 200px;">
                    {{ data_market_prices.tCompetitor1 != null ? data_market_prices.tCompetitor1.tCompetitorName : null }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 200px;">
                    {{ data_market_prices.tCompetitor2 != null ? data_market_prices.tCompetitor2.tCompetitorName : null }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 200px;">
                    {{ data_market_prices.tCompetitor3 != null ? data_market_prices.tCompetitor3.tCompetitorName : null }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 200px;">
                    {{ data_market_prices.tCompetitor4 != null ? data_market_prices.tCompetitor4.tCompetitorName : null }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 200px;">
                    {{ data_market_prices.tCompetitor5 != null ? data_market_prices.tCompetitor5.tCompetitorName : null }}
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-inline-block text-truncate text" style="width: 250px;">
                    {{ data_market_prices.tProductCompetitor1 }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 250px;">
                    {{ data_market_prices.tProductCompetitor2 }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 250px;">
                    {{ data_market_prices.tProductCompetitor3 }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 250px;">
                    {{ data_market_prices.tProductCompetitor4 }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 250px;">
                    {{ data_market_prices.tProductCompetitor5 }}
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 200px;">
                    {{ data_market_prices.dPriceCompetitor1 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 200px;">
                    {{ data_market_prices.dPriceCompetitor2 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 200px;">
                    {{ data_market_prices.dPriceCompetitor3 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 200px;">
                    {{ data_market_prices.dPriceCompetitor4 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                </td>
                <td>
                  <div class="d-inline-block text-truncate" style="width: 200px;">
                    {{ data_market_prices.dPriceCompetitor5 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}
                  </div>
                </td>
              </tr>
            </tbody>
          </table> -->
          <div *ngFor="let data_market_prices of list_market_prices | paginate: { itemsPerPage: numItemsPage, currentPage: currentPage }; let i = index;"
            class="mb-2 mt-2 p-0 col-xl-3 col-lg-4 col-md-4 col-sm-12 col-xs-12" id="pgp-card_list_{{i}}">
            <div style="background-color: transparent; padding: 10px;">
              <div class="m-0 pgp-card_head">
                <div class="d-inline-block pgp-content_title_card mt-1 mb-1 ml-2 mr-0">
                  <div class="row" style="height: 22px;">
                    <div class="col-8">
                      <label class="pgp-label-header-card text-left text-truncate pgp-card_label_title" style="font-weight: 600;">{{ data_market_prices.tProductName }}</label>
                    </div>
                    <div class="col-3 text-right" style="padding-left: 8px; padding-right: 0px;">
                      <i class="fas fa-edit pgp-icon_card pgp-pointer" nbTooltip="{{ DATA_LANG?.mPrToolEdit.text }}" nbTooltipPlacement="top" (click)="showModalEditMarketPrice(data_market_prices)"></i>&nbsp;&nbsp;
                      <i class="far fa-trash-alt pgp-icon_card pgp-pointer" nbTooltip="{{ DATA_LANG?.mPrToolDelete.text }}" nbTooltipPlacement="top" (click)="fnDeleteMarketPrices(data_market_prices)"></i>       
                    </div>                  
                  </div>
                  <div class="row">
                    <div class="col-5">
                      <label class="pgp-label-header-card text-truncate"><strong>{{ DATA_LANG_GENERAL?.colnProductCode.text }}: </strong></label>
                    </div>
                    <div class="col-6 text-left">
                      <label class="pgp-label-header-card">{{ data_market_prices.tProductCode }}</label>
                    </div>
                    <div class="col-5">
                      <label class="pgp-label-header-card text-truncate"><strong>{{ DATA_LANG_GENERAL?.colnPricesList.text }}: </strong></label>
                    </div>
                    <div class="col-6 text-left">
                      <label class="pgp-label-header-card">{{ data_market_prices.tPriceListName }}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="m-0 pgp-card_body">
                <div class="row" style="line-height: 0.25rem !important;">
                  <div class="col-8 pgp-card_height">
                    <label class="p-2 m-0">{{ data_market_prices.tCompetitor1 != null ? data_market_prices.tCompetitor1.tCompetitorName : null }}</label>
                  </div>
                  <div class="col-4 text-right text-truncate">
                    <label class="p-2 m-0">{{ data_market_prices.dPriceCompetitor1 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                  </div>
                </div>
                <div class="row" style="line-height: 0.25rem !important;">
                  <div class="col-8 pgp-card_height">
                    <label class="p-2 m-0">{{ data_market_prices.tCompetitor2 != null ? data_market_prices.tCompetitor2.tCompetitorName : null }}</label>
                  </div>
                  <div class="col-4 text-right pgp-card_height">
                    <label class="p-2 m-0">{{ data_market_prices.dPriceCompetitor2 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                  </div>
                </div>
                <div class="row" style="line-height: 0.25rem !important;">
                  <div class="col-8 pgp-card_height">
                    <label class="p-2 m-0">{{ data_market_prices.tCompetitor3 != null ? data_market_prices.tCompetitor3.tCompetitorName : null }}</label>
                  </div>
                  <div class="col-4 text-right pgp-card_height">
                    <label class="p-2 m-0">{{ data_market_prices.dPriceCompetitor3 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                  </div>
                </div>
                <div class="row" style="line-height: 0.25rem !important;">
                  <div class="col-8 pgp-card_height">
                    <label class="p-2 m-0">{{ data_market_prices.tCompetitor4 != null ? data_market_prices.tCompetitor4.tCompetitorName : null }}</label>
                  </div>
                  <div class="col-4 text-right pgp-card_height">
                    <label class="p-2 m-0">{{ data_market_prices.dPriceCompetitor4 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                  </div>
                </div>
                <div class="row" style="line-height: 0.25rem !important;">
                  <div class="col-8 pgp-card_height">
                    <label class="p-2 m-0">{{ data_market_prices.tCompetitor5 != null ? data_market_prices.tCompetitor5.tCompetitorName : null }}</label>
                  </div>
                  <div class="col-4 text-right pgp-card_height">
                    <label class="p-2 m-0">{{ data_market_prices.dPriceCompetitor5 | number : '1.'+ quantiy_decimals +'-'+ quantiy_decimals }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="col-12" style="margin-right: -15px; margin-left: -35px;">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <div class="text-center" *ngIf="list_market_prices.length > 0">
              <pagination-controls (pageChange)="getPage($event)" id="server" previousLabel="{{ DATA_LANG_GENERAL?.previousPage.text }}" nextLabel="{{ DATA_LANG_GENERAL?.nextPage.text }}"></pagination-controls>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <div class="text-center pgp-font_paginator" *ngIf="list_market_prices.length > 0">
                {{ DATA_LANG_GENERAL?.lbItemsShowed.text }} {{ (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) + 1 ) }} - {{ (list_market_prices.length
                  <= (currentPage * numItemsPage)) ? (list_market_prices.length) + (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) ) : (currentPage * numItemsPage) }} {{ DATA_LANG_GENERAL?.lbItemsOf.text }} {{ totalItems }}
                <!-- Items showed {{ (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) + 1 ) }} - {{ (list_market_prices.length
                < (currentPage * numItemsPage)) ? list_market_prices.length : (currentPage * numItemsPage) }} of {{ totalItems }}-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 m-3">
        <div class="text-center pgp-font_paginator" *ngIf="list_market_prices.length > 1">
          <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
        </div>
      </div> -->
    </div>