@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

    .flex-centered {
      margin: auto;
    }
    
    nb-card-body {
      display: flex;
      max-height: 80vh;
      min-height: 78vh;
    }
  
    button:focus { outline:0; }
    
    .title {
      text-align: center;
    }
  
    .font_family_roboto {
      font-family: 'Roboto';
      font-weight: normal;
      color:nb-theme(pgp-color-11);
    }
  
    .font_family_exo {
      font-family: 'roboto';
    }
    
    .pgp-backgroud_layout {
      background-color: #FFF;
      min-height: 83vh;
    }
  
    ::ng-deep .pgp-pointer {
      cursor: pointer;
    }
    
    .pgp-pointer {
      cursor: pointer;
    }

    .pgp-badge-color{
      color: #fff !important;
      background-color: nb-theme(pgp-color-11);
      font-size: smaller !important;
      text-transform: none;
    }
   
    .pgp-badge-icon{
      font-size: 10px;
    }
   
    .pgp-table {
      color: nb-theme(pgp-color-black);
    }
   
    .pgp-table-actions{
      width: 35px;
    }

    .pgp-label_clear_all{
      margin: 11px 0px !important;
      color: nb-theme(pgp-color-2);
      cursor: pointer;
    }
   
    ::ng-deep .pgp-icon-sort{
      float: right !important;
    }
   
    ::ng-deep .pgp-pagin{
      width: 20%;
      margin: auto;
    }
   
    ::ng-deep .pgp-pagin-color{
      color: nb-theme(pgp-color-black);
    }

  /* ********** - ********** */
  .pgp-btns_actions {
    background-color: nb-theme(pgp-color-1);
    text-transform: none;
    cursor: pointer;
    height: 41px;
    font-family: 'Roboto';
    width: nb-theme(pgp-width-btn-crud); 
  }
  
  .pgp-btn_advance_search {
    background-color: nb-theme(pgp-color-11);
    text-transform: none;
    cursor: pointer;
  }

  .pgp-btn_advance_search:active:focus {
    background-color: nb-theme(pgp-color-3);
  }
  
  .pgp-btns_actions:active:focus {
    background-color: nb-theme(pgp-color-3);
  }

  .pgp-text_input_search {
    height: 3rem;
    margin: auto;
    outline: none;
    background-color: #ffffff;
  }

  .pgp-text_input_search:focus {
    border-color: nb-theme(pgp-color-1);
  }

  .pgp-icon_input_search {
    position: absolute;
    margin-top: 1rem;
    margin-left: -2rem;
  }

  .pgp-height_3_rem {
    height: 3rem !important;
  }

  .pgp-font_paginator {
    font-size: 1rem;
  }

  /deep/ a:hover {
    color: nb-theme(pgp-color-1);
  }
  
  /deep/ a:focus {
    color: nb-theme(pgp-color-1);
  }


  ::ng-deep .ng-select.ng-select-single .ng-select-container {
    height: 41px;
  }

  ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input {
      line-height: 1.8;
  }
    /* ********** - ********** */

    
  .pgp-icon_state_view_data_active {
    color: #06a7e2;
    background-color: #FFF;
    font-size: 22px !important;        
  }
 
  .pgp-icon_state_view_data_inactive {
    color: #b2b2b2;
    background-color: #ebeff5;
    font-size: 22px !important;  
    
  }

  .pgp-label-header-card{
    font-weight: normal;
    margin-bottom: 0%;
  }

  .pgp-card_head {
    background-color: nb-theme(pgp-color-11);
    color: nb-theme(pgp-color-white);
  }
  

  .cardsMenus {
    height: 5.2rem;
    width: 23rem;
    margin: auto !important;
    border-radius: 5px;
    border: solid  2px;
    border-color: #06a7e2;
   }

  .pgp-card_third_content {
    min-height: 4.5rem;
    max-height: 4.5rem;
    // background-color: rgb(247, 32, 32);
    background-color: #FFF;
    border-radius: 0px 5px 5px 0px;
    border-bottom: 1px solid #06a7e2;
  }

  .pgp-card_price{
    font-weight: 400;
    color: #404040 !important;
  }

  .pgp-card_title {
    width: 100%;
    color:nb-theme(pgp-color-11);
    margin-bottom: -5px;
  }

  .pgp-row_card_Margin {
    margin: auto !important;
    position: fixed;
    z-index: 2;
    width: 92%;
    background-color: #ebeff5;
    height: 90px;
    margin-top: 0px !important;
    margin-bottom: 15px !important;
  }

  .pgp-content_start{
    text-align: center;
    min-height: 4.9rem;
    max-height: 3.5rem;
    background-color: #06a7e2;
   // border-radius: 5px 0 0 5px;
    border-bottom: 1px solid #06a7e2;
    border-right: 1px solid #06a7e2;
    color: #fff;
  }

  .pgp-conten-icon{
    font-size: 2rem !important;
    margin: 1.5rem !important;   
  }

  .pgp-card_second_content{
    margin: 1rem; 
    text-align: right;
  }  

  .pgp-line{
    background-color: nb-theme(pgp-color-11); 
    height: 1.5px
  }

  .pgp-line-active{
    background-color: #06a7e2; 
    height: 1.5px
  }

  .pgp-line-inactive{
    background-color: #ffffff;
    height: 1.5px
  }

  .pgp-subtitel{
    font-family: 'Roboto';
    font-weight: normal;
    color:#06a7e2;
  }
 
  .pgp-icon-dahsboard{
    font-size: 2rem !important;
    color: #F79420 !important;
  }

  .pgp-text-dahsboard{
    text-align: left;
    font-size: large;
    padding: 0;
    margin-top: 2px;
  }

  .pgp-number-dahsboard{
    font-size: large;
    color: #00a7e1;
    font-weight: bold;
  }

  .pgp-row_dashboard{
    margin-top: 10px; 
    color: #817b7b; 
    padding-left: 1rem;
  }
  
  .pgp-buton-dahsboard{
    font-family: 'Roboto';
    color: #06a7e2;
    border: solid 1.5px #06a7e2;
    background-color: white;
    height: 2.5rem;
    width: 15rem;
  }

  .pgp-rounded_border{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

}