<div class="row pgp-backgroud_layout font_family_roboto pr-4" style="background-color: #ebeff5;">
  <div class="col-12">
    <div class="row pgp-row_card_Margin">
      <div class="col col-lg-4 col-md-4 mt-2">
        <div class="card cardsMenus">
          <div class="row p-0 m-0">
            <div class="col-3 p-0">
              <div class="pgp-content_start">
                <i class="fas fa-box-open pgp-conten-icon"></i>
              </div>
            </div>
            <div class="col-9 p-0">
              <div class="pgp-card_second_content">
                <div>
                  <h4 class="pgp-card_title d-inline-block text-truncate font_family_roboto pgp-card_price">{{obj_cards_dashboard[0]?.ProductCode}}</h4>
                </div>
                <div>
                  <h6 class="pgp-card_title d-inline-block text-truncate font_family_roboto">{{ DATA_LANG?.lbProductCode.text }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-lg-4 col-md-4 mt-2">
        <div class="card cardsMenus">
          <div class="row p-0 m-0">
            <div class="col-3 p-0">
              <div class="pgp-content_start">
                <i class="fas fa-dollar-sign pgp-conten-icon"></i>
              </div>
            </div>
            <div class="col-9 p-0 ">
              <div class="pgp-card_second_content">
                <div>
                  <h4 class="pgp-card_title d-inline-block text-truncate font_family_roboto pgp-card_price">${{obj_cards_dashboard[1]?.IncomeNet | number : '1.0-0' }}</h4>
                </div>
                <div>
                  <h6 class="pgp-card_title d-inline-block text-truncate font_family_roboto">{{ DATA_LANG?.lbNetSales.text }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-lg-4 col-md-4 mt-2">
        <div class="card cardsMenus">
          <div class="row p-0 m-0">
            <div class="col-3 p-0">
              <div class="pgp-content_start">
                <i class="fas fa-donate pgp-conten-icon"></i>
              </div>
            </div>
            <div class="col-9 p-0">
              <div class="pgp-card_second_content">
                <div>
                  <h4 class="pgp-card_title d-inline-block text-truncate font_family_roboto pgp-card_price">${{obj_cards_dashboard[2]?.GrossContribution | number : '1.0-0' }}</h4>
                </div>
                <div>
                  <h6 class="pgp-card_title d-inline-block text-truncate font_family_roboto">{{ DATA_LANG?.lbGrossContribution.text }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row ml-2 mt-4 mr-2 mb-0" style="margin-top: 100px !important;">
      <div class="col-md-6 col-xs-12 text-center pgp-pointer mt-2 pgp-rounded_border" [ngClass]="{'pgp-icon_state_view_data_active': (layoud_component_display == 'ProyecResult'), 'pgp-icon_state_view_data_inactive': (layoud_component_display == 'revPorta')}">
        <div class="row">
          <div class="col-12 pt-4 pb-2">
            <h4 class="font_family_roboto" [ngClass]="{'pgp-icon_state_view_data_active': (layoud_component_display == 'ProyecResult'), 'pgp-icon_state_view_data_inactive': (layoud_component_display == 'revPorta')}"
              (click)="fnSwitchViewData('ProyecResult')">{{ DATA_LANG?.lbOutcomePro.text }}</h4>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 text-center pgp-pointer mt-2 pgp-rounded_border" [ngClass]="{'pgp-icon_state_view_data_active': (layoud_component_display == 'revPorta'), 'pgp-icon_state_view_data_inactive': (layoud_component_display == 'ProyecResult')}">         
        <div class="row">
          <div class="col-12 pt-4 pb-2">
            <h4 class="font_family_roboto" [ngClass]="{'pgp-icon_state_view_data_active': (layoud_component_display == 'revPorta'), 'pgp-icon_state_view_data_inactive': (layoud_component_display == 'ProyecResult')}"
              (click)="fnSwitchViewData('revPorta')">{{ DATA_LANG?.lbOutcomePort.text }}</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row ml-2 mt-0 mr-2 pb-4 pt-4" style="background-color: #fff">
      <div class="col-md-6 col-xs-12 text-center">
        <div *ngIf="layoud_component_display == 'ProyecResult'">
          <div class="p-0 m-0" [nbSpinner]="loadingChartPR">
            <p style="text-align: left;">{{ DATA_LANG?.lbOutcomeProDesc.text }}</p>
            <google-chart #chart [title]="title_gc" [type]="type_gc" [data]="dataChart_gc" [columnNames]="columnNames_gc" [options]="options_gc"
              [width]="width_gc" [height]="height_gc"> </google-chart>
          </div>
        </div>
        <div *ngIf="layoud_component_display == 'revPorta'" style="width: 100%;height: auto;min-height: 400px;" [nbSpinner]="loadingChartRP">
          <div class="p-0 m-0">
            <p style="text-align: left;">{{ DATA_LANG?.lbOutcomePortDesc.text }}</p>
            <google-chart #chart   *ngIf="showChart" [title]="title_gs" [type]="type_gs" [data]="dataChart_gs" [columnNames]="columnNames_gs" [options]="options_gs"
              [width]="width_gs" [height]="height_gs"> </google-chart>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 text-center">
        <div style="width: 100%; margin-left: 64px !important;" *ngIf="layoud_component_display == 'ProyecResult'">
          <div class="row" style="margin-top: 55px;">
            <div class="col-2" style="padding: 0">
              <i class="fas fa-money-bill-wave pgp-icon-dahsboard"></i>
            </div>
            <div class="col-7 pgp-text-dahsboard">{{ DATA_LANG?.lbAverageVar.text }}</div>
            <div class="col-2 pgp-number-dahsboard">{{data_dashboard[0]?.dPriceWithVATVar}}%</div>
          </div>
          <div class="row" style="margin-top: 55px">
            <div class="col-2" style="padding: 0">
              <i class="fas fa-chart-bar pgp-icon-dahsboard"></i>
            </div>
            <div class="col-7 pgp-text-dahsboard">{{ DATA_LANG?.lbVolumenVar.text }}</div>
            <div class="col-2 pgp-number-dahsboard">{{data_dashboard[1]?.dUnitsYearVar}}%</div>
          </div>
          <div class="row" style="margin-top: 55px">
            <div class="col-2" style="padding: 0">
              <i class="fas fa-dollar-sign pgp-icon-dahsboard"></i>
            </div>
            <div class="col-7 pgp-text-dahsboard">{{ DATA_LANG?.lbNetSalesVar.text }}</div>
            <div class="col-2 pgp-number-dahsboard">{{data_dashboard[2]?.dIncomeYearVar}}%</div>
          </div>
          <div class="row" style="margin-top: 55px">
            <div class="col-2" style="padding: 0">
              <i class="fas fa-donate pgp-icon-dahsboard"></i>
            </div>
            <div class="col-7 pgp-text-dahsboard">{{ DATA_LANG?.lbGrossCVar.text }}</div>
            <div class="col-2 pgp-number-dahsboard">{{data_dashboard[3]?.dGrossContributionYearVar}}%</div>
          </div>
        </div>
        <div style="width: 100%; margin-left: 64px !important;" *ngIf="layoud_component_display == 'revPorta'">
          <!-- <div class="row ml-1">
            <h4 class="pgp-subtitel">Product List</h4>
          </div> -->
          <div class="row ml-1">
            <p style="text-align: left;">{{ DATA_LANG?.lbProductListDesc.text }}</p>
          </div>
          <div class="row">
            <div class="container">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 pgp-subtitel" style="text-align: left; padding: initial;">
                  <div class="row pgp-row_dashboard" style="margin-top: 34px;">
                    <div class="col-6 pgp-subtitel">
                      {{ DATA_LANG?.colNProd.text }}
                    </div>
                    <div class="col-4 text-center text-truncate pgp-subtitel" style="max-width: 282px !important;">
                      {{ DATA_LANG?.colNSugPriceVar.text }}
                    </div>
                  </div>                
                  <br>
                  <div class="row pgp-row_dashboard" *ngFor="let item_product of list_forecast_results | paginate: { id: 'server', itemsPerPage: numItemsPage, currentPage: currentPage, totalItems: totalItems }; let i = index;">
                    <div class="col-6 text-truncate">
                      {{item_product.tProductName}}
                    </div>
                    <div class="col-4 text-center">
                      {{(item_product?.dPriceWithVATVar_Suggested | number : '1.1-1') + '%' }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">&nbsp;</div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
              <div class="text-left" *ngIf="list_forecast_results.length >= 1">
                <pagination-controls (pageChange)="getPage($event)" id="server" previousLabel="{{ DATA_LANG_GENERAL?.previousPage.text }}" nextLabel="{{ DATA_LANG_GENERAL?.nextPage.text }}"></pagination-controls>
              </div>
            </div>
            <div class="col-xl-12 col-lg-4 col-md-4 col-sm-4" *ngIf="false">
              <div class="text-center pgp-font_paginator" *ngIf="list_forecast_results.length > 1">
                <div class="text-right pgp-font_paginator" *ngIf="list_forecast_results.length > 1">
                  Items showed {{ (((currentPage * numItemsPage) - ((currentPage * numItemsPage) / currentPage)) + 1 ) }} - {{ (list_forecast_results.length
                  < (currentPage * numItemsPage)) ? list_forecast_results.length : (currentPage * numItemsPage) }} of {{ totalItems }} </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row ml-2 mr-2 mb-2" style="background-color: #fff">
        <div class="col-12 text-center pb-3" *ngIf="layoud_component_display == 'ProyecResult'">
          <button class="pgp-buton-dahsboard" (click)="redirectResultProjection()"> {{ DATA_LANG?.buttonGoOutcomePro.text }} ></button>
        </div>
      </div>
    </div>