<div class="row pgp-backgroud_layout">
    <div class="container bootstrap snippet">
        <div class="row">
                <div class="col-sm-10">
                    <h1 class="font_family_roboto"></h1>
                </div>
            <!-- <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div> -->
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--left col-->
                <!-- <div class="text-center">
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-fluid img-thumbnail pgp-image_profile m-2" alt="avatar">
                    <h6 class="font_family_roboto">Upload a different photo...</h6> -->
                    <!-- <input type="file" class="text-center center-block file-upload"> -->
                <!-- </div> -->
                <br>
                <!-- <div class="panel panel-default">
                    <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
                    <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
                </div> -->

                <div class="card">
                    <!-- <div class="card-header font_family_roboto">
                        Featured
                    </div> -->
                    <ul class="list-group list-group-flush p-0">
                        <li class="list-group-item list-group-item-action pgp-pointer" (click)="option_menu = 1">
                            <i class="fas fa-users-cog pgp-fs_icon_list"></i>&nbsp;&nbsp;&nbsp;<h6 class="pgp-title_item_list m-0 font_family_roboto">{{ DATA_LANG?.accountliPersonalInfo.text }}</h6>
                            <i class="fas fa-check-circle pgp-fs_icon_list pgp-fs_icon_right_list" *ngIf="option_menu == 1"></i>
                        </li>
                        <li class="list-group-item list-group-item-action pgp-pointer" (click)="option_menu = 2">
                            <i class="fas fa-key pgp-fs_icon_list"></i>&nbsp;&nbsp;&nbsp;<h6 class="pgp-title_item_list m-0 font_family_roboto">{{ DATA_LANG?.accountliChangePassword.text }}</h6>
                            <i class="fas fa-check-circle pgp-fs_icon_list pgp-fs_icon_right_list" *ngIf="option_menu == 2"></i>
                        </li>
                        <!-- <li class="list-group-item list-group-item-action pgp-pointer" (click)="option_menu = 3">
                            <i class="fas fa-cog pgp-fs_icon_list"></i>&nbsp;<h6 class="pgp-title_item_list m-0 font_family_roboto">Other settings</h6>
                            <i class="fas fa-check-circle pgp-fs_icon_list pgp-fs_icon_right_list" *ngIf="option_menu == 3"></i>
                        </li> -->
                    </ul>
                </div>
                

                <!-- <div class="panel panel-default">
                    <div class="panel-heading">Social Media</div>
                    <div class="panel-body">
                        <i class="fas fa-facebook fa-2x"></i>
                        <i class="fas fa-github fa-2x"></i>
                        <i class="fas fa-twitter fa-2x"></i>
                        <i class="fa fa-pinterest fa-2x"></i>
                        <i class="fa fa-google-plus fa-2x"></i>
                    </div>
                </div> -->
            </div>
            <!--/col-3-->
            <div class="col-sm-9">
                <nb-card *ngIf="option_menu == 1">
                    <nb-card-body>
                        <div class="row col-12 m-0">
                            <!-- <h2 class="font_family_roboto">Personal information</h2> -->
                            <i (click)="fnActivateEditState()" class="fas fa-user-edit fa-2x pgp-icon_edit_personal_info pgp-pointer"></i>
                            <form class="form col-12 p-0 mt-4" (ngSubmit)="fnUpdateDataPersonalInformation(personal_info)" #form="ngForm" aria-labelledby="title" id="personal_information">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="first_name">
                                            <h5 class="font_family_roboto">{{ DATA_LANG?.accountlbFirstName.text }}</h5>
                                        </label>
                                        <input 
                                            [(ngModel)]="personal_info.tFirstName" 
                                            #firstName="ngModel" 
                                            type="text" 
                                            class="form-control disabled" 
                                            name="first_name" 
                                            id="first_name" 
                                            placeholder="{{ DATA_LANG?.accounttbFirstName.text }}" 
                                            [disabled]="state"
                                            title="Enter your first name if any.">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="last_name">
                                            <h5 class="font_family_roboto">{{ DATA_LANG?.accountlbLastName.text }}</h5>
                                        </label>
                                        <input 
                                            [(ngModel)]="personal_info.tLastName" 
                                            #lastName="ngModel" 
                                            type="text" 
                                            class="form-control" 
                                            name="last_name" 
                                            id="last_name" 
                                            placeholder="{{ DATA_LANG?.accounttbLastName.text }}" 
                                            [disabled]="state"
                                            title="Enter your last name if any.">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="email">
                                            <h5 class="font_family_roboto">{{ DATA_LANG?.accountlbEmail.text }}</h5>
                                        </label>
                                        <input 
                                            [(ngModel)]="personal_info.tEmail" 
                                            #email="ngModel" 
                                            type="email" 
                                            class="form-control" 
                                            name="email" 
                                            id="email" 
                                            placeholder="{{ DATA_LANG?.accounttbEmail.text }}" 
                                            [disabled]="state"
                                            value="gpinilla@roojo.tech"
                                            title="Enter your email.">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <!-- <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                        <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button> -->
                                        <button class="mt-3" 
                                            type="submit" 
                                            id="pgp-update_personal_information"
                                            nbButton 
                                            class="pgp-pointer font_family_roboto"
                                            [disabled]="state" 
                                            [class.btn-pulse]="submited_state"
                                            status="info">{{ DATA_LANG?.accountButtonSave.text }}</button>
                                        &nbsp;&nbsp;
                                        <button class="mt-3" 
                                            type="button"
                                            id="pgp-cancel_update_personal_information"
                                            nbButton 
                                            class="pgp-pointer font_family_roboto" 
                                            [disabled]="state" 
                                            [class.btn-pulse]="submited_state"
                                            (click)="fnCancelEditPersonalInformation()"
                                            status="danger">{{ DATA_LANG?.accountButtonCancel.text }}</button>
                                    </div>
                                </div>
                            </form>
                            <hr>
                        </div>
                    </nb-card-body>
                </nb-card>
                <nb-card *ngIf="option_menu == 2">
                    <nb-card-body>
                        <div class="row col-12 m-0">
                            <i *ngIf="false" (click)="fnActivateEditStatePassword()" class="fas fa-user-edit fa-2x pgp-icon_edit_personal_info pgp-pointer"></i>
                            <form class="form col-12 p-0 mt-4" (ngSubmit)="fnUpdatePasswordUser(change_password)" #form="ngForm" aria-labelledby="title" id="change_password">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="password">
                                            <h5 class="font_family_roboto">{{ DATA_LANG?.accountlbCurrentPass.text }}</h5>
                                        </label>
                                        <input 
                                            [(ngModel)]="change_password.tCurrentPassword" 
                                            #currentPassword="ngModel" 
                                            type="password" 
                                            class="form-control" 
                                            name="current_password" 
                                            id="current_password" 
                                            placeholder="{{ DATA_LANG?.accounttbCurrentPass.text }}" 
                                            title="Enter your password.">
                                        <!-- <i class="far fa-eye"></i> -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="password">
                                            <h5 class="font_family_roboto">{{ DATA_LANG?.accountlbNewPass.text }}</h5>
                                        </label>
                                        <input 
                                            [(ngModel)]="change_password.tPassword" 
                                            #new_password="ngModel" 
                                            type="password" 
                                            class="form-control d-inline-block" 
                                            name="new_password" 
                                            id="new_password" 
                                            placeholder="{{ DATA_LANG?.accounttbNewPass.text }}" 
                                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                                            title="Enter your password.">
                                        <i *ngIf="new_password.invalid" class="fas fa-exclamation-triangle pgp-icon_alert info" container="body" isOpen="true" [tooltip]="popTemplate" placement="right" triggers="mouseenter:click" style="position: absolute !important; margin: 1rem; color: #156282;"></i>
                                        <ng-template #popTemplate id="tooltip-content">
                                            <strong>{{ DATA_LANG?.accountAlertPassOne.text }} </strong><br />
                                            <strong><i class="far fa-check-circle"></i></strong> {{ DATA_LANG?.accountAlertPassTwo.text }}<br />
                                            <strong><i class="far fa-check-circle"></i></strong> {{ DATA_LANG?.accountAlertPassThree.text }}<br />
                                            <strong><i class="far fa-check-circle"></i></strong> {{ DATA_LANG?.accountAlertPassFour.text }}<br />
                                            <strong><i class="far fa-check-circle"></i></strong> {{ DATA_LANG?.accountAlertPassFive.text }}<br />
                                        </ng-template>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="password2">
                                            <h5 class="font_family_roboto">{{ DATA_LANG?.accountlbConfirmPass.text }}</h5>
                                        </label>
                                        <input 
                                            [(ngModel)]="change_password.tConfirmPassword" 
                                            #confirmPassword="ngModel" 
                                            type="password" 
                                            class="form-control d-inline-block" 
                                            name="confirm_new_password" 
                                            id="confirm_new_password" 
                                            placeholder="{{ DATA_LANG?.accounttbConfirmPass.text }}" 
                                            title="Enter your confirm new password.">
                                        <i *ngIf="change_password.tPassword != change_password.tConfirmPassword" class="fas fa-exclamation-triangle pgp-icon_alert info" container="body" isOpen="true" [tooltip]="pop_temp_confirm_password" placement="right" triggers="mouseenter:click" style="position: absolute !important; margin: 1rem; color: #156282;"></i>
                                        <ng-template #pop_temp_confirm_password id="tooltip-content">
                                            <strong>{{ DATA_LANG?.accountAlertPassCoincide.text }}</strong><br />
                                        </ng-template>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <!-- <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                        <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button> -->
                                        <button class="mt-3" 
                                            type="submit"
                                            id="pgp-update_password"
                                            nbButton 
                                            class="pgp-pointer font_family_roboto" 
                                            [disabled]="!change_password.tCurrentPassword || !change_password.tPassword || !change_password.tConfirmPassword || state_password || change_password.tPassword != change_password.tConfirmPassword" 
                                            [class.btn-pulse]="submited_state_password"
                                            status="info">{{ DATA_LANG?.accountButtonSavePass.text }}</button>
                                        &nbsp;&nbsp;
                                        <button class="mt-3" 
                                            type="button" 
                                            id="pgp-cancel_update_password"
                                            nbButton 
                                            class="pgp-pointer font_family_roboto" 
                                            [disabled]="state_password" 
                                            [class.btn-pulse]="submited_state_password"
                                            (click)="fnCancelEditChangePassword()"
                                            status="danger">{{ DATA_LANG?.accountButtonCancelPass.text }}</button>
                                    </div>
                                </div>
                            </form>
                            <hr>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
            <!--/tab-content-->
        </div>
        <!--/col-9-->
    </div>
    <!--/row-->  
</div>
