<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto pgp-card_content">
        <nb-card-header class="font_family_roboto">{{ DATA_LANG?.forResMElbTittle.text }}</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <form (ngSubmit)="fnUpdateData(obj_form)" #editmarketpriceValueForm="ngForm" aria-labelledby="title" style="min-width: 500px; max-width: 500px;">
                <div class="col-12 pl-0 pr-0">
                  <div class="form-group">
                    <label style="font-weight: bold;">{{ DATA_LANG?.forResMElbProdCode.text }}: {{obj_form.tProductCode}}</label>
                    <br>
                    <label style="font-weight: bold;">{{ DATA_LANG?.forResMElbProdName.text }}: {{obj_form.tProductName}}</label>
                    <br>
                    <label style="font-weight: bold;">{{ DATA_LANG?.forResMElbPriceList.text }}: {{obj_form.tPriceListName}}</label>
                  </div>
                  <div class="form-group">
                    <label for="pgp-input_SuggestedPriceWithVAT_User">{{ DATA_LANG?.forResMElbPrice.text }}: </label>
                    <input class="text-left" nbInput [(ngModel)]="obj_form.dPriceWithVAT_User" placeholder="{{ DATA_LANG?.forResMEtbPrice.text }}" type="number" id="pgp-input_dPriceWithVAT_User" name="dPriceWithVAT_User" autofocus type="text" class="form-control" style="height: 45px;">
                  </div>
                  <button type="submit" class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" id="pgp-btn_save_new_market_prices" [disabled]="!obj_form.dPriceWithVAT_User || obj_form.dPriceWithVAT_User < 0"
                    [class.btn-pulse]="submitted" status="info">{{ DATA_LANG?.forResMEButtonSave.text }}</button>
                  &nbsp;&nbsp;&nbsp;
                  <button class="pgp-pointer font_family_roboto" type="button" id="pgp-btn_cancel_save_new_market_prices_data" nbButton [class.btn-pulse]="submitted"
                    (click)="fnCancelEdit()" status="danger">{{ DATA_LANG?.forResMEButtonCancel.text }}</button>
                </div>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>