@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  button:focus {
    outline: 0;
    cursor: pointer;
  }
  
  .title {
    text-align: center;
  }

  .font_family_roboto {
    font-family: 'Roboto';
  }

  .font_family_exo {
    font-family: 'exo';
  }

  #pgp-btn_save_new_category {
    text-transform: none;
    width: nb-theme(pgp-width-btn-crud);       
  }
  
  #pgp-btn_cancel_save_new_category {
    text-transform: none;
    background-color: nb-theme(pgp-color-11);   
    width: nb-theme(pgp-width-btn-crud);   
  }
  
  .pgp-backgroud_layout {
    background-color: #FFF;
  }
  
  .sub-title {
    text-align: center;
    display: block;
    margin-bottom: 3rem;
  }
  
  .pgp-btn_success {
    background-color: nb-theme(pgp-color-1);
    cursor: pointer;
  }

  #pgp-rating_perceived_competitor_weight:focus {
    border-color: nb-theme(pgp-color-1);
  }
  
  #pgp-rating_perceived_competitor_qualification:focus {
    border-color: nb-theme(pgp-color-1);
  }

  #pgp-comment_rating_perceived {
    border-color: none;
  }
  
  #pgp-comment_rating_perceived:focus {
    border-color: nb-theme(pgp-color-1);
  }

  .pgp-fs_icon_list {
    font-size: 1.5rem;
    vertical-align: sub;
    color: nb-theme(pgp-color-3);
  }

  .pgp-fs_icon_right_list {
    position: absolute;
    right: 1rem;
    color: nb-theme(pgp-color-6);
  }

  .pgp-pointer {
    cursor: pointer;
  }

  ::ng-deep nb-dialog-container {
    height: 80vw;
    max-width: 95vw;
    max-height: 81vh;
  }

  .pgp-title_item_list {
    display: inline-block;
  }

  ::ng-deep nb-card-header {
    display: block !important;
  }

  ::ng-deep {
    .tooltip-inner {
        width: 12rem;
        background-color: #ff4c6a;
        color: #fff;
        text-align: left;
    }

    .tooltip-arrow {
        border-right-color: #ff4c6a !important;
    }
    
    .tooltip-arrow::before {
        border-right-color: #ff4c6a !important;
    }
  }

  .pgp-icon_alert {
    position: absolute;
    padding: 0.7rem;
    cursor: pointer;
    color: #ff4c6a;
  }

  ::ng-deep .ng-select .ng-select-container {
    // height: 45px;
    min-height: 45px;
  }

  ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input {
      line-height: 1.8;
  }

  ::ng-deep .ng5-slider .ng5-slider-pointer {
      cursor: pointer;
      width: 16px;
      height: 16px;
      top: -5px;
      background-color: nb-theme(pgp-color-3);
      z-index: 3;
      border-radius: 16px;
      outline: none !important;
  }
  
  ::ng-deep .ng5-slider .ng5-slider-pointer:after {
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      top: 4px;
      left: 4px;
      border-radius: 4px;
      background: #fff;
  }

  ::ng-deep  .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
    top: 12px;
    padding-bottom: 0px !important;
    padding-left: 3px;
  }

  .pgp-input {
    border-color: none;
    width: 100px;
  }
  
  .pgp-input:focus {
    border-color: nb-theme(pgp-color-1);
  }

  .pgp-advance_search_input{
    width: 100%; 
    padding: 0.5rem; 
    height: 44px;
  }


  /*********************** Start Style switch ****************/
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 18px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #06A7E2;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #06A7E2;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  /*********************** End Style switch ****************/

  #input-dMinimumPriceReduction:focus {
      border-color: nb-theme(pgp-color-1);
  }
  #input-dMinimumPriceReduction2:focus {
      border-color: nb-theme(pgp-color-1);
  }
  #input-dMinimumPriceReduction3:focus {
      border-color: nb-theme(pgp-color-1);
  }

  #input-dMaximumPriceReduction:focus {
    border-color: nb-theme(pgp-color-1);
  }
  #input-dMaximumPriceReduction2:focus {
    border-color: nb-theme(pgp-color-1);
  }
  #input-dMaximumPriceReduction3:focus {
    border-color: nb-theme(pgp-color-1);
  }

  #input-dMaximumPriceIncrease:focus {
    border-color: nb-theme(pgp-color-1);
  }

  // .pgp_content_data {
  //   border-color: red;
  // }

}
