<div class="container-fliud">
  <div class="row">
    <div class="col-12">
      <nb-card class="font_family_roboto pgp-card_content" size="large" [nbSpinner]="state_loading" nbSpinnerStatus="info">
        <nb-card-header class="font_family_roboto">{{ DATA_LANG?.priceCMAlbTittle.text }}</nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row ml-0 mr-0">
              <form (ngSubmit)="fnSaveConfigVersion(data_form_settings_version)" [formGroup]="myForm" #form="ngForm" aria-labelledby="title"
                style="min-width: 600px; max-width: 600px;">
                <p class="font_family_roboto">{{ DATA_LANG?.priceCMAlbDesc.text }}</p>
                <div class="col-12 row m-0 p-0">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 pr-1 pl-0 mt-1 mb-1">
                    <div class="col-sm-12">
                      {{ DATA_LANG?.priceCMAlbUseP.text }}
                      <span>
                        <i class="far fa-question-circle pgp-pointer" (click)="open(DATA_LANG?.priceCMAUsePTooltipTittle.text,DATA_LANG?.priceCMAUsePTooltipDesc.text)"></i>
                      </span>
                      <div class="row">
                        <label class="m-3">
                          <p>{{ DATA_LANG?.priceCMAlbUsePNo.text }}</p>
                        </label>
                        <div class="mt-3 mb-3">
                          <label class="switch m-0">
                            <input type="checkbox" checked [ngModelOptions]="{standalone: true}" [(ngModel)]="data_form_settings_version.bRoundPsychologicalPrices">
                            <span class="slider round"></span>
                          </label>
                        </div>
                        <label class="m-3">
                          <p>{{ DATA_LANG?.priceCMAlbUsePYes.text }}</p>
                        </label>
                      </div>
                    </div>
                    <br>
                  </div>
                  <br>
                </div>
                <div class="row col-12 m-0 p-0">
                  <div class="col-xl-12 col-lg-12 col-md-12 pl-0 pr-0 ml-4">
                    <div class="row pgp-row_head mb-4 mt-2 pl-0">
                      <div class="col-md-2 col-xs-12 col-sm-12 pl-0 mb-2 text-left">
                        {{ DATA_LANG?.priceCMAColnProdType.text }}
                        <span>
                          <i class="far fa-question-circle pgp-pointer" (click)="open(DATA_LANG?.priceCMAColnProdTypeTooltipTittle.text,DATA_LANG?.priceCMAColnProdTypeTooltipDesc.text)"></i>
                        </span>
                      </div>
                      <div class="col-md-3 col-xs-12 col-sm-12 mb-2 text-left">
                        {{ DATA_LANG?.priceCMAColnMinPrice.text }}
                        <span>
                          <i class="far fa-question-circle pgp-pointer" (click)="open(DATA_LANG?.priceCMAColnMinPriceTooltipTittle.text,DATA_LANG?.priceCMAColnMinPriceTooltipDesc.text)"></i>
                        </span>
                      </div>
                      <div class="col-md-3 col-xs-12 col-sm-12 mb-2 text-left">
                        {{ DATA_LANG?.priceCMAColnMaxPrice.text }}
                        <span>
                          <i class="far fa-question-circle pgp-pointer" (click)="open(DATA_LANG?.priceCMAColnMaxPriceTooltipTittle.text,DATA_LANG?.priceCMAColnMaxPriceTooltipDesc.text)"></i>
                        </span>
                      </div>
                      <div class="col-md-3 col-xs-12 col-sm-12 mb-2 text-left">
                        {{ DATA_LANG?.priceCMAColnMaxIncrease.text }}
                        <span>
                          <i class="far fa-question-circle pgp-pointer" (click)="open(DATA_LANG?.priceCMAColnMaxIncreaseTooltipTittle.text,DATA_LANG?.priceCMAColnMaxIncreaseTooltipDesc.text)"></i>
                        </span>
                      </div>
                    </div>
                    <div class="row pgp-row mb-3 mt-3">
                      <div class="col-md-2 col-xs-12 col-sm-12 pl-0 mb-2 text-center">
                        {{ data_types[0]?.tProductTypeName }}
                      </div>
                      <div class="col-md-3 col-xs-12 col-sm-12 mb-2">
                        <input nbInput 
                        [ngClass]="{'pgp_content_data': (!data_types[0]?.dMinimumPriceReduction)}" [ngModel]="data_types[0]?.dMinimumPriceReduction | percent:'1.1-1'"
                          fullWidth autofocus placeholder="Minimum price reduction" id="input-dMinimumPriceReduction" name="dMinimumPriceReduction"
                          (blur)="onBlurMethod(0,'dMinimumPriceReduction',$event);"  class="text-right" formControlName="dMinimumPriceReduction1">
                        <div *ngIf="myForm.controls['dMinimumPriceReduction1'].invalid && (myForm.controls['dMinimumPriceReduction1'].dirty || myForm.controls['dMinimumPriceReduction1'].touched)"
                          class="text-danger">
                          <div *ngIf="myForm.controls['dMinimumPriceReduction1'].errors?.min || myForm.controls['dMinimumPriceReduction1'].errors?.max">
                            The min percentage is -100% and the max percentage is 0%
                          </div>
                          <div *ngIf="myForm.controls.dMinimumPriceReduction1.errors?.required">
                            {{ DATA_LANG?.priceCMAAlertValue.text }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 col-xs-12 col-sm-12 mb-2">
                        <input nbInput fullWidth [ngClass]="{'pgp_content_data': (!data_types[0]?.dMaximumPriceReduction)}" [ngModel]="data_types[0]?.dMaximumPriceReduction | percent:'1.1-1'"
                          autofocus placeholder="Minimum price reduction" id="input-dMaximumPriceReduction" name="dMaximumPriceReduction"
                          (blur)="onBlurMethod(0,'dMaximumPriceReduction',$event);" 
                          class="text-right" formControlName="dMaximumPriceReduction1">
                        <div *ngIf="myForm.controls['dMaximumPriceReduction1'].invalid && (myForm.controls['dMaximumPriceReduction1'].dirty || myForm.controls['dMaximumPriceReduction1'].touched)"
                          class="text-danger">
                          <div *ngIf="myForm.controls['dMaximumPriceReduction1'].errors?.min || myForm.controls['dMaximumPriceReduction1'].errors?.max">
                            The min percentage is -100% and the max percentage is 0%
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 col-xs-12 col-sm-12 mb-2">
                        <input nbInput fullWidth [ngClass]="{'pgp_content_data': (!data_types[0]?.dMaximumPriceIncrease)}" [ngModel]="data_types[0]?.dMaximumPriceIncrease | percent:'1.1-1'"
                          autofocus placeholder="Minimum price reduction" id="input-dMaximumPriceIncrease" name="dMaximumPriceIncrease"
                          (keydown)="onKeydown($event)" (blur)="onBlurMethod(0,'dMaximumPriceIncrease',$event)" 
                          class="text-right" formControlName="dMaximumPriceIncrease1">
                        <div *ngIf="myForm.controls['dMaximumPriceIncrease1'].invalid && (myForm.controls['dMaximumPriceIncrease1'].dirty || myForm.controls['dMaximumPriceIncrease1'].touched)"
                          class="text-danger">
                          <div *ngIf="myForm.controls.dMaximumPriceIncrease1.errors?.required">
                            {{ DATA_LANG?.priceCMAAlertValue.text }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row pgp-row mb-3 mt-3">
                      <div class="col-md-2 col-xs-12 col-sm-12 pl-0 mb-2 text-center">
                        {{ data_types[1]?.tProductTypeName }}
                      </div>
                      <div class="col-md-3 col-xs-12 col-sm-12 mb-2">
                        <input nbInput fullWidth autofocus [ngClass]="{'pgp_content_data': (!data_types[1]?.dMinimumPriceReduction)}" [ngModel]="data_types[1]?.dMinimumPriceReduction | percent:'1.1-1'"
                          placeholder="Minimum price reduction" id="input-dMinimumPriceReduction2" name="dMinimumPriceReduction"
                          (blur)="onBlurMethod(1,'dMinimumPriceReduction',$event)"  class="text-right" formControlName="dMinimumPriceReduction2">
                        <div *ngIf="myForm.controls['dMinimumPriceReduction2'].invalid && (myForm.controls['dMinimumPriceReduction2'].dirty || myForm.controls['dMinimumPriceReduction2'].touched)"
                          class="text-danger">
                          <div *ngIf="myForm.controls['dMinimumPriceReduction2'].errors?.min || myForm.controls['dMinimumPriceReduction2'].errors?.max">
                            The min percentage is -100% and the max percentage is 0%
                          </div>
                          <div *ngIf="myForm.controls.dMinimumPriceReduction2.errors?.required">
                            {{ DATA_LANG?.priceCMAAlertValue.text }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 col-xs-12 col-sm-12 mb-2">
                        <input nbInput fullWidth autofocus [ngClass]="{'pgp_content_data': (!data_types[1]?.dMaximumPriceReduction)}" [ngModel]="data_types[1]?.dMaximumPriceReduction | percent:'1.1-1'"
                          placeholder="Minimum price reduction" id="input-dMaximumPriceReduction2" name="dMaximumPriceReduction"
                          (blur)="onBlurMethod(1,'dMaximumPriceReduction',$event)"  class="text-right"
                          formControlName="dMaximumPriceReduction2">
                        <div *ngIf="myForm.controls['dMaximumPriceReduction2'].invalid && (myForm.controls['dMaximumPriceReduction2'].dirty || myForm.controls['dMaximumPriceReduction2'].touched)"
                          class="text-danger">
                          <div *ngIf="myForm.controls['dMaximumPriceReduction2'].errors?.min || myForm.controls['dMaximumPriceReduction2'].errors?.max">
                            The min percentage is -100% and the max percentage is 0%
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 col-xs-12 col-sm-12 mb-2">
                        <input nbInput fullWidth autofocus [ngClass]="{'pgp_content_data': (!data_types[1]?.dMaximumPriceIncrease)}" [ngModel]="data_types[1]?.dMaximumPriceIncrease | percent:'1.1-1'"
                          placeholder="Minimum price reduction" id="input-dMaximumPriceIncrease" name="dMaximumPriceIncrease"
                          (keydown)="onKeydown($event)" (blur)="onBlurMethod(1,'dMaximumPriceIncrease',$event)" 
                          class="text-right" formControlName="dMaximumPriceIncrease2">
                        <div *ngIf="myForm.controls['dMaximumPriceIncrease2'].invalid && (myForm.controls['dMaximumPriceIncrease2'].dirty || myForm.controls['dMaximumPriceIncrease2'].touched)"
                          class="text-danger">
                          <div *ngIf="myForm.controls.dMaximumPriceIncrease2.errors?.required">
                            {{ DATA_LANG?.priceCMAAlertValue.text }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row pgp-row mb-3 mt-3">
                      <div class="col-md-2 col-xs-12 col-sm-12 pl-0 mb-2 text-center">
                        {{ data_types[2]?.tProductTypeName }}
                      </div>
                      <div class="col-md-3 col-xs-12 col-sm-12 mb-2">
                        <input nbInput fullWidth autofocus [ngClass]="{'pgp_content_data': (!data_types[2]?.dMinimumPriceReduction)}" [ngModel]="data_types[2]?.dMinimumPriceReduction | percent:'1.1-1'"
                          placeholder="Minimum price reduction" id="input-dMinimumPriceReduction3" name="dMinimumPriceReduction"
                          (blur)="onBlurMethod(2,'dMinimumPriceReduction',$event)"  class="text-right" formControlName="dMinimumPriceReduction3">
                        <div *ngIf="myForm.controls['dMinimumPriceReduction3'].invalid && (myForm.controls['dMinimumPriceReduction3'].dirty || myForm.controls['dMinimumPriceReduction3'].touched)"
                          class="text-danger">
                          <div *ngIf="myForm.controls['dMinimumPriceReduction3'].errors?.min || myForm.controls['dMinimumPriceReduction3'].errors?.max">
                            The min percentage is -100% and the max percentage is 0%
                          </div>
                          <div *ngIf="myForm.controls.dMinimumPriceReduction3.errors?.required">
                            {{ DATA_LANG?.priceCMAAlertValue.text }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 col-xs-12 col-sm-12 mb-2">
                        <input nbInput fullWidth autofocus [ngClass]="{'pgp_content_data': (!data_types[2]?.dMaximumPriceReduction)}" [ngModel]="data_types[2]?.dMaximumPriceReduction | percent:'1.1-1'"
                          placeholder="Minimum price reduction" id="input-dMaximumPriceReduction3" name="dMaximumPriceReduction"
                          (blur)="onBlurMethod(2,'dMaximumPriceReduction',$event)"  class="text-right"
                          formControlName="dMaximumPriceReduction3">
                        <div *ngIf="myForm.controls['dMaximumPriceReduction3'].invalid && (myForm.controls['dMaximumPriceReduction3'].dirty || myForm.controls['dMaximumPriceReduction3'].touched)"
                          class="text-danger">
                          <div *ngIf="myForm.controls['dMaximumPriceReduction3'].errors?.min || myForm.controls['dMaximumPriceReduction3'].errors?.max">
                            The min percentage is -100% and the max percentage is 0%
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 col-xs-12 col-sm-12 mb-2">
                        <input nbInput fullWidth [ngClass]="{'pgp_content_data': (!data_types[2]?.dMaximumPriceIncrease)}" [ngModel]="data_types[2]?.dMaximumPriceIncrease | percent:'1.1-1'"
                          autofocus placeholder="Minimum price reduction" id="input-dMaximumPriceIncrease" name="dMaximumPriceIncrease"
                          (keydown)="onKeydown($event)" (blur)="onBlurMethod(2,'dMaximumPriceIncrease',$event)" 
                          class="text-right" formControlName="dMaximumPriceIncrease3">
                        <div *ngIf="myForm.controls['dMaximumPriceIncrease3'].invalid && (myForm.controls['dMaximumPriceIncrease3'].dirty || myForm.controls['dMaximumPriceIncrease3'].touched)"
                          class="text-danger">
                          <div *ngIf="myForm.controls.dMaximumPriceIncrease3.errors?.required">
                            {{ DATA_LANG?.priceCMAAlertValue.text }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 pl-0 pr-0 text-center">
                  <button type="submit" class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" id="pgp-btn_save_new_category"
                    nbButton [class.btn-pulse]="submitted" [disabled]="!myForm.valid" status="info">{{ DATA_LANG?.priceCMAButtonApply.text }}</button>
                  &nbsp;&nbsp;&nbsp;
                  <button class="pgp-pointer font_family_roboto" type="button" id="pgp-btn_cancel_save_new_category" nbButton [class.btn-pulse]="submitted"
                    (click)="fnCancelCreateNewRatingPerceivedValue()" status="danger">{{ DATA_LANG?.priceCMAButtonCancel.text }}</button>
                </div>
              </form>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>