@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .flex-centered {
    margin: auto;
  }
  nb-card-body {
    display: flex;
  }
  
  .title {
    text-align: center;
  }
  
  .pgp-backgroud_layout {
    background-color: #FFF;
    min-height: 83vh;
  }

  .font_family_roboto {
    font-family: 'Roboto';
  }

  .pgp-w-10{
    width: 10%;
    text-align: center !important;
  }

  .pgp-w-20{
    width: 20%;
    text-align: center !important;
  }

  .pgp-w-30{
    width: 30%;
    text-align: center !important;
  }

  .pgp-w-40{
    width: 40%;
    text-align: center !important;
  }

  .pgp-w-50{
    width: 50%;
    text-align: center !important;
  }

  .pgp-w-60{
    width: 60%;
    text-align: center !important;
  }

  .pgp-text_center {
    text-align: center !important;
  }


  // .pgp-button_dots_table {
  //     border-radius: 50px;
  //     padding: 0.5rem 0.9rem;
  //     outline: none !important;
  // }
  
  .pgp-button_dots_table {
      border-radius: 50px;
      padding: 0.5rem 0.9rem;
      outline: none !important;
  }
  
  .sub-title {
    text-align: center;
    display: block;
    margin-bottom: 3rem;
  }
  
  // .btn {
  //   margin-bottom: 2rem;
  // }
  
  .pgp-btn_success {
    background-color: nb-theme(pgp-color-1);
    cursor: pointer;
    width: nb-theme(pgp-width-btn-crud);          
  }

  .pgp-table {
    color: nb-theme(pgp-color-black);
  }

  td {
    vertical-align: middle;
  }

  .pgp-img_logo_version{
    width: 3rem;
    border-radius: 50%;
  }

  .pgp-search-border-color {
    border-color: #D0D0D0
  } 

  #pgp-btn_show_modal_create_version {
    text-transform: none;
  }

  .pgp-text_color_1{
    color: nb-theme(pgp-color-1);
    font-weight: bold;
  }
  
  .pgp-text_color_1:hover{
    color: nb-theme(pgp-color-3);
  }

  .pgp-pointer {
    cursor: pointer;
  }

  .pgp-fs_icon_list {
    font-size: 1.5rem;
    color: nb-theme(pgp-color-3);
  }

  .pgp-fs_icon_right_list {
    // position: absolute;
    right: 1rem;
    color: nb-theme(pgp-color-6);
  }
  .pgp-text_input_search {
    height: 3rem;
    margin: auto;
    outline: none;
    background-color: #ffffff;
  }

  .pgp-text_input_search:focus {
    border-color: nb-theme(pgp-color-1);
  }

  .pgp-icon_input_search {
    position: absolute;
    margin-top: 1rem;
    margin-left: -2rem;
  }


}

