<div class="row pgp-backgroud_layout">
  <div class="col-12">

    <div class="row" *ngIf="true">
      <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb" style="background-color: transparent; margin-bottom: 0rem;">        
          <li class="breadcrumb-item">
            <a (click)="fnRedirectListProjects();" class="pgp-text_color_1 pgp-pointer">{{ project_name }}</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{ DATA_LANG?.breadCVersions.text }}</li>
        </ol>
      </nav>
    </div>

    <div class="row">
      <div class="col-6">
        <h1 class="font_family_roboto ">{{ DATA_LANG?.lbTiles.text }}</h1>
      </div>
      <div class="col-6 m-auto text-right">
        <button nbButton (click)="open(id_project, id_company)" id="pgp-btn_show_modal_create_version" class="pgp-btn_success font_family_roboto ">
          {{ DATA_LANG?.buttonCreate.text }}
        </button>
      </div>
    </div>
    <br><br>
    <div class="col-12 ml-0 mr-3">
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 ml-0 pl-0">         
            <!-- <div class="col-6"> -->
                <input 
                (input)="fnFilterVersions(list_versions, search_input);"
                fullWidth 
                nbInput 
                [(ngModel)]="search_input" 
                #search_versions="ngModel" 
                class="pgp-text_input_search form-control d-inline-block" 
                id="pgp-input_versions_name" 
                name="versions_name"  
                type="text" 
                placeholder="{{ DATA_LANG?.tbSearch.text }}">
                <i class="fas fa-search pgp-icon_input_search"></i> 
              <!-- </div> -->
          </div>
        </div>
        
      </div><br>
    <!-- <div class="row mt-4 mb-4" *ngIf="true">
      <div class="col-12 text-right">
          <div class="col-6">
          <input 
          (input)="fnFilterVersions(list_versions, search_input);"
          fullWidth 
          nbInput 
          [(ngModel)]="search_input" 
          #search_versions="ngModel" 
          class="pgp-text_input_search form-control d-inline-block" 
          id="pgp-input_versions_name" 
          name="versions_name"  
          type="text" 
          placeholder="Search">
          <i class="fas fa-search pgp-icon_input_search"></i> 
        </div>  
      </div>
    </div> -->
    <div class="row" *ngIf="false">
      <pre>
        {{ versions | json }}
      </pre>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <table class="table pgp-table">
          <thead>
            <tr>
              <!-- <th scope="col">Empresa</th>
              <th scope="col">Versión</th>
              <th scope="col">Creado por</th>
              <th scope="col">Ultima modificación</th>
              <th scope="col">Opciones</th> -->
              <th scope="col" class="pgp-w-20 pgp-text_center" style="text-align: left !important;">{{ DATA_LANG?.colNVersion.text }}</th>
              <th scope="col" class="pgp-w-20 pgp-text_center">{{ DATA_LANG?.colNCreatedDate.text }}</th>
              <th scope="col" class="pgp-w-20 pgp-text_center">{{ DATA_LANG?.colNDefaultVersion.text }}</th>
              <th scope="col" class="pgp-w-20 pgp-text_center">{{ DATA_LANG?.colNDeleteVersion.text }}</th>
              <!-- <th scope="col">Options</th> -->
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let version_data of versions; let i = index;"> -->
            <tr *ngFor="let version_data of versions; let i = index;">
              <td class="pgp-w-20 pgp-text_center">
                <!-- <img src="{{ (!project_data.tProjectLogo) ? project_data.tProjectLogo : 'http://ssl.gstatic.com/accounts/ui/avatar_2x.png' }}" alt="Logo project" class="img-thumbnail pgp-img_logo_project"> -->
                <nb-user class="font_family_roboto" style="font-family: roboto;" [name]="version_data.tVersionName" (click)="fnRedirectHomePage(version_data.iIDVersion)"></nb-user>
              </td>
              <td class="pgp-w-20 pgp-text_center">{{ version_data.dtCreatedDate | date: 'dd/MM/yyyy h:mm a'}}</td>
              <td class="pgp-w-20 pgp-text_center">
                <!-- <i class="fas fa-check-circle pgp-fs_icon_list pgp-fs_icon_right_list"></i> -->
                <i class="pgp-pointer" nbTooltip="{{ DATA_LANG?.toolTSelectedDefault.text }}" nbTooltipPlacement="top" (click)="fnSetDefineVersionDefault(version_data)" [ngClass]="{'far fa-circle' : (version_data.bDefault == false || !version_data.bDefault), 'fas fa-check-circle' : (version_data.bDefault == true)}"></i>
              </td>
              <td class="pgp-w-20 pgp-text_center">
                <!-- <i class="fas fa-check-circle ></i> -->
                <i class="far fa-trash-alt pgp-pointer" nbTooltip="{{ DATA_LANG?.toolTDeleteVersion.text }}" nbTooltipPlacement="top" (click)="fnShowModalDeleteProjects(version_data)"></i>
              </td>
              <!-- <td>
                <button type="button" class="btn btn-outline-secondary pgp-button_dots_table">
                  <i class="fas fa-ellipsis-v"></i>
                </button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>