@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../../@theme/styles/themes';

@include nb-install-component() {

  nb-sidebar.scrollable {
    padding-top: 0px !important;
  }

  nb-layout-column.small {
    flex: 0.15 !important;
  }

  ::ng-deep nb-sidebar .main-container-fixed {
    background: nb-theme(pgp-color-1);
  }

  nb-sidebar.settings-sidebar {
    $sidebar-width: 19rem;
    padding-top: 0px !important;
    transition: transform 0.3s ease;
    width: $sidebar-width;
    overflow: hidden;
    @include nb-ltr(transform, translateX(100%));
    @include nb-rtl(transform, translateX(-100%));
    &.start {
      @include nb-ltr(transform, translateX(-100%));
      @include nb-rtl(transform, translateX(100%));
    }

    &.expanded, &.expanded.start {
      transform: translateX(0);
    }

    /deep/ .scrollable {
      width: $sidebar-width;
      padding: 3.4rem 0.25rem;
      padding-top: 0px !important;
    }

    /deep/ .main-container {
      width: $sidebar-width;
      background: nb-theme(color-bg);
      transition: width 0.3s ease;
      overflow: hidden;

      .scrollable {
        width: $sidebar-width;
        padding-top: 0px !important;
      }

      @include nb-for-theme(cosmic) {
        background: nb-theme(layout-bg);
      }
    }
  }

  nb-sidebar.menu-sidebar {

    margin-top: nb-theme(sidebar-header-gap);

    @include nb-for-theme(corporate) {
      margin-top: 0;
    }

    /deep/ .main-container {
      height:
        calc(#{nb-theme(sidebar-height)} - #{nb-theme(header-height)}) !important;
      @include nb-ltr(border-top-right-radius, nb-theme(radius));
      @include nb-rtl(border-top-left-radius, nb-theme(radius));

      @include nb-for-theme(corporate) {
        border: 1px solid nb-theme(separator);
        height:
          calc(#{nb-theme(sidebar-height)} - #{nb-theme(header-height)}) !important;
      }
    }

    /deep/ .scrollable {
      padding-top: 0px !important;
      @include nb-for-theme(corporate) {
        .menu-item:first-child {
          border-top: none;
        }
      }
    }

    /deep/ nb-sidebar-header {
      padding-top: 1px;
      padding-bottom: 0.5rem;
      text-align: center;
    }

    background: transparent;
    // background-color: nb-theme(pgp-color-1); // PGP - Color blue

    .main-btn {
      padding: 0.75rem 2.5rem;
      margin-top: -2rem;
      font-weight: bold;
      transition: padding 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.48);

      @include nb-for-theme(corporate) {
        border-radius: nb-theme(radius);
      }

      i {
        font-size: 2rem;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      }
      span {
        @include nb-ltr(padding-left, 0.25rem);
        @include nb-rtl(padding-right, 0.25rem);
      }

      i, span {
        vertical-align: middle;
      }
    }

    /deep/ nb-menu {
      background-color: nb-theme(pgp-color-1); // PGP - Color blue
      .menu-item a{
        color: nb-theme(color-bg); // PGP - Color blue
        border-radius: nb-theme(pgp-border-radius-none);
      }
      
      .menu-item a:hover{
        background-color: nb-theme(pgp-color-3); // PGP - Color blue
        color: nb-theme(color-bg); // PGP - Color blue
        border-radius: nb-theme(pgp-border-radius-none);
      }

      .menu-item a.active {
        background-color: nb-theme(pgp-color-3); // PGP - Color blue
      }
      
      .menu-item .menu-icon {
        color: nb-theme(color-bg);
      }

      li.menu-item .menu-icon {
        // border-bottom: 0px solid nb-theme(color-bg);
        border-bottom: 0px solid #FFF;
      }

      .menu-item a.active::before {
        background: nb-theme(pgp-color-2);
      }

      .menu-items > .menu-item{
        border-bottom: 0px solid #ebeef2;
      }
      
      & > .menu-items {
        & > .menu-item:first-child {
          .menu-title {
            &::after {
              // content: 'new';
              color: nb-theme(color-white);
              margin-left: 1rem;
              background: nb-theme(color-danger);
              padding: 0 0.5rem;
              border-radius: nb-theme(radius);
              font-size: nb-theme(font-size-sm);
              font-family: 'Roboto';
            }
          }
        }
      }

      .nb-e-commerce {
        font-size: 2rem;
      }
    }

    &.compacted {

      /deep/ nb-sidebar-header {
        padding-left: 0;
        padding-right: 0;
      }

      .main-btn {
        width: 46px;
        height: 44px;
        padding: 0.375rem;
        border-radius: 5px;
        transition: none;

        span {
          display: none;
        }
      }
    }
  }

  @include media-breakpoint-down(xs) {
    .main-content {
      padding: 0.75rem !important;

    }
  }

  @include media-breakpoint-down(sm) {

    nb-sidebar.menu-sidebar {
      margin-top: 0;

      /deep/ .main-container {
        height: calc(#{nb-theme(sidebar-height)} - #{nb-theme(header-height)}) !important;
        @include nb-ltr(border-top-right-radius, 0);
        @include nb-rtl(border-top-left-radius, 0);

        .scrollable {
          padding-top: 0px;
        }
      }
    }

    .main-btn {
      display: none;
    }
  }
}
