@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  
  .title {
    text-align: center;
  }
  
  button:focus {
    outline: 0;
    cursor: pointer;
  }

  .pgp-backgroud_layout {
    background-color: #FFF;
  }

  
  .font_family_roboto {
    font-family: 'Roboto';
  }
  
  .sub-title {
    text-align: center;
    display: block;
    margin-bottom: 3rem;
  }
  
  .pgp-btn_success {
    background-color: nb-theme(pgp-color-1);
    cursor: pointer;
  }

  #pgp-btn_save_version{
    text-transform: none;
    width: nb-theme(pgp-width-btn-crud);  
    
  }
  
  #pgp-btn_cancel_save_version{
    text-transform: none;
    background-color: nb-theme(pgp-color-11);   
    width: nb-theme(pgp-width-btn-crud);   
  }

  #pgp-input_version_name:focus {
    border-color: nb-theme(pgp-color-1);
  }

  ::ng-deep nb-card-header {
    display: block !important;
  }

}

