<nb-card>
  <nb-card-header class="font_family_roboto">{{ DATA_LANG?.lbAddVersion.text }}</nb-card-header>
  <nb-card-body>
    <div class="container">
      <div class="row ml-0 mr-0">
        <form (ngSubmit)="fnAddVersion(version)" #addVersionForm="ngForm" aria-labelledby="title">
          <div class="col-12 pl-0 pr-0">
            <div class="form-group">
              <label *ngIf="ddlProyect" for="pgp-input_project_select">Project: </label>
              <!-- {{datatest | json}} -->
              <select *ngIf="ddlProyect" [(ngModel)]="version.iIDProject" nbInput style="border-radius: 0.375rem; font-size: 1rem; padding: 0.75rem 1.125rem; border-color: #4ca6ff; width: 100%; line-height: 1.5; height: 3.3rem"
                id="pgp-input_project_select" autofocus fullWidth name="cccccccc" id="cccc">
                <option [value]="project.iIDProject" *ngFor="let project of list_projects">{{project.tProjectName}}</option>
              </select>
              <!-- <br>
              <ng-select [(ngModel)]="selectedCarId">
                  <ng-option *ngFor="let car of cars" [value]="car.id" [disabled]="car.disabled" >{{car.name}}</ng-option>
                  <ng-option [value]="'custom'">Custom</ng-option>
              </ng-select> -->
              <!-- <input 
                  nbInput 
                  [(ngModel)]="version.tVersionName" 
                  #versionName="ngModel" 
                  id="pgp-input_version_name" 
                  name="version_name" 
                  autofocus 
                  fullWidth 
                  type="text" 
                  status="info" 
                  class="form-control"
                  placeholder="Version name"> -->
            </div>
            <div class="form-group">
              <label for="pgp-input_version_name">{{ DATA_LANG?.lbVersionName.text }}</label>
              <input nbInput [(ngModel)]="version.tVersionName" #versionName="ngModel" id="pgp-input_version_name" name="version_name"
                autofocus fullWidth type="text" status="info" class="form-control" style="height: 45px;" placeholder="{{ DATA_LANG?.tbVersionName.text }}">
            </div>
          </div>
          <button class="mt-3 pgp-pointer font_family_roboto" type="submit" id="pgp-btn_save_version" nbButton [class.btn-pulse]="submitted"
            [disabled]="ddlProyect ? !version.iIDProject || version.tVersionName : version.tVersionName" status="info">{{ DATA_LANG?.buttonSave.text }}</button>
          &nbsp;&nbsp;&nbsp;
          <button class="mt-3 pgp-pointer font_family_roboto" type="button" id="pgp-btn_cancel_save_version" nbButton [class.btn-pulse]="submitted"
            (click)="fnCancelSaveVersion()" status="danger">{{ DATA_LANG?.buttonCancel.text }}</button>
        </form>
      </div>
    </div>
  </nb-card-body>
</nb-card>