<div class="container">
  <div class="row">
    <div class="col-12">
        <nb-card class="font_family_roboto pgp-card_content">
            <nb-card-header class="font_family_roboto">{{ DATA_LANG?.priceCMElbTittle.text }}</nb-card-header>
            <nb-card-body>
              <div class="container">
                <div class="row ml-0 mr-0">
                  <form (ngSubmit)="fnUpdateData(obj_form)" #editmarketpriceValueForm="ngForm" aria-labelledby="title" style="min-width: 500px; max-width: 500px;">
                    <div class="col-12 pl-0 pr-0">
                      <div class="form-group">
                        <label style="font-weight: bold;">{{ DATA_LANG?.priceCMElbProdCode.text }}: {{obj_form.tProductCode}}</label>
                        <br>
                        <label style="font-weight: bold;">{{ DATA_LANG?.priceCMElbProdName.text }}: {{obj_form.tProductName}}</label>
                        <br>
                        <label style="font-weight: bold;">{{ DATA_LANG?.priceCMElbPriceL.text }}: {{obj_form.tPriceListName}}</label>
                      </div>
                      <div *ngIf="suggestedStage" class="form-group">
                        <label for="pgp-input_SuggestedSuggestedPriceWithRelationships">{{ DATA_LANG?.priceCMElbPriceRel.text }}: </label>
                        <input class="text-left" nbInput [(ngModel)]="obj_form.dSuggestedPriceWithRelationships" placeholder="{{ DATA_LANG?.priceCMEtbPriceRel.text }}" type="number" id="pgp-input_dSuggestedPriceWithRelationships" name="dSuggestedPriceWithRelationships" autofocus type="text" class="form-control" style="height: 45px;">
                      </div>
                      <div *ngIf="!suggestedStage" class="form-group">
                        <label for="pgp-input_SuggestedSuggestedPriceWithRelationships">{{ DATA_LANG?.priceCMElbPriceRel.text }}: </label>
                        <input class="text-left" nbInput [(ngModel)]="obj_form.dUserPrice" placeholder="{{ DATA_LANG?.priceCMEtbPriceRel.text }}" type="number" id="pgp-input_dSuggestedPriceWithRelationships" name="dSuggestedPriceWithRelationships" autofocus type="text" class="form-control" style="height: 45px;">
                      </div>
                      <button type="submit" class="pgp-pointer btn btn-primary pgp-btn_success font_family_roboto" id="pgp-btn_save_new" [disabled]="!obj_form.dSuggestedPriceWithRelationships || obj_form.dSuggestedPriceWithRelationships < 0"
                        [class.btn-pulse]="submitted" status="info">{{ DATA_LANG?.priceCMEButtonSave.text }}</button>
                      &nbsp;&nbsp;&nbsp;
                      <button class="pgp-pointer font_family_roboto" type="button" id="pgp-btn_cancel_save" nbButton [class.btn-pulse]="submitted"
                        (click)="fnCancelEdit()" status="danger">{{ DATA_LANG?.priceCMEButtonCancel.text }}</button>
                    </div>
                  </form>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
    </div>
  </div>
</div>