<form (ngSubmit)="fnSaveConfigVersion(data_form_settings_version)" #form="ngForm" aria-labelledby="title" id="config_version">
  <div class="row pgp-backgroud_layout font_family_roboto pr-4">
        <div class="col-lg-3 col-xl-3 col-xs-12 col-sm-12 col-md-12 text-left" style="margin-top: 20px;">
          <div>
            <pre *ngIf="false">
              {{ data_types | json }}
            </pre>
            <p class="font_family_roboto pl-4" style="color: #000;">
              {{ DATA_LANG?.settingslbDesc.text }}
            </p>
            <ul class="list-group list-group-flush p-0 border-0" id="pgp-group_items">
                <li id="pgp-item_list_1" item="1" class="list-group-item list-group-item-action pgp-pointer border-0 pgp-item_list pgp-active_item_list" (click)="option_menu = 1">
                    <h6 class="pgp-title_item_list m-0 font_family_roboto">{{ DATA_LANG?.settingsliGeneral.text }}</h6>
                </li>
                <li id="pgp-item_list_2" item="2" class="list-group-item list-group-item-action pgp-pointer border-0 pgp-item_list" (click)="option_menu = 2">
                    <h6 class="pgp-title_item_list m-0 font_family_roboto">{{ DATA_LANG?.settingsliProductType.text }}</h6>
                </li>
                <li id="pgp-item_list_3" item="3" class="list-group-item list-group-item-action pgp-pointer border-0 pgp-item_list" (click)="option_menu = 3">
                    <h6 class="pgp-title_item_list m-0 font_family_roboto">{{ DATA_LANG?.settingsliApproach.text }}</h6>
                </li>
                <!-- <li id="pgp-item_list_4" item="4" class="list-group-item list-group-item-action pgp-pointer border-0 pgp-item_list" (click)="option_menu = 4">
                    <h6 class="pgp-title_item_list m-0 font_family_roboto">{{ DATA_LANG?.settingsliPriceEdit.text }}</h6>
                </li> -->
                <li id="pgp-item_list_5" item="5" class="list-group-item list-group-item-action pgp-pointer border-0 pgp-item_list" (click)="option_menu = 5">
                    <h6 class="pgp-title_item_list m-0 font_family_roboto">{{ DATA_LANG?.settingsliComplement.text }}</h6>
                </li>
                <li id="pgp-item_list_6" item="6" class="list-group-item list-group-item-action pgp-pointer border-0 pgp-item_list" (click)="option_menu = 6">
                    <h6 class="pgp-title_item_list m-0 font_family_roboto">{{ DATA_LANG?.settingsliMarginMax.text }}</h6>
                </li>
                <li id="pgp-item_list_7" item="7" class="list-group-item list-group-item-action pgp-pointer border-0 pgp-item_list" (click)="option_menu = 7">
                    <h6 class="pgp-title_item_list m-0 font_family_roboto">{{ DATA_LANG?.settingsliVolumeMax.text }}</h6>
                </li>
                <li id="pgp-item_list_8" item="8" class="list-group-item list-group-item-action pgp-pointer border-0 pgp-item_list" (click)="option_menu = 8">
                    <h6 class="pgp-title_item_list m-0 font_family_roboto">{{ DATA_LANG?.settingsliAutomaticElast.text }}</h6>
                </li>
            </ul>
          </div>
        </div>
        <div class="col-md-9 col-xs-12" id="pgp-approach_width" style="margin-top: 20px;">
          <div *ngIf="option_menu == 1" class="pgp-form_padding" >
              <div class="form-control-group" style="width: 100%;">
                <h3 class="font_family_roboto">{{ DATA_LANG?.settingsGenerallbTittle.text }}</h3>    
                <br>
                <p class="font_family_roboto">{{ DATA_LANG?.settingsGenerallbDesc.text }}</p>
                <div class="col-12 row m-0 p-0">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 pr-1 pl-0 mt-1 mb-1">
                    {{ DATA_LANG?.settingsGenerallbLanguage.text }}
                      <span>
                        <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open('Select the display language of the application','')"></i>
                      </span>
                  <!-- <ng-select
                  [items]="lang_list"
                  placeholder="Select language"
                  [clearable]="false"
                  [(ngModel)]="current_lang"
                  [ngModelOptions]="{standalone: true}"
                  style="font-family: Roboto;"
                  (change)="fnChangeLanguage(current_lang)">
                  </ng-select> -->
                  <pre *ngIf="false">
                    {{ current_lang }}
                  </pre>
                  <ng-select [(ngModel)]="current_lang" [clearable]="false" [ngModelOptions]="{standalone: true}" (change)="fnChangeLanguage($event)">
                    <ng-option *ngFor="let item of lang_list" value="{{ item | json }}" >
                      {{item.text}}
                    </ng-option>
                  </ng-select>
                  </div> 
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 pr-1 pl-0 mt-1 mb-1">
                      <div class="col-sm-12"> 
                        {{ DATA_LANG?.settingsGenerallbCents.text }}
                        <span>
                          <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open('¿Show cents?','Choose whether the money fields (prices, costs, income, etc.) should show two decimals for cents.')"></i>
                        </span>
                          <div class="row">
                            <label class="m-3">
                              <p>{{ DATA_LANG?.settingsGenerallbCentsNo.text }}</p>
                            </label>
                          <div class="mt-3 mb-3">
                            <label class="switch m-0">
                              <input type="checkbox" checked
                              [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="data_form_settings_version.bShowCents"
                              (change)="fnChangeSourceCheck($event)">
                              <span class="slider round"></span>
                            </label>
                          </div>
                            <label class="m-3">
                              <p>{{ DATA_LANG?.settingsGenerallbCentsYes.text }}</p>
                            </label>
                        </div>                     
                      </div>
                  </div>                              
                </div>
                <br>
                <br>
                <div class="col-12 row m-0 p-0">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 pr-1 pl-0 mt-1 mb-1">
                    {{ DATA_LANG?.settingsGenerallbCurrency.text }}
                      <span>
                        <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open('Currency code','Select the currency code of your market. This code will appear in the column labels of all money fields (prices, costs, revenues, etc.)')"></i>
                      </span>
                      <ng-select 
                        [items]="list_currencies"
                        bindLabel="tCurrencyName"
                        bindValue="iIDCurrency"
                        placeholder="Select currency"
                        [clearable]="false"
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data_form_settings_version.iIDCurrency">
                      </ng-select>
                  </div> 
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 pr-1 pl-0 mt-1 mb-1">
                    <div class="col-sm-12">
                      {{ DATA_LANG?.settingsGenerallbTrend.text }}
                      <span>
                        <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open('Show trend of volume and installed capacity?','In case you prefer not to enter information in these two fields, you can choose to hide them from product information.')"></i>
                      </span>
                      <div class="row">
                        <label class="m-3">
                          <p>{{ DATA_LANG?.settingsGenerallbTrendHide.text }}</p>
                        </label>
                      <div class="mt-3 mb-3">
                        <label class="switch m-0">
                          <input type="checkbox" checked
                          [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="data_form_settings_version.bHideTrendOfVolumeInstalledCapacity"
                          (change)="fnChangeSourceCheck($event)">
                          <span class="slider round"></span>
                        </label>
                      </div>
                        <label class="m-3">
                          <p>{{ DATA_LANG?.settingsGenerallbTrendShow.text }}</p>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div *ngIf="option_menu == 2" class="pgp-form_padding" >
            <div class="form-control-group" style="width: 100%;">
                <div class="row col-12 m-0 p-0">
                    <br>
                    <div class="col-12 pl-0"><h3 class="font_family_roboto">{{ DATA_LANG?.settingsProdlbTittle.text }}</h3></div>
                    <div style="margin-bottom: 53px"></div> 
                    <div class="col-12 pl-0"><p class="font_family_roboto">{{ DATA_LANG?.settingsProdlbDesc.text }}</p></div>
                    <div style="margin-bottom: 53px"></div>
                    <div class="row col-12 m-0 p-0">
                    <div class="col-xl-12 col-lg-12 col-md-12 pl-0 pr-0 ">
                      <div class="row pgp-row_head mb-4 mt-2 pl-0">
                        <div class="col-md-2 col-xs-12 col-sm-12 pl-0 mb-2 text-left">
                          {{ DATA_LANG?.settingsProdColNProdType.text }}
                          <span>
                            <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.settingsProdColNProdTypeTooltipTittle.text,DATA_LANG?.settingsProdColNProdTypeTooltipDesc.text)"></i>
                          </span>
                        </div>
                        <div class="col-md-5 col-xs-12 col-sm-12 mb-2 text-left">
                          {{ DATA_LANG?.settingsProdColNPriceLev.text }}
                          <span>
                            <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.settingsProdColNPriceLevTooltipTittle.text,DATA_LANG?.settingsProdColNPriceLevTooltipDesc.text)"></i>
                          </span>
                        </div>
                        <div class="col-md-5 col-xs-12 col-sm-12 mb-2 text-left">
                          {{ DATA_LANG?.settingsProdColNPriceWe.text }}
                          <span>
                            <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.settingsProdColNPriceWeTooltipTittle.text,DATA_LANG?.settingsProdColNPriceWeTooltipDesc.text)"></i>
                          </span>
                        </div>
                      </div>
                      <pre *ngIf="false">
                        {{ data_types[0] | json}} 
                      </pre>
                      <div class="row pgp-row mb-3 mt-3">
                        <div class="col-md-2 col-xs-12 col-sm-12 pl-0 mb-2">
                          {{ data_types[0]?.tProductTypeName }}
                        </div>
                        <div class="col-md-5 col-xs-12 col-sm-12 mb-2">
                          <input
                          nbInput
                          [(ngModel)]="data_types[0]['iPriceLevelFloor']"
                          id="input-iPriceLevelFloor"
                          name="input-iPriceLevelFloor"
                          (keypress)="numberOnly($event)"
                          placeholder="Type product price weight"
                          autofocus
                          [ngModelOptions]="{standalone: true}"
                          class="text-right"
                          fullWidth                       
                          [status]="info"
                          (input)="fnValidate(1, data_types[0]['iPriceLevelFloor'], 'iPriceLevelFloor')">
                            <div *ngIf="objValidate['iPriceLevelFloor'] == '.'" class="text-danger">
                              {{ DATA_LANG?.settingsAlertValue.text }}
                            </div>
                            <div *ngIf="objValidate['iPriceLevelFloor'] == true" class="text-danger">
                              {{ DATA_LANG?.settingsProdAlertPriceLev.text }}
                            </div> 
                        </div>
                        <div class="col-md-5 col-xs-12 col-sm-12 mb-2">
                          <input nbInput
                          fullWidth
                          autofocus
                          placeholder="Minimum price reduction"
                          id='input-dPriceWeight'  
                          name="dPriceWeight"                     
                          (keydown)="onKeydown($event)"
                          (blur)="onBlurMethod(0,'dPriceWeight',$event)"                                      
                          [ngClass]="{'pgp_content_data': (!data_types[0]['dPriceWeight'])}"
                          [ngModel]="data_types[0]['dPriceWeight'] | percent:'1.1-1'"
                          [ngModelOptions]="{standalone: true}"
                          [status]="info"                        
                          class="text-right"
                          (focusout)="fnValidate(2, data_types[0]['dPriceWeight'], 'dPriceWeight')">
                            <div *ngIf="objValidate['dPriceWeight'] == '.'" class="text-danger">
                              {{ DATA_LANG?.settingsAlertValue.text }}
                            </div>
                            <div *ngIf="objValidate['dPriceWeight'] == true" class="text-danger">
                              {{ DATA_LANG?.settingsProdAlertPriceWeight.text }}
                            </div> 
                        </div> 
                      </div>
                      <div class="row pgp-row mb-3 mt-3">
                        <div class="col-md-2 col-xs-12 col-sm-12 pl-0 mb-2">
                            {{ data_types[1]?.tProductTypeName }}
                          </div>
                          <div class="col-md-5 col-xs-12 col-sm-12 mb-2">
                            <input [ngClass]="{'pgp_content_data': (!data_types[1]['iPriceLevelFloor'])}"
                            nbInput
                            [(ngModel)]="data_types[1]['iPriceLevelFloor']"
                            (keypress)="numberOnly($event)"
                            id="input-iPriceLevelFloor"
                            name="input-iPriceLevelFloor"
                            placeholder="Type product price weight"
                            autofocus
                            [ngModelOptions]="{standalone: true}"
                            class="text-right"
                            fullWidth                       
                            [status]="info"
                            (input)="fnValidate(1, data_types[1]['iPriceLevelFloor'], 'iPriceLevelFloor1')">
                            <div *ngIf="objValidate['iPriceLevelFloor1'] == '.'" class="text-danger">
                              {{ DATA_LANG?.settingsAlertValue.text }}
                            </div>
                            <div *ngIf="objValidate['iPriceLevelFloor1'] == true" class="text-danger">
                              {{ DATA_LANG?.settingsProdAlertPriceLev.text }}
                            </div>                                               
                          </div>
                          <div class="col-md-5 col-xs-12 col-sm-12 mb-2">
                            <input nbInput
                            fullWidth
                            autofocus
                            placeholder="Minimum price reduction"
                            id='input-dPriceWeight'  
                            name="dPriceWeight" 
                            (keydown)="onKeydown($event)"
                            (blur)="onBlurMethod(1,'dPriceWeight',$event)"                                      
                            [ngClass]="{'pgp_content_data': (!data_types[1]['dPriceWeight'])}"
                            [ngModel]="data_types[1]['dPriceWeight'] | percent:'1.1-1'"
                            (ngModelChange)="data_types[1]['dPriceWeight'] = $event"
                            [status]="info"                        
                            class="text-right"
                            [ngModelOptions]="{standalone: true}"
                            (focusout)="fnValidate(2, data_types[0]['dPriceWeight'], 'dPriceWeight1')">
                              <div *ngIf="objValidate['dPriceWeight1'] == '.'" class="text-danger">
                                {{ DATA_LANG?.settingsAlertValue.text }}
                              </div>
                              <div *ngIf="objValidate['dPriceWeight1'] == true" class="text-danger">
                                {{ DATA_LANG?.settingsProdAlertPriceWeight.text }}
                              </div>  
                          </div> 
                      </div>
                      <div class="row pgp-row mb-3 mt-3">
                          <div class="col-md-2 col-xs-12 col-sm-12 pl-0 mb-2">
                            {{ data_types[2]?.tProductTypeName }}
                          </div>
                          <div class="col-md-5 col-xs-12 col-sm-12 mb-2">
                            <input [ngClass]="{'pgp_content_data': (!data_types[2]['iPriceLevelFloor'])}"
                            nbInput
                            [(ngModel)]="data_types[2]['iPriceLevelFloor']"
                            id="input-iPriceLevelFloor"
                            (keypress)="numberOnly($event)"
                            name="input-iPriceLevelFloor"
                            placeholder="Type product price weight"
                            autofocus
                            class="text-right"
                            fullWidth
                            [ngModelOptions]="{standalone: true}"
                            [status]="info"
                            (input)="fnValidate(1, data_types[2]['iPriceLevelFloor'], 'iPriceLevelFloor2')">
                            <div *ngIf="objValidate['iPriceLevelFloor2'] == '.'" class="text-danger">
                              {{ DATA_LANG?.settingsAlertValue.text }}
                            </div>
                            <div *ngIf="objValidate['iPriceLevelFloor2'] == true" class="text-danger">
                              {{ DATA_LANG?.settingsProdAlertPriceLev.text }}
                            </div>                      
                          </div>
                          <div class="col-md-5 col-xs-12 col-sm-12 mb-2">
                            <input nbInput
                            fullWidth
                            autofocus
                            placeholder="Minimum price reduction"
                            id='input-dPriceWeight'  
                            name="dPriceWeight" 
                            (keydown)="onKeydown($event)"
                            (blur)="onBlurMethod(2,'dPriceWeight',$event)"                                      
                            [ngClass]="{'pgp_content_data': (!data_types[2]['dPriceWeight'])}"
                            [ngModel]="data_types[2]['dPriceWeight'] | percent:'1.1-1'"
                            (ngModelChange)="data_types[2]['dPriceWeight'] = $event"
                            [status]="info"
                            [ngModelOptions]="{standalone: true}"                  
                            class="text-right"
                            (focusout)="fnValidate(2, data_types[0]['dPriceWeight'], 'dPriceWeight2')">
                              <div *ngIf="objValidate['dPriceWeight2'] == '.'" class="text-danger">
                                {{ DATA_LANG?.settingsAlertValue.text }}
                              </div>
                              <div *ngIf="objValidate['dPriceWeight2'] == true" class="text-danger">
                                {{ DATA_LANG?.settingsProdAlertPriceWeight.text }}
                              </div>  
                          </div> 
                      </div>
                    </div>
                  </div>       
                </div>
            </div>
          </div>
          <div *ngIf="option_menu == 3" class="pgp-form_padding" >
            <div class="form-control-group" style="width: 100%;">
                <h3 class="font_family_roboto">{{ DATA_LANG?.settingsApplbTittle.text }}</h3>
                <br>
                <p class="font_family_roboto">{{ DATA_LANG?.settingsApplbDesc.text }}</p>
                <br>
                      <pre *ngIf="false">
                        {{ data_form_settings_version | json}} 
                      </pre>
                    <div class="col-12 row m-0 p-0">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 pr-2 pl-0 mt-1 mb-1">
                          {{ DATA_LANG?.settingsApplbXX1Zeros.text }}
                          <span>
                            <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open('To XX1 + n zeros to the right, until','Enter the price to which you want the price termination to be each unit (1) followed by the number of zeros defined in parameter n zeros to the right (number of zeros).')"></i>
                          </span>
                          <input nbInput
                            fullWidth
                            autofocus
                            placeholder="A XX1 + n ceros a la derecha, hasta"
                            id="input-dXX1nZerosRight"  
                            name="dXX1nZerosRight"                                      
                            [ngClass]="{'pgp_content_data': (!data_form_settings_version.dXX1nZerosRight)}"
                            [(ngModel)]="data_form_settings_version.dXX1nZerosRight"
                            [status]="info"
                            class="text-right pgp-input_margin_2"
                            style="margin-top: 17px;"
                            [ngModelOptions]="{standalone: true}"
                            (input)="fnValidate(3, data_form_settings_version.dXX1nZerosRight, 'dXX1nZerosRight', 0)">
                            <div *ngIf="objValidate['dXX1nZerosRight'] == '.'" class="text-danger">
                              {{ DATA_LANG?.settingsAlertValue.text }}              
                            </div>
                            <div *ngIf="objValidate['dXX1nZerosRight'] == true" class="text-danger">
                              The value of XX1 + n zeros to the right, should be positive
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 pr-2 pl-2 mt-1 mb-1">
                            {{ DATA_LANG?.settingsApplbXX5Zeros.text }}
                            <span>
                              <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.settingsAppXX5ZerosTooltipTittle.text,DATA_LANG?.settingsAppXX5ZerosTooltipDesc.text)"></i>
                            </span>
                            <input nbInput
                            fullWidth
                            autofocus
                            placeholder="A XX5 y XX9 + n ceros a la derecha, hasta"
                            id="input-dXX5AndXX9nZerosRight"  
                            name="dXX5AndXX9nZerosRight"                                   
                            [ngClass]="{'pgp_content_data': (!data_form_settings_version.dXX5AndXX9nZerosRight)}"
                            [(ngModel)]="data_form_settings_version.dXX5AndXX9nZerosRight"
                            [status]="info"
                            [ngModelOptions]="{standalone: true}"
                            class="text-right pgp-input_margin"
                            (input)="fnValidate(3, data_form_settings_version.dXX5AndXX9nZerosRight, 'ValidateAproach', data_form_settings_version.dXX1nZerosRight)">
                            <div *ngIf="objValidate['ValidateAproach'] == '.'" class="text-danger">
                              {{ DATA_LANG?.settingsAlertValue.text }}                 
                            </div>
                            <div *ngIf="objValidate['ValidateAproach'] == true" class="text-danger">
                              {{ DATA_LANG?.settingsAppValidXX5Zeros.text }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 pr-0 pl-2 mt-1 mb-1">
                          {{ DATA_LANG?.settingsApplbXX9Zeros.text }}
                            <span>
                              <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.settingsAppXX9ZerosTooltipTittle.text,DATA_LANG?.settingsAppXX9ZerosTooltipDesc.text)"></i>
                            </span>
                            <input nbInput
                            fullWidth
                            autofocus
                            placeholder="A XX9 + n ceros a la derecha, hasta"
                            id="input-dXX9nZerosRight"  
                            name="dXX9nZerosRight"                                    
                            [ngClass]="{'pgp_content_data': (!data_form_settings_version.dXX9nZerosRight)}"
                            [(ngModel)]="data_form_settings_version.dXX9nZerosRight"
                            [status]="info"
                            [ngModelOptions]="{standalone: true}"
                            class="text-right pgp-input_margin_2"
                            (input)="fnValidate(3, data_form_settings_version.dXX9nZerosRight, 'ValidateAproachtwo', data_form_settings_version.dXX5AndXX9nZerosRight)"
                            style="margin-top: 17px;">
                            <div *ngIf="objValidate['ValidateAproachtwo'] == '.'" class="text-danger">
                              {{ DATA_LANG?.settingsAlertValue.text }}                 
                            </div>
                            <div *ngIf="objValidate['ValidateAproachtwo'] == true" class="text-danger">
                              {{ DATA_LANG?.settingsAppValidXX9Zeros.text }}
                            </div> 
                        </div>
                    </div>
                    <br>
                    <div class="col-12 row m-0 p-0">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 pr-2 pl-0 mt-1 mb-1">
                        {{ DATA_LANG?.settingsApplbX49Zeros.text }}
                        <span>
                          <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.settingsAppX49ZerosTooltipTittle.text,DATA_LANG?.settingsAppX49ZerosTooltipDesc.text)"></i>
                        </span>
                        <input nbInput
                          fullWidth
                          autofocus
                          placeholder="A X49 y X99 + n ceros a la derecha, hasta"
                          id="input-dX49AndX99nZerosRight"  
                          name="dX49AndX99nZerosRight"                                     
                          [ngClass]="{'pgp_content_data': (!data_form_settings_version.dX49AndX99nZerosRight)}"
                          [(ngModel)]="data_form_settings_version.dX49AndX99nZerosRight"
                          [status]="info"
                          class="text-right pgp-input_margin_4"
                          [ngModelOptions]="{standalone: true}"
                          (input)="fnValidate(3, data_form_settings_version.dX49AndX99nZerosRight, 'ValidateAproachthree', data_form_settings_version.dXX9nZerosRight)"
                          style="margin-top: 17px;">
                          <div *ngIf="objValidate['ValidateAproachthree'] == true" class="text-danger">
                            {{ DATA_LANG?.settingsAppValidX49Zeros.text }}
                          </div>                       
                          <div *ngIf="objValidate['ValidateAproachthree'] == '.'" class="text-danger">
                            {{ DATA_LANG?.settingsAlertValue.text }}                        
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 pr-2 pl-2 mt-1 mb-1">
                        {{ DATA_LANG?.settingsApplbX99Zeros.text }}
                          <span>
                            <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.settingsAppX99ZerosTooltipTittle.text,DATA_LANG?.settingsAppX99ZerosTooltipDesc.text)"></i>
                          </span>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 pr-0 pl-2 mt-1 mb-1">
                        {{ DATA_LANG?.settingsApplbNZeros.text }}
                          <span>
                            <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.settingsAppNZerosTooltipTittle.text,DATA_LANG?.settingsAppNZerosTooltipDesc.text)"></i>
                          </span>
                          <input nbInput
                          fullWidth
                          autofocus
                          placeholder="n ceros a la derecha, numero de ceros"
                          id="input-inZerosRight"  
                          name="inZerosRight"                                     
                          [ngClass]="{'pgp_content_data': (!data_form_settings_version.inZerosRight)}"
                          [(ngModel)]="data_form_settings_version.inZerosRight" 
                          [ngModelOptions]="{standalone: true}"
                          [status]="info"
                          class="text-right pgp-input_margin_5"
                          style="margin-top: 17px;"
                          (input)="fnValidate(0, data_form_settings_version.inZerosRight, 'inZerosRight')">
                          <div *ngIf="objValidate['inZerosRight'] == '.'" class="text-danger">
                            {{ DATA_LANG?.settingsAlertValue.text }}                 
                          </div>
                      </div>
                    </div>                        
            </div>
          </div>
          <!-- <div *ngIf="option_menu == 4" class="pgp-form_padding" >
            <div class="form-control-group" style="width: 100%;">
                <h3 class="font_family_roboto">{{ DATA_LANG?.settingsPricelbTittle.text }}</h3>
                <br>
                <p class="font_family_roboto">{{ DATA_LANG?.settingsPricelbDesc.text }}</p>
                <br>    
                <div class="col-12 row m-0 p-0">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 pr-1 pl-0 mt-1 mb-1">             
                        <div class="col-sm-12"> 
                          {{ DATA_LANG?.settingsPricelbUseP.text }}
                          <span>
                            <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.settingsPricelbUsePTooltipTittle.text,DATA_LANG?.settingsPricelbUsePTooltipDesc.text)"></i>
                          </span>
                          <div class="row">
                              <label class="m-3">
                                <p>{{ DATA_LANG?.settingsPricelbUsePNo.text }}</p>
                              </label>
                            <div class="mt-3 mb-3">
                              <label class="switch m-0">
                                <input type="checkbox" checked 
                                [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="data_form_settings_version.bRoundPsychologicalPrices" 
                                (change)="fnChangeSourceCheck($event)">
                                <span class="slider round"></span>
                              </label>
                            </div>
                              <label class="m-3">
                                <p>{{ DATA_LANG?.settingsPricelbUsePYes.text }}</p>
                              </label>
                          </div>                      
                        </div>
                        <br>
                      </div>
                      <br>
                    </div>
                    <div class="row col-12 m-0 p-0">
  
                        <div class="col-xl-12 col-lg-12 col-md-12 pl-0 pr-0 ">
                          <div class="row pgp-row_head mb-4 mt-2 pl-0">
                            <div class="col-md-2 col-xs-12 col-sm-12 pl-0 mb-2 text-left">
                              {{ DATA_LANG?.settingsPriceColnProdType.text }}
                              <span>
                                <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.settingsPriceColnProdTypeTooltipTittle.text,DATA_LANG?.settingsPriceColnProdTypeTooltipDesc.text)"></i>
                              </span>
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-12 mb-2 text-left">
                              {{ DATA_LANG?.settingsPriceColnMinPrice.text }}
                              <span>
                                <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.settingsPriceColnMinPriceTooltipTittle.text,DATA_LANG?.settingsPriceColnMinPriceTooltipDesc.text)"></i>
                              </span>
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-12 mb-2 text-left">
                              {{ DATA_LANG?.settingsPriceColnMaxPrice.text }}
                              <span>
                                <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.settingsPriceColnMaxPriceTooltipTittle.text,DATA_LANG?.settingsPriceColnMaxPriceTooltipDesc.text)"></i>
                              </span>
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-12 mb-2 text-left">
                              {{ DATA_LANG?.settingsPriceColnMaxIncrease.text }}
                              <span>
                                <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.settingsPriceColnMaxIncreaseTooltipTittle.text,DATA_LANG?.settingsPriceColnMaxIncreaseTooltipDesc.text)"></i>
                              </span>
                            </div>
                          </div>
                          <div class="row pgp-row mb-3 mt-3">
                            <div class="col-md-2 col-xs-12 col-sm-12 pl-0 mb-2">
                              {{ data_types[0]?.tProductTypeName }}
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-12 mb-2">
                              <input nbInput
                              [ngClass]="{'pgp_content_data': (!data_types[0]['dMinimumPriceReduction'])}"
                              [ngModel]="data_types[0]['dMinimumPriceReduction'] | percent:'1.1-1'"
                              (ngModelChange)="data_types[0]['dMinimumPriceReduction'] = $event"
                              fullWidth
                              autofocus
                              placeholder="Minimum price reduction"
                              id="input-dMinimumPriceReduction"  
                              name="dMinimumPriceReduction"
                              (blur)="onBlurMethod(0,'dMinimumPriceReduction',$event);"                                               
                              [status]="info"
                              class="text-right"
                              [ngModelOptions]="{standalone: true}"
                              (focusout)="fnValidate(4, data_types[0]['dMinimumPriceReduction'], 'dMinimumPriceReduction')">
                              <div *ngIf="objValidate['dMinimumPriceReduction'] == 'range'" class="text-danger">
                                The value must be in a range between -100 and 0
                              </div>                       
                              <div *ngIf="objValidate['dMaximumPriceReduction'] == '.'" class="text-danger">
                                {{ DATA_LANG?.settingsAlertValue.text }}
                              </div>
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-12 mb-2">
                              <input 
                              nbInput
                              fullWidth
                              [ngClass]="{'pgp_content_data': (!data_types[0]['dMaximumPriceReduction'])}"
                              [ngModel]="data_types[0]['dMaximumPriceReduction'] | percent:'1.1-1'"
                              autofocus
                              (ngModelChange)="data_types[0]['dMaximumPriceReduction'] = $event"
                              placeholder="Minimum price reduction"
                              id="input-dMaximumPriceReduction" 
                              name="dMaximumPriceReduction"
                              (blur)="onBlurMethod(0,'dMaximumPriceReduction',$event);"
                              [status]="info"
                              class="text-right"
                              [ngModelOptions]="{standalone: true}"
                              (focusout)="fnValidate(4, data_types[0]['dMaximumPriceReduction'], 'dMaximumPriceReduction', data_types[0]['dMinimumPriceReduction'])">
                              <div *ngIf="objValidate['dMaximumPriceReduction'] == true" class="text-danger">
                                The value should be higher or equal than minimum price reduction
                              </div>                       
                              <div *ngIf="objValidate['dMaximumPriceReduction'] == '.'" class="text-danger">
                                {{ DATA_LANG?.settingsAlertValue.text }}
                              </div>
                            </div> 
                            <div class="col-md-3 col-xs-12 col-sm-12 mb-2">
                              <input nbInput
                              fullWidth
                              [ngClass]="{'pgp_content_data': (!data_types[0]['dMaximumPriceIncrease'])}"
                              [ngModel]="data_types[0]['dMaximumPriceIncrease'] | percent:'1.1-1'"
                              (ngModelChange)="data_types[0]['dMaximumPriceIncrease'] = $event"
                              autofocus
                              placeholder="Minimum price reduction"
                              id="input-dMaximumPriceIncrease" 
                              name="dMaximumPriceIncrease"
                              (blur)="onBlurMethod(0,'dMaximumPriceIncrease',$event)"  
                              [status]="info"
                              class="text-right"
                              [ngModelOptions]="{standalone: true}"
                              (focusout)="fnValidate(3, data_types[0]['dMaximumPriceIncrease'], 'dMaximumPriceIncrease', 0)">
                                <div *ngIf="objValidate['dMaximumPriceIncrease'] == true" class="text-danger">
                                  The value should be positive
                                </div>
                                <div *ngIf="objValidate['dMaximumPriceIncrease'] == '.'" class="text-danger">
                                  {{ DATA_LANG?.settingsAlertValue.text }}
                                </div>
                            </div> 
                          </div>
                          <div class="row pgp-row mb-3 mt-3">
                            <div class="col-md-2 col-xs-12 col-sm-12 pl-0 mb-2">
                              {{ data_types[1]?.tProductTypeName }}
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-12 mb-2">
                              <input nbInput
                              fullWidth
                              autofocus
                              [ngClass]="{'pgp_content_data': (!data_types[1]['dMinimumPriceReduction'])}"
                              [ngModel]="data_types[1]['dMinimumPriceReduction'] | percent:'1.1-1'"
                              (ngModelChange)="data_types[1]['dMinimumPriceReduction'] = $event"                          
                              placeholder="Minimum price reduction"
                              id="input-dMinimumPriceReduction2"  
                              name="dMinimumPriceReduction"
                              (blur)="onBlurMethod(1,'dMinimumPriceReduction',$event)"                                               
                              [status]="info"
                              class="text-right"
                              [ngModelOptions]="{standalone: true}"
                              (focusout)="fnValidate(4, data_types[1]['dMinimumPriceReduction'], 'dMinimumPriceReduction1')">
                              <div *ngIf="objValidate['dMinimumPriceReduction1'] == 'range'" class="text-danger">
                                The value must be in a range between -100 and 0
                              </div>                       
                              <div *ngIf="objValidate['dMinimumPriceReduction1'] == '.'" class="text-danger">
                                {{ DATA_LANG?.settingsAlertValue.text }}
                              </div>                                    
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-12 mb-2">
                              <input 
                              nbInput
                              fullWidth
                              autofocus
                              [ngClass]="{'pgp_content_data': (!data_types[1]['dMaximumPriceReduction'])}"
                              [ngModel]="data_types[1]['dMaximumPriceReduction'] | percent:'1.1-1'"
                              (ngModelChange)="data_types[1]['dMaximumPriceReduction'] = $event"
                              placeholder="Minimum price reduction"
                              id="input-dMaximumPriceReduction2" 
                              name="dMaximumPriceReduction"
                              (blur)="onBlurMethod(1,'dMaximumPriceReduction',$event)" 
                              [status]="info"
                              class="text-right" 
                              [ngModelOptions]="{standalone: true}"
                              (focusout)="fnValidate(4, data_types[1]['dMaximumPriceReduction'], 'dMaximumPriceReduction1', data_types[1]['dMinimumPriceReduction'])">
                              <div *ngIf="objValidate['dMaximumPriceReduction1'] == true" class="text-danger">
                                The value should be higher or equal than minimum price reduction
                              </div>                       
                              <div *ngIf="objValidate['dMaximumPriceReduction1'] == '.'" class="text-danger">
                                {{ DATA_LANG?.settingsAlertValue.text }}
                              </div>
                            </div> 
                            <div class="col-md-3 col-xs-12 col-sm-12 mb-2">
                              <input nbInput
                              fullWidth
                              autofocus
                              [ngClass]="{'pgp_content_data': (!data_types[1]['dMaximumPriceIncrease'])}"
                              [ngModel]="data_types[1]['dMaximumPriceIncrease'] | percent:'1.1-1'"
                              placeholder="Minimum price reduction"
                              (ngModelChange)="data_types[1]['dMaximumPriceIncrease'] = $event"
                              id="input-dMaximumPriceIncrease" 
                              name="dMaximumPriceIncrease"
                              (blur)="onBlurMethod(1,'dMaximumPriceIncrease',$event)"  
                              [status]="info"
                              class="text-right"
                              [ngModelOptions]="{standalone: true}"
                              (focusout)="fnValidate(3, data_types[1]['dMaximumPriceIncrease'], 'dMaximumPriceIncrease1', 0)">
                                <div *ngIf="objValidate['dMaximumPriceIncrease1'] == true" class="text-danger">
                                  The value should be positive
                                </div>
                                <div *ngIf="objValidate['dMaximumPriceIncrease1'] == '.'" class="text-danger">
                                  {{ DATA_LANG?.settingsAlertValue.text }}
                                </div>
                            </div> 
                          </div>
                          <div class="row pgp-row mb-3 mt-3">
                            <div class="col-md-2 col-xs-12 col-sm-12 pl-0 mb-2">
                              {{ data_types[2]?.tProductTypeName }}
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-12 mb-2">
                              <input nbInput
                              fullWidth
                              autofocus
                              [ngClass]="{'pgp_content_data': (!data_types[2]['dMinimumPriceReduction'])}"
                              [ngModel]="data_types[2]['dMinimumPriceReduction'] | percent:'1.1-1'"
                              (ngModelChange)="data_types[2]['dMinimumPriceReduction'] = $event"
                              placeholder="Minimum price reduction"
                              id="input-dMinimumPriceReduction3"  
                              name="dMinimumPriceReduction"
                              (blur)="onBlurMethod(2,'dMinimumPriceReduction',$event)"                                               
                              [status]="info"
                              class="text-right"
                              [ngModelOptions]="{standalone: true}"
                              (focusout)="fnValidate(4, data_types[2]['dMinimumPriceReduction'], 'dMinimumPriceReduction2')">
                              <div *ngIf="objValidate['dMinimumPriceReduction2'] == 'range'" class="text-danger">
                                The value must be in a range between -100 and 0
                              </div>                       
                              <div *ngIf="objValidate['dMinimumPriceReduction2'] == '.'" class="text-danger">
                                {{ DATA_LANG?.settingsAlertValue.text }}
                              </div>                                       
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-12 mb-2">
                              <input 
                              nbInput
                              fullWidth
                              autofocus
                              [ngClass]="{'pgp_content_data': (!data_types[2]['dMaximumPriceReduction'])}"
                              [ngModel]="data_types[2]['dMaximumPriceReduction'] | percent:'1.1-1'"
                              (ngModelChange)="data_types[2]['dMaximumPriceReduction'] = $event"                    
                              placeholder="Minimum price reduction"
                              id="input-dMaximumPriceReduction3" 
                              name="dMaximumPriceReduction"
                              (blur)="onBlurMethod(2,'dMaximumPriceReduction',$event)" 
                              [status]="info"
                              class="text-right"
                              [ngModelOptions]="{standalone: true}"
                              (focusout)="fnValidate(4, data_types[2]['dMaximumPriceReduction'], 'dMaximumPriceReduction2', data_types[2]['dMinimumPriceReduction'])">
                              <div *ngIf="objValidate['dMaximumPriceReduction2'] == true" class="text-danger">
                                The value should be higher or equal than minimum price reduction
                              </div>                       
                              <div *ngIf="objValidate['dMaximumPriceReduction2'] == '.'" class="text-danger">
                                {{ DATA_LANG?.settingsAlertValue.text }}
                              </div>
                            </div> 
                            <div class="col-md-3 col-xs-12 col-sm-12 mb-2">
                              <input nbInput
                              fullWidth
                              [ngClass]="{'pgp_content_data': (!data_types[2]['dMaximumPriceIncrease'])}"
                              [ngModel]="data_types[2]['dMaximumPriceIncrease'] | percent:'1.1-1'"
                              autofocus
                              placeholder="Minimum price reduction"
                              id="input-dMaximumPriceIncrease" 
                              name="dMaximumPriceIncrease"
                              (ngModelChange)="data_types[2]['dMaximumPriceIncrease'] = $event"
                              (blur)="onBlurMethod(2,'dMaximumPriceIncrease',$event)"  
                              [status]="info"
                              class="text-right"
                              [ngModelOptions]="{standalone: true}"
                              (focusout)="fnValidate(3, data_types[2]['dMaximumPriceIncrease'], 'dMaximumPriceIncrease2', 0)">
                                <div *ngIf="objValidate['dMaximumPriceIncrease2'] == true" class="text-danger">
                                  The value should be positive
                                </div>
                                <div *ngIf="objValidate['dMaximumPriceIncrease2'] == '.'" class="text-danger">
                                  {{ DATA_LANG?.settingsAlertValue.text }}
                                </div>
                            </div> 
                          </div>
                        </div>
                    </div>
            </div>
          </div>   -->
          <div *ngIf="option_menu == 5" class="pgp-form_padding" >
            <div class="form-control-group" style="width: 100%;">
                <h3 class="font_family_roboto">{{ DATA_LANG?.settingsComplbTittle.text }}</h3>
                <br>
                <p class="font_family_roboto">{{ DATA_LANG?.settingsComplbDesc.text }}</p>
                <br> 
                    <div class="col-12 row m-0 p-0">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 pr-1 pl-0 mt-1 mb-1">
                        {{ DATA_LANG?.settingsComplbProd.text }}
                          <span>
                            <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.settingsComplbProdTooltipTittle.text,DATA_LANG?.settingsComplbProdTooltipDesc.text)"></i>
                          </span>
                          <ng-select 
                            [items]="list_product_types"
                            bindLabel="tProductTypeName"
                            bindValue="iIDProductTypeVersion"
                            placeholder="Select display cents" 
                            [clearable]="false"
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="data_form_settings_version.iIDProductHookUpTP">
                          </ng-select>
                      </div>&nbsp;&nbsp;&nbsp;&nbsp;
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 pr-1 pl-0 mt-1 mb-2">
                        {{ DATA_LANG?.settingsComplbComp.text }}
                          <span>
                            <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.settingsComplbCompTooltipTittle.text,DATA_LANG?.settingsComplbCompTooltipDesc.text)"></i>
                          </span>
                          <ng-select 
                            [items]="list_product_types"
                            bindLabel="tProductTypeName"
                            bindValue="iIDProductTypeVersion"
                            placeholder="Select currency" 
                            [clearable]="false"
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="data_form_settings_version.iIDComplementaryProductsFromTP">
                          </ng-select>
                      </div>
                        <strong class="mt-4">
                          {{ DATA_LANG?.settingsComplbSubDesc.text }}
                        </strong>
                    </div>
            </div>
          </div>  
          <div *ngIf="option_menu == 6" class="pgp-form_padding" >
            <div class="form-control-group" style="width: 100%;">
                <h3 class="font_family_roboto">{{ DATA_LANG?.settingsMarlbTittle.text }}</h3>
                <br>
                <p class="font_family_roboto">{{ DATA_LANG?.settingsMarlbDesc.text }}</p>
                <br> 
                  <div class="col-12 row m-0 p-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 pr-1 pl-0 mt-1 mb-1">
                      <div class="col-sm-12"> 
                        {{ DATA_LANG?.settingsMarlbMaxim.text }}
                        <span>
                          <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.settingsMarMaximTooltipTittle.text,DATA_LANG?.settingsMarMaximTooltipDesc.text)"></i>
                        </span>
                        
                        <div class="row">
                            <label class="m-3">
                              <p>{{ DATA_LANG?.settingsMarMaximNo.text }}</p>
                            </label>
                          <div class="mt-3 mb-3">
                            <label class="switch m-0">
                              <input type="checkbox" checked 
                              [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="data_form_settings_version.bMaximizeSuggestedPrice" 
                              (change)="fnChangeSourceCheck($event)">
                              <span class="slider round"></span>
                            </label>
                          </div>
                            <label class="m-3">
                              <p>{{ DATA_LANG?.settingsMarMaximYes.text }}</p>
                            </label>
                        </div>
                      </div>
                    </div>                  
                    <br>
                  </div>
                  <div class="col-12 row m-0 p-0">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 pr-1 pl-0 mt-1 mb-1" *ngIf="data_form_settings_version.bMaximizeSuggestedPrice == true">
                      {{ DATA_LANG?.settingsMarlbProdType.text }}
                      <span>
                        <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.settingsMarProdTypeTooltipTittle.text,DATA_LANG?.settingsMarProdTypeTooltipDesc.text)"></i>
                      </span>
                      <ng-select 
                        [items]="list_product_types"
                        bindLabel="tProductTypeName"
                        bindValue="iIDProductTypeVersion"
                        placeholder="Select ..." 
                        [clearable]="false"
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="data_form_settings_version.iIDFromTP">
                      </ng-select>
                    </div>
                  </div>                
            </div>
          </div>
          <div *ngIf="option_menu == 7" class="pgp-form_padding" >
              <div class="form-control-group" style="width: 100%;">
                  <h3 class="font_family_roboto">{{ DATA_LANG?.settingsVollbTittle.text }}</h3>
                  <br>
                  <p class="font_family_roboto">{{ DATA_LANG?.settingsVollbDesc.text }}</p>
                  <br> 
                    <div class="col-12 row m-0 p-0">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 pr-1 pl-0 mt-1 mb-1">
                            <div class="col-sm-12"> 
                              {{ DATA_LANG?.settingsVollbForce.text }}
                              <span>
                                <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.settingsVolForceTooltipTittle.text,DATA_LANG?.settingsVolForceTooltipDesc.text)"></i>
                              </span>&nbsp;&nbsp;&nbsp;&nbsp;   
                              
                              
                              <div class="row">
                                <label class="m-3">
                                  <p>{{ DATA_LANG?.settingsVollbForceNo.text }}</p>
                                </label>
                              <div class="mt-3 mb-3">
                                <label class="switch m-0">
                                  <input type="checkbox" checked 
                                  [ngModelOptions]="{standalone: true}"
                                  [(ngModel)]="data_form_settings_version.bForceTheoreticalPriceSuggested" 
                                  (change)="fnChangeSourceCheck($event)">
                                  <span class="slider round"></span>
                                </label>
                              </div>
                                <label class="m-3">
                                  <p>{{ DATA_LANG?.settingsVollbForceYes.text }}</p>
                                </label>
                              </div>
                            </div>
                        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 pr-1 pl-0 mt-1 mb-1" *ngIf="data_form_settings_version.bForceTheoreticalPriceSuggested == true">                     
                          {{ DATA_LANG?.settingsVollbType.text }}
                            <span>
                              <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.settingsVolTypeTooltipTittle.text,DATA_LANG?.settingsVolTypeTooltipDesc.text)"></i>
                            </span>&nbsp;&nbsp;&nbsp;&nbsp;         
                            <ng-select 
                              [items]="list_options_show_cents"
                              bindLabel="name"
                              bindValue="value"
                              placeholder="Select ..." 
                              [clearable]="false"
                              [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="data_form_settings_version.iIDUntilTP">
                            </ng-select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 pr-1 pl-0 mt-1 mb-1" *ngIf="data_form_settings_version.bForceTheoreticalPriceSuggested == false">             
                        </div>
                    </div>
                    <br>
                    <div class="col-12 row m-0 p-0">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 pr-1 pl-0 mt-1 mb-1">
                        <div class="col-sm-12"> 
                          {{ DATA_LANG?.settingsVollbRound.text }}
                          <span>
                            <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.settingsVolRoundTooltipTittle.text,DATA_LANG?.settingsVolRoundTooltipDesc.text)"></i>
                          </span>&nbsp;&nbsp;&nbsp;&nbsp; 
                          
                          <div class="row">
                              <label class="m-3">
                                <p>{{ DATA_LANG?.settingsVollbRoundNo.text }}</p>
                              </label>
                            <div class="mt-3 mb-3">
                              <label class="switch m-0">
                                <input type="checkbox" checked 
                                [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="data_form_settings_version.bRoundOffProductPricesHook" 
                                (change)="fnChangeSourceCheck($event)">
                                <span class="slider round"></span>
                              </label>
                            </div>
                              <label class="m-3">
                                <p>{{ DATA_LANG?.settingsVollbRoundYes.text }}</p>
                              </label>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
          </div>
          <div *ngIf="option_menu == 8" class="pgp-form_padding" >
              <div class="form-control-group" style="width: 100%;">
                  <h3 class="font_family_roboto">{{ DATA_LANG?.settingsAutolbTittle.text }}</h3>
                  <br>
                  <p class="font_family_roboto">{{ DATA_LANG?.settingsAutolbDesc.text }}</p>
                  <br> 
                  <div class="row col-12 m-0 p-0">   
                    <pre *ngIf="false">
                      {{ data_form_settings_version | json }}
                    </pre>
                      <div class="col-xl-12 col-lg-12 col-md-12 pl-0 pr-0 ">
                          <div class="row pgp-row_head mb-4 mt-3 pl-0">
                            <div class="col-md-4 col-xs-12 col-sm-12 pl-0 mb-2 text-left">
                            </div>
                            <div class="col-md-4 col-xs-12 col-sm-12 pl-0 mb-2 text-left">
                              {{ DATA_LANG?.settingsAutoColNIncrease.text }}
                            </div>
                          </div>
                          <div class="row pgp-row mb-3 mt-3">
                            <div class="col-md-4 col-xs-12 col-sm-12 pl-0 mb-2">
                              {{ DATA_LANG?.settingsAutoRowNMinElast.text }}
                              <span>
                                <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.settingsAutoRowNIncreaseTooltipTittle.text,DATA_LANG?.settingsAutoRowNIncreaseTooltipDesc.text)"></i>
                              </span>
                            </div>
                            <div class="col-md-4 col-xs-12 col-sm-12 pl-0 mb-2">
                              <input nbInput
                              fullWidth
                              autofocus
                              placeholder="Type produt minimum price"
                              id="input-dMinimunElasticityIE"  
                              name="dMinimunElasticityIE"                                    
                              [ngClass]="{'pgp_content_data': (!data_form_settings_version.dMinimunElasticityIE)}"
                              [(ngModel)]="data_form_settings_version.dMinimunElasticityIE"
                              [status]="info"
                              class="text-right"
                              [ngModelOptions]="{standalone: true}"
                              (input)="fnValidate(0, data_form_settings_version.dMinimunElasticityIE, 'dMinimunElasticityIE')">
                              <div *ngIf="objValidate['dMinimunElasticityIE'] == '.'" class="text-danger">
                                {{ DATA_LANG?.settingsAlertValue.text }}
                              </div>
                            </div>
                          </div>
                          <div class="row pgp-row mb-3 mt-3">
                            <div class="col-md-4 col-xs-12 col-sm-12 pl-0 mb-2">
                              {{ DATA_LANG?.settingsAutoRowNMaxPrice.text }}
                              <span>
                                <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.settingsAutoRowNMaxPriceTooltipTittle.text,DATA_LANG?.settingsAutoRowNMaxPriceTooltipDesc.text)"></i>
                              </span>
                            </div>                       
                            <div class="col-md-4 col-xs-12 col-sm-12 pl-0 mb-2">
                              <input nbInput
                              fullWidth
                              autofocus
                              id="input-dMaximunIncreasePriceIE"  
                              name="dMaximunIncreasePriceIE"                                
                              [ngClass]="{'pgp_content_data': (!data_form_settings_version.dMaximunIncreasePriceIE)}"
                              [(ngModel)]="data_form_settings_version.dMaximunIncreasePriceIE"
                              [status]="info"
                              class="text-right"
                              [ngModelOptions]="{standalone: true}"
                              (input)="fnValidate(0, data_form_settings_version.dMaximunIncreasePriceIE, 'dMaximunIncreasePriceIE')">
                              <div *ngIf="objValidate['dMaximunIncreasePriceIE'] == '.'" class="text-danger">
                                {{ DATA_LANG?.settingsAlertValue.text }}
                              </div>
                            </div>
                          </div>
                          <div class="row pgp-row mb-3 mt-3">
                            <div class="col-md-4 col-xs-12 col-sm-12 pl-0 mb-2">
                              {{ DATA_LANG?.settingsAutoRowNMaxSales.text }}
                              <span>
                                <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.settingsAutoRowNMaxSalesTooltipTittle.text,DATA_LANG?.settingsAutoRowNMaxSalesTooltipDesc.text)"></i>
                              </span>
                            </div>
                            <div class="col-md-4 col-xs-12 col-sm-12 pl-0 mb-2">
                              <input nbInput
                              fullWidth
                              autofocus
                              id="input-dMaximunIncreaseSalesIE"  
                              name="dMaximunIncreaseSalesIE"                                 
                              [ngClass]="{'pgp_content_data': (!data_form_settings_version.dMaximunIncreaseSalesIE)}"
                              [(ngModel)]="data_form_settings_version.dMaximunIncreaseSalesIE"
                              [status]="info"
                              class="text-right"
                              [ngModelOptions]="{standalone: true}"
                              (input)="fnValidate(0, data_form_settings_version.dMaximunIncreaseSalesIE, 'dMaximunIncreaseSalesIE')">
                              <div *ngIf="objValidate['dMaximunIncreaseSalesIE'] == '.'" class="text-danger">
                                {{ DATA_LANG?.settingsAlertValue.text }}
                              </div>
                            </div>
                          </div>
                          <div class="row pgp-row mb-3 mt-3">
                            <div class="col-md-4 col-xs-12 col-sm-12 pl-0 mb-2">
                              {{ DATA_LANG?.settingsAutoRowNRelat.text }}
                              <span>
                                <i class="far fa-question-circle pgp-pointer" nbTooltip="{{ DATA_LANG?.settingsToolHelp.text }}" nbTooltipPlacement="top" (click)="open(DATA_LANG?.settingsAutoRowNRelatTooltipTittle.text,DATA_LANG?.settingsAutoRowNRelatTooltipDesc.text)"></i>
                              </span>
                            </div>
                            <div class="col-md-4 col-xs-12 col-sm-12 pl-0 mb-2">
                              <input nbInput
                              fullWidth
                              autofocus
                              placeholder="Type produt minimum price"
                              id="input-dRelationshipBrandElasticityMarketElasticityIE"  
                              name="dRelationshipBrandElasticityMarketElasticityIE"                                     
                              [ngClass]="{'pgp_content_data': (!data_form_settings_version.dRelationshipBrandElasticityMarketElasticityIE)}"
                              [(ngModel)]="data_form_settings_version.dRelationshipBrandElasticityMarketElasticityIE"                         
                              [status]="info"
                              class="text-right"
                              [ngModelOptions]="{standalone: true}"
                              (input)="fnValidate(0, data_form_settings_version.dRelationshipBrandElasticityMarketElasticityIE, 'dRelationshipBrandElasticityMarketElasticityIE')">
                              <div *ngIf="objValidate['dRelationshipBrandElasticityMarketElasticityIE'] == '.'" class="text-danger">
                                {{ DATA_LANG?.settingsAlertValue.text }}
                              </div>
                            </div>
                          </div>
                      </div>         
                  </div>
              </div>
          </div>     
        </div>
      <div class="col-12">
          <div class="row">
              <div class="col-3">
              </div>
              <div class="col-9 text-right">
                <button nbButton 
                  type="submit"
                  fullWidth
                  [class.btn-pulse]="submitted"
                  id="pgp-btn_save_data_config"
                  [disabled]="!state_form"  
                  class="pgp-btn_success font_family_roboto">
                  {{ DATA_LANG?.settingsButtonSave.text }}
                </button>
                &nbsp;&nbsp;&nbsp;
                <button nbButton 
                  type="button"
                  fullWidth
                  [class.btn-pulse]="submitted"
                  id="pgp-btn_cancel_save_data_config"
                  class="pgp-btn_success font_family_roboto">
                  {{ DATA_LANG?.settingsButtonCancel.text }}
                </button>
              </div>
          </div> 
      </div>   
    </div>
  </form>  