@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
    .flex-centered {
      margin: auto;
    }
    nb-card-body {
      display: flex;
      max-height: 80vh;
      min-height: 78vh;
    }
  
    button:focus {outline:0;}
    
    .title {
      text-align: center;
    }
  
    .font_family_roboto {
      font-family: 'Roboto';
    }
  
    .font_family_exo {
      font-family: 'roboto';
    }
    
    .pgp-backgroud_layout {
      background-color: #FFF;
      min-height: 83vh;
    }

    .pgp-search-border-color {
      border-color: #D0D0D0
    } 
   
    #input-dPriceWeight:focus {
      border-color: nb-theme(pgp-color-1);
   }

    #input-iPriceLevelFloor:focus {
      border-color: nb-theme(pgp-color-1);
   }

    #input-dXX1nZerosRight:focus {
      border-color: nb-theme(pgp-color-1);
   }

    #input-dXX5AndXX9nZerosRight:focus {
      border-color: nb-theme(pgp-color-1);
   }

    #input-dXX9nZerosRight:focus {
      border-color: nb-theme(pgp-color-1);
   }

    #input-dX49AndX99nZerosRight:focus {
      border-color: nb-theme(pgp-color-1);
   }

    #input-inZerosRight:focus {
      border-color: nb-theme(pgp-color-1);
   }
   
   #input-dMinimumPriceReduction:focus {
      border-color: nb-theme(pgp-color-1);
   }
   #input-dMinimumPriceReduction2:focus {
      border-color: nb-theme(pgp-color-1);
   }
   #input-dMinimumPriceReduction3:focus {
      border-color: nb-theme(pgp-color-1);
   }

   #input-dMaximumPriceReduction:focus {
      border-color: nb-theme(pgp-color-1);
   }
   #input-dMaximumPriceReduction2:focus {
      border-color: nb-theme(pgp-color-1);
   }
   #input-dMaximumPriceReduction3:focus {
      border-color: nb-theme(pgp-color-1);
   }

   #input-dMaximumPriceIncrease:focus {
      border-color: nb-theme(pgp-color-1);
   }

   #input-dMinimunElasticityIE:focus {
      border-color: nb-theme(pgp-color-1) !important;
   }

   #input-dMaximunIncreaseSalesIE:focus {
      border-color: nb-theme(pgp-color-1);
   }

   #input-dMaximunIncreasePriceIE:focus {
      border-color: nb-theme(pgp-color-1);
   }

  //  .pgp_content_data{
  //   border-color: red;
  //  }

   #input-dRelationshipBrandElasticityMarketElasticityIE:focus {
      border-color: nb-theme(pgp-color-1);
   }
      
    #pgp-btn_save_data_config {
      text-transform: none;
      width: nb-theme(pgp-width-btn-crud);      
    }
    
    #pgp-btn_cancel_save_data_config {
      text-transform: none;
      background-color: nb-theme(pgp-color-11);   
      width: nb-theme(pgp-width-btn-crud);      
    }
    
    .pgp-button_dots_table {
        border-radius: 50px;
        padding: 0.2rem 0.6rem;
        outline: none !important;
        float: right;
    }
  
    .pgp-card_title {
        vertical-align: -webkit-baseline-middle;
        max-width: 88%;
    }
    
    .sub-title {
        text-align: center;
        display: block;
        margin-bottom: 3rem;
    }
    
    .pgp-btn_success {
      background-color: nb-theme(pgp-color-1);
      cursor: pointer;
    }
  
    ::ng-deep .pgp-pointer {
      cursor: pointer;
    }
    
    .pgp-pointer {
      cursor: pointer;
    }
  
    .pgp-table {
      color: nb-theme(pgp-color-black);
    }
  
    td {
      vertical-align: middle;
    }
  
    .pgp-img_logo_project{
      width: 3rem;
      border-radius: 50%;
    }
  
    .pgp-image_member, .pgp-image_user_invite {
        border-radius: 50%;
    }
  
    .pgp-line_divide_content {
        border: 1px solid #bdbdbd;
        width: 98%;
    }
  
    .pgp-padding_5px {
      padding: 5px;
    }
  
    ::ng-deep {
      .tooltip-inner {
          width: 12rem;
          background-color: #ffffff;
          color: nb-theme(pgp-color-3);
          text-align: left;
          border: 1px solid nb-theme(pgp-color-9);
          span{
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
          }
  
          i{
            color: nb-theme(pgp-color-3);
            font-size: 15px;
            font-weight: bold;
          }
      }
  
      .tooltip-arrow {
          border-right-color: nb-theme(pgp-color-9) !important;
      }
      
      .tooltip-arrow::before {
          border-right-color: nb-theme(pgp-color-9) !important;
      }
    }
  
    .pgp-icon_delete_member {  
        position: absolute;
        margin-left: 1rem;
        font-size: 1.2rem;
        color: nb-theme(pgp-color-5);
        cursor: pointer;
    }
    
    .pgp-icon_send_inivitation_user {  
        font-size: 1.2rem;
        color: nb-theme(pgp-color-5);
        cursor: pointer;
    }
    
    .pgp-icon_delete_guest_member {  
        font-size: 1.2rem;
        color: nb-theme(pgp-color-5);
        cursor: pointer;
    }
    
    .pgp-icon_star_owner {  
        font-size: 1.2rem;
        color: nb-theme(pgp-color-2);
        cursor: pointer;
    }
  
    .pgp-top_row{
      margin-top: 0rem;
    }

    ::ng-deep .ng-select.ng-select-single .ng-select-container {
        height: 41px;
    }

    ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input {
        line-height: 1.8;
    }
 
    .form-control:disabled {
      border-color: #dadfe6;
      background-color: #dadfe6;
  }

  /*******Start - menu style *******/
      .flex-centered {
          margin: auto;
      }
      nb-card-body {
          display: flex;
      }
      
      .title {
          text-align: center;
      }
  
      .font_family_roboto {
          font-family: 'Roboto';
        }
      
        .font_family_exo {
          font-family: 'roboto';
        }
      
      .pgp-backgroud_layout {
          background-color: #FFF;
          min-height: 83vh;
      }
  
      #pgp-update_personal_information {
          text-transform: none; 
          width: nb-theme(pgp-width-btn-crud);   
      }
      
      #pgp-cancel_update_personal_information {
          text-transform: none;
          background-color: nb-theme(pgp-color-11);  
          border-color: transparent; 
          width: nb-theme(pgp-width-btn-crud);   
      }
      
      #pgp-update_password {
          text-transform: none;
          width: nb-theme(pgp-width-btn-crud);         
      }
      
      #pgp-cancel_update_password {
          text-transform: none;
          background-color: nb-theme(pgp-color-11);
          border-color: transparent; 
          width: nb-theme(pgp-width-btn-crud);   
      }
  
      .pgp-image_profile {
          border-radius: 50%;
      }
  
      .pgp-fs_icon_list {
          font-size: 1.5rem;
          color: nb-theme(pgp-color-3);
      }
      
      .pgp-fs_icon_right_list {
          position: absolute;
          right: 1rem;
          color: nb-theme(pgp-color-6);
      }
  
      .pgp-pointer {
          cursor: pointer;
      }
  
      .pgp-title_item_list {
          display: inline-block;
      }
  
      #first_name:focus {
          border-color: nb-theme(pgp-color-1);
      }
      
      #last_name:focus {
          border-color: nb-theme(pgp-color-1);
      }
      
      #email:focus {
          border-color: nb-theme(pgp-color-1);
      }
  
      button:focus {outline:0;}
  
      .pgp-icon_edit_personal_info {
          position: absolute;
          right: 1rem;
          color: nb-theme(pgp-color-3);
      }
      .form-control:disabled {
          border-color: #dadfe6;
          color: #a6adb5;
      }
  
      #current_password:focus {
          border-color: nb-theme(pgp-color-1);
      }
  
      #new_password:focus {
          border-color: nb-theme(pgp-color-1);
      }
  
      #confirm_new_password:focus {
          border-color: nb-theme(pgp-color-1);
      }
  
      ::ng-deep {
          .tooltip-inner {
              width: 12rem;
              background-color: #156282;
              color: #fff;
              text-align: left;
          }
  
          .tooltip-arrow {
              border-right-color: #156282 !important;
          }
          
          .tooltip-arrow::before {
              border-right-color: #156282 !important;
          }
      }
  /*******End - menu style*******/

  .pgp-tab_card{
    height: 61vh;
  }

  .pgp-card-width{
    width: 100%;
  }

  .pgp-active_item_list {
    background-color: #F9F9F9;
    border-right: 3px solid #156282 !important;
  }

  li{
    height: 47px;
  }

  .pgp-label_B{
    margin-bottom: 24px;
  }

  
  
  /*********************** Start Style switch ****************/
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 18px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #06A7E2;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #06A7E2;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  /*********************** End Style switch ****************/

  .pgp-form_padding{
    padding-top: 14px;
    padding-left: 30px;
  }

  .pgp-td_settings{
    padding: 0px; 
    padding-right: 74px;
  }

  .pgp-pointer{
    cursor: pointer;
  }

  .pgp-row_head {
    margin: auto;
    vertical-align: middle !important;
    text-align: right;
    }

    .pgp-row {
      margin: auto;
      font-weight: normal;
    }

    div::after {
      position: absolute;
      top: 12px;
      right: 1.5em;
    }

    .percent::after {
      content: '%';
      color: black;
    }

    .pgp-input_margin{
      margin-top: 16px;
    }

/* *********** START - Media query resolution screen width devices *********** */

      // /* Very very small devices (landscape phones,from 319px to 321px) */
  // @media (min-width: 322px) and (max-width: 400px) {
  //   .container-fliud.body-with-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 190px);
  //   }
  //   .container-fliud.body-without-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 106px);
  //   }
  // }
  // /* Very very small devices (landscape phones,from 319px to 321px) */
  // @media (min-width: 400px) and (max-width: 500px) {
  //   .container-fliud.body-with-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 190px);
  //   }
  //   .container-fliud.body-without-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 106px);
  //   }
  // }
  // /* Extra small devices (portrait phones, less than 576px) */
  // @media (min-width: 570px) and (max-width: 575.98px) {
  //   .container-fliud.body-with-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 190px);
  //   }
  //   .container-fliud.body-without-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 106px);
  //   }
  // }

  // /* Small devices (landscape phones, 576px and up) */
  // @media (min-width: 576px) and (max-width: 767.98px) {
  //   .container-fliud.body-with-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 190px);
  //   }
  //   .container-fliud.body-without-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 106px);
  //   }
  // }

  // /* Medium devices (tablets, 768px and up) */
  // @media (min-width: 768px) and (max-width: 991.98px) {
  //   .container-fliud.body-with-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 190px);
  //   }
  //   .container-fliud.body-without-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 106px);
  //   }
  // }

  // /* Large devices (desktops, 992px and up) */
  // @media (min-width: 992px) and (max-width: 1199.98px) {
  //   .container-fliud.body-with-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 190px);
  //   }
  //   .container-fliud.body-without-card{
  //     overflow-x: hidden;
  //     overflow-y: scroll;
  //     height: calc(100vh - 106px);
  //   }
  // }

  // @media (max-width: 1343px) {
  //   .pgp-input_margin{
  //     margin-top: 0px;
  //   }
  // }

  // /* Extra large devices (large desktops, 1200px and up) */
  // @media (min-width: 1344px) {
  //   .pgp-input_margin{
  //     margin-top: 16px;
  //   }
  // }
  /* *********** END - Media query resolution screen width devices *********** */

}